<script type="text/javascript">
	var plandetails = {{{ DisplayJSON PlanDetails }}}
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	function showDetails() {
		if (userInfo.Vendor) {
			$('#planHide').hide();
			$('#userPlanShow').show();
			$('#userPlaninfo').show();
			$('#vendorPlanShow').hide();
		} else {
			$('#planHide').hide();
			$('#userPlanShow').hide();
			$('#vendorPlanShow').show();
			$('#userPlaninfo').show();
		}
	}
	function usershowDetails() {
		$('#planHide').hide();
		$('#userPlanShow').hide();
		$('#vendorPlanShow').show();
		$('#userPlaninfo').show();
	}
	function showsplan() {
		var uri = window.location.pathname;
		window.location.href = uri;
	}
</script>
<div class="login-banner-4 py-4 px-5">
    <div id="userPlaninfo" class="pull-right">
        <a href="javascript:;" onclick="showsplan()">
            <b>Go Back</b>
        </a>
    </div>
    <div class="gtc-container">
        <h1 class="text-m2 text-center font-weight-normal">Which Package Should I Choose?</h1>
        <p class="text-center font-weight-normal">We have a several options to get you started, or dive in with the our most robust offering.</p>
        <div class="row">
            <div class="starter_seller">
                <p class="starter_seller_p1">STARTER SELLER </p>
                <h1 class="starter_seller_h1">FREE</h1>
                <p>Build a GTC profile without the advanced reports, copuons, chat system and SEO support.</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i> Maximum
                    <b>20 Product</b> Inventory</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i> Maxmium
                    <b>1 Subscription</b>
                </p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Transactions Per Month</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i> Secure
                    <b> Escrow</b> Online Transactions</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i>
                    <b>Paypal</b> and/or
                    <b>Stripe</b> Payment</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i>
                    <b>Custom Branded</b> Store Front</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i>
                    <b>Volume</b> Based Pricing</p>
                <p class="starter_seller_list">
                    <i class="fas fa-check"></i>
                    <b>Limited</b> Support</p>
                <a class="price_signup btn" {{#if LoggedInUser}} {{else}} onclick="forceSignup()" {{/if}}>SIGNUP NOW</a>
            </div>
            <div class="service_provider">
                <p class="service_provider_p1">SERVICE PROVIDER </p>
                <h1 class="service_provider_h1">$30
                    <span style="font-size: 20px;">/MO</span>
                </h1>
                <p>Market your services to a massive audience for only 10% of subscription sales. </p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Services</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Transactions Per Month</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>No Assitinal Fee to</b> Buyers</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i> Secure
                    <b>Escrow</b> Online Transactions</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Paypal</b> and/or
                    <b>Stripe</b> Payment</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Custom Branded</b> Store Front</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Volume</b> Based Pricing</p>
                <p class="service_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Limited</b> Support</p>
                <input type="submit" value="SIGNUP NOW" {{#if LoggedInUser}} {{else}} onclick="forceSignup()" {{/if}} class="price_signup"
                 style="cursor:pointer;">
            </div>
            <div class="lifestyle_provider">
                <p class="lifestyle_provider_p1">LIFESTYLE PROVIDER</p>
                <h1 class="lifestyle_provider_h1">10
                    <sup>%</sup>
                </h1>
                <p>Expose your subscriptions to a massive audience for only 10% of subscription sales.</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Subscriptions</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Transactions Per Month</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>No Assitinal Fee to</b> Buyers</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i> Secure
                    <b>Escrow</b> Online Transactions</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Paypal</b> and/or
                    <b>Stripe</b> Payment</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Custom Branded</b> Store Front</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Volume</b> Based Pricing</p>
                <p class="lifestyle_provider_list">
                    <i class="fas fa-check"></i>
                    <b>Limited</b> Support</p>
                <input type="submit" value="SIGNUP NOW" {{#if LoggedInUser}} {{else}} onclick="forceSignup()" {{/if}} class="price_signup"
                 style="cursor:pointer;">
            </div>
            <div class="public_seller_pg">
                <p class="public_seller_pg_p1">PUBLIC SELLER PRICING GUIDE </p>
                <h1 class="public_seller_pg_h1">$99
                    <span style="font-size: 20px;">/MO</span>
                </h1>
                <p>Our Wholesaler monthly fee carries with it our highest tier access to Global Trade Connect, and all its features including:
                    </p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i> up To
                    <b>2000 product</b> inventory</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Services</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Subscriptions</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Unlimited</b> Transactions Per Month</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i> secure
                    <b>Escrow</b> Online Transactions</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Paypal</b> and/or
                    <b>Stripe</b> Payment Processing</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Custom Branded</b> Store Front</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Prefered Advertising</b> Access</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Volume</b> Based Pricing</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Geo-Tartgeting</b> to Zero-in Audience</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i> Real Time Transaction
                    <b>Analytics</b>
                </p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>24 Hour</b> Dedicated Support</p>
                <p class="public_seller_pg_list">
                    <i class="fas fa-check"></i>
                    <b>Access To The Buyer Network</b>
                </p>
                <input type="submit" value="BUILD YOUR STORE NOW" {{#if LoggedInUser}} onclick="window.location.href='/dashboard-vendor-connect'"
                 {{else}} onclick="forceSignup()" {{/if}} class="price_signup" style="margin-left:30px;cursor:pointer;">
            </div>
        </div>
    </div>
</div>