<script type="text/javascript">
// src="https://maps.google.com/maps?q=18.9300,72.8200&hl=es;&z=10&amp;libraries=places&amp;key=AIzaSyDep_3sNz9G0wPjKYWvnQV-h-zuX427yI0&amp;output=embed"
  $(document).ready(function() {

var map = new google.maps.Map({
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

         var address =  geocodeAddress(geocoder, map);
         console.log(address);
        })
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-header VendorDetail = VendorDetail}}
<section class="vendor-product bg-gray">
  <div class="gtc-container">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        {{> vendor/vendor-left VendorDetail = VendorDetail}}
      </div>
      <div class="col-md-10 col-sm-12">
       <div class="header-lg ">
       <h2 class="header-lg-text">ABOUT </h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ibox">
            <div class="ibox-content">
              <div class="row">
                <div class="col-md-7">
                  <p class="about_head">
                   <i class="fas fa-user-circle icon_style_abt"></i> {{follower.count}} FOLLOWERS
                 </p>
                 {{#if follower.count}}
                 <p class="about_para">Followers you may know

                  {{#each follower.rows}}
                  {{#if this.User.user_pic_url}}
                  <img class="about_para_logo" src="{{this.User.user_pic_url}}">
                  {{/if}}
                  {{/each}}

                  <a href="">See all</a>
                </p>
                {{/if}}
                <p class="about_head">
                  <i class="fas fa-info-circle icon_style_abt"></i> SNAPSHOT
                </p>
                <p class="about_para">{{VendorDetail.about}}</p>
              </div>
              <input type="hidden" name="latitude"  id="latitude" value={{VendorDetail.latitude}}>
              <input type="hidden" name="longitude" id="longitude" value={{VendorDetail.longitude}}>
              <input type="hidden" name="address" id="address" value={{VendorDetail.mapAddress}}>
              <div class="col-md-5" >
                 <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://maps.google.com/maps?q={{VendorDetail.mapAddress}}&hl=es;&z=10&amp;libraries=places&amp;key=AIzaSyDep_3sNz9G0wPjKYWvnQV-h-zuX427yI0&amp;output=embed" ></iframe>
                 {{!-- {{VendorDetail.mapAddress}} --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer/bottom-footer}}