<script type="text/javascript">
var xxx={{DisplayJSON categoryWithProductCount}}
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		}
		else {
			return uri + separator + key + "=" + value;
		}
	}

	$(document).on('change', "#sortListing", function() {
		var uri = window.location.href;
		var optionValue = $("#sortListing option:selected").val();
		var key = 'order';
		var value = 'desc';
		if (optionValue == 'Oldest') {
			value = 'asc';
		}
		var queries = updateQueryStringParameter(uri, key, value);
		window.location.href = queries;
	});
	function sortSearch(e) {
		var url = window.location.href;
		var order;
		var selectedText = e.options[e.selectedIndex].text;
		console.log(selectedText);
		if (selectedText == 'Newest') {
			order = 'desc';
		} else {
			order = 'asc';
		}
		var uri = updateQueryStringParameter(url, 'field', 'created_on');
		uri = updateQueryStringParameter(uri, 'order', order)
		window.location.href = uri;
	}
</script> {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-header VendorDetail = VendorDetail}}
<section class="vendor-product bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-2">
				{{> vendor/vendor-left VendorDetail = VendorDetail}}
			</div>
			<div class="col-md-10">
				{{!-- <div class="header-lg bg-wholesale">
				<h2 class="header-lg-text">PRIVATE WHOLESALE MARKETPLACE</h2> --}}
				<div class="header-lg bg-wholesale">
					<div class="row">
						<div class="col-md-6">
							<h3 class="header-lg-text">PRIVATE WHOLESALE MARKETPLACE</h3>
						</div>
						<div class="col-md-6 header-lg-text">
							<form class="form-inline alignright">
								<div class="form-group">
									<label class="label-control m-r-md">Sort by</label>
									<div class="select-container">
										<select name="order" onchange="sortSearch(this)" class="form-control-customized rounded form-control-sm form-control-border"
										id="sortValue">
										<option disabled="true" selected="true">Sort by</option>
										<option value="created_on" {{#ifCond queryURI.order "==" 'desc'}} selected="true" {{/ifCond}}>Newest</option>
										<option value="created_on" {{#ifCond queryURI.order "==" 'asc'}} selected="true" {{/ifCond}}>Oldest</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					{{!-- </div> --}}
				</div>
			</div>
			<div class="row no-margins ibox-content no-padding">
				<div class="col-md-9 no-padding">
					{{#if wantToSell.length}}
					<div class="col-md-12 no-padding">
						<div class="wts-header-bg">
							<h4 class="header-md-text">
								<b>WTS</b> - Want To Sell
								<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTS}}">SEE ALL</a>
							</h4>
						</div>
					</div>
					<div class="ibox">
						<div class="ibox-content">
							<div class="row">
								{{#each wantToSell}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<div class="product-left-col">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}">
																	<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
																	title="{{this.product_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3 title="{{this.product_name}}">
																	<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>{{this.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-3 col-3 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-9 col-9 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-3 col-3 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-9 col-9 no-padding overflow-txt">
																		<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																		title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-3 col-3 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-9 col-9 no-padding overflow-txt">
																		{{#if ../LoggedInUser.email}}
																		<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																		{{else}}
																		<a class="text-500" href="/login">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																</div>
															</div>
														</td>
														<td class="col-3">
															<div class="product-right-col">
																{{#if this.product_discounted_price}}
																<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
																{{/if}}
																<h4>MOQ : {{this.moq}}</h4>
																<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
																	<p>Seller Rating</p>
																	<div class="p-rating pull-right">
																		<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																			{{starCount product_rating}}
																		</a>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								{{/each}}

							</div>
						</div>
					</div>
					{{/if}}
					{{#if wantToBuy.length}}
					<div class="row">
						<div class="col-md-12">
							<div class="wtb-header-bg">
								<h4 class="header-md-text">
									<b>WTS</b> - Want To Buy
									<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTB}}">SEE ALL</a>
								</h4>
							</div>
						</div>
						{{#each wantToBuy}}
						<div class="col-md-6">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="wholesale/{{this.product_slug}}/{{this.id}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
															title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-3 col-3 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																<a class="text-500" href="/login">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{#if this.product_discounted_price}}
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if wantToTrade.length}}
					<div class="row">
						<div class="col-md-12">
							<div class="wtt-header-bg">
								<h4 class="header-md-text">
									<b>WTT</b> - Want To Trade
									<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTT}}">SEE ALL</a>
								</h4>
							</div>
						</div>
						{{#each wantToTrade}}
						<div class="col-md-6">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="wholesale/{{this.product_slug}}/{{this.id}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
															title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-3 col-3 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																<a class="text-500" href="/login">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{#if this.product_discounted_price}}
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{#if requestForQuote.length}}
					<div class="row">
						<div class="col-md-12">
							<div class="rfq-header-bg">
								<h4 class="header-md-text">
									<b>RFQ</b> - Request for Quote
									<a href="/wholesale/search?marketplace_type={{marketPlaceType.RFQ}}">SEE ALL</a>
								</h4>
							</div>
						</div>
						{{#each requestForQuote}}
						<div class="col-md-6">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="wholesale/{{this.product_slug}}/{{this.id}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
															title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-3 col-3 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-3 col-3 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-9 col-9 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																<a class="text-500" href="/login">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{#if this.product_discounted_price}}
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					{{/if}}
					{{!-- </div> --}}
					{{#if (and (eq wantToSell.length  0)
								(eq wantToBuy.length  0)
								(eq wantToTrade.length  0)
								(eq requestForQuote.length  0))}}
					<div class="ibox-content">No Product Available</div>
					{{/if}}
				</div>
				<div class="col-md-3 no-padding">
					{{> vendor/vendor-category }}
				</div>
			</div>

		</div>
	</div>
</section>
{{> footer/bottom-footer}}