{{> header/top-header LoggedInUser = LoggedInUser}}
<section>
 {{> vendor/vendor-navbar VendorDetail = VendorDetail}}
<div class="logged_in_cont" >
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12"  >
                {{> vendor/vendor-left VendorDetail = VendorDetail}}
            </div>

            <div class="col-md-3 col-12 " style="background-color:#fff">
                <h5 class="log_head_style">FEATURED</h5>
                {{#if featuredProducts}}
                {{#each featuredProducts}}
                <div class="row profile_logged_in_body2_bg_color">
                    <div class="col-md-6 col-6" style="padding-right: 0px; margin-top:10px;">
                        <img width="100%" src="{{this.product_base_image}}">
                    </div>
                    <div class="col-md-6 col-6" style="padding-left: 8px; padding-right: 0px;">
                        <h5 class="log_doller_value">${{this.product_price}}</h5>
                        <p class="profile_logged_in_body2_font_para">SAVE $20 <span class="log_left_style">12m left</span></p>
                        <p class="profile_logged_in_body2_font_para_1">{{this.product_name}}Free-15off for the month Augest</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <p class="profile_logged_in_body2_font_2">Category</p>
                                </div>
                                <div class="col-md-8 col-8">
                                    <p class="profile_logged_in_body2_font_2">{{this.category_name}} &gt; {{this.sub_category_name}}</p>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="VIEW" class="profile_logged_in_body2_view_buttion"/>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>  
            <div class="col-md-3 col-12" style="background-color:#fff">
                <h5 class="log_head_style">ON SALE</h5>
                <div class="row profile_logged_in_body2_bg_color">
                {{#each topSelling}}
                    <div class="col-md-4 col-4" style="margin-top:10px; padding-right:0px;">
                        <img width="100%" src="{{this.product_base_image}}" style="border-radius:50%" height="90px">
                    </div>
                    <div class="col-md-8 col-8" style="margin-top:10px;">
                        <P class="profile_logged_in_body2_font_para_1">{{this.product_name}}-Free 20% off </P>
                        {{#if product_quantity}}
                        <p class="profile_logged_in_body2_font_para_1">Availability {{this.product_quantity}} Remaining</p>{{/if}}
                        <p class="profile_logged_in_body2_font_para"> ${{this.product_price}} - Save $20 <span class="log_left_style">12m left!</span></p>
                    </div>
                    <div class="col-md-12 col-12">
                        <hr>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col-md-3 col-12" style="background-color:#fff">
                <h5 class="log_head_style">TOP RATED</h5>
                <div class="row profile_logged_in_body2_bg_color">
                {{#each topRating}}
                     <div class="col-md-4 col-4" style="margin-top:10px; padding-right:0px;">
                        <img width="100%" src="{{this.product_base_image}}" style="border-radius:50%" height="90px">
                    </div>
                    <div class="col-md-8 col-8" style="margin-top:10px;">
                        <P class="profile_logged_in_body2_font_para_1">{{this.product_name}}-Free 20% off </P>
                        {{#if product_quantity}}
                        <p class="profile_logged_in_body2_font_para_1">Availability {{this.product_quantity}} Remaining</p>{{/if}}
                        <p class="profile_logged_in_body2_font_para"> ${{this.product_price}} - Save $20 <span class="log_left_style">12m left!</span></p>
                    </div>
                    <div class="col-md-12 col-12">
                        <hr>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer/bottom-footer}}