<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var userInfo = {{{DisplayJSON LoggedInUser}}}
	var vendorInfo = {{{DisplayJSON VendorDetail}}}
	$(document).ready(function() {
		$('.hide').hide();
		$('.allComments').hide();
		$("#blog_img").hide();
		$(".comment-image").hide();


		var cropBoxData, canvasData, cropper, cropperInputImage;
		var cropperOutputImage;
		var fileDetails = {};
		var imagesPreview = function(uploader, placeToInsertImagePreview) {
			if (uploader.files && uploader.files[0]) {
				fileDetails["originalFileName"] = uploader.files[0]["name"].replace(/\.[^/.]+$/, "");
				fileDetails["originalExtension"] = uploader.files[0]["type"].split("/")[1];
				$('#uploaded-profile-picture').attr('src', window.URL.createObjectURL(uploader.files[0]));
				cropperInputImage = document.getElementById('uploaded-profile-picture');
				$('#profile-picture-modal').modal('show');
			}
		};
		$('#profile-picture-modal').on('shown.bs.modal', function() {
			cropper = new Cropper(cropperInputImage, {
				aspectRatio: 16 / 16,
				minCropBoxHeight: 280,
				minCropBoxWidth: 1264,
				viewMode:1,
				// zoomable: false,
				// scalable: false,
				ready: function() {
				}
			});
		}).on('hidden.bs.modal', function() {
			cropBoxData = cropper.getCropBoxData();
			canvasData = cropper.getCanvasData();
			cropper.destroy();
		});
		$('#crop-profile-image').click(function() {
			cropper.getCroppedCanvas().toBlob(function(blob) {
				cropperOutputImage = blob;
				fileDetails["croppedExtension"] = blob["type"].split("/")[1];
				fileDetails["fileName"] = fileDetails["originalFileName"] + "." + fileDetails["croppedExtension"]
			});
			$('#selectedBlogFile').attr('src', cropper.getCroppedCanvas().toDataURL());
			$('#profile-picture-modal').modal('hide');
		})

		$("#selectedBlogFile").change(function() {
			imagesPreview(this);
		});



		$('#postBlog').click(function() {
			var formData = {};
			formData.post_message = $("#blog_text").val();
			formData.vendor_id = vendorInfo.id;
			formData.user_id = userInfo.id;
			var imgVal = $("#selectedBlogFile").val();
			var form = new FormData();

			form.append("file", cropperOutputImage, fileDetails["fileName"]);

			//form.append("file", $("#selectedBlogFile")[0].files[0]);
			var url = '/api/vendor-info/blog-post';
			if (imgVal) {
				$.ajax({
					type: 'POST',
					url: '/api/TalkSetting/upload',
					data: form,
					cache: false,
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function(data) {
						console.log(data);
						formData.post_media_type = 2;
						formData.post_media_url = data.imageURL;
						removePic();
						apiCall(url, formData);
						// $("#blog_img").hide();
					},
					error: function(error) {
						console.log("Error", error);
					}
				});
			} else {
				if ($("#blog_text").val()) {
					formData.post_media_type = 1;
					apiCall(url, formData);
				} else {
					$('#blog_text').notify("Please enter the value", "error");
					console.log("Please enter the blog Content")
				}
			}
		});

		$("#selectedBlogFile").change(function() {
			$("#blog_img").show();
			readURL(this);
		});

	$(".newComment").change(function() {
		// $("#blog_img").show();
		// readURL(this);
	var id = $(this).attr("data-commentid");
		$("#comment_img-"+id).show();
		readCommentURL(this);
					
	});
	});

	function postComment(e) {
		var formData = {};
		formData.discussion_board_post_id = e;
		formData.status = 1;
		formData.comment = $("#comment_text" + e).val();
		var imgVal = $("#selectedFile" + e).val();
		var form = new FormData();

		form.append("file", $("#selectedFile" + e)[0].files[0]);
		var url = '/api/vendor-info/blog-comment';
		if (imgVal) {
			$.ajax({
				type: 'POST',
				url: '/api/TalkSetting/upload',
				data: form,
				cache: false,
				dataType: 'json',
				processData: false,
				contentType: false,
				success: function(data) {
					console.log(data);
					formData.comment_type = 2;
					formData.comment_media_url = data.imageURL;
					removeCommentPic(e);
					apiCallComment(url, formData, e);
					

				},
				error: function(error) {
					console.log("Error", error);
				}
			});
		} else {
			if ($("#comment_text" + e).val()) {
				formData.comment_type = 1;
				apiCallComment(url, formData, e);

			} else {
				console.log("Please enter the value")
				$('#comment_text' + e).notify("Please enter the value", "error");
			}
		}
	}

	function apiCall(url, data) {
		$.ajax({
			type: 'POST',
			url: url,
			data: data,
			success: function(data, text) {
				location.reload();
			},
			error: function(request, status, error) {
				console.log('status', status);
				console.log('error', error);
			}
		});
	}


	function apiCallComment(url, data, e) {
		$.ajax({
			type: 'POST',
			url: url,
			data: data,
			success: function(res) {
				if(res.result){
					var count = res.result.count;
					var results = res.result.rows;
					console.log(res.result)
					var i = 0;
					var newData = extract(results, e);
					document.getElementById("newPart1" + e).innerHTML = newData.new1;
					document.getElementById("newPart2" + e).innerHTML = newData.new2;
					document.getElementById("comment_count-"+ e).innerHTML = `<p>Comments(`+count+`)</p>`;			
					if (newData.new2) {
						$('#allComments' + e).hide();
						$('#hideAll' + e).hide();
						$('#showAll' + e).show();
					}
					$("#comment_text" + e).val("");
					$("#selectedFile" + e).attr('src', "");
				}else{
					$('#comment_text' + e).notify("Please enter the valid data", "error");				
				}
			},
			error: function(request, status, error) {
				console.log('status', status);
				console.log('error', error);
			}
		});
	}

	function extract(data, e) {
		// return 'data';
		var i = 0;
		var data1 = {};
		var new1 = '';
		var new2 = '';
		data.forEach(function(element) {
			if (i < 2) {
				new1 = new1 + ifPart(element);
			}
			if (i >= 2) {
				new2 = new2 + ifPart(element);
			}
			i++;

		});
		if (new2) {
			var upper = `<div id="showAll` + e + `" onclick="show(` + e + `)" class="show" style="font-size:11px"><a href="javascript:;"><u> show all comments</u></a>
		</div>
		<div id="allComments` + e + `" class="allComments">`;
			var lower = `<div id="hideAll` + e + `" onclick="hide(` + e + `)" class="hide" style="font-size:11px"><a href="javascript:;"><u> Hide comments</u></a>
		</div>
	</div>`;
	new2 = upper + new2 + lower;

}
data1.new1 = new1;
data1.new2 = new2;
return data1;
}

function ifPart(element) {
	return `<div><div class="row" style="margin-bottom: 5px;">
	<div class="col-md-2 col-2">
		<img style="width: 30px;height:30px " class = "img-border-page" src="` + ProfilePicture(element.User) + `">
	</div>
	<div class="col-md-10 col-10">
		<p class="discussion_here"><span class="discussion_hayden">` + element.User.first_name + element.User.last_name + `</span>&nbsp;- &nbsp;` + comment(element) + commentType(element) +
			`</p>
		</div>
	</div></div>`;

}

function ProfilePicture(context) {
	if (context && context.user_pic_url)
		return context.user_pic_url;

	return '/img/avatar.png'
}

function FormatDate(testDate) {
	return moment(testDate).fromNow();
}

function comment(data) {
	var comment = '';
	if (data.comment) {
		comment = data.comment;
	}
	return comment;
}

function commentType(data) {
	var comment = '';
	if (data.comment_type == 2) {
		comment = `<p>&nbsp;- &nbsp;<img src="` + data.comment_media_url + `" width="25%" height="25%">- <span class="discussion_day">` + FormatDate(data.created_on) + `</span></p>`;
	}
	return comment;
}



function show(e) {
	$('#allComments' + e).show();
	$('#hideAll' + e).show();
	$('#showAll' + e).hide();
}

function hide(e) {
	$('#allComments' + e).hide();
	$('#hideAll' + e).hide();
	$('#showAll' + e).show();
}

function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function(e) {
			$('#blah').attr('src', e.target.result);
		}
		reader.readAsDataURL(input.files[0]);
	}
}


function removePic() {
	$('#selectedBlogFile').attr('src', " ");
	$('#blah').attr('src', "");
	$('#selectedBlogFile').val("");
	$('#blog_img').hide();
}

function readCommentURL(input) 
{
		var id = $(input).attr("data-commentid");
		var url = $(".newComment").val();
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function(e) {
			$('#blah'+id).attr('src', e.target.result);
		}
		reader.readAsDataURL(input.files[0]);
	}
}
function removeCommentPic(e) {
	$('#selectedFile'+e).attr('src', " ");
	$('#blah'+e).attr('src', "");
	$('#selectedFile'+e).val("");
	$('#blog_img'+e).hide();
	$('#comment_img-'+e).hide();
}

function userLike(e) {

	if (userInfo.email) {
		var dataInfo = {};
		dataInfo.id = e;
		$.ajax({
			type: "POST",
			url: "/api/vendor-info/blog-like",
			data: dataInfo,
			success: function(res) {
				document.getElementById("LikeCount" + e).innerHTML = "<p id='LikeCount'" + e + ">" + res.count + "Likes</p>";
				document.getElementById("likeType" + e).innerHTML = "<a href='javascript:;' class='discussion_butt btn' onclick='userLike('" + e + "')' id='likeType'>" + res.type + "</a>";
				console.log(res)
			},
			error: function(error) {
				if (error) {
					if (error.status === 401)
						return location.href = "/login";
				}
			}
		});
	} else {
		window.location.href = "/login";
	}
}


</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-header VendorDetail = VendorDetail}}
<div class="modal fade" id="profile-picture-modal" tabindex="-1" role="dialog" aria-labelledby="profile-picture-modalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="profile-picture-modalLabel">Crop Profile Avatar</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" style="margin-right:35px">
			<div class="container">
				<img src="" style="max-width: 100% !important;" id="uploaded-profile-picture" alt="Profile Picture">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" id="crop-profile-image">Crop Image</button>
		</div>
	</div>
</div>
</div>
<section class="vendor-product bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-2">
				{{> vendor/vendor-left VendorDetail = VendorDetail}}
			</div>
			<div class="col-md-10">
				<div class="header-lg ">
					<h2 class="header-lg-text">DISCUSSION BOARD </h2>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="ibox">
							{{!-- <div class="ibox-content"> --}}
							<div class="row">
								<div class="col-md-6" style="background-color:#fff">
									{{!-- {{#ifCond LoggedInUser.Vendor.id "==" VendorDetail.id}} --}}
									<div class="row">
										<div class="col-md-2  discussion_para_bg">
											<img style="width: 45px; height:44px " onError="UserImgError(this)" class = "img-border-page" src="{{LoggedInUser.user_pic_url}}">
										</div>
										<div class="col-md-10 col-9 discussion_para_bg " >
											<div class="discussion_text">
												<div class="input-group">
													<input type="text" id="blog_text" class="form-control promo_code_text1" placeholder="Write Comment">
													<div class="input-group-append">
														<span class=" input-group-text" onclick="document.getElementById('selectedBlogFile').click();">
															<i class="fas fa-camera"></i>
															<input type="file" id="selectedBlogFile" style="display: none;" name="comment_media_url" />
														</span>
													</div>
													<button class="discussion_butt" id="postBlog">Post</button>
												</div>
												<div id="blog_img" >
													<img id="blah" src="#" height="35px" width="35px" alt="your image" />
													<span class="close" onclick="removePic()">&times;</span>
												</div>
											</div>
										</div>
									</div>
									<hr>
									{{!-- {{/ifCond}} --}}
									{{#if discussionBoard.rows}}
									
									{{#each discussionBoard.rows}}
									<div class="row">
										<div class="col-md-2 col-2 discussion_para_bg">
											<img style="width: 45px; height:44px " onError="UserImgError(this)" class = "img-border-page" src="{{this.User.user_pic_url}}">
										</div>
										<div class="col-md-10 col-10 discussion_para_bg">
											<p class="discussion_para" ><span class="discussion_span"><a href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a></span>&nbsp;&nbsp;-&nbsp;{{this.post_message}}&nbsp;-&nbsp; <span style="color: #BDBDBD;">{{FormatDate this.created_on}}</span></p>
											{{#ifCond this.post_media_type "==" 2}}
											<a class="image-popup-vertical-fit " href="{{this.post_media_url}}">
												<img src="{{this.post_media_url}}" style="width: 100%;margin-top: 10px;">
											</a>
											{{/ifCond}}
											<div class="row">    	
												<div class="col-md-8 col-5  discussion_com" id="comment_count-{{this.id}}">
													{{#if this.DiscussionBoardPostComments.length}}
													<p>Comments({{this.DiscussionBoardPostComments.length}})</p>
													{{else}}
													<p>Be the first to comment:</p>
													{{/if}}
												</div>
												<div class="col-md-2 col-4 common_padding1 discussion_lin">
													<p id="LikeCount{{this.id}}">{{this.DiscussionBoardPostLikes.length}} Likes</p>
												</div>
												<div class="col-md-2 col-3  common_padding1 discussion_com "><a href="javascript:;" class="discussion_butt btn" onclick="userLike({{this.id}})" id="likeType{{this.id}}">{{#LikeUnlike this.DiscussionBoardPostLikes ../LoggedInUser}}Like{{/LikeUnlike}}</a></div>
											</div>
											<hr>
											<div id="DiscussionBoardPostComments-{{this.id}}">
												<div id ="newPart1{{this.id}}">
													{{#each this.DiscussionBoardPostComments}}
													{{#ifCond @index '<' 2}}
													<div class="row" style="margin-bottom: 5px;" >
														<div class="col-md-2 col-2">
															<img style="width: 30px;height:30px " class = "img-border-page"src="{{ProfilePicture this.User}}">
														</div>
														<div class="col-md-10 col-10">
															<p class="discussion_here"><span class="discussion_hayden">{{this.User.first_name}}{{this.User.last_name}}</span>{{#if this.comment}}&nbsp;-&nbsp;{{this.comment}} {{/if}} {{#ifCond this.comment_type "==" 2}}<p>&nbsp;-&nbsp; <img src="{{this.comment_media_url}}" width="25%" height="25%">- <span class="discussion_day">{{FormatDate this.created_on}}</span></p>{{/ifCond}} </p>
														</div>
													</div>
													{{/ifCond}}
													{{/each}}
												</div>
												<div id ="newPart2{{this.id}}">
													{{#ifCond this.DiscussionBoardPostComments.length ">" 2}}
													<div id="showAll{{this.id}}" onclick="show({{this.id}})" class="show" style="font-size:11px"><a href="javascript:;"><u> show all comments</u></a>
													</div>
													<div id="allComments{{this.id}}" class="allComments">
														{{#each this.DiscussionBoardPostComments}}
														{{#ifCond @index '>' 1}}
														<div class="row"  style="margin-bottom: 5px;" >
															<div class="col-md-2 col-2">
																<img style="width: 30px;height:30px " class = "img-border-page"src="{{ProfilePicture this.User}}">
															</div>
															<div class="col-md-10 col-10">
																<p class="discussion_here"><span class="discussion_hayden">{{this.User.first_name}}{{this.User.last_name}}</span>{{#if this.comment}}&nbsp;-&nbsp;{{this.comment}} {{/if}} {{#ifCond this.comment_type "==" 2}}&nbsp;-&nbsp;s<p><img src="{{this.comment_media_url}}" width="25%" height="25%">&nbsp;-&nbsp; <span class="discussion_day">{{FormatDate this.created_on}}</span></p>{{/ifCond}} </p>
															</div>
														</div>
														{{/ifCond}}
														
														{{/each}}
														<div id="hideAll{{this.id}}" onclick="hide({{this.id}})" class="hide" style="font-size:11px"><a href="javascript:;"><u> Hide comments</u></a>
														</div>
													</div>
													{{/ifCond}}
												</div>

											</div>
											<div class="row">
												<div class="col-md-2 col-2 ">
													<img style="width: 40px;height:39px;margin-top: 5px;" onError="UserImgError(this)" class = "img-border-page"src="{{../LoggedInUser.user_pic_url}}">
												</div>
												<div class="col-md-10 col-10">
													<div class="discussion_text">
														<div class="input-group">
															<input type="text" id="comment_text{{this.id}}" class="form-control promo_code_text1" placeholder="Write Comment">
															<div class="input-group-append">
																<span class=" input-group-text" onclick="document.getElementById('selectedFile{{this.id}}').click({{this.id}});">
																	<i class="fas fa-camera"></i>
																	<input type="file" class="newComment" data-commentId="{{this.id}}" id="selectedFile{{this.id}}" style="display: none;" name="comment_media_url" />
																</span>
															</div>
															<button class="discussion_butt" onclick="postComment({{this.id}})">Comment</button>
															
														</div>
														<div class="comment-image" id="comment_img-{{this.id}}" >
															<img id="blah{{this.id}}" src="#" height="35px" width="35px" alt="your image" />
															<span class="close" onclick="removeCommentPic({{this.id}})">&times;</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{{!-- </div> --}}
									{{/each}}
									{{else}}
									<div>No blogs found</div>
									{{/if}}
									<div class="row showing_categ" style="padding: 3px; margin: 10px auto;">
									</div>
									{{#ifCond discussionBoard.count '>' queryPaginationObj.limit}}
									<div class="row">
										<div class="col-md-3">
										</div>
										<div class="col-md-7">
											{{#pagination discussionBoard.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
											<nav aria-label="Page navigation example">
												<ul class="pagination justify-content-center">
													{{#unless startFromFirstPage}}
													<li class="page-item">
														<a class="page-link" href="../vendor/discussion-board/{{../VendorDetail.id}}?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
													</li>
													{{/unless}} {{#each pages}}
													<li class="page-item {{#if isCurrent}} active {{/if}}">
														<a class="page-link" href="../vendor/discussion-board/{{../../VendorDetail.id}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
													</li>
													{{/each}} {{#unless endAtLastPage}}
													<li class="page-item">
														<a class="page-link" href="../vendor/discussion-board/{{../VendorDetail.id}}?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
													</li>
													{{/unless}}
												</ul>
											</nav>
											{{/pagination}}
										</div>
									</div>
									{{/ifCond}}

								</div>
								<div class="col-md-3">
									<div class="dis_side_bar">
										<p class="discussion_most_head">MOST POPULAR POSTS</p>
										<ul>
											{{#if mostPopular}}
											{{#each mostPopular}}
											{{!-- {{#ifCond @index "<" 5}} --}}
											{{#if this.post_message}}
											<li>{{this.post_message}}</li>
											{{/if}}
											{{!-- {{/ifCond}} --}}
											{{/each}}
											{{else}}
											<li>No blog Found</li>
											{{/if}}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{> footer/bottom-footer}}