<script>

	var adImageArr = [];
	adImageArr = {{{ DisplayJSON adImage }}};

	function appendImage() {
		$('div.base_image').empty();
		var domElement;
		domElement = "<span class=\"pip\" id=\"base\">" + "<img src=\"" + adImageArr[0].adImageUrl + "\"/></span>";
		$('div.base_image').append(domElement);
	}

	$(document).ready(function() {

		var adId = $('#id').val();
		$("#gtc-form-alert").hide();

		$("#startDate").datepicker({
			format: 'mm/dd/yyyy',
			autohide: true,
		});

		$("#endDate").datepicker({
			format: 'mm/dd/yyyy',
			autohide: true,
		});

		$('#adImage').change(function(e) {
			adImageArr.length = 0;
			var obj = {}
			if (adImage.files && adImage.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					var image = new Image();
					image.src = e.target.result;
					image.onload = function() {
						//Determine the Height and Width.
						var height = this.height;
						var width = this.width;
						if (($("#position").val() == 1) || ($("#position").val() == 2) || ($("#position").val() == 6)) {
							if ((height >= 195 && height<= 220) || (width >= 475 && width<=500)) {
								obj.adImageUrl = e.target.result;
								adImageArr.push(obj);
								appendImage();
								return true;
							} else {
								$('#adImage').attr('src', " ");
								$('#adImage').val('')
								alert("Selected image doesn't have valid height and width. Please upload the image of valid size.");
								return false;
							}
						} else if (($("#position").val() == 2) || ($("#position").val() == 4) || ($("#position").val() == 5)) {
							if ((height >= 45 && height<= 80) || (width >= 475 && width<=500)) {
								obj.adImageUrl = e.target.result;
								adImageArr.push(obj);
								appendImage();
								return true;
							} else {
								$('#adImage').attr('src', " ");
								$('#adImage').val('')
								alert("Selected image doesn't have valid height and width. Please upload the image of valid size.");
								return false;
							}
						} else {
							$('#adImage').value='';
							alert("Please select Ad position before uplaoding image.");
						}
					};
				}
				reader.readAsDataURL(adImage.files[0]);
			}
		})
		$("#position").change(function() {
			console.log($("#position").val(), $('option:selected', this).attr('width'), $('optionalion:selected', this).attr('height'))
			var message = "Banner should have " + $('option:selected', this).attr('width') + ' px width & ' + $('option:selected', this).attr('height')+' px height';
			document.getElementById("alert-text").innerHTML = message;
		});

		$("#country").change(function() {
			var country_id = $('#country').val();

			$.ajax({
				url: '/api/states?country_id=' + country_id + '&field=name&order=asc',
				type: 'GET',
				success: function(result) {
					$("#state").empty();
					let selectOptionProvince = `<option selected disabled>Select...</option>`;
					$('#state').append(selectOptionProvince);
					for (var i = 0; i < result.rows.length; i++) {
						var options;
						options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
						$("#state").append(options)
					}
				},
				error: function(error) {
					console.log("Error", error);
				}
			});
		});

		$("#adForm").submit(function(e) {
			e.preventDefault();
			if ($('#adForm').valid()) {
				var formData = new FormData();
				formData.append("file", adImage.files[0]);

				let adFormInput = $("#adForm :input").filter(function(index, element) {
					return $(element).val() != '';
				}).serializeArray();

				adFormInput.forEach(function(obj) {
					formData.append(obj.name, obj.value);
				});

				var url = '';
				var type = 'POST';
				if (!adId) {
					url = '/api/advertisement';
				} else {
					url = '/api/advertisement/' + adId;
					type = 'PUT';
				}

				$.ajax({
					type: type,
					url: url,
					data: formData,
					cache: false,
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function(data) {
						$('#gtc-form-alert').removeClass('alert-danger').addClass('alert-success');
						$('#gtc-form-alert .form-message').text(data.messageDetails);
						$("#gtc-form-alert").fadeTo(2000, 500).slideUp(500, function() {
							$("#gtc-form-alert").slideUp(500);
						});
						setTimeout(function() {
							location.reload(true);
						}, 1500);
					},
					error: function(error) {
						$('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-form-alert .form-message').text(error.responseJSON.messageDetails);
						$("#gtc-form-alert").fadeTo(2000, 500).slideUp(500, function() {
							$("#gtc-form-alert").slideUp(500);
						});
					}
				});
			}
		});

		$("#adForm").validate({
			rules: {
				name: "required",
				position: "required",
				target_url:{
					required: true,
					url: true
				},
				status: {
					required: function() {
						if ($('#id')) {
							return true;
						} else { return false; }
					}
				},
				start_date: {
					required: true,
					date: true,
					lesserThan: 'currentDate'
				},
				end_date: {
					required: true,
					date: true,
					greaterThan: "#startDate"
				},
				city: {
					lettersonly: true
				}
			},
			messages: {
				name: "Please enter Ad title",
				position: "Please select Ad position",
				target_url: {
					required: "Please enter target url",
					url:"Please enter valid url"
				},
				status: "Please enter Ad status",
				start_date: {
					required: "Select start date",
					date: "Enter valid date",
					lesserThan: "Start date must be greater than current date"
				},
				end_date: {
					required: "Select end date",
					date: "Enter valid date",
					greaterThan: "End date should be greater than start date"
				},
				city: {
					lettersonly: "Please enter vaild city name"
				}
			}
		});

		$.validator.addMethod("lettersonly", function(value, element) {
			return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
		}, "Letters only please");

		$.validator.addMethod("greaterThan",
			function(value, element, params) {
				if (!/Invalid|NaN/.test(new Date(value))) {
					return new Date(value) > new Date($(params).val());
				}
				return isNaN(value) && isNaN($(params).val())
					|| (Number(value) > Number($(params).val()));
			}, 'Must be greater than {0}.');

		$.validator.addMethod("lesserThan",
			function(value, element, params) {
				if (!/Invalid|NaN/.test(new Date(value))) {
					return new Date(value) > new Date();
				}
				return isNaN(value) && isNaN($(params).val())
					|| (Number(value) > Number($(params).val()));
			}, 'Must be greater than {0}.');

		if (adImageArr && (adImageArr.length > 0))
			appendImage();
	});
</script> 

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container"> 	
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>
								{{#if ads}}Edit{{else}}Create{{/if}} Ad</h2>
							<input type="hidden" name="id" id="id" value="{{ads.id}}">
						</div>
						<div class="alert" id="gtc-form-alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="form-message"></span>
						</div>
						<div class="content-body">
							<form id="adForm" class="form">
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Ad Name
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="name" id="name" class="form-control-customized form-control-sm" required="true" value="{{ads.name}}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Ad Position
												<span class="text-danger">*</span>
											</label>
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="position" id="position"
											 required="true">
												{{#select ads.position}}
													<option disabled selected>Select Location...</option>
													{{#each position}}
														<option width= {{this.width}} height= {{this.height}} value="{{this.id}}">{{Titlecase @key}}</option>
													{{/each}}
												{{/select}}
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Ad Image
												<span class="text-danger">* </span>
												<span class="text-danger" id="alert-text"><span>
											</label>
											<div class="input-group">
												<div class="custom-file custom_error_message">
													<input type="file" class="custom-file-input" id="adImage" name="adImage">
													<label class="custom-file-label customized-file-label" for="icon">Choose file</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<div class="base_image"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Target URL
												<span class="text-danger">*</span>
											</label>
											<input type="text" value="{{ads.target_url}}" name="target_url" id="target_url" class="form-control-customized form-control-sm"
											 required="true">
										</div>
									</div>
									{{#if ads.id }}
										<div class="col-4">
											<div class="form-group">
												<label class="label-control">Status
													<span class="text-danger">*</span>
												</label>
												<div class="input-group">
													<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="status">
														{{#unless ads.status}}
															<option disabled selected>Select Status</option>
														{{/unless}}
														{{#select ads.status}}
															{{#each statusCode}}
																{{#if (lt this ../statusCode.DELETED)}}
																	<option value="{{this}}">{{objectKey ../statusCode this}}</option>
																{{/if}}
															{{/each}}
														{{/select}}
													</select>
												</div>
											</div>
										</div>
									{{/if}}
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Start Date
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<input type="text" class="form-control-customized" name="start_date" placeholder="MM/DD/YYYY" id="startDate" value="{{ads.start_date}}"
												aria-describedby="basic-addon2">
												<div class="input-group-append">
													{{!-- <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span> --}}
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">End Date
												<span class="text-danger">*</span>
											</label>
											<div class="input-group ">
												<input type="text" class="form-control-customized" placeholder="MM/DD/YYYY" value="{{ads.end_date}}" id="endDate" name="end_date"
												aria-describedby="basic-addon2">
												<div class="input-group-append">
													{{!-- <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span> --}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Country</label>
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="country_id" id="country">
												{{#select ads.country_id}}
													<option disabled selected>Select...</option>
													{{#each country}}
														<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												{{/select}}
											</select>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Province</label>
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="state_id" id="state">
												{{#if ads.state_id}}
													<option value="{{ads.state_id}}">{{ads.State.name}}</option>
												{{else}}
													<option disabled selected>Select...</option>
												{{/if}}
											</select>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">City</label>
											<input type="text" name="city" id="city" value="{{ads.city}}" class="form-control-customized form-control-sm">
										</div>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<button class="ladda-button btn btn-md {{#if ads}}update-btn{{else}}btn-success{{/if}} m-t" type="submit" data-style="expand-left">
												<span class="ladda-label">
													{{#if ads}}UPDATE{{else}}SUBMIT{{/if}}
												</span>
												<span class="ladda-spinner"></span>
											</button>
											<button class="ladda-button btn btn-md btn-muted m-t" type="reset" id="reset" data-style="expand-left">
												<span class="ladda-label">CANCEL</span>
												<span class="ladda-spinner"></span>
											</button>
										</div>			
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}