 <script>
	var params = {{{ DisplayJSON queryParamsString }}};
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}

	function limit(size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "advertisement?"+ params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	$(document).ready(function() {
		$("#gtc-cart-alert").hide();
		$(".checkbox").change(function(e) {
   			$('#checkbox').prop('checked', false);
		});
	});

	function changeStatus(e) {
		window.location.href = '/advertisement?status=' + e.value;
	}

	function search(e) {
		window.location.href = '/advertisement?keyword=' + e.value;
	}

	function edit() {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			chkArray.push($(this).val());
		});
		
		var product_id = chkArray.join(',');

		if (chkArray.length == 1) {
			window.location.href = '/advertisement/add/'+product_id;
		}
		else {
			$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
			$('#gtc-cart-alert .cart-message').text('Select one AD to edit')
			$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function () {
			$("#gtc-cart-alert").slideUp(500);
			});
		}
	}

	function add() {
		window.location.href = '/advertisement/add';
	}
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									<span class="pull-right" style="font-size:12px"><a href="/advertisement">Clear All</a></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-inline pull-left m-t-md">
										<div class="form-group m-r">
											<button class="btn btn-md btn-muted" onclick="add();">CREATE AD</button>
										</div>
										<div class="form-group m-r">
											<div class="select-container">
												<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" onChange="changeStatus(this);">
													{{#select queryURI.status}}
														<option disabled selected>CHANGE STATUS</option>
														<option value="ACTIVE">Active</option>
														<option value="INACTIVE">InActive</option>
													{{/select}}
												</select>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-md btn-muted"  onclick="edit();">EDIT/FEATURE</button>
										</div>
									</div>
									<div class="form-inline pull-right m-t-md">
										<div class="form-group m-r">
											<div class="input-group gtc-rounded">
												<input type="text" placeholder="Search AD" class="form-control form-control-sm" onChange="search(this);" {{#if queryURI.keyword}} value={{queryURI.keyword}}{{/if}}>
												<button type="submit" class="btn btn-sm btn-gtc">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{#if ads.count}}
								<div class="row py-2">
									<div class="col-md-12">
										<div class="alert" id="gtc-cart-alert">
											<button type="button" class="close" data-dismiss="alert">
												<span aria-hidden="true">&times;</span>
											</button>
											<span class="cart-message"></span>
										</div>
										<small class="font-weight-light">{{ads.count}} items total</small>
										<div class="float-right">
											<small class="font-weight-light">Entries per page : </small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)" href="javascript:;">All</a>
											</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											<thead>
												<tr>
													<th>
														<div class="customCheckbox">
															<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
															<label class="checkbox-b" for="inputCheckbox"></label>
														</div>
													</th>
													<th style="width:30%;">Name</th>
													<th>Start Date</th>
													<th>End Date</th>
													<th>Target URL</th>
													<th>Status</th>
													<th>Impressions</th>
													<th>Clicks</th>
													<th>CTR</th>
												</tr>
											</thead>
											<tbody>
												{{#each ads.rows}}
													<tr>
														<td>
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value={{this.id}}>
																<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
															</div>
														</td>
														<td>{{this.name}}</td>
														<td>{{formatTime this.start_date "MMM DD, YYYY"}}</td>
														<td>{{formatTime this.end_date "MMM DD, YYYY"}}</td>
														<td>{{this.target_url}}</td>
														<td class={{#ifCond this.status '==' ../statusCode.ACTIVE}} "text_green_color"
															{{else ifCond this.status '==' ../statusCode.INACTIVE}} "text_red_color"{{/ifCond}}>
															{{#ifCond this.status '==' ../statusCode.ACTIVE}}Active
																{{else ifCond this.status '==' ../statusCode.INACTIVE}}InActive
															{{/ifCond}}
														</td>
														<td>{{#if this.impression}}{{this.impression}}{{else}}0{{/if}}</td>
														<td>{{#if this.clicks}}{{this.clicks}}{{else}}0{{/if}}</td>
														<td>
															{{ctrCalculation this.impression this.clicks}}
														</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
								{{#ifCond ads.count '>' queryURI.limit}}
									<div class="row">
										<div class="col-md-12 align-self-center">
											{{#pagination ads.count queryURI.page queryURI.limit 2}}
												<nav aria-label="Page navigation example">
													<ul class="pagination justify-content-center">
														{{#unless startFromFirstPage}}
															<li class="justify-content-center align-self-center">
																<a href="../advertisement?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">
																	<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
															</li>
														{{/unless}}
														{{#each pages}}
															<li class="page-item {{#if isCurrent}} active {{/if}}">
																<a class="page-link" href="../advertisement?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryURI.limit)}}">{{page}}</a>
															</li>
														{{/each}}
														{{#unless endAtLastPage}}
															<li class="justify-content-center align-self-center">
																<a href="../advertisement?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">Next&nbsp;
																	<i class="fa fa-angle-double-right"></i>
																</a>
															</li>
														{{/unless}}
													</ul>
												</nav>
											{{/pagination}}
										</div>
									</div>
								{{/ifCond}}
							{{else}}
									<h4 class="font-weight-light py-3 text-center">No Results!</h4>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}
