<style>
	.clickable-row {
		cursor: pointer;
	}
</style>
<script>
	$(document).ready(function () {
		$("#gtc-mail-alert").hide();
		$(".clickable-row").click(function () {
			var statusObj = {
				mail_status: 1
			}
			$.ajax({
				url: 'api/user-mails/' + this.id,
				type: 'PUT',
				data: statusObj,
				success: function (data) {
					console.log(data);
				},
				error: function (error) {
					console.log(error);
				}
			})
			window.location = $(this).data("href");
		});
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<p class="content-txt"></p>
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												
												<th scope="col">From</th>
												<th scope="col">Subject</th>
												<th scope="col">Date</th>
												<th scope="col">Size</th>
											</tr>
										</thead>
										<tbody>
											{{#each inboxMail}}

											<tr class="inbox-tr-unread">
													
													<td class='clickable-row' scope="row" id='{{this.id}}' data-href='gtc-mail/inbox/{{this.Mail.id}}'>{{this.Mail.fromUser.first_name}}</td>
													<td class='clickable-row' scope="row" id='{{this.id}}' data-href='gtc-mail/inbox/{{this.Mail.id}}'>{{this.Mail.subject}}</td>
													<td class='clickable-row' scope="row" id='{{this.id}}' data-href='gtc-mail/inbox/{{this.Mail.id}}'>{{formatTime this.Mail.created_on "MMM D, YYYY"}}</td>
													<td class='clickable-row' scope="row" id='{{this.id}}' data-href='gtc-mail/inbox/{{this.Mail.id}}'>{{this.Mail.message.length}}</td>
												</tr>
												{{/each}}
										</tbody>
									</table>
								</div>
								{{#pagination collectionSize page pageSize maxSize}}
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										{{#unless startFromFirstPage}}
										<li class="page-item">
											<a class="page-link" href="gtc-mail/inbox?page={{DiffFloat ../page 1}}&limit={{../pageSize}}">Previous</a>
										</li>
										{{/unless}} {{#each pages}}
										<li class="page-item {{#if isCurrent}} active {{/if}}">
											<a class="page-link" href="gtc-mail/inbox?page={{page}}&limit={{../../pageSize}}">{{page}}</a>
										</li>
										{{/each}} {{#unless endAtLastPage}}
										<li class="page-item">
											<a class="page-link" href="gtc-mail/inbox?page={{SUMFloat ../page 1}}&limit={{../pageSize}}">Next</a>
										</li>
										{{/unless}}
									</ul>
								</nav>
								{{/pagination}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}} 
