<style>
	.clickable-row {
		cursor: pointer;
	}
</style>
<script>
	$(document).ready(function() {
		$("#noProducts").hide();
		$('.clickable-row').click(function() {
			var id = $(this).data('id');
			//$('#'+id).hide();
			var notificationCount = $("#notificationCount").val();
			notificationCount = notificationCount-1;
			if(notificationCount==0){
				$("#notificationCount").hide();
				$("#pagination").hide();
				$("#noProducts").show();
			}
			$("#notificationCount").val(notificationCount);
			$("#notificationCount").html(notificationCount);
			document.getElementById("Subject").innerHTML = $(this).data('name');
			document.getElementById("Message").innerHTML = $(this).data('message');
			var id = $(this).data('id');
			if ($(this).hasClass("inbox-tr-unread")) {
				$(this).removeClass("inbox-tr-unread").addClass("inbox-tr");
				$.ajax({
					url: 'api/notification/read/' +id,
					type: 'GET',
					success: function(data) {
						console.log(data);
					},
					error: function(error) {
						console.log(error);
					}
				})
			}
		}); 
		$('.clickable-row').magnificPopup({
			type: 'inline',
			midClick: true,
			preloader: false,
			modal: true
		});
		$(document).on('click', '.popup-modal-dismiss', function(e) {
			e.preventDefault();
			$.magnificPopup.close();
		});
	});

	function deleteNotification(id) {
		$.ajax({
			url: 'api/notification/delete/' +id,
			type: 'GET',
			success: function(data) {
				$('#'+id).hide()
				location.reload(true);
			},
			error: function(error) {
				console.log(error);
			}
		})
	};
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
			              <h6>MY NOTIFICATIONS</h6>
			            </div>
						<div class="content-body">

							<p class="content-txt"></p>
							<div class="col-md-12">
								<div class="table-responsive">
									{{#if notifications}}
										<table class="table">
											<thead>
												<tr>
													<th width="20%" scope="col">Event</th>
													<th width="55%" scope="col">Description</th>
													<th width="15%" scope="col">Date</th>
													<th width="10%" scope="col">Delete</th>
												</tr>
											</thead>
											<tbody>
												{{#each notifications}}
												<tr class="{{#ifCond this.is_read '==' 1}}inbox-tr-unread{{else}}inbox-tr{{/ifCond}} clickable-row" data-name="{{this.name}}" data-id={{this.id}} id ="{{this.id}}" data-message="{{this.description}}" href="#gtc-modal">
													<td scope="row ">{{this.name}}</td>
													<td scope="row">{{{dotdotdot this.description}}}</td>
													<td scope="row">{{formatTime this.created_on "MMM D, YYYY"}}</td>
													<td scope="row"><span onclick="event.stopPropagation(); deleteNotification({{this.id}})"><i class="fa fa-trash-o" style="font-size:16px; color:red;"></i></span></td>
												</tr>
												{{/each}}
											</tbody>
										</table>
									{{else}}
										<h4 class="font-weight-light py-3 text-center">No notification received!</h4>
									{{/if}}
								</div>
								{{#if notifications}}
									<div id="pagination">
									{{#pagination collectionSize page pageSize maxSize}}
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center">
											{{#unless startFromFirstPage}}
											<li class="page-item">
												<a class="page-link" href="notifications?page={{DiffFloat ../page 1}}&limit={{../pageSize}}">Previous</a>
											</li>
											{{/unless}} {{#each pages}}
											<li class="page-item {{#if isCurrent}} active {{/if}}">
												<a class="page-link" href="notifications?page={{page}}&limit={{../../pageSize}}">{{page}}</a>
											</li>
											{{/each}} {{#unless endAtLastPage}}
											<li class="page-item">
												<a class="page-link" href="notifications?page={{SUMFloat ../page 1}}&limit={{../pageSize}}">Next</a>
											</li>
											{{/unless}}
										</ul>
									</nav>
									{{/pagination}}
									</div>
								{{!-- {{else}}
								<div > No notification received </div> --}}
								{{/if}}
								{{!-- <div id="noProducts"> No notification received </div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="gtc-modal" class="white-popup-block mfp-hide">
	<p><a class="popup-modal-dismiss" style="float:right" href="javascript:;">&times</a></p>
	<h1 id ="Subject"></h1>
	<p id="Message"></p>
</div>
{{> footer/bottom-footer}} 
