<script type="text/javascript">
    function myAdd(e) {
        var addSelected = $('select[name="country"] option:selected').val();
        if (addSelected) {
            var newData = {};
            var selectArray = [];
            if (addSelected == 'All') {
                $("#sellingCountry option").each(function () {
                    if ($(this).val() != "All")
                        selectArray.push($(this).val());
                });
                newData.country_id = JSON.stringify(selectArray);
                console.log(selectArray);
            }
            else {
                selectArray.push(addSelected);
                console.log(selectArray);
                newData.country_id = JSON.stringify(selectArray);
                console.log(newData)
            }
            $.ajax({
                type: 'PUT',
                url: '/api/shipping-setting/add-country',
                data: newData,
                success: function (data, text) {
                    // location.reload();
                    ouputPopup("Shipping Setting Updated Successfully");
                },
                error: function (request, status, error) {
                    console.log('status', status);
                    console.log('error', error);
                }
            });
        }else{
            ouputErrorPopup("Select Country to add");
        }

    }

    function ouputPopup(data) {
      $('#gtc-shipping').prop('disabled', false);
      $('#gtc-shipping').removeClass('alert-danger').addClass('alert-success');
      $('#gtc-shipping .cart-message').text(data);
      $("#gtc-shipping").fadeTo(2000, 500).slideUp(500, function () {
        $("#gtc-shipping").slideUp(500);
        location.reload();
    });
  }
  function ouputErrorPopup(data) {
      $('#gtc-shipping').prop('disabled', false);
      $('#gtc-shipping').removeClass('alert-success').addClass('alert-danger');
      $('#gtc-shipping .cart-message').text(data);
      $("#gtc-shipping").fadeTo(7000, 500).slideUp(500, function () {
        $("#gtc-shipping").slideUp(500);
    });
  }

  function myRemove(e) {
    var removeSelected = $('select[name="addedCountry"] option:selected').val();
    if (removeSelected) {
        var newData = {};
        var selectArray = [];
        if (removeSelected == 'All') {
            $("#removeCountry option").each(function () {
                if ($(this).val() != "All")
                    selectArray.push($(this).val());
            });
            newData.country_id = JSON.stringify(selectArray);
            console.log(selectArray);
        }
        else {
            selectArray.push(removeSelected);
            console.log(selectArray);
            newData.country_id = JSON.stringify(selectArray);
            console.log(newData)
        }
        $.ajax({
            type: 'PUT',
            url: '/api/shipping-setting/remove-country',
            data: newData,
            success: function (data, text) {
                ouputPopup("Shipping Setting Updated Successfully");
            },
            error: function (request, status, error) {
                ouputErrorPopup("Select Option to remove");
                console.log('status', status);
                console.log('error', error);
            }
        });
    }else{
        ouputErrorPopup("Select Country to remove");
    }

}

function updateFunction() {

    var old_base_location = {{ LoggedInUser.Vendor.base_location }};
    var new_base_location = $('select[name="base_location"] option:selected').val();
    if (old_base_location != new_base_location) {
        var newData = {};
        newData.country_id = new_base_location;
        $.ajax({
            type: 'PUT',
            url: '/api/shipping-setting/vendor-update',
            data: newData,
            success: function (data, text) {
                // location.reload();
                ouputPopup("Base Location Updated Successfully");
            },
            error: function (request, status, error) {
                console.log('status', status);
                console.log('error', error);
                ouputErrorPopup(error);
            }
        });
    }else{
        ouputErrorPopup("Base Location Aleady Exist");
    }

}
$(document).ready(function () {
	$('#sellingCountry').val("");
	$('#removeCountry').val("");
    $("#gtc-shipping").hide();
	$('#addbtn').prop('disabled', true);
	$('#removebtn').prop('disabled', true);
	$("#sellingCountry option[selected]").removeAttr("selected");    
	var newData = {};
    var selectArray = [];
    $("#sellingCountry").on('change', function() {
    if ($('#sellingCountry').val() != '') {
    $('#addbtn').prop('disabled', false);
    } else { 
    $('#addbtn').prop('disabled', true);
    }
    }); 
	 $("#removeCountry").on('change', function() {
    if ($('#removeCountry').val() != '') {
    $('#removebtn').prop('disabled', false);
    } else { 
    $('#removebtn').prop('disabled', true);
    }
    }); 
    });

</script>
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
    <div class="gtc-container">
        <div class="row">
            <div class="col-sm-2">
                {{> vendor/vendor-side-navbar}}
            </div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
            <div class="col-sm-10">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="ibox-title">
                            <h2>Shipping Settings</h2>
							<br/>
                        </div>
                        <div class="alert" id="gtc-shipping">
                         	<button type="button" class="close" data-dismiss="alert">
                            	<span aria-hidden="true">&times;</span>
                         	</button>
                        		<span class="cart-message"></span>
                    	</div>
						<div class="content-body">
							<div class="row">
								<div class="col-lg-4">
									<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="base_location">
										{{#each Countries.rows}} {{#ifCond this.id '==' ../LoggedInUser.Vendor.base_location}}
											<option value={{this.id}} selected>Base :{{this.name}}</option>
											{{else}}
											<option value={{this.id}}>{{this.name}}</option>
											{{/ifCond}} {{/each}}
									</select>
								</div>
								<div class="col-lg-8">
									<p>
										<small>The physical location of your business.</small>
									</p>
								</div>
							</div><br/>
							<div class="row">
								<div class="col-lg-12 ibox-title">
									<h2>Selling Location</h2>
								</div>
							</div><br/>
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class ="col-lg-5">
											<p>
												<small>Select the countries you are able to sell and ship to:</small>
											</p>
										</div>
										<div class ="col-lg-6">
											<p>
												<small>You are willing to sell and ship to these countries:</small>
											</p>
										</div>
									</div>
									<div class="row">
										<div class ="col-lg-3">
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" size="15" name="country" id="sellingCountry">
												{{#ifCond Countries.count "!=" vendorCountry.count}}
												<option value="All">All </option>
												{{#if vendorCountry.vendorCountriesID}} {{{countrySelected Countries.rows vendorCountry.vendorCountriesID}}} {{else}} {{#each
												Countries.rows}}
												<option value={{this.id}}>{{this.name}}</option>
												{{/each}} {{/if}} {{/ifCond}}
											</select>
										</div>
										<div class="col-lg-2"><br/><br/>
											<button class="ladda-button btn btn-small btn-muted" type="submit" style="width:75%" id="addbtn" onclick="myAdd(this)">ADD</button><br/><br/>
											<button class="ladda-button btn btn-small btn-muted" type="submit" style="width:75%" id="removebtn" onclick="myRemove(this)">REMOVE</button>
										</div>
										<div class ="col-lg-3">
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" size="15" name="addedCountry" id="removeCountry">
												{{#if vendorCountry.count}}
												{{!-- <option value="All">All </option> --}}
												{{#if vendorCountry.vendorCountriesID}} {{{vendorSelectedcountry Countries.rows vendorCountry.vendorCountriesID}}} {{else}}
												{{#each Countries}}
												<option value={{this.id}}>{{this.name}}</option>
												{{/each}} {{/if}} {{/if}}
											</select>
										</div>
									</div>
								</div>
							</div><br/><hr/>
							<button class="ladda-button btn update-btn btn-small btn-muted" onclick="updateFunction(this)" type="submit" data-style="expand-left">
								<span class="ladda-label">UPDATE</span>
								<span class="ladda-spinner"></span>
							</button>
							<button class="ladda-button btn btn-small btn-muted" type="reset" data-style="expand-left">
								<span class="ladda-label">CANCEL</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}			

