<script type="text/javascript">
	$(document).ready(function () {
		$("#hideNewTimeSlotForm").hide();
		$("#addTimeSlotFormNew").hide();
		$("#addNewTimeSlotForm").click(function () {
			$("#addTimeSlotFormNew").show();
			$("#addNewTimeSlotForm").hide();
			$("#hideNewTimeSlotForm").show();

		});
		$("#hideNewTimeSlotForm").click(function () {
			$("#addTimeSlotFormNew").hide();
			$("#addNewTimeSlotForm").show();
			$("#hideNewTimeSlotForm").hide();
		});
	});

	$(document).ready(function () {
		$("#uploadOperationHours").click(function (e) {
			e.preventDefault();
			// alert($('#start_time').val(), $('input[name=end_time]').val())
			var op_hours = {};
			op_hours.from_day = $('#from_day').val();
			op_hours.to_day = $('#to_day').val();
			op_hours.start_time = $('input[name=start_time]').val();
			op_hours.end_time = $('input[name=end_time]').val();
			op_hours.timezone_id = $('#time_zone').val();
			$.ajax({
				type: 'POST',
				url: '/api/gtc-talk/working-hours',
				data: op_hours,
				success: function (data, text) {
					$("#addTimeSlotFormNew").hide();
					$("#addNewTimeSlotForm").show();
					$("#hideNewTimeSlotForm").hide();
					$('#gtc-talk-alert').removeClass('alert-danger').addClass('alert-success');
					$('#gtc-talk-alert .talk-message').text("New Time Slot Added Successfully")
					$("#gtc-talk-alert").fadeTo(3000, 500).slideUp(500, function() {
						$("#gtc-talk-alert").slideUp(500);
						location.reload();
					});
				},
				error: function (request, status, error) {
					console.log('status', status);
					console.log('error', error);
					$('#gtc-talk-alert').removeClass('alert-success').addClass('alert-danger');
					$('#gtc-talk-alert .talk-message').text(error);
					$("#gtc-talk-alert").fadeTo(3000, 500).slideUp(500, function() {
						$("#gtc-talk-alert").slideUp(500);
					});
				}
			});
		});
	});

</script>
<script type="text/javascript">
	$(document).ready(function () {
		if(!$('input[name=gtc_talk_enabled]').is(':checked')){
			$("#UpdateTalks").prop('disabled', true);
		}
	// console.log($('input[name=gtc_talk_enabled]').is(':checked'))
	$("#gtc-talk-alert").hide();
	$("#UpdateTalks").click(function (e) {
		$("#UpdateTalks").prop('disabled', true);
		var img = $('input[name=talk_profile_pic_url_radio]:checked').val();
		var formData = {
			'gtc_talk_enabled': $('input[name=gtc_talk_enabled]:checked').val(),
			'talk_profile_pic_url_radio': $('input[name=talk_profile_pic_url_radio]:checked').val(),
			'default_msg': $('textarea[name=default_msg]').val(),
		};
		if (img == "old") {
			formData.talk_profile_pic_url = '';
			$.ajax({
				type: 'POST',
				url: '/api/gtc-talk/store',
				data: formData,
				success: function (data, text) {
					$('#gtc-talk-alert').removeClass('alert-danger').addClass('alert-success');
					$('#gtc-talk-alert .talk-message').text("Data Updated Successfully")
					$("#gtc-talk-alert").fadeTo(3000, 500).slideUp(500, function() {
						$("#gtc-talk-alert").slideUp(500);
						location.reload();
					});
						// location.reload();
					},
					error: function (request, status, error) {
						console.log('status', status);
						console.log('error', error);
						$('#gtc-talk-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-talk-alert .talk-message').text(error.responseText);
						$("#gtc-talk-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-talk-alert").slideUp(500);
						});
					}
				});
		} else {
			var imgVal = $('input[name=talk_profile_pic_url]').val();
			var form = new FormData();
			form.append("file", $("#selectedFile")[0].files[0]);
			if (imgVal) {
				$.ajax({
					type: 'POST',
					url: '/api/TalkSetting/upload',
					data: form,
					cache: false,
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function (data) {
						formData.talk_profile_pic_url = data.imageURL;
						$.ajax({
							type: 'POST',
							url: '/api/gtc-talk/store',
							data: formData,
							success: function (data, text) {
								location.reload();
							},
							error: function (request, status, error) {
								console.log('status', status);
								console.log('error', error);
							}
						});
					},
					error: function (error) {
						console.log("Error", error);
					}
				});
			} else {
				$.ajax({
					type: 'POST',
					url: '/api/gtc-talk/store',
					data: formData,
					success: function (data, text) {
						location.reload();
					},
					error: function (request, status, error) {
						console.log('status', status);
						console.log('error', error);
					}
				});

			}
		}
		var imgVal = $('input[name=talk_profile_pic_url]').val();
	});
});

</script> 
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}


<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>GTC Talk</h2>
						</div><br/>
						<div class="content-body">
                          <p>
							<small>Chat directly with users who are interacting with your page via the chat module at the bottom right of your profile
									screen.</small>
						  </p>
						<div class="alert" id="gtc-talk-alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
								<span class="talk-message"></span>
						</div>
						<div class="row">
							<div class="col-lg-12 ibox-title">
								<h2>GTC Talk Enabled</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12" style="padding-left:35px;">
									<small>
                                       <input type="radio" name="gtc_talk_enabled" value="1" {{setChecked 1 talk.gtc_talk_enabled}} >Yes
									<br/>
                                       <input class="input-padding" type="radio" name="gtc_talk_enabled" value="0" {{setChecked 0 talk.gtc_talk_enabled}} />No
								    </small>
                            </div>
						</div><br/>
						<div class="row">
							<div class="col-lg-12 ibox-title">
								<h2>GTC Talk Profile Pic</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12" style="padding-left:35px;">
								<small>{{#if talk.talk_profile_pic_url}}
                                <input type="radio" name="talk_profile_pic_url_radio" value="old" />Store Profile Photo/Logo(default)
								<br/>
								<input class="input-padding" type="radio" name="talk_profile_pic_url_radio" value="new" checked/> Custom {{else}} 
								<input type="radio" name="talk_profile_pic_url_radio" value="old" checked/>Store Profile Photo/Logo(default)<br/>
								<input class="input-padding" type="radio" name="talk_profile_pic_url_radio" value="new" /> Custom {{/if}}
								<div class="custom-file">
									<input type="file" value="talk_profile_pic_url" class="custom-file-input" id="talkProfile">
									<label class="custom-file-label customized-file-label" for="talkProfile">Browse...</label>
								</div>
								<input type="file" id="selectedFile" style="display: none;" name="talk_profile_pic_url" />
                                <input class="btn btn-small btn-muted" type="button" value="UPLOAD" onclick="document.getElementById('selectedFile').click();" /> 
								</small>
							</div>
						</div><br/>
						<div class="row">
							<div class="col-lg-12 ibox-title">
								<h2>Default Message</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5">
								<textarea class="form-control-customized" name="default_msg" placeholder="Thank you for contacting us. A representative will respond to your message shortly." rows="4">{{talk.default_msg}}</textarea>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-lg-12 ibox-title">
								<h2>Hours of Operation</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<p>
									<small>You can set a predefinted set of hours for someone to contact you each week.</small>
						  		</p>
								  {{#each busiHours}}
								  <p>
									<i class="fas fa-check-circle"></i>
									<span class="gtc-talk">
										{{#days this.from_day}}{{/days}} to {{#days this.to_day}}{{/days}}, from {{this.start_time}}am to {{this.end_time}} pm {{this.Timezone.timezone_abbreviation}}
									</span>
								</p>
								{{/each}}
								<p id="addNewTimeSlotForm">
									<i class="fas fa-plus-circle"></i>
									<span class="gtc-talk">Add another time slot </span>
								</p>
								<p id="hideNewTimeSlotForm">
									<i class="fas fa-minus-circle"></i>
									<span class="gtc-talk">Add another time slot </span>
								</p>
							</div>
						</div>
						<div class="row addTimeSlotFormNew">
                            <div class="col-lg-12">
								<form>
									<div class="row">
										{{!-- <div class="col-lg-1"> --}}
											<label class="label-control"  style="padding-left:20px;">From</label>
										{{!-- </div> --}}
										<div class="col-lg-2">
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" id="from_day" name="from_day">
												<option value="">from-day</option>
												{{#each dayCode}}
												<option value="{{this}}">{{@key}}</option>
												{{/each}}
											</select>
										</div>
										{{!-- <div class="col-lg-1"> --}}
											<label class="label-control">To</label>
										{{!-- </div> --}}
										<div class="col-lg-2">
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" id="to_day" name="to_day">
												<option value="">to-day</option>
												{{#each dayCode}}
												<option value="{{this}}">{{@key}}</option>
												{{/each}}
											</select>
										</div>
										{{!-- <div class="col-lg-1"> --}}
											<label class="label-control">Time</label>
										{{!-- </div> --}}
										<div class="col-lg-1">
											<input type="time" name="start_time" class="classic required" id="start_time">
                                        </div>
										<div class="col-lg-2">
											<input type="time" name="end_time" class="classic required" id="end_time">
                                        </div>
										<div class="col-lg-2">
											<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" id="time_zone">
												<option value="" selected>Time Zone</option>
												{{#each this.timeZone}}
												<option value={{this.id}}>{{this.timezone}}</option>
												{{/each}}
											</select>
										</div>
										<div class="col-lg-1">
											<button class="ladda-button btn btn-small btn-muted" id="uploadOperationHours" type="submit" data-style="expand-left">
												<span class="ladda-label">Submit</span>
												<span class="ladda-spinner"></span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								<button class="ladda-button btn update-btn btn-small btn-muted" id="UpdateTalks" type="submit" data-style="expand-left">
									<span class="ladda-label">UPDATE</span>
									<span class="ladda-spinner"></span>
								</button>
								<button class="ladda-button btn btn-small btn-muted" type="reset" data-style="expand-left">
									<span class="ladda-label">CANCEL</span>
									<span class="ladda-spinner"></span>
								</button>
							</div>
						</div>
				       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}

