<script type="text/javascript">
	$(document).ready(function() {
		$("#addTimeSlotFormNew").hide( );
		$("#addNewTimeSlot").click(function() {
			$("#addTimeSlotFormNew").show();
		});
	});

	// function timeCheck(val) {
	// 	var endTime = val.value;
	// 	var startTime = $('select[name=from_time]').val();
	// 	if (startTime) {
	// 		if (startTime > endTime) {
	// 			alert("Start Time is less than End Time");
	// 		}
	// 	} else {
	// 		alert("Please select start time");
	// 	}
	// }
	$(document).ready(function() {
		$("#uploadOperationHours").click(function(e) {
			e.preventDefault();
			alert($('#start_time').val(),$('input[name=end_time]').val())
			var op_hours = {};
			op_hours.from_day = $('#from_day').val();
			op_hours.to_day = $('#to_day').val();
			op_hours.start_time =  $('input[name=start_time]').val();
			op_hours.end_time = $('input[name=end_time]').val();
			op_hours.timezone_id = $('#time_zone').val();
			$.ajax({
				type: 'POST',
				url: '/api/gtc-talk/working-hours',
				data: op_hours,
				success: function(data, text) {
					$("#addTimeSlotForm").hide();
					location.reload();
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
		});
	});
	
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#UpdateTalks").click(function(e) {
			var img = $('input[name=talk_profile_pic_url_radio]:checked').val();
        // alert(img);
        var formData = {
        	'gtc_talk_enabled'            : $('input[name=gtc_talk_enabled]:checked').val(),
        	'talk_profile_pic_url_radio'  : $('input[name=talk_profile_pic_url_radio]:checked').val(),
        	'default_msg'     : $('textarea[name=default_msg]').val(),
        };
        if(img == "old"){
        	formData.talk_profile_pic_url = '';
        	$.ajax({
        		type: 'POST',
        		url: '/api/gtc-talk/store',
        		data: formData,
        		success: function(data, text) {
        			location.reload();
        		},
        		error: function(request, status, error) {
        			console.log('status', status);
        			console.log('error', error);
        		}
        	});
        }else{
        	var imgVal = $('input[name=talk_profile_pic_url]').val();
        	var form = new FormData();
        	form.append("file", $("#selectedFile")[0].files[0]);
            // formData.file = form;
            if(imgVal){
            	$.ajax({
            		type: 'POST',
            		url: '/api/TalkSetting/upload',
            		data: form,
            		cache: false,
            		dataType: 'json',
            		processData: false,
            		contentType: false,
            		success: function (data) {
            			formData.talk_profile_pic_url = data.imageURL;
            			$.ajax({
            				type: 'POST',
            				url: '/api/gtc-talk/store',
            				data: formData,
            				success: function(data, text) {
            					location.reload();
            				},
            				error: function(request, status, error) {
            					console.log('status', status);
            					console.log('error', error);
            				}
            			});
            		},
            		error: function (error) {
            			console.log("Error", error);
            		}
            	});
            }else{
            	$.ajax({
            		type: 'POST',
            		url: '/api/gtc-talk/store',
            		data: formData,
            		success: function(data, text) {
            			location.reload();
            		},
            		error: function(request, status, error) {
            			console.log('status', status);
            			console.log('error', error);
            		}
            	});
            	
            }
        }
        var imgVal = $('input[name=talk_profile_pic_url]').val(); 
    });
	});

</script>
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8 list_bg">
					<form method="POST" action="">
						<h5 class="gtc-title"> GTC Talk </h5>
						<p class="gtc-talk">Chat directly with users who are interacting with your page via the chat module at the bottom right of your profile screen. </p>
						<p><h5 class="gtc-title">GTC Talk Enabled </h5></p>
						<p class="gtc-talk">
							<input type="radio" name="gtc_talk_enabled" value="1" {{setChecked 1 talk.gtc_talk_enabled}}>Yes<br>
							<input class="input-padding" type="radio" name="gtc_talk_enabled" value="0" {{setChecked 0 talk.gtc_talk_enabled}} />No 
						</p>
						<p><h5 class="gtc-title"> GTC Talk Profile Pic</h5> </p>
						<p class="gtc-talk">
							{{#if talk.talk_profile_pic_url}}
							<input type="radio" name="talk_profile_pic_url_radio" value="old" />Store Profile Photo/Logo(default)<br>
							<input class="input-padding" type="radio" name="talk_profile_pic_url_radio" value="new" checked/> Custom
							{{else}}
							<input type="radio" name="talk_profile_pic_url_radio" value="old" checked/>Store Profile Photo/Logo(default)<br>
							<input class="input-padding" type="radio" name="talk_profile_pic_url_radio" value="new"/> Custom
							{{/if}}
							<select class="file-uploade">
								<option value="talk_profile_pic_url" selected="">Browse...</option>
							</select>
							<input type="file" id="selectedFile" style="display: none;" name="talk_profile_pic_url" />
							<input class="upload-btn1" type="button" value="Upload" onclick="document.getElementById('selectedFile').click();" />
						</p>
						<p><h5 class="gtc-title">Default Message </h5></p>
						<p class="default-msg"><textarea name="default_msg" rows="5" cols="55">{{talk.default_msg}}</textarea> 
						</p> 
						<p><h5 class="gtc-title">Hours of Operation </h5> </p>
						<p class="gtc-talk-pic">You can set a predefinted set of hours for someone to contact you each week. </p>
						{{#each busiHours}}
						<p><i class="fas fa-check-circle"></i>
							<span class="gtc-talk"> 
								{{#days this.from_day}}{{/days}}
								to {{#days this.to_day}}{{/days}}, from {{this.start_time}}am to 
								{{this.end_time}} pm {{this.Timezone.timezone_abbreviation}}
							</span>
						</p>
						{{/each}}
						<p id="addNewTimeSlot"><i class="fas fa-plus-circle"></i>
							<span class="gtc-talk">Add another time slot </span>
						</p>
						<div id="addTimeSlotFormNew">
						<form >
							<div class="col-md-4 hop-container" style="float:  left;">
								<div class="col-md-5 hop-container" style="float: left;">
									<label class="hop"> From </label>
									<select class="classic" id="from_day" name="from_day">
										<option value = "">from-day</option>
										{{#each dayCode}}
										<option value = "{{this}}">{{@key}}</option>
										{{/each}}
									</select>
								</div>
								<div class="col-md-6 hop-container" style="float: left;">
									<label class="hop"> To </label>
									<select class="classic" name="to_day" id="to_day">
										<option value = "">to-day</option>
										{{#each dayCode}}
										<option value = "{{this}}">{{@key}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-md-4 hop-container" style="float:  left;">
								<label class="hop" style="float:  left;"> Time </label>
								<input type="time" name="start_time" class="classic required" id="start_time" style="float:  left;">
								<p class="hop-time" style="float:  left;">-</p>
								<input type="time" name="end_time" class="classic required" id="end_time" style="float:  left;" >
								{{!-- onchange="timeCheck(this)" --}}
							</div>
							<div class="col-md-4 hop-container" style="float:  left;">
								<select class="classic" id="time_zone">
									<option value="" selected>Time Zone</option>
									{{#each this.timeZone}}
									<option value={{this.id}}>{{this.timezone}}</option>
									{{/each}}
								</select>
								<button type="submit" value="upload" id="uploadOperationHours" Class="upload-btn">Submit</button>
							</div>
						</form>
						</div>
						
						<hr>
						<div class="col-md-4">
							<button class="update-btn" type="submit" id = "UpdateTalks">Update</button>
							<button class="cancel-btn" type="reset">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
{{> footer/bottom-footer}}