{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<script>
var vendor_id = {{{ DisplayJSON LoggedInUser.Vendor.id}}}
    function validate() {

        if ($('#terms_of_use').val().length > 0 ||
            $('#return_policy').val().length > 0 ||
            $('#shipping_policy').val().length > 0) {
            $("#submitBtn").removeAttr('disabled');
        }
        else {
            $("#submitBtn").attr('disabled', 'disabled');
        }
    }

    $(document).ready(function () {
        $("#gtc-cart-alert").hide();

        validate();
        $('#terms_of_use, #return_policy, #shipping_policy').change(validate);

        $("#termsAndCondForm").submit(function (e) {
            e.preventDefault();

            let input = $("#termsAndCondForm :input").serialize();

            var termsAndCondInput = input + '&vendor_id=' + vendor_id + '&status=' + 1;
            $.ajax({
                type: 'PUT',
                url: '/api/vendor-props/upsert',
                data: termsAndCondInput,
                success: function (data) {
                    $('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
                    $('#gtc-cart-alert .cart-message').text("Updated Successfully")
                    $("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#gtc-cart-alert").slideUp(100);
                    });
					setTimeout(function() {
						location.reload();
					}, 1000);
                },
                error: function (error) {
                    $('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
                    $('#gtc-cart-alert .cart-message').text("Server error please try later")
                    $("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function () {
                        $("#gtc-cart-alert").slideUp(100);
                    });
                }
            });
        });
    });
</script>
<div class="wrapper-content bg-gray">
    <div class="gtc-container">
        <div class="row">
            <div class="col-sm-2">
                {{> vendor/vendor-side-navbar}}
            </div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
            <div class="col-sm-10">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="ibox-title">
                            <h2>Terms & Conditions</h2>
                        </div>
                        <div class="alert" id="gtc-cart-alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="cart-message"></span>
                        </div>
						<br/>
                        <input type="hidden" name="id" id="id" value={{termsAndCond.id}}>
                        <input type="hidden" name="vendor_id" id="vendorid" value={{termsAndCond.vendor_id}}>
                        <div class="content-body">
							<p>
								<small>Please enter your stores, return policy, shipping policy and terms of use to be displayed on
                                your stores front-end, and during the checkout process for your users.</small>
						  	</p>
                            <form id="termsAndCondForm" class="form">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <p class="re_terms_pa">Terms Of Use</p>
                                            <textarea class="form-control-customized" id="terms_of_use" name="terms_of_use" rows="6">{{termsAndCond.terms_of_use}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <p class="re_terms_pa">Return Policy</p>
                                            <textarea class="form-control-customized" id="return_policy" name="return_policy" rows="6">{{termsAndCond.return_policy}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <p class="re_terms_pa">Shipping Policy</p>
                                            <textarea class="form-control-customized" id="shipping_policy" name="shipping_policy" rows="6">{{termsAndCond.shipping_policy}}</textarea>
                                        </div>
                                    </div>
                                </div>
								<hr/>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" disabled="true" id="submitBtn" class="ladda-button btn update-btn btn-small btn-muted" data-style="expand-left">
                                            <span class="ladda-label">UPDATE</span>
                                            <span class="ladda-spinner"></span>
                                        </button>
                                        <button type="reset" class="ladda-button btn btn-small btn-muted">CANCEL</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
        </div>
    </div>
</div>
{{> footer/bottom-footer}}