<script type="text/javascript">

	$(function() {
		//$('#planDetailShow').hide();
		$('#selectplan').change(function() {
			if (document.getElementById("selectplan").value != '') {
				if (document.getElementById("selectplan").value == '1') {
					$('#usercarddetails').hide();
				}
				else {
					$('#usercarddetails').show();
				}
			}
		});
	});

	$(document).ready(function() {
		$("#userPlandetails").validate({
			rules: {
				selectplan: {
					required: true
				},
				selectcard_details: {
					required: true
				}
			},
			messages: {
				selectplan: {
					required: "Please select the plan",
				},
				selectcard_details: {
					required: "Please select the card details",
				}
			}
		});

		$("#userPlandetails").submit(function(e) {
			e.preventDefault();
			if ($('#userPlandetails').valid()) {
				if (($('#userplanStatus').val() == '2') || ($('#userplanStatus').val() == '0')) {
					planUpgrade();
				}
				else if ($('#userplanStatus').val() == '1') {
					$('#myModal2').modal('show');
				}
			}
		});

		$('#contUpgrading').click(function(e){
			planUpgrade();
		});

		function planUpgrade(){
			var plan_id = document.getElementById("selectplan").value;
			$.ajax({
				url: '/api/upgrade-plan/selectplan',
				type: 'POST',
				contentType: 'application/json',
				dataType: "json",
				data: JSON.stringify({
					id: plan_id
				}),
				success: function(data) {
					$('#Plan_cost').html("Total plan charge: $" + data.data.cost);
					$('#useramount').val(data.data.cost);
					$('#myModal').modal('show');

				},
				error: function(error) {
					$('#complete-order-submit').prop('disabled', false);
					$('#complete-order-submit').css({
						'cursor': "pointer"
					});
				}
			});
		}

		$('#showDetails').click(function(e){
			if($(this).text() == 'Show Details'){
				$(this).text('Hide Details');
			}
			else{
				$(this).text('Show Details');
			}
			$('#planDetailShow').toggle();	
		})

		$('#paymentSuccessOk').click(function(e){
			window.location = '/upgradeplan/userBulkupgradePlan';
		})
	});

	function makePayment() {
		var plan_id = document.getElementById("selectplan").value;
		if ($('[type="checkbox"]').is(":checked")) {
			var autoRenewalMail = 1;
		}
		$.ajax({
			url: '/api/payment/planpay',
			type: 'POST',
			contentType: 'application/json',
			dataType: "json",
			data: JSON.stringify({
				stripe_customer_id: $('input[name="stripe_customer_id"]').val(),
				amount: $('input[name="amount"]').val(),
				carddetailsid: $('input[name="carddetailsid"]').val(),
				plan_id: plan_id,
				user_id: $('input[name="user_id"]').val(),
				vendor_id: $('input[name="vendor_id"]').val(),
				autoRenewalMail: autoRenewalMail
			}),
			success: function(data) {
				setTimeout(function() {
					$('#myModal').modal('hide');
					$('#paymentSuccess').modal('show');
				}, 1000);
			},
			error: function(error) {
				$('#complete-order-submit').prop('disabled', false);
				$('#complete-order-submit').css({
					'cursor': "pointer"
				});
			}
		});
	}
</script> 

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Upgrade Plan</h2>
						</div><br/>
						<div class="content-body">
							<form id="userPlandetails" class="form">
								<div class="row">
									<div class="col-lg-2"><p>Select plan</p></div>
									<div class="col-lg-3" style="padding-left:0px;">
										<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="selectplan" id="selectplan" required>
											{{#ifCond userplanDetails '==' "1"}}
												<option value="5">Bulk Buyer</option>
												{{else}}
													<option disabled selected>Select...</option>
													<option value="5">Bulk Buyer</option>
											{{/ifCond}}
										</select>
									</div>
									<div class="col-lg-3">
										<div id="showDetails" style="color:#4078b0;cursor:pointer;">Hide Details</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2"><p>Payment card</p></div>
									<div class="col-lg-3" style="padding-left:0px;">
										<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="selectcard_details" id="selectcard_details" required>
											{{#ifCond carddetails '!=' '' }}
												{{#each carddetails}}
													<option value="{{this}}">**** **** **** {{json this.card_details 'last4'}}</option>
												{{/each}}
											{{else}}
												<option disabled="" selected="">Select...</option>
											{{/ifCond}}
										</select>
									</div>
									<div class="col-lg-3">
										<a href="/billing-settings">Add Card</a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2"><p>Auto-renew</p></div>
									<div class="col-lg-3" style="padding-left:0px;">
										<div class="customCheckbox">
											<input type="checkbox" id="inputTerms"  name="autorenewalmail" class="customCheckboxInput">
											<label class="checkbox-b" for="inputTerms"></label>
										</div>&nbsp;&nbsp;&nbsp;&nbsp;Yes
									</div>
								</div>
								{{#each carddetails}}
									<input type="hidden" name="stripe_customer_id" value="{{this.stripe_customer_id}}">
									<input type="hidden" name="carddetailsid" value="{{this.stripe_card_id}}">
								{{/each}}
								<input type="hidden" name="amount" id="useramount" value="">
								<input type="hidden" name="vendor_id" value="0">
								<input type="hidden" name="user_id" value="{{LoggedInUser.id}}">
								{{#ifCond userplanDetails.count '!=' 0}}
									<input type="hidden" name="userplanStatus" id="userplanStatus" value="{{userplanDetails.rows.[0].status}}" /> {{else ifCond userplanDetails.count '==' 0 }}
									<input type="hidden" name="userplanStatus" id="userplanStatus" value="0" />
								{{/ifCond}}
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<button class="ladda-button btn btn-md update-btn m-t" type="submit" data-style="expand-left">
												<span class="ladda-label">UPGRADE</span>
												<span class="ladda-spinner"></span>
											</button>
											<button class="ladda-button btn btn-md btn-muted m-t" type="reset" id="userCancelBtn" data-style="expand-left">
												<span class="ladda-label">CANCEL</span>
												<span class="ladda-spinner"></span>
											</button>
										</div>
									</div>
								</div>
							</form>
							<div id="planDetailShow">
								<div class="row">
									<div class="col-md-3"></div>
									<div class="starter_seller_pug plan-card">
										<h3 class="text-center">BULK BUYER</h3>
										<h1 class="text-center">$99
											<span class="sub-b">/MO</span>
										</h1>
										<small class="font-weight-light m-b text-center">Full buyer access to the wholesale network connect, build relationships and buy wholesale with bulk distributors worldwide.</small>
										<ul>
											<li>
												<strong>Unlimited</strong> Transactions Per Month</li>
											<li>Maxmium
												<strong>1 Subscription</strong>
											</li>
											<li>
												<b>No Assitinal Fee to</b> Buyers</li>
											<li>Secure
												<strong>Escrow</strong>Online Transactions</li>
											<li>
												<strong>Paypal</strong> and/or
												<strong>Stripe</strong> Payment</li>
											<li>
												<strong>Custom Branded</strong> Store Front</li>
											<li>
												<strong>Volume</strong> Based Pricing</li>
											<li>
												<strong>Limited</strong> Support</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upgrade plan</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p id="Plan_cost"></p>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-md btn-muted m-t" data-dismiss="modal">
					<b>CANCEL
						<b/>
				</button>
				<button type="submit" class="btn btn-md update-btn m-t" onclick="makePayment()">
					<b>PAY</b>
				</button>
			</div>
		</div>
	</div>
</div>

<div id="paymentSuccess" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Success</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>Plan upgraded successfully</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-md btn-muted m-t" data-dismiss="modal" id="paymentSuccessOk">OK</button>
			</div>
		</div>
	</div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upgrade Plan</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>Your current plan not expired yet. Would you still like to continue upgrading?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-md btn-muted m-t" id="contUpgrading" data-dismiss="modal">YES</button>
			</div>
		</div>
	</div>
</div>

{{> footer/bottom-footer}}