<script type="text/javascript">
	$(document).ready(function() {
		$("#personalIdProof_img").hide();
		$("#personalAddressProof_img").hide();
		$("#businessIdProof_img").hide();
		$("#businessAddressProof_img").hide();
		$("#gtc-cart-alert").hide();
		var formSubmitBtn = $("#verificationForm button[type='submit']");
		var formInputFile = $('#verificationForm input[type="file"]')

		$('.custom-file-input').on('change', function() {
			let fileName = $(this).val().split('\\').pop();
			$(this).next('.customized-file-label').addClass("selected").html(fileName);
		});

		$('#resetForm').click(function() {
			formInputFile.val('');
			$('#verificationForm input[type="radio"]').val('');
			formInputFile.siblings("label").text("")
		});
		var data = {{{ DisplayJSON verification }}}

		formInputFile.change(function() {
			formSubmitBtn.removeAttr("disabled")
			formSubmitBtn.css("cursor", "pointer")

		});
		 $("#verificationForm").change(function(){
	        formSubmitBtn.removeAttr("disabled")
			formSubmitBtn.css("cursor", "pointer")
	    });

		$("#verificationForm").submit(function(e) {
			
			e.preventDefault();
			var formData = new FormData();

			if ($("#personalIdProof")[0].files[0]){
				formData.append("personal_id_verification_file_link", $("#personalIdProof")[0].files[0]);
			}
			
			if ($("#personalAddressProof")[0].files[0]){
				formData.append('personal_address_verification_file_link', $("#personalAddressProof")[0].files[0]);
			}
				
			if ($("#businessIdProof")[0].files[0])
				formData.append("business_verification_file_link", $("#businessIdProof")[0].files[0]);

			if ($("#businessAddressProof")[0].files[0]){
				formData.append("business_address_verification_file_link", $("#businessAddressProof")[0].files[0]);
			}

			var obj = {};
			obj['personal_id_verification_file_type'] = $('input[name=personal_id_verification_file_type]:checked').val();
			formData.append('data',JSON.stringify(obj));
			if(!data){
				$.ajax({
					type: 'POST',
					url: '/api/verification/store',
					data: formData,
					cache: false,
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function(data) {
						ouputPopup(data.messageDetails);
					},
					error: function(err) {
						console.log("error:::", err)
						ouputPopupError(err.messageDetails);
					}
				});
			} else {
				$.ajax({
					type: 'PUT',
					url: '/api/verification/store/' + data.id,//$("#verification_id").val(),
					data: formData,
					cache: false,
					dataType: 'json',
					processData: false,
					contentType: false,
					success: function(data) {
						console.log("data", data)
						ouputPopup(data.messageDetails);
					},
					error: function(err) {
						console.log("error:::", err)
						ouputPopupError(err.messageDetails);
					}
				});

			}

		});
	});
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#'+input.id+'_img').show();
				$('#'+input.id+'_img_old').hide();
				$('#'+input.id+'_img').attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}
	}
	function ouputPopup(data) {
		$('#gtc-cart-alert').prop('disabled', false);
		$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
		$('#gtc-cart-alert .alert-message').text(data);
		$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
			$("#gtc-cart-alert").slideUp(500);
			location.reload();
		});
	}

	function ouputPopupError(data) {
		$('#gtc-cart-alert').prop('disabled', false);
		$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
		$('#gtc-cart-alert .alert-message').text(data);
		$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
			$("#gtc-cart-alert").slideUp(500);
			location.reload();
		});
	}
</script> 

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<form role="form" id="verificationForm">
								<h5 class="gtc-title" style="float: left;font-size:23px">GTC Store Verification</h5>
								<p class="verification-incomplete">
									{{{verificationStatus verificationStatus verification.vendor_verified_status 'Document'}}}
								</p>
								<div class="alert" id="gtc-cart-alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span>
									</button>
									<span class="alert-message"></span>
								</div>
								<p style="font-size: 13px;padding-left:5px">
									Global Trade Connects requires all vendor to go through a several step process of documentation submission in order to verify
									their ownership of the business they are representing. Please submit the following 4 peices of documentation to
									verify your ownership of this business.
								</p>
								<hr style="margin-top: 25px;">
								<div class="row">
									<h5 class="gtc-title" style=" padding-left: 20px; float: left;font-size:23px"> Personal ID Verification</h5>
									<p class="verification-incomplete">{{{verificationStatus verificationStatus verification.personal_id_verification_file_status 'Personal Id' verification.personal_id_reason_for_reject}}}
								</div>
								<p class="verfication_para">
									Choose 1 of the 3 following type of ID to upload to verify your personal identity
								</p>
								<div class="col-md-6">
									<input type="radio" value="passport" name="personal_id_verification_file_type" {{setChecked "passport" verification.personal_id_verification_file_type}}
									/>
									<label for="passport" class="upload-id-card">Passport </label>
									<br>
									<input type="radio" value="nationalIdCard" name="personal_id_verification_file_type" {{setChecked "nationalIdCard" verification.personal_id_verification_file_type}}
									/>
									<label for="nationalIdCard" class="upload-id-card">National Id card</label>
									<br>
									<input type="radio" value="drivingLicense" name="personal_id_verification_file_type" {{setChecked "drivingLicense" verification.personal_id_verification_file_type}}
									/>
									<label for="drivingLicense" class="upload-id-card">Driving license</label>

									<div class="input-group rt-7">
										<div class="custom-file custom_error_message">
											<input type="file" class="custom-file-input" onchange="readURL(this);" id="personalIdProof" name="personalIdProof" accept=".jpeg, .jpg, .png, .pdf"> 
											<label name="pId" class="custom-file-label customized-file-label clrlbl" style="margin: auto 8px;" for="personalIdProof">Browse</label>
										</div>
									</div>
									{{#if verification.personal_id_verification_file_link }}
									<img id="personalIdProof_img_old" src="{{verification.personal_id_verification_file_link}}" alt="your image" class="verification-id" style="object-fit: contain;"
									/> {{/if}}
									<input type="hidden" id="personal_id_verification_file_link">
									<img class="verification-id" id="personalIdProof_img" />
								</div>
								<hr style="margin-top: 25px;">
								<div class="row">
									<h5 class="gtc-title" style="padding-left: 20px; float: left;font-size:23px">Upload Bill With Personal Address</h5>
									<p class="verification-incomplete">
										{{{verificationStatus verificationStatus verification.personal_address_verification_file_status 'Personal Address'verification.personal_address_reason_for_reject}}}
									</p>
								</div>
								<p class="verfication_para">
									Please atleast one utility bill which has the name of the Personal Address you've registered on it
								</p>
								<div class="col-md-6">
									<div class="input-group rt-20">
										<div class="custom-file custom_error_message">
											<input type="file" class="custom-file-input" id="personalAddressProof" name="personalAddressProof" accept=".jpg, .png, .pdf" onchange="readURL(this);">
											<label name="pAddress" class="custom-file-label customized-file-label" style="margin: auto 8px;" for="personalAddressProof">Browse</label>
										</div>
									</div>

									<br>
									<input type="hidden" id="personal_address_verification_file_link">
									{{#if verification.personal_address_verification_file_link }}
									<img id="personalAddressProof_img_old" src="{{verification.personal_address_verification_file_link}}" alt="your image" class="verification-id"
									style="object-fit: contain;" />
									{{/if}}
									<img id="personalAddressProof_img" alt="your image" class="verification-id" style="object-fit: contain;" />
									<input type="hidden" id="personal_address_verification_file_link">
								</div>
								<hr style="margin-top: 25px;">
								<div class="row">
									<h5 class="gtc-title" style="padding-left: 20px; float: left;font-size:23px">
										Business License / Articles Of Incorporation
									</h5>
									<p class="verification-incomplete">
										{{{verificationStatus verificationStatus verification.business_verification_file_status 'Business License' verification.business_id_reason_for_reject}}}
									</p>
								</div>
								<p class="verfication_para">
									Submit at least one piece of documentation which confirms you have an active business license, or an article of incorporation.
								</p>
								<div class="col-md-6">
									<div class="input-group rt-20">
										<div class="custom-file custom_error_message">
											<input type="file" class="custom-file-input" id="businessIdProof" name="businessIdProof" accept=".jpg, .png, .pdf" onchange="readURL(this);">
											<label name="bId" class="custom-file-label customized-file-label" style="margin: auto 8px;" for="businessIdProof">Browse</label>
										</div>
									</div>
									<br>
									<img id="businessIdProof_img" alt="your image" class="verification-id" style="object-fit: contain;" />
									<input type="hidden" id="business_verification_file_link">
									{{#if verification.business_verification_file_link }}
									<img id="businessIdProof_img_old" src="{{verification.business_verification_file_link}}" alt="your image" class="verification-id" style="object-fit: contain;"
									/> {{/if}}
								</div>
								<hr style="margin-top: 25px;">
								<div class="row">
									<h5 class="gtc-title" style="padding-left: 20px; float: left;font-size:23px">Upload Bill with address</h5>
									<p class="verification-incomplete">
										{{{verificationStatus verificationStatus verification.business_address_verification_file_status  'Business Address'verification.business_address_reason_for_reject}}}
									</p>
								</div>
								<p class="verfication_para">Please atleast one utility bill which has the name of the Company you've registered on it</p>
								<div class="col-md-6">
									<div class="input-group rt-20">
										<div class="custom-file custom_error_message">
											<input type="file" class="custom-file-input" id="businessAddressProof" name="businessAddressProof" accept=".jpg, .png, .pdf" onchange="readURL(this);">
											<label name="bAddress" class="custom-file-label customized-file-label" style="margin: auto 8px;" for="businessAddressProof">Browse</label>
										</div>
									</div>
									<br>
									<img id="businessAddressProof_img" alt="your image" class="verification-id" style="object-fit: contain;" />
									<input type="hidden" id="business_address_verification_file_link">
									{{#if verification.business_address_verification_file_link }}
									<img id="businessAddressProof_img_old" src="{{verification.business_address_verification_file_link}}" alt="your image" class="verification-id"
									style="object-fit: contain;" /> {{/if}}
								</div>
								<hr style="margin-top: 25px;">
								<div style="display:none">

									<h5 class="gtc-title verfication_header" style="padding-top: 20px; padding-left: 5px; float: left;">Connect a Social Account
									</h5>
									<p class="verification-incomplete">
										<span class="exclamation">
											<i class="fas fa-exclamation-circle"></i>
										</span>You haven't submitted this yet.
									</p>
									<p>
										<small>Connect with one of the following accounts to prove you have ownership of at least social media profile</small>
									</p>
									<div class="col-md-10">
										<button class="ladda-button btn btn-small btn-muted" type="button" id="gtcVerficationFbLogin">
											<i class="fab fa-facebook-f" style="padding-right: 10px;"></i>
											CONNECT WITH FACEBOOK
										</button>
										<button class="ladda-button btn btn-small btn-muted" type="button" id="gtcVerficationLinkedLogin">
											<i class="fab fa-linkedin-in" style="padding-right: 10px;"></i>
											CONNECT WITH LINKEDIN
										</button>
										<button class="ladda-button btn btn-small btn-muted" type="button" id="gtcVerficationTwitterLogin">
											<i class="fab fa-twitter" style="padding-right: 10px;"></i>
											CONNECT WITH TWITTER
										</button>
									</div>
									<hr/>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button class="ladda-button btn btn-md update-btn m-t" disabled type="submit" data-style="expand-left" id="uploadDocs" >{{!-- disables --}}
											<span class="ladda-label">UPDATE</span>
											<span class="ladda-spinner"></span>
										</button>
										<button class="ladda-button btn btn-md btn-muted m-t" type="reset" data-style="expand-left" id="resetForm">
											<span class="ladda-label">CANCEL</span>
											<span class="ladda-spinner"></span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{{else}}
			{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}