<script type="text/javascript">
	var params = {{{ DisplayJSON queryParamsString }}};

	$(document).ready(function() {
		var startDate, endDate;

		$('#inputDateRange').on('change', function() {
			if ($("#inputDateRange").val() == 1) {
				startDate = new Date();
				endDate = new Date();
			} else if ($("#inputDateRange").val() == 2) {
				startDate = new Date();
				endDate = new Date();
				startDate.setDate(startDate.getDate() - 1);
				endDate.setDate(endDate.getDate() - 1);
			} else if ($("#inputDateRange").val() == 3) {
				startDate = new Date();
				endDate = new Date();
				startDate.setDate(startDate.getDate() - 7);
				endDate.setDate(endDate.getDate() - 1);
			} else if ($("#inputDateRange").val() == 4) {
				startDate = new Date();
				endDate = new Date();
				startDate.setDate(startDate.getDate() - 30);
				endDate.setDate(endDate.getDate() - 1);
			} else if ($("#inputDateRange").val() == 5) {
				startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
				endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);
			} else if ($("#inputDateRange").val() == 6) {
				startDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
				endDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1 + 1, 0);
			} else {
				startDate = null;
				endDate = null;
			}
		});

		$("#orderHistoryForm").submit(function(event) {
			event.preventDefault();

			params = replaceUrlParam(params, "range", $("#inputDateRange").val());
			if (convert(startDate) && convert(endDate)) {
				params = replaceUrlParam(params, "start_date", convert(startDate));
				params = replaceUrlParam(params, "end_date", convert(endDate));
			}
			if ($("#inputDateRange").val() == 0) {
				params = replaceUrlParam(params, "start_date", null);
				params = replaceUrlParam(params, "end_date", null);
			}
			if ($("#inputStatus").val() != 0) {
				params = replaceUrlParam(params, "status", $("#inputStatus").val());
			} else {
				params = replaceUrlParam(params, "status", null);
			}
			location.href = "/order-history?" + params;
		});

		$("#searchOrderHistoryForm").submit(function(event) {
			event.preventDefault();
			if ($("#orderID").val()) {
				params = replaceUrlParam(params, "query", $("#orderID").val());
			} else {
				params = replaceUrlParam(params, "query", null);
			}
			location.href = "/order-history?" + params;
		});


	});

	function limit(size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "/order-history?" + params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	function convert(str) {
		if (str) {
			var date = new Date(str),
				mnth = ("0" + (date.getMonth() + 1)).slice(-2),
				day = ("0" + date.getDate()).slice(-2);
			return [mnth, day, date.getFullYear()].join("/");
		}
	}

	function selectAll(element) {
		var checkboxes = document.getElementsByTagName('input');
		if (element.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}

	function downloadCSV(args) {
		var chkArray = [];
		$(':checkbox:checked').each(function(i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val())
			}
		});
		if (chkArray != '') {
			var selectedvalues = JSON.stringify(chkArray);
			$.ajax({
				type: 'POST',
				url: '/api/export-csv/orderhistorycsv',
				contentType: 'application/json',
				data: JSON.stringify({
					id: selectedvalues
				}),
				success: function(data) {
					var csvData = new Blob([data], { type: 'text/csv;charset=utf-8;' });
					var csvURL = null;
					if (navigator.msSaveBlob) {
						csvURL = navigator.msSaveBlob(csvData, 'orderhistory.csv');
					} else {
						csvURL = window.URL.createObjectURL(csvData);
					}
					var tempLink = document.createElement('a');
					tempLink.href = csvURL;
					tempLink.setAttribute('download', 'orderhistory.csv');
					tempLink.click();

				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		}
		else {
			$("#gtc-form-alert").show();
			$('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
			$('#gtc-form-alert .form-message').text("Please select the orders");
			$("#gtc-form-alert").fadeTo(2000, 500).slideUp(500, function() {
				$("#gtc-form-alert").slideUp(500);
			});
		}
	}

</script> {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2> Personal Order History
								<span class="pull-right" style="font-size:12px">
									<a href="/order-history">Clear All</a>
								</span>
							</h2>
						</div>
						<div class="content-body">
							<div class="alert" id="gtc-form-alert" style="display:none">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="form-message"></span>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form class="form-inline pull-left m-t-md" name="order_history_form" id="orderHistoryForm">
										<div class="form-group m-r">
											<div class="select-container">
												<select id="inputDateRange" class="form-control-customized form-control-sm custom-dropdown" name="date_range">
													<option value="0">Select...</option>
													{{#each dateRangeOptions}}
														<option {{#ifCond @root.queryParams.range '==' this.value}} selected="true" {{/ifCond}} value="{{this.value}}">{{this.column}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class="form-group m-r">
											<div class="select-container">
												<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" name="status">
													<option value="0">Select...</option>
													<option value="1" {{#ifCond queryParams.status '==' 1}} selected="true" {{/ifCond}}>ACTIVE</option>
													<option value="2" {{#ifCond queryParams.status '==' 2}} selected="true" {{/ifCond}}>FAILED</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-md btn-muted">SEARCH</button>
										</div>
									</form>
									<form class="form-inline pull-right m-t-md" name="search_order_history_form" id="searchOrderHistoryForm">
										<div class="form-group m-r">
											<button type="button" class="btn btn-md btn-muted" onclick='downloadCSV({ filename: "stock-data.csv" });'>EXPORT</button>
											<input type="hidden" name="user_id" id="loginuserid" value= {{LoggedInUser.id}}>

										</div>
										<div class="form-group">
											<div class="input-group gtc-rounded">
												<input type="text" placeholder="Search Order#" name="order_id" id="orderID" value="{{queryParams.query}}" class="form-control form-control-sm">
												<button type="submit" class="btn btn-sm btn-gtc">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							{{#if orders.count}}
								<div class="row py-2">
									<div class="col-md-12">
										<small class="font-weight-light">{{orders.count}} items total</small>
										<div class="float-right">
											<small class="font-weight-light">Entries per page : </small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)" href="javascript:;">All</a>
											</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											<thead>
												<tr>
													<th>
														<div class="customCheckbox">
															<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
															<label class="checkbox-b" for="inputCheckbox"></label>
														</div>
													</th>
													<th>Order#</th>
													<th>Date</th>
													<th>Method</th>
													<th colspan="2">Date</th>
													<th>Amount</th>
												</tr>
											</thead>
											<tbody>
												{{#each orders.rows}}
													<tr>
														<td>
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms{{this.id}}" value="{{this.id}}" class="customCheckboxInput">
																<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
															</div>
														</td>
														<td>
															<a href="../order-history/{{this.id}}">{{this.id}}</a>
														</td>
														<td>{{formatTime this.ordered_date "MMM D, Y"}}</td>
														<td>Stripe</td>
														<td>
															{{#if this.status}} Active {{else}}Failed {{/if}}
														</td>
														<td>Track Order</td>
														<td>{{currency this.total_price '$'}} CAD</td>
													</tr>
												{{/each}}
												<tr>
													<td colspan="5"></td>
													<td class="text-right">Total Transaction : </td>
													<td>{{currency @root.orders.total '$'}} CAD</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								{{!-- Pagination starts --}}
								{{#ifCond orders.count '>' queryParams.limit}}
									<div class="row">
										<div class="col-md-12 align-self-center">
											{{#pagination orders.count queryParams.page queryParams.limit 2}}
												<nav aria-label="Page navigation example">
													<ul class="pagination justify-content-center">
														{{#unless startFromFirstPage}}
															<li class="justify-content-center align-self-center">
																<a href="../order-history?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryParams.page 1) limit=@root.queryParams.limit)}}">
																	<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
															</li>
														{{/unless}}
														{{#each pages}}
															<li class="page-item {{#if isCurrent}} active {{/if}}">
																<a class="page-link" href="../order-history?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryParams.limit)}}">{{page}}</a>
															</li>
														{{/each}}
														{{#unless endAtLastPage}}
															<li class="justify-content-center align-self-center">
																<a href="../order-history?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryParams.page 1) limit=@root.queryParams.limit)}}">Next&nbsp;
																	<i class="fa fa-angle-double-right"></i>
																</a>
															</li>
														{{/unless}}
													</ul>
												</nav>
											{{/pagination}}
										</div>
									</div>
								{{/ifCond}}
								{{!-- Pagination Ends --}}
							{{else}}
								<h4 class="font-weight-light py-3 text-center">No Results!</h4>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}