<script>
	function changeStatus(e) {
		window.location.href = '/subscription?status=' + e.value;
	}

	function search(e) {
		window.location.href = '/subscription?keyword=' + e.value;
	}

	$(document).ready(function () {
		$('.unSubscribe').click(function(e){

			var subscriptionId = this.id;
			var unsubscribeBodyParam = {
				status: 2
			}
			$.ajax({
				url: '/api/subscriptions/'+subscriptionId,
				type: 'PUT',
				data: unsubscribeBodyParam,
				success: function(data) {
					console.log("data:",data);
					location.reload(true);
				},
				error: function(error){
					console.log("error:",error);
				}
			});
		});

		$('.subscribe').click(function(e){

			var subscriptionId = this.id;
			var subscribeBodyParam = {
				status: 1
			}
			$.ajax({
				url: '/api/subscriptions/'+subscriptionId,
				type: 'PUT',
				data: subscribeBodyParam,
				success: function(data) {
					console.log("data:",data);
					location.reload(true);
				},
				error: function(error){
					console.log("error:",error);
				}
			});
		});
	});
</script>

{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Subscriptions
								<span class="pull-right" style="font-size:12px"><a href="/subscription">Clear All</a></span>
							</h2>
						</div><br/>
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									<p class="content-txt">This is where you manage all of your subscriptions on the Global Trade Connect. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<div class="form-inline">
										<div class="form-group mb-2">
											<div class="select-container">
												<select class="form-control-customized form-control-sm" onChange="changeStatus(this);">
													{{#select queryURI.status}}
													<option disabled selected>CHANGE STATUS</option>
													<option value="ACTIVE">Active</option>
													<option value="INACTIVE">InActive</option>
													{{/select}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-inline ml-auto pull-right">
										<div class="form-group mb-2">
											<div class="input-group gtc-rounded">
												<input type="search" class="form-control form-control-sm" placeholder="Search subscribed products" onChange="search(this);" {{#if queryURI.keyword}}
												value={{queryURI.keyword}}{{/if}}>
												<button type="submit" class="btn btn-sm btn-gtc">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">		
									<div class="cart-top-header">
										<div class="alignleft cart-top-left">
											<span class="m-r-sm text-muted">{{this.collectionSize}} items total</span>
										</div>
										<div class="alignright cart-top-right">
											
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">
														<input type="checkbox" id="checkbox" onclick="selectAll(this);">
													</th>
													<th scope="col">Subscribed Products</th>
													<th scope="col">Price</th>
													<th scope="col">Quantity</th>
													<th>Purchased On</th>
													<th>Last Order Placed On</th>
													<th>Next Order Place On</th>
													<th colspan="2">Status</th>
												</tr>
											</thead>
											<tbody>
											{{#each subscriptions}}
												<tr>
													<td><input type="checkbox" class="checkbox" name="selected" value='{{this.id}}'></td>
													<td>
														<a href="{{../this.type}}/{{this.Product.product_slug}}/{{this.Product.id}}">
															<img src="{{this.Product.product_base_image}}" onError="imgError(this)" style="width: 30px;" />
														{{this.Product.product_name}}</a>
													</td>
													<td>{{this.Product.price}}</td>
													<td>{{this.quantity}}</td>
													<td>{{formatTime this.purchased_on "MMM DD, YYYY"}}</td>
													<td>{{#if this.last_order_placed_on}}{{formatTime this.last_order_placed_on "MMM DD, YYYY"}}{{/if}}</td>
													<td>{{#if this.next_order_place_on}}{{formatTime this.next_order_place_on "MMM DD, YYYY"}}{{/if}}</td>
													<td {{#ifCond this.status '==' ../statusCode.ACTIVE}} class="text_green_color"
														{{else ifCond this.status '==' ../statusCode.INACTIVE}} class="text_red_color" {{/ifCond}}>
														{{#ifCond this.status '==' ../statusCode.ACTIVE}}Active
														{{else ifCond this.status '==' ../statusCode.INACTIVE}}  In Active {{/ifCond}}
													</td>
													{{#ifCond this.status '==' ../statusCode.ACTIVE}}
													<td>
														<a href="javascript:;" id='{{this.id}}' class='unSubscribe'>
															<i class="fas fa-unlink" aria-hidden="true"></i> Un Subscribe</a>
													</td>
													{{else ifCond this.status '==' ../statusCode.INACTIVE}}
													<td>
														<a href="javascript:;" id='{{this.id}}' class='subscribe'>
															<i class="fas fa-link" aria-hidden="true"></i> Subscribe
														</a>
													</td>
													{{/ifCond}}
												</tr>
											{{/each}}				
											</tbody>
										</table>
									</div>
									{{#pagination collectionSize page pageSize maxSize}}
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												{{#unless startFromFirstPage}}
												<li class="page-item">
													<a class="page-link" href="subscription?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
												</li>
												{{/unless}} {{#each pages}}
												<li class="page-item {{#if isCurrent}} active {{/if}}">
													<a class="page-link" href="subscription?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
												</li>
												{{/each}} {{#unless endAtLastPage}}
												<li class="page-item">
													<a class="page-link" href="subscription?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
												</li>
												{{/unless}}
											</ul>
										</nav>
									{{/pagination}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}
