<script type="text/javascript">
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
</script>
<script type="text/javascript">
	function CartUpdate(e) {
		let allCartInfo = {};

		allCartInfo["cartUpdateArray"] = [];

		var dataInfo = {};
		var quantity = 0;
		dataInfo.product_id = $("#product_id" + e).val();
		dataInfo.product_quantity = quantity = $("#inputQuantity" + e).val();
		dataInfo.cart_item_id = 0;
		allCartInfo['cartUpdateArray'].push(dataInfo);
		if (quantity) {
			$.ajax({
				type: 'POST',
				url: '/api/cart/update-cart',
				data: JSON.stringify(allCartInfo),
				contentType: "application/json",
				success: function(data, text) {
					console.log("data", data.message_details)
					console.log("text", text)
					window.location.href = "/cart";
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
		} else {
			alert("Please enter the Quantity.")
		}
	}

	function remove(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}
		});
		if (chkArray.length) {
			$.ajax({
				type: 'PUT',
				url: '/api/wishlist/remove',
				contentType: "application/json",
				data: JSON.stringify(chkArray),
				success: function (data, text) {
					location.reload();
				},
				error: function (request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else {
			alert("Select atleast one wishlist to remove.");
		}
	}

	function deleteAll(e) {
		$.ajax({
			type: 'GET',
			url: '/api/wishlist/delete',
			success: function (data, text) {
				location.reload();
			},
			error: function (request, status, error) {
				console.log('request', request);
				console.log('status', status);
			}
		});
	}

	function quantityCheck(val) {
		var availableProductQuantity = val.max;
		if (availableProductQuantity == 0) {
			alert("Product Not Available");
		} else if ($("#inputQuantity").val() > availableProductQuantity) {
			alert("Available Quantity of the product is" + availableProductQuantity);
			$("#inputQuantity").val(availableProductQuantity);
		}
	}

</script> {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>My Wishlist</h2>
						</div>
						<div class="content-body">
							<div class="row">
								<div class="col-md-6">
									<input type="submit" value="REMOVE" onclick="remove(this)" class="vend_edit_lists_buttonstyle" />
								</div>
								<div class="col-md-6">
									<input type="submit" onclick="deleteAll(this)" value="DELETE LIST" class="vend_edit_lists_buttonstyle float-right" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="vend_edit_lists_pstyle">{{this.count}} items total</p>
								</div>
								<div class="col-md-6">
									<p class="vend_edit_lists_pstyle float-right">Entries per page:
										<a href="/wishlist?limit=10"> 10</a>
										<a href="/wishlist?limit=25"> 25</a>
										<a href="/wishlist?limit=100"> 100</a>
										<a href="/wishlist?limit=All"> All </a>
									</p>
								</div>
							</div>
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												<input type="checkbox" onclick="selectAll(this);">
											</th>
											<th>Product Name</th>
											<th>Store Name</th>
											<th>Available</th>
											<th>Type</th>
											<th>price</th>
											<th>Add to Cart</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{{#each wishlist}}
										<tr>
											<td>
												<input type="checkbox" value="{{this.id}}">
											</td>
											<td class="text_blue_color">
												<img src="{{this.Product.ProductMedia.[0].url}}" style="width: 15px;" />
												<a href="/products/{{this.Product.product_slug}}/{{this.Product.id}}">{{this.Product.product_name}}</a>
											</td>
											<td class="text_blue_color">
												<a href="#">{{this.User.first_name}} {{this.User.last_name}}</a>
											</td>
											{{#if this.Product.quantity_available}}
											<td class="text_green_color" style="font-size: 20px;">
												<i class="fas fa-check-circle"></i>
											</td>
											{{else}}
											<td class="text_orange_color" style="font-size: 20px;">
												<i class="fas fa-exclamation-circle"></i>
											</td>
											{{/if}} {{!-- Type --}} {{#ifCond this.Product.marketplace_id "==" 1}}
											<td>Wholesale</td>
											{{else ifCond this.Product.marketplace_id "==" 2}}
											<td>Retail</td>
											{{else ifCond this.Product.marketplace_id "==" 3}}
											<td>Service</td>
											{{else ifCond this.Product.marketplace_id "==" 4}}
											<td>Life style</td>
											{{/ifCond}} {{!--End Type --}}
											<td class="text_black_color">{{this.Product.price}}</td>
											<input type="hidden" id="product_id{{this.id}}" name="product_id" value="{{this.product_id}}"> {{!--
											<input type="hidden" name="quantity_available" value="{{this.Product.quantity_available}}" id="quantity_available"> --}}
											<td class="text_blue_color">
												<input type="number" name="product_quantity" id="inputQuantity{{this.id}}" min="1" max="{{this.Product.quantity_available}}" placeholder="1" onchange="quantityCheck(this)">
												{{!-- <a href="#"> --}}
													{{!-- Update </a> --}}
											</td>
											<td class="text_blue_color ">
												<i class="fas fa-credit-card" onclick="CartUpdate({{this.id}})">
													<a href="/"> Add to cart </a>
												</i>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="vend_edit_lists_pstyle">{{this.count}} items total</p>
								</div>
								<div class="col-md-6">
									<p class="vend_edit_lists_pstyle float-right">Entries per page:
										<a href="/wishlist?limit=10"> 10</a>
										<a href="/wishlist?limit=25"> 25</a>
										<a href="/wishlist?limit=100"> 100</a>
										<a href="/wishlist?limit=All"> All </a>
									</p>
								</div>
							</div>
							{{!-- Pagination starts --}}
				  	{{#ifCond count '>' queryPaginationObj.limit}}
				  	<div class="row">
				  		<div class="col-md-3">
				  		</div>
				  		<div class="col-md-7">
				  			{{#pagination count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
				  			<nav aria-label="Page navigation example">
				  				<ul class="pagination justify-content-center">
				  					{{#unless startFromFirstPage}}
				  					<li class="page-item">
				  						<a class="page-link" href="../wishlist?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
				  					</li>
				  					{{/unless}} {{#each pages}}
				  					<li class="page-item {{#if isCurrent}} active {{/if}}">
				  						<a class="page-link" href="../wishlist?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
				  					</li>
				  					{{/each}} {{#unless endAtLastPage}}
				  					<li class="page-item">
				  						<a class="page-link" href="../wishlist?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
				  					</li>
				  					{{/unless}}
				  				</ul>
				  			</nav>
				  			{{/pagination}}
				  		</div>
				  	</div>
				  	{{/ifCond}}
				  	{{!-- Pagination Ends --}}
						</div>
					</div>

				</div>
			</div>
		
		</div>

	</div>
</div>
{{> footer/bottom-footer}}