<script type="text/javascript">
	var params = {{{ DisplayJSON queryParamsString }}};
	var userInfo = {{{ DisplayJSON LoggedInUser}}}
	var wishlist = {{{ DisplayJSON wishlist}}}
	var Plan = {{{ DisplayJSON vendorPlan }}}

	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}

	function limit(size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "wishlist?"+ params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	function CartUpdate(e) {
		var cartInfo = {};
		var quantity = 0;
		var marketplace_id = $("#marketplaceId" + e).val();
		cartInfo.product_id = $("#product_id" + e).val();
		cartInfo.product_quantity = quantity = $("#inputQuantity" + e).val();
		cartInfo.cart_item_id = 0;
		cartInfo.marketplace_id = marketplace_id;
		console.log(cartInfo)
		var vendor_id=$("#vendorId" + e).val();
		var vendor_name = $("#vendorName" + e).val();
		if (quantity) {
			$.ajax({
				type: "POST",
				url: "/api/cart/add-cart/" + e,
				data: cartInfo,
				success: function(response) {
					if (response.message == "Subscribed") {
						$('#alreadySubscribed').modal('show');
					} else if (response.message == 'REDIRECT') {
						window.location.href = 'gtc-mail/compose?id=' + vendor_id + '&text=' + vendor_name;
					} else if (response.message == 'UPGRADEPLAN') {
						$('#planUpgrade').modal('show');
					} else if (response.message == 'SUCCESS') {
						$('#gtc-wishlist-alert').removeClass('alert-danger').addClass('alert-success');
						$('#gtc-wishlist-alert .wishlist-message').text(response.message_details);
						$("#gtc-wishlist-alert").fadeTo(2000, 500).slideUp(500, function() {
							$("#gtc-wishlist-alert").slideUp(500);
							location.reload();
						});
						}
				},
				error: function(error) {
					$('#gtc-wishlist-alert').removeClass('alert-success').addClass('alert-danger');
					$('#gtc-wishlist-alert .wishlist-message').text(error.responseJSON.message_details);
					$("#gtc-wishlist-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#gtc-wishlist-alert").slideUp(500);
					});
				}
			});
		} else {
			$('#enterQuantity').modal('show');
		}
	}

	function cartAPI(cartInfo) {
		$.ajax({
			type: "POST",
			url: "/api/cart/add-cart/" + cartInfo.product_id,
			data: cartInfo,
			success: function(response) {
				location.reload();
			},
			error: function(error) {
				$('#quantityInput').notify(JSON.parse(error.responseText).message_details, "error");
			}
		});
	}

	function remove(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function(i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}
		});
		if (chkArray.length) {
			$.ajax({
				type: 'PUT',
				url: '/api/wishlist/remove',
				contentType: "application/json",
				data: JSON.stringify(chkArray),
				success: function(data, text) {
					location.reload();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else {
			alert("Select atleast one wishlist to remove.");
		}
	}

	function deleteAll(e) {
		$.ajax({
			type: 'GET',
			url: '/api/wishlist/delete',
			success: function(data, text) {
				location.reload();
			},
			error: function(request, status, error) {
				console.log('request', request);
				console.log('status', status);
			}
		});
	}

	$(document).ready(function() {
		$("#gtc-wishlist-alert").hide();
		$("#gtc-cart-alert").hide();
		$(".checkbox").change(function(e) {
   			$('#checkbox').prop('checked', false);
		});
	})

</script> 
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>My Wishlist</h2>
							<div class="alert" id="gtc-wishlist-alert">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="wishlist-message"></span>
							</div>
						</div>
						<br/>
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-inline pull-left m-t-md">
										<div class="form-group m-r">
											<button type="submit" class="btn btn-md btn-muted" onclick="remove(this)" {{#ifCond wishlist.rows.length "==" 0}}
											disabled="true" {{/ifCond}} >REMOVE</button>
										</div>
									</div>
									<div class="form-inline pull-right m-t-md">
										<div class="form-group m-r">
											<button type="submit" class="btn btn-small float-right bg4" onclick="deleteAll(this)" {{#ifCond wishlist.rows.length "==" 0}}
											disabled="true" {{/ifCond}}>DELETE ALL</button>
										</div>
									</div>
								</div>
							</div>
							{{#if wishlist.rows}}
								<div class="row py-2">
									<div class="col-md-12">
										<div class="alert" id="gtc-cart-alert">
											<button type="button" class="close" data-dismiss="alert">
												<span aria-hidden="true">&times;</span>
											</button>
											<span class="cart-message"></span>
										</div>
										<small class="font-weight-light">{{wishlist.count}} items total</small>
										<div class="float-right">
											<small class="font-weight-light">Entries per page : </small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)" href="javascript:;">All</a>
											</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											<thead>
												<tr>
													<th>
														<div class="customCheckbox">
															<input type="checkbox" onclick="selectAll(this);" id="checkbox" class="customCheckboxInput">
															<label class="checkbox-b" for="checkbox"></label>
														</div>
													</th>	
													<th width="30%">Product Name</th>
													<th width="20%">Store Name</th>
													<th width="3%">Available</th>
													<th width="10%">Type</th>
													<th width="12%">price</th>
													<th width="10%">Add to Cart</th>
													<th width="13%"></th>
												</tr>
											</thead>
											<tbody>
												{{#each wishlist.rows}}
													<tr>
														<td>
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" value={{this.id}}>
																<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
															</div>
														</td>
														<td class="text_blue_color">
															<input type="hidden" name="marketplace_id" id="marketplaceId{{this.Product.id}}" value={{this.Product.marketplace_id}}>
															<input type="hidden" name="marketplace_type_id" id="typecode{{this.id}}" value={{this.Product.marketplace_type_id}}>
															<a href="/products/{{this.Product.product_slug}}/{{this.Product.id}}">
															<img src="{{this.Product.ProductMedia.[0].url}}" onError="imgError(this)" style="width: 30px;" />
															{{this.Product.product_name}}</a>
														</td>
														<td class="text_blue_color">
															<a href="vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
															<input type="hidden" name="vendor_id" id="vendorId{{this.Product.id}}" value={{this.Product.Vendor.id}}>
															<input type="hidden" name="vendor_id" id="vendorName{{this.Product.id}}" value={{this.Product.Vendor.User.first_name}}>
														</td>
														{{#if this.Product.quantity_available}}
															<td class="text_green_color" style="font-size: 20px;">
																<i class="fas fa-check-circle"></i>
															</td>
														{{else}}
															<td class="text_orange_color" style="font-size: 20px;">
																<i class="fas fa-exclamation-circle"></i>
															</td>
														{{/if}} {{!-- Type --}}
														{{#ifCond this.Product.marketplace_id "==" 1}}
															<td>Wholesale</td>
															{{else ifCond this.Product.marketplace_id "==" 2}}
															<td>Retail</td>
															{{else ifCond this.Product.marketplace_id "==" 3}}
															<td>Service</td>
															{{else ifCond this.Product.marketplace_id "==" 4}}
															<td>Lifestyle</td>
														{{/ifCond}} {{!--End Type --}}
														<td class="text_black_color">{{currency this.Product.price '$'}}</td>
														<input type="hidden" id="product_id{{this.Product.id}}" name="product_id" value="{{this.product_id}}">{{!--
														<input type="hidden" name="quantity_available" value="{{this.Product.quantity_available}}" id="quantity_available"> --}}
														<td class="text_blue_color">
															<input type="number" style ="width:50%" name="product_quantity" id="inputQuantity{{this.Product.id}}" min="1" max="{{this.Product.quantity_available}}"
																placeholder="1" >{{!-- <a href="#"> --}}
															{{!-- Update </a> --}}
														</td>
														<td class="text_blue_color ">
															<i class="fas fa-credit-card" onclick="CartUpdate({{this.Product.id}})">
																<a href="javascript:;"> Add to cart </a>
															</i>
														</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
								{{!-- Pagination starts --}}
								{{#ifCond products.count '>' queryURI.limit}}
									<div class="row">
										<div class="col-md-12 align-self-center">
											{{#pagination products.count queryURI.page queryURI.limit 2}}
												<nav aria-label="Page navigation example">
													<ul class="pagination justify-content-center">
														{{#unless startFromFirstPage}}
															<li class="justify-content-center align-self-center">
																<a href="../wishlist?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">
																	<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
															</li>
														{{/unless}}
														{{#each pages}}
															<li class="page-item {{#if isCurrent}} active {{/if}}">
																<a class="page-link" href="../wishlist?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryURI.limit)}}">{{page}}</a>
															</li>
														{{/each}}
														{{#unless endAtLastPage}}
															<li class="justify-content-center align-self-center">
																<a href="../wishlist?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">Next&nbsp;
																	<i class="fa fa-angle-double-right"></i>
																</a>
															</li>
														{{/unless}}
													</ul>
												</nav>
											{{/pagination}}
										</div>
									</div>
								{{/ifCond}}
								{{!-- Pagination Ends --}}
							{{else}}
								<h4 class="font-weight-light py-3 text-center">No Results!</h4>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="enterQuantity" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container">
					<p>Please enter quantity.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="alreadySubscribed" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Already Subscribed:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>You have already subscribed this product.</p>
					<p>If you'd like to make any changes in subscription, please head <a href='/subscription'>here.</a></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="planUpgrade" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Upgrade Plan:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>To buy wholesale product you need to be in bulk buyer plan.</p>
					<p>If you'd like to upgrade plan, please head <a href='upgradeplan/userBulkupgradePlan'>here.</a></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}