<script type="text/javascript">
var userInfo = {{{ DisplayJSON LoggedInUser}}}
var wishlist = {{{ DisplayJSON wishlist}}}

var Plan = {{{ DisplayJSON vendorPlan }}}
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function CartUpdate(e) {
		var dataInfo = {};
		var quantity = 0;
		var marketplace_id = $("#marketplaceId" + e).val();
		console.log("marketplace_id",marketplace_id)
		dataInfo.product_id = $("#product_id" + e).val();
		dataInfo.product_quantity = quantity = $("#inputQuantity" + e).val();
		dataInfo.cart_item_id = 0;
		dataInfo.marketplace_id = marketplace_id;
		var vendor_id=$("#vendorId" + e).val();
		var vendor_name = $("#vendorName" + e).val();
		if (quantity) {
			if (marketplace_id == 1 && userInfo.Vendor.vedorPlans) {\
				console.log("------------=====MI=======-----------")
				if (userInfo.Vendor.VendorPlans[0].id == Plan.WHOLESALER || userInfo.Vendor.VendorPlans[0].id == Plan.BULK_BUYER) {
					if (($('#typecode' + e).val() == 1)) {
						cartAPI(cartInfo, e);
					} else {
						window.location.href = 'gtc-mail/compose?id=' + vendor_id + '&text=' + vendor_name;
					}
				} else {
					window.location.href = "/upgradeplan";
				}
			} else {
				console.log("------------=====elseMI=======-----------")
				if (marketplace_id != 1) {
					cartAPI(cartInfo, e);
				} else {
					window.location.href = "/upgradeplan";
				}
			}
		} else {
			alert("Please enter the Quantity.")
		}
	}
function cartAPI(cartInfo) {
			$.ajax({
				type: "POST",
				url: "/api/cart/add-cart/" + productSpecs.id,
				data: cartInfo,
				success: function(response) {
					location.reload();
				},
				error: function(error) {
					$('#quantityInput').notify(JSON.parse(error.responseText).message_details, "error");
				}
			});
		}
	function remove(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function(i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}
		});
		if (chkArray.length) {
			$.ajax({
				type: 'PUT',
				url: '/api/wishlist/remove',
				contentType: "application/json",
				data: JSON.stringify(chkArray),
				success: function(data, text) {
					location.reload();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else {
			alert("Select atleast one wishlist to remove.");
		}
	}

	function deleteAll(e) {
		$.ajax({
			type: 'GET',
			url: '/api/wishlist/delete',
			success: function(data, text) {
				location.reload();
			},
			error: function(request, status, error) {
				console.log('request', request);
				console.log('status', status);
			}
		});
	}

	function quantityCheck(val) {
		var availableProductQuantity = val.max;
		if (availableProductQuantity == 0) {
			alert("Product Not Available");
		} else if ($("#inputQuantity").val() > availableProductQuantity) {
			alert("Available Quantity of the product is" + availableProductQuantity);
			$("#inputQuantity").val(availableProductQuantity);
		}
	}
	$(document).ready(function() {
		$("#gtc-wishlist-alert").hide();
		$(".checkbox").change(function(e) {
   			$('#checkbox').prop('checked', false);
		});
	})

</script> {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>My Wishlist</h2>
						</div>
						<br/>
						<div class="content-body">
							<div class="row">
								<div class="col-md-6">
									<input type="submit" value="REMOVE" onclick="remove(this)" class="btn btn-small btn-muted" {{#ifCond wishlist.length "==" 0}}
									 disabled="true" {{/ifCond}} />
								</div>
								<div class="col-md-6">
									<input type="submit" onclick="deleteAll(this)" value="DELETE ALL" class="btn btn-small float-right bg4" {{#ifCond wishlist.length "==" 0}}
									 disabled="true" {{/ifCond}} />
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="alert" id="gtc-wishlist-alert">
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">&times;</span>
										</button>
										<span class="wishlist-message"></span>
									</div>
									<div class="cart-top-header">
										<div class="alignleft cart-top-left">
											<span class="m-r-sm text-muted">{{this.count}} items total</span>
										</div>
										<div class="alignright cart-top-right">
											<span class="m-r-sm text-muted">
												Entries per page :
												<a href="wishlist?{{QueryParams queryURI (FrameObject page=1 limit=10) 'null'}}" {{#ifCond queryURI.limit '==' 10 }} class="active" {{/ifCond}} > 10</a>
												<a href="wishlist?{{QueryParams queryURI (FrameObject page=1 limit=25) 'null'}}" {{#ifCond queryURI.limit '==' 25 }} class="active" {{/ifCond}}> 25</a>
												<a href="wishlist?{{QueryParams queryURI (FrameObject page=1 limit=100) 'null'}}" {{#ifCond queryURI.limit '==' 100 }} class="active" {{/ifCond}}> 100</a>
												<a href="wishlist?{{QueryParams queryURI (FrameObject page=1 limit=500) 'null'}}" {{#ifCond queryURI.limit '==' 500 }} class="active" {{/ifCond}}> All </a>
											</span>
										</div>
										<div style="clear: both;"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th width="2%">
														{{#ifCond wishlist.length "!=" 0}}
															<input type="checkbox" id="checkbox" onclick="selectAll(this);">
														{{/ifCond}}
													</th>
													<th width="30%">Product Name</th>
													<th width="20%">Store Name</th>
													<th width="3%">Available</th>
													<th width="10%">Type</th>
													<th width="12%">price</th>
													<th width="10%">Add to Cart</th>
													<th width="13%"></th>
												</tr>
											</thead>
											<tbody>
												{{#if wishlist}}
													{{#each wishlist}}
														<tr>
															<td>
																<input type="checkbox" class="checkbox" value="{{this.id}}">
															</td>
															<td class="text_blue_color">
																<input type="hidden" name="marketplace_id" id="marketplaceId{{this.id}}" value={{this.Product.marketplace_id}}>
																<input type="hidden" name="marketplace_type_id" id="typecode{{this.id}}" value={{this.Product.marketplace_type_id}}>
																<a href="/products/{{this.Product.product_slug}}/{{this.Product.id}}">
																<img src="{{this.Product.ProductMedia.[0].url}}" style="width: 30px;" />
																{{this.Product.product_name}}</a>
															</td>
															<td class="text_blue_color">
																<a href="vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
																<input type="hidden" name="vendor_id" id="vendorId{{this.id}}" value={{this.Product.Vendor.id}}>
																<input type="hidden" name="vendor_id" id="vendorName{{this.id}}" value={{this.Product.Vendor.User.first_name}}>
															</td>
															{{#if this.Product.quantity_available}}
																<td class="text_green_color" style="font-size: 20px;">
																	<i class="fas fa-check-circle"></i>
																</td>
															{{else}}
																<td class="text_orange_color" style="font-size: 20px;">
																	<i class="fas fa-exclamation-circle"></i>
																</td>
															{{/if}} {{!-- Type --}}
															{{#ifCond this.Product.marketplace_id "==" 1}}
																<td>Wholesale</td>
																{{else ifCond this.Product.marketplace_id "==" 2}}
																<td>Retail</td>
																{{else ifCond this.Product.marketplace_id "==" 3}}
																<td>Service</td>
																{{else ifCond this.Product.marketplace_id "==" 4}}
																<td>Lifestyle</td>
															{{/ifCond}} {{!--End Type --}}
															<td class="text_black_color">{{currency this.Product.price '$'}}</td>
															<input type="hidden" id="product_id{{this.id}}" name="product_id" value="{{this.product_id}}">{{!--
															<input type="hidden" name="quantity_available" value="{{this.Product.quantity_available}}" id="quantity_available"> --}}
															<td class="text_blue_color">
																<input type="number" style ="width:50%" name="product_quantity" id="inputQuantity{{this.id}}" min="1" max="{{this.Product.quantity_available}}"
																 placeholder="1" onchange="quantityCheck(this)">{{!-- <a href="#"> --}}
																{{!-- Update </a> --}}
															</td>
															<td class="text_blue_color ">
																<i class="fas fa-credit-card" onclick="CartUpdate({{this.id}})">
																	<a href="javascript:;"> Add to cart </a>
																</i>
															</td>
														</tr>
													{{/each}}
												{{else}}
													<tr><td colspan="7" style="text-align:center;">No Data Found</td></tr>
												{{/if}}
											</tbody>
										</table>
									</div>
									{{#pagination count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												{{#unless startFromFirstPage}}
													<li class="page-item">
														<a class="page-link" href="../wishlist?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
													</li>
												{{/unless}}
												{{#each pages}}
													<li class="page-item {{#if isCurrent}} active {{/if}}">
														<a class="page-link" href="../wishlist?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
													</li>
												{{/each}}
												{{#unless endAtLastPage}}
													<li class="page-item">
														<a class="page-link" href="../wishlist?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
													</li>
												{{/unless}}
											</ul>
										</nav>
									{{/pagination}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}