<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81q1ljfijajynj
    authorize: false;
</script>

<script>
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	$(document).ready(function() {
		$("#footerSignup").click(function() {
			$('#myModal').modal('show');
		});

		$("#trackOrderSignup").click(function() {
			$('#myModal').modal('show');
		});

		$("#wishlistSignup").click(function() {
			$('#myModal').modal('show');
		});

		$("#shoppingSignup").click(function() {
			$('#myModal').modal('show');
		});
        $("#footerModelbtnLogin").click(function(){
            let url = window.location.pathname + window.location.search;
            if(url != '/'){
            window.location.href = '/login?return_url='+url;
        }else{
            window.location.href = '/login';
        }
        });
	});

    $(window).bind("pageshow", function(event) {
		if (event.originalEvent.persisted) {
			window.location.reload(); 
		}
	});

	function orderTrack() {
		$.ajax({
			type: "GET",
			url: "/api/orders/order-track",
			success: function(result) {
				if(result.orderId){
					location.href = '/order-history/'+result.orderId;
				}else{
					location.href = '/order-track';
				}
			},
			error: function(error) {
				console.log("Error::",error);
			}
		});
	}
</script>
<style>
	.footer-social-links li:hover {
		background: white;
	}
</style>

<div class="gtc-footer">
    <div class="gtc-container">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="footer-left">
                    <a href="#">
                        <img src="gtc-assets/img/logo-dashboard.svg" alt="Global Trade Connect">
                    </a>
                    <p class="title">CONNECT WITH US</p>
                    <ul class="footer-social-links">
                        <li>
                            <a href="http://www.facebook.com/" target="_blank">
                                <img src="gtc-assets/img/social-facebook.svg" alt="Global Trade Connect Facebook">
						</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" target="_blank">
                                <img src="gtc-assets/img/social-youtube.svg" alt="Global Trade Connect Youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="gtc-assets/img/social-twitter.svg" alt="Global Trade Connect Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/" target="_blank">
                                <img src="gtc-assets/img/social-instagram.svg" alt="Global Trade Connect Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/" target="_blank">
                                <img src="gtc-assets/img/social-linkedin.svg" alt="Global Trade Connect Linkedin">
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">© Globaltradeconnect - All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>HELP CENTER</h4>
                                <ul class="footer-menu-list">
                                    <li><a href="javascript:;">Customer Service</a></li>
                                    <li><a href="javascript:;">Refund Policy</a></li>
                                    <li>
                                        {{#if LoggedInUser.id}}
                                            <a href="/support/faq" >FAQs</a>
                                        {{else}}
                                            <a href="/login#FAQ" >FAQs</a>
                                        {{/if}}
                                    </li>
                                    <li><a href="javascript:;">Terms & Conditions</a></li>
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="javascript:;">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>ACCOUNT CENTER</h4>
                                <ul class="footer-menu-list">
                                    {{#if LoggedInUser.id}}
                                    <li><a href="/user/my-profile">My Account</a></li>
									<li >
										<a href="javascript:;" onclick="orderTrack()">
										Track your Order</a></li>
                                    <li ><a href="/wishlist">Wishlist</a></li>
                                    <li ><a href="/cart">Shopping Cart</a></li>
                                    {{else}}
                                    <li id="footerSignup"><a href="javascript:;">Sign Up / Sign In</a></li>
                                    <li id="trackOrderSignup"><a href="javascript:;">Track your Order</a></li>
                                    <li id="wishlistSignup"><a href="javascript:;">Wishlist</a></li>
                                    <li id="shoppingSignup"><a href="javascript:;">Shopping Cart</a></li>
									{{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>QUICK JUMP</h4>
                                <ul class="footer-menu-list">
                                    {{!-- <li><a href="/products/search?field=product_rating&order=desc">Top Rated Products</a></li> --}}
									<li><a href="/products/search?order=desc">Top Rated Products</a></li>
                                    {{!-- <li><a href="/products/search?field=product_selling_count&order=desc">Sale Products</a></li> --}}
									<li><a href="/products/search?field=order=desc">Sale Products</a></li>
                                    <li><a href="/products/search?field=created_on&order=desc">Recent Products</a></li>
                                    <li><a href="/products/search?is_featured_product=1">Featured Products</a></li>
                                    {{!-- <li><a href="/products/search?field=product_selling_count&order=desc">Best Selling Products</a></li> --}}
									<li><a href="/products/search?order=desc">Best Selling Products</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="b-l-3x">
                                <h4>START SHOPPING</h4>
                                <ul class="footer-menu-list">
                                    <li><a href="/shop">Shop Online</a></li>
                                    <li><a href="/geo-locate">Geo-Locate / Map Search</a></li>
                                    <li><a href="/wholesale">Wolesale Market</a></li>
                                    <li><a href="/services">Service Market</a></li>
                                    <li><a href="/lifestyle">Lifestyle Subscriptions</a></li>
                                    <li><a href="/directory">Company Directory</a></li>
                                    <li><a href="/products">Product Directory</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="b-l-3x">
                                <h4>SEARCH BY CATEGORY</h4>
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <ul class="footer-menu-list">
                                            {{#each bottomCategory.left}}
                                            <li><a href="/products/search?category={{this.id}}">{{#Titlecase this.name}}{{/Titlecase}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-6 no-padding">
                                        <ul class="footer-menu-list">
                                            {{#each bottomCategory.right}}
                                            <li><a href="/products/search?category={{this.id}}">{{#Titlecase this.name}}{{/Titlecase}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Model Pop up For Footer Force signup --}}
<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" align="center">
            <div class="row">
                <div class="col-md-12">
                    <div class="row geo_bgimg1">
                        <div class="row">
                            <div class="col-md-12 offset-md-0">
                                <h1>LIKE WHAT YOU SEE?</h1>
                                <p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
                                <p class="modal_why_geo_p">If you' d like uninterrupted access to our wholesale marketplace, we need you to create an
                                    account with Global Trade Connect
                                </p>
                            </div>
                        </div>
                        <div class="gtc-container banner-padding">
                            <div class="home-banner-right">
                                <div class="row">
                                    <div class="col-md-12 offset-md-0">
                                        <div class="signup-box">
                                            <div class="col-md-6 offset-md-6">
                                                <small id="footerModelSignUpErrorLog" class="error"></small>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="signup-left">
                                                        <ul>
                                                            <li>
                                                                <a id="footer-modal-gtc-fb-login">
                                                                    <img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a id="footer-modal-gtc-google-login">
                                                                    <img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a id="footer-modal-gtc-twitter-login">
                                                                    <img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a id="footer-modal-gtc-linkedin-login">
                                                                    <img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <div class="form-group" style="padding:4px">
                                                                    <p class="modal_sign">Already have a Account?</p>
                                                                    <button type="submit" {{!-- {{#if return_url}} onclick="window.location.href='/login?return_url={{return_url}}'" {{else}} onclick="window.location.href=/login+window.location.href" {{/if}} --}} id="footerModelbtnLogin" class="btn btn-small btn-success">
                                                                        <strong>LOGIN</strong>
                                                                    </button>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h2 class="divider-line" style="z-index:1"><span class="text-black">OR</span></h2>
                                                <div class="col-md-6 signup-right">
                                                    <form id="footerModelSignUpForm" class="form">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group m-b-xs">
                                                                    <input type="email" id="footerModelInputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
                                                                        placeholder="Email" required="true">
                                                                </div>
                                                                <div class="form-group m-b-xs">
                                                                    <input type="text" id="footerModelInputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
                                                                        placeholder="First Name" required="true">
                                                                </div>
                                                                <div class="form-group m-b-xs">
                                                                    <input type="password" id="footerModelInputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
                                                                        placeholder="Password" required="true">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="checkbox" id="footerModelInputTerms" name="input_terms" required="true">
                                                                    <small>Accept terms and conditions</small>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit" id="login" class="btn btn-small btn-block btn-danger">
                                                                        <strong>CREATE ACCOUNT</strong>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

