<script type="text/javascript">
	$(document).ready(function () {
		$('.multiSelect').select2();
	});
</script>
<script type="text/javascript"> 
	$(function () {
		$("#inputExpiryDate").datepicker({
			format: 'dd-mm-yyyy',
			autohide: true,

		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {

		$("#couponSubmitBtn").click(function (e) {
			alert("hai")
			var newCouponProducts = [];
			var newCouponExcludeProducts = [];
			var newCouponCategories = [];
			var newCouponExcludeCategories = [];

			e.preventDefault();

			var newCoupon = {};
			newCoupon.coupon_name = $('#inputCouponName').val();
			newCoupon.code = Math.floor(100000 + Math.random() * 900000);
			newCoupon.discount_type = $('#inputDiscountType').val();
			newCoupon.discount_value = $('#inputDiscountValue').val();
			newCoupon.expiry_date = $('#inputExpiryDate').val();
			newCoupon.minimum_spend = $('#inputMinimumSpend').val();
			newCoupon.maximum_spend = $('#inputMaximumSpend').val();
			newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
			newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
			newCoupon.status = 1;
			
			newCoupon.vendor_id = {{ LoggedInUser.Vendor.id }};
			newCoupon.publish_date = new Date().toISOString().split("T")[0];
			newCoupon.usage_limit = $('#inputUsageLimit').val();
			newCoupon.limit_usage_to_x_items = $('#inputLimitUsageToXItems').val();
			newCoupon.usage_limit_per_user = $('#inputUsageLimitPerUser').val();

			newCoupon.couponProducts = JSON.stringify($('#inputProducts').val());
			newCoupon.couponExcludeProducts = JSON.stringify($('#inputExcludeProduct').val());
			newCoupon.couponCategories = JSON.stringify($('#inputCategories').val());
			newCoupon.couponExcludeCategories = JSON.stringify($('#inputExcludeCategories').val());

		$.ajax({
			type: 'POST',
			url: '/api/coupon/save',
			data: newCoupon,
			success: function (data, text) {
				// alert("Added successfully");
				ouputPopup("Added successfully");
				// location.reload();
			},
			error: function (request, status, error) {
				console.log('status', status);
				console.log('error', error);
				ouputErrorPopup(error);
			}
		});
	});

function ouputPopup(data) {
      $('#gtc-shipping').prop('disabled', false);
      $('#gtc-shipping').removeClass('alert-danger').addClass('alert-success');
      $('#gtc-shipping .cart-message').text(data);
      $("#gtc-shipping").fadeTo(2000, 500).slideUp(500, function () {
        $("#gtc-shipping").slideUp(500);
        location.reload();
    });
  }
  function ouputErrorPopup(data) {
      $('#gtc-shipping').prop('disabled', false);
      $('#gtc-shipping').removeClass('alert-success').addClass('alert-danger');
      $('#gtc-shipping .cart-message').text(data);
      $("#gtc-shipping").fadeTo(7000, 500).slideUp(500, function () {
        $("#gtc-shipping").slideUp(500);
    });
  }

	$("#inputIndividualUseOnly[value=1]").prop("checked", "true");
	$("#inputExcluseSaleItem[value=1]").prop("checked", "true");

	$("#couponUpdateBtn").click(function (e) {
		e.preventDefault();

		const inputIndividualUseOnly = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
		const inputExcluseSaleItem = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
	});

	$("#couponUpdateBtn").click(function (e) {
		e.preventDefault();

		var id = $('input[name=coupon_id]').val();
		var newCoupon = {};

		newCoupon.coupon_name = $('#inputCouponName').val();
		newCoupon.id = id;
		newCoupon.discount_type = $('#inputDiscountType').val();
		newCoupon.discount_value = $('#inputDiscountValue').val();
		newCoupon.expiry_date = $('#inputExpiryDate').val();
		newCoupon.minimum_spend = $('#inputMinimumSpend').val();
		newCoupon.maximum_spend = $('#inputMaximumSpend').val();
		newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
		newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
		newCoupon.publish_date = new Date().toISOString().split("T")[0];
		newCoupon.usage_limit = $('#inputUsageLimit').val();
		newCoupon.limit_usage_to_x_items = $('#inputLimitUsageToXItems').val();
		newCoupon.usage_limit_per_user = $('#inputUsageLimitPerUser').val();

		newCoupon.products = JSON.stringify({
			id: id,
			couponArray: $('#inputProducts').val(),
			modelName: "CouponProduct"
		});
		newCoupon.excludeProduct = JSON.stringify({
			id: id,
			couponArray: $('#inputExcludeProduct').val(),
			modelName: "CouponExcludedProduct"
		});
		newCoupon.categories = JSON.stringify({
			id: id,
			couponArray: $('#inputCategories').val(),
			modelName: "CouponCategory"
		});
		newCoupon.excludeCategories = JSON.stringify({
			id: id,
			couponArray: $('#inputExcludeCategories').val(),
			modelName: "CouponExcludedCategory"
		});

		$.ajax({
			type: 'PUT',
			url: '/api/coupon/update',
			data: newCoupon,
			success: function (data, text) {
				alert("Updated successfully");
				location.reload();
			},
			error: function (request, status, error) {
				console.log('status', status);
				console.log('error', error);
			}
		});
	});

	$("body").on("change", "#inputCategories", function () {
		var selected_val = $(this).val();
		if (Array.isArray(selected_val)) {
			$('#inputExcludeCategories option').prop('disabled', false).select2();
			selected_val.forEach((val) => {
				$("#inputExcludeCategories option[value='" + val + "']").prop('disabled', true).select2();
			});
		}
	}).on("change", "#inputExcludeCategories", function () {
		var selected_val = $(this).val();
		if (Array.isArray(selected_val)) {
			$('#inputCategories option').prop('disabled', false).select2();
			selected_val.forEach((val) => {
				$("#inputCategories option[value='" + val + "']").prop('disabled', true).select2();
			});
		}
	}).on("change", "#inputProducts", function () {
		var selected_val = $(this).val();
		if (Array.isArray(selected_val)) {
			$('#inputExcludeProduct option').prop('disabled', false).select2();
			selected_val.forEach((val) => {
				$("#inputExcludeProduct option[value='" + val + "']").prop('disabled', true).select2();
			});
		}
	}).on("change", "#inputExcludeProduct", function () {
		var selected_val = $(this).val();
		if (Array.isArray(selected_val)) {
			$('#inputProducts option').prop('disabled', false).select2();
			selected_val.forEach((val) => {
				$("#inputProducts option[value='" + val + "']").prop('disabled', true).select2();
			});
		}
	}).on("select2:unselecting", ".multiSelect", function () {
		$(this).trigger('change');
	});
	$(".multiSelect").trigger('change');
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>{{#if coupon.id }} Edit Coupon
								<input type="hidden" name="coupon_id" value="{{coupon.id}}" /> {{else}} Add Coupon {{/if}}
							</h2>
						</div>
						<div class="content-body">

							<form id="couponForm">
								<div class="row">
									<div class="col-md-12 required">
										<input type="text" name="coupon_name" id="inputCouponName" value="{{coupon.coupon_name}}" placeholder="Coupon Name" class="vend_edit_lists_textstyle required"
										/>
									</div>
									<div class="col-md-12">
										<select class="vend_edit_lists_dropdownstyle" id="inputDiscountType" name="discount_type" value="">
											{{#select coupon.discount_type}}
											<option>Discount Type</option>
											<option value="1">Percentage</option>
											<option value="2">Fixed Price</option>
											<!-- 								<option value="3">Fixed Price Discount</option>
									<option value="4">Fixed Cart Discount</option>
								-->{{/select}}
										</select>
									</div>
									<div class="col-md-12">
										<input type="text" placeholder="0" class="vend_edit_lists_textstyle1" id="inputDiscountValue" name="discount_value" value="{{coupon.discount_value}}">
									</div>
									<div class="col-md-12">
										<input type="text" name="expiry_date" placeholder="Expiry Date" class="vend_edit_lists_textstyle1" id="inputExpiryDate" value="{{coupon.expiry_date}}"
										/>
										<span class="vend_edit_list_spanstyle"> Expiry Date</span>
									</div>
									<div class="col-md-12">
										<input type="text" name="minimum_spend" placeholder="Minimum Spend" class="vend_edit_lists_textstyle1" id="inputMinimumSpend"
										 value="{{coupon.minimum_spend}}" />
										<span class="vend_edit_list_spanstyle">Set the Minimum spend (including subtotal with taxes) allwoed to use the coupon</span>
									</div>
									<div class="col-md-12">
										<input type="text" name="maximum_spend" placeholder="Maximum Spend" class="vend_edit_lists_textstyle1" id="inputMaximumSpend"
										 value="{{coupon.maximum_spend}}" />
										<span class="vend_edit_list_spanstyle">Set the Maximum spend (including subtotal with taxes) allwoed to use the coupon</span>
									</div>
									<div class="col-md-12">
										<input type="checkbox" id="inputIndividualUseOnly" name="individual_use_only" value="{{coupon.individual_use_only}}">
										<b>Individual use only.</b>
										<span class="vend_edit_list_spanstyle">
										</span>
									</div>
									<div class="col-md-12">
										<input type="checkbox" id="inputExcluseSaleItem" name="excluse_sale_item" value="{{coupon.excluse_sale_item}}">
										<b>Excluse sale Item.</b>
										<span class="vend_edit_list_spanstyle">Check this box if the coupon should not apply to items on sale. Per-item coupons will only work if the item is
											not on sale. Per-cart coupons will only work if there are no sale items iin the cart.</span>
									</div>
									<div class="col-md-12">
										<select class="vend_edit_lists_textstyle1 multiSelect" name="categories" id="inputCategories" multiple="multiple" placeholder="Product Categories">
											{{#if existingCouponCategories}} {{{optionsSelectedCategory categories existingCouponCategories}}} {{else}} {{#each categories}}
											<option value={{this.id}}>{{this.name}}</option>
											{{/each}} {{/if}}
										</select>
										<span class="vend_edit_list_spanstyle">Products must be in this category for this coupon to be applicable</span>
									</div>
									<div class="col-md-12">
										<select class="vend_edit_lists_textstyle1 multiSelect" name="exclude_categories" id="inputExcludeCategories" multiple="multiple"
										 placeholder="Product Exclude Categories">
											{{#if existingCouponExcludeCategories}} {{{optionsSelectedCategory categories existingCouponExcludeCategories}}} {{else}}
											{{#each categories}}
											<option value={{this.id}}>{{this.name}}</option>
											{{/each}} {{/if}}
										</select>
										<span class="vend_edit_list_spanstyle">Products must not be in this category for this coupon to be applicable</span>
									</div>
									<div class="col-md-12">
										<select class="vend_edit_lists_textstyle1 multiSelect" name="products" id="inputProducts" multiple="multiple">
											{{#if existingCouponProducts}} {{{optionsSelected products existingCouponProducts}}} {{else}} {{#each products}}
											<option value={{this.id}}>{{this.product_name}}</option>
											{{/each}} {{/if}}
										</select>
										<span class="vend_edit_list_spanstyle">Products which need to be in the cart for this coupon to be applicable</span>
									</div>
									<div class="col-md-12">
										<select class="vend_edit_lists_textstyle1 multiSelect" name="exclude_products" id="inputExcludeProduct" multiple="multiple"
										 placeholder="Exclude products..">
											{{#if existingCouponExcludeProducts}} {{{optionsSelected products existingCouponExcludeProducts}}} {{else}} {{#each products}}
											<option value={{this.id}}>{{this.product_name}}</option>
											{{/each}} {{/if}}
										</select>
										<span class="vend_edit_list_spanstyle">Products which must not be in the cart for this coupon to be applicable</span>
									</div>

									<div class="col-md-12">
										<input type="text" placeholder="Usage Limit" class="vend_edit_lists_textstyle1" id="inputUsageLimit" name="usage_limit" value="{{coupon.usage_limit}}">
										<span class="vend_edit_list_spanstyle">How many times this coupon can be used before it is void (default is unlimited)</span>
									</div>
									<div class="col-md-12">
										<input type="text" name="limit_usage_to_x_items" id="inputLimitUsageToXItems" value="{{coupon.limit_usage_to_x_items}}" placeholder="Limit usage to X items"
										 class="vend_edit_lists_textstyle1">
										<span class="vend_edit_list_spanstyle">The maximum items this coupon can be applied to when using product discount (default is all)</span>
									</div>
									<div class="col-md-12">
										<input type="text" name="usage_limit_per_user" id="inputUsageLimitPerUser" value="{{coupon.usage_limit_per_user}}" placeholder="usage limit per user"
										 class="vend_edit_lists_textstyle1">
										<span class="vend_edit_list_spanstyle">How many times this coupons can be used by an individual (default is unlimited)</span>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="col-md-12">
										{{#if coupon.id}}
										<button class="list_butt_1" type="button" id="couponUpdateBtn">Update</button>
										{{else}}
										<button class="list_butt_1" type="button" id="couponSubmitBtn">Submit</button>
										{{/if}}
										<button class="list_butt_2" type="reset" id="couponCancelBtn">Cancel</button>
									</div>
								</div>

							</form>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}} {{!-- {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<form id="couponForm">
						<h5 style="padding-top: 20px;">
							{{#if coupon.id }} Edit Coupon
							<input type="hidden" name="coupon_id" value="{{coupon.id}}" /> {{else}} Add Coupon {{/if}}
						</h5>






						<div class="row">
							<div class="col-md-12">
								<p class="vend_edit_lists_pstyle"></p>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</section>
{{> footer/bottom-footer}} --}}