<script type="text/javascript">
	$(document).ready(function() {
		$('.multiSelect').select2();
		$('#gtc-message-alert').hide();
	});
</script>
<script type="text/javascript"> 
	$(function() {
		$("#inputExpiryDate").datepicker({
			format: 'yyyy-mm-dd',
			autohide: true,

		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {

		$("#couponForm").submit(function(event) {
			var newCouponProducts = [];
			var newCouponExcludeProducts = [];
			var newCouponCategories = [];
			var newCouponExcludeCategories = [];

			event.preventDefault();

			if ($('#couponForm').valid()) {
				var newCoupon = {};
				newCoupon.code = $('#inputCouponCode').val();
				newCoupon.discount_type = $('#inputDiscountType').val();
				newCoupon.discount_value = $('#inputDiscountValue').val();
				newCoupon.expiry_date = $('#inputExpiryDate').val();
				if (($('#inputMinimumSpend').val() != '') && ($('#inputMinimumSpend').val() != 'null'))
					newCoupon.minimum_spend = $('#inputMinimumSpend').val();
				if ($('#inputMaximumSpend').val() != '')
					newCoupon.maximum_spend = $('#inputMaximumSpend').val();
				newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
				newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
				newCoupon.status = 1;

				newCoupon.vendor_id = `{{LoggedInUser.Vendor.id }}`;
				newCoupon.publish_date = new Date().toISOString().split("T")[0];
				if ($('#inputUsageLimit').val() != '')
					newCoupon.usage_limit = $('#inputUsageLimit').val();
				if ($('#inputUsageLimitPerUser').val() != '')
					newCoupon.usage_limit_per_user = $('#inputUsageLimitPerUser').val();
				if ($('#inputLimitUsageToXItems').val() != '')
					newCoupon.limit_usage_to_x_items = $('#inputLimitUsageToXItems').val();

				newCoupon.couponProducts = JSON.stringify($('#inputProducts').val());
				newCoupon.couponExcludeProducts = JSON.stringify($('#inputExcludeProduct').val());
				newCoupon.couponCategories = $('#inputCategories').val();
				newCoupon.couponExcludeCategories = JSON.stringify($('#inputExcludeCategories').val());

				console.log('products', $('#inputProducts').val());
			}
		});

		function ouputPopup(data) {
			$('#gtc-message-alert').prop('disabled', false);
			$('#gtc-message-alert').removeClass('alert-danger').addClass('alert-success');
			$('#gtc-message-alert .alert-message').text(data);
			$("#gtc-message-alert").fadeTo(2000, 500).slideUp(500, function() {
				$("#gtc-message-alert").slideUp(500);
				window.location.href = "/coupons";
			});
		}
		function ouputErrorPopup(data) {
			$('#gtc-message-alert').prop('disabled', false);
			$('#gtc-message-alert').removeClass('alert-success').addClass('alert-danger');
			$('#gtc-message-alert .alert-message').text(data);
			$("#gtc-message-alert").fadeTo(7000, 500).slideUp(500, function() {
				$("#gtc-message-alert").slideUp(500);
			});
		}

		$("#inputIndividualUseOnly[value=1]").prop("checked", "true");
		$("#inputExcluseSaleItem[value=1]").prop("checked", "true");
		$("#couponForm").validate({
			rules: {
				coupon_code: "required",
				discount_type: "required",
				discount_value: "required",
				expiry_date: "required",
			},
			messages: {
				coupon_code: "Please enter coupon code.",
				discount_type: "Please choose discount type.",
				discount_value: "Please enter discount value.",
				expiry_date: "Please enter expiry date.",
			}
		});

		$("#couponUpdateBtn").click(function(e) {
			e.preventDefault();
			var id = $('input[name=coupon_id]').val();
			var newCoupon = {};
			if ($('#couponForm').valid()) {
				newCoupon.coupon_name = $('#inputCouponName').val();
				newCoupon.id = id;
				newCoupon.discount_type = $('#inputDiscountType').val();
				newCoupon.discount_value = $('#inputDiscountValue').val();
				newCoupon.expiry_date = $('#inputExpiryDate').val();
				newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
				newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
				newCoupon.status = $('#inputStatus').val();
				newCoupon.publish_date = new Date().toISOString().split("T")[0];
				if (($('#inputMinimumSpend').val() != '') && ($('#inputMinimumSpend').val() != 'null'))
					newCoupon.minimum_spend = $('#inputMinimumSpend').val();
				if ($('#inputMaximumSpend').val() != '')
					newCoupon.maximum_spend = $('#inputMaximumSpend').val();
				newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
				newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
				newCoupon.vendor_id = `{{ LoggedInUser.Vendor.id }}`;
				newCoupon.publish_date = new Date().toISOString().split("T")[0];
				if ($('#inputUsageLimit').val() != '')
					newCoupon.usage_limit = $('#inputUsageLimit').val();
				if ($('#inputUsageLimitPerUser').val() != '')
					newCoupon.usage_limit_per_user = $('#inputUsageLimitPerUser').val();
				if ($('#inputLimitUsageToXItems').val() != '')
					newCoupon.limit_usage_to_x_items = $('#inputLimitUsageToXItems').val();

				newCoupon.products = JSON.stringify({
					id: id,
					couponArray: $('#inputProducts').val(),
					modelName: "CouponProduct"
				});
				newCoupon.excludeProduct = JSON.stringify({
					id: id,
					couponArray: $('#inputExcludeProduct').val(),
					modelName: "CouponExcludedProduct"
				});
				newCoupon.categories = JSON.stringify({
					id: id,
					couponArray: $('#inputCategories').val(),
					modelName: "CouponCategory"
				});
				newCoupon.excludeCategories = JSON.stringify({
					id: id,
					couponArray: $('#inputExcludeCategories').val(),
					modelName: "CouponExcludedCategory"
				});

				$.ajax({
					type: 'PUT',
					url: '/api/coupon/update',
					data: newCoupon,
					success: function(data, text) {
						ouputPopup("Updated successfully");
					},
					error: function(request, status, error) {
						console.log('status', status);
						ouputErrorPopup(error);
						console.log('error', error);
					}
				});
			}
		});

		$("body").on("change", "#inputCategories", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputExcludeCategories option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputExcludeCategories option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputExcludeCategories", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputCategories option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputCategories option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputProducts", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputExcludeProduct option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputExcludeProduct option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputExcludeProduct", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputProducts option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputProducts option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("select2:unselecting", ".multiSelect", function() {
			$(this).trigger('change');
		});
		$(".multiSelect").trigger('change');
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>
								{{#if coupon.id }} Edit Coupon
									<input type="hidden" name="coupon_id" value="{{coupon.id}}" />
								{{else}}Add Coupon {{/if}}
							</h2>
						</div>
						<div class="content-body">
							<form id="couponForm">
								<div class="row">
									<div class="col-8">
										<div class="form-group">
											<input type="text" name="coupon_code" id="inputCouponCode" class="form-control-customized form-control-sm" placeholder="Enter coupon code..." required="true" autofocus="true">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<div class="select-container">
												<select name="discount_type" id="inputDiscountType" class="form-control-customized form-control-sm" required="true">
													<option disabled="true" selected="true">Select discount type...</option>
													<option value="1">Percentage</option>
													<option value="2">Fixed Price</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" name="discount_value" id="inputDiscountValue" class="form-control-customized form-control-sm" placeholder="Discount value..." required="true">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" name="expiry_date" id="inputExpiryDate" class="form-control-customized form-control-sm" placeholder="YYYY-MM-DD" required="false">
										</div>
									</div>
									<div class="col-2 no-padding">
										<label class="label-control">Expiry date</label>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="number" name="minimum_spend" id="inputMinimumSpend" class="form-control-customized form-control-sm" placeholder="Minimum Spend">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="number" name="maximum_spend" id="inputMaximumSpend" class="form-control-customized form-control-sm" placeholder="Maximum Spend">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<div class="customCheckbox">
												<input type="checkbox" name="individual_use_only" id="inputIndividualUseOnly" class="customCheckboxInput">
												<label class="checkbox-b" for="inputIndividualUseOnly"></label>
												<small class="m-l"><strong>Individual use only</strong></small>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<div class="customCheckbox">
												<input type="checkbox" name="excluse_sale_item" id="inputExcluseSaleItem" class="customCheckboxInput">
												<label class="checkbox-b" for="inputExcluseSaleItem"></label>
												<small class="m-l"><strong>Excluse sale item</strong></small>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<div class="select-container">
												<select name="categories" id="inputCategories" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
													{{#if existingCouponCategories}} {{{optionsSelectedCategory categories existingCouponCategories}}} {{else}}
														{{#each categories}}
															<option value= {{this.id}}>{{this.name}}</option>
														{{/each}}
													{{/if}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<div class="select-container">
												<select name="exclude_categories" id="inputExcludeCategories" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
													{{#if existingCouponExcludeCategories}} {{{optionsSelectedCategory categories existingCouponExcludeCategories}}} {{else}}
														{{#each categories}}
															<option value= {{this.id}}>{{this.name}}</option>
														{{/each}}
													{{/if}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<div class="select-container">
												<select name="products" id="inputProducts" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
													{{#if existingCouponProducts}} {{{optionsSelected products existingCouponProducts}}} {{else}}
														{{#each products}}
															<option value= {{this.id}}>{{this.product_name}}</option>
														{{/each}}
													{{/if}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<div class="select-container">
												<select name="exclude_products" id="inputExcludeProduct" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
													{{#if existingCouponExcludeProducts}} {{{optionsSelected products existingCouponExcludeProducts}}} {{else}}
														{{#each products}}
															<option value= {{this.id}}>{{this.product_name}}</option>
														{{/each}}
													{{/if}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="number" name="usage_limit" id="inputUsageLimit" class="form-control-customized form-control-sm" placeholder="Usage Limit">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="number" name="limit_usage_to_x_items" id="inputLimitUsageToXItems" class="form-control-customized form-control-sm" placeholder="Limit usage to X items">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="number" name="usage_limit_per_user" id="inputUsageLimitPerUser" class="form-control-customized form-control-sm" placeholder="Usage limit per user">
										</div>
									</div>
								</div>
								<div class="cart-hr-line"></div>
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<button class="btn btn-md btn-success m-t" type="submit">SUBMIT</button>
											<button class="btn btn-md btn-muted m-t" type="button">CANCEL</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}