<script type="text/javascript">
	$(document).ready(function() {
		$('.multiSelect').select2();
		$('#gtc-message-alert').hide();
	});
</script>
<script type="text/javascript"> 
	$(function() {
		$("#inputExpiryDate").datepicker({
			format: 'yyyy-mm-dd',
			autoHide: true
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {

		$("#couponForm").submit(function(event) {
			var newCoupon = {};
			event.preventDefault();

			if ($('#couponForm').valid()) {
				newCoupon.id = $('#inputId').val();
				newCoupon.coupon_name = $('#inputCouponName').val();
				newCoupon.code = $('#inputCouponCode').val();
				newCoupon.discount_type = $('#inputDiscountType').val();
				newCoupon.discount_value = $('#inputDiscountValue').val();
				newCoupon.expiry_date = $('#inputExpiryDate').val();
				newCoupon.minimum_spend = $('#inputMinimumSpend').val();
				newCoupon.maximum_spend = $('#inputMaximumSpend').val();
				if($('#inputId').val()){
					newCoupon.status = $('#inputStatus').val();
				}else{
					newCoupon.status = 1;
				}
				newCoupon.individual_use_only = $('#inputIndividualUseOnly').is(':checked') ? 1 : 0;
				newCoupon.excluse_sale_item = $('#inputExcluseSaleItem').is(':checked') ? 1 : 0;
				newCoupon.usage_limit = $('#inputUsageLimit').val();
				newCoupon.limit_usage_to_x_items = $('#inputLimitUsageToXItems').val();
				newCoupon.usage_limit_per_user = $('#inputUsageLimitPerUser').val();
				newCoupon.categories = $('#inputCategories').val();
				newCoupon.exclude_categories = $('#inputExcludeCategories').val();
				newCoupon.products = $('#inputProducts').val();
				newCoupon.exclude_products = $('#inputExcludeProducts').val();

				$.ajax({
					url: '/api/coupon/save',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(newCoupon),
					processData: false,
					success: function(data, statusText, xhr) {
						auth.alertService(xhr.status, data);
					},
					error: function(request, status, error) {
						auth.alertService(request.status, request.responseText);
					}
				});
			}
		});

		$("#couponForm").validate({
			rules: {
				coupon_name: "required",
				coupon_code: "required",
				discount_type: "required",
				discount_value: "required",
				expiry_date: "required"
			},
			messages: {
				coupon_name: "Please enter coupon name.",
				coupon_code: "Please enter coupon code.",
				discount_type: "Please choose discount type.",
				discount_value: "Please enter discount value.",
				expiry_date: "Please enter expiry date."
			}
		});

		$("body").on("change", "#inputCategories", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputExcludeCategories option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputExcludeCategories option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputExcludeCategories", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputCategories option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputCategories option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputProducts", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputExcludeProducts option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputExcludeProducts option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("change", "#inputExcludeProducts", function() {
			var selected_val = $(this).val();
			if (Array.isArray(selected_val)) {
				$('#inputProducts option').prop('disabled', false).select2();
				selected_val.forEach((val) => {
					$("#inputProducts option[value='" + val + "']").prop('disabled', true).select2();
				});
			}
		}).on("select2:unselecting", ".multiSelect", function() {
			$(this).trigger('change');
		});
		$(".multiSelect").trigger('change');
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div id="vendorAlert" tabindex="1"><div class="gtc-container"></div></div>
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#ifCond LoggedInUser.Vendor.VendorPlans.[0].status '==' statusCode.ACTIVE}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
								<h2>{{#if coupon.id }} Edit Coupon
									<input type="hidden" name="coupon_id" value="{{coupon.id}}" /> {{else}} Create Coupon {{/if}}{{!-- Create/Edit Coupon --}}</h2>
							</div>
							<div class="hr-line"></div>
							<div class="content-body m-t">
								<form id="couponForm">
									{{#if coupon.id }}
									<div class="row">
										<div class="col-8">
											<div class="form-group">
												<input type="hidden" name="id" id="inputId" class="form-control-customized form-control-sm" value="{{coupon.id}}" disabled="true">
											</div>
										</div>
									</div>
									{{/if}}
									<div class="row">
										<div class="col-8">
											<div class="form-group">
												<input type="text" name="coupon_name" id="inputCouponName" class="form-control-customized form-control-sm" value="{{coupon.coupon_name}}" placeholder="Enter coupon name" required="true" autofocus="true">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="text" name="coupon_code" id="inputCouponCode" class="form-control-customized form-control-sm" value="{{coupon.code}}" placeholder="Enter coupon code" required="true">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<div class="select-container">
												<select name="discount_type" id="inputDiscountType" class="form-control-customized form-control-sm" required="true">
													{{#select coupon.discount_type}}
														<option value='' selected disabled="true">Discount Type</option>
														<option value="1">Percentage</option>
														<option value="2">Fixed Price</option>
														{{/select}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" name="discount_value" id="inputDiscountValue" class="form-control-customized form-control-sm" value="{{decimalFixed coupon.discount_value}}" placeholder="Discount value" required="true">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" name="expiry_date" id="inputExpiryDate" class="form-control-customized form-control-sm" value="{{coupon.expiry_date}}" placeholder="YYYY-MM-DD" required="false">
										</div>
									</div>
									<div class="col-2 no-padding">
										<label class="label-control vend_edit_list_spanstyle">Expiry date</label>
									</div>
								</div>
								{{#if coupon.id }}
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<div class="select-container">
													<select name="discount_type" id="inputStatus" class="form-control-customized form-control-sm" required="true">
														<option disabled="true" selected="true">Select status</option>
														{{#select coupon.status}}
														<option value="{{statusCode.ACTIVE}}">Active</option>
														<option value="{{statusCode.SUSPENDED}}">Suspended</option>
														<option value="{{statusCode.SOLDOUT}}">Sold Out</option>
														{{/select}}
													</select>
												</div>
											</div>
										</div>
									</div>
									{{/if}}
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="number" name="minimum_spend" id="inputMinimumSpend" class="form-control-customized form-control-sm" value="{{decimalFixed coupon.minimum_spend}}" placeholder="Minimum Spend">
											</div>
										</div>
										<div class="col-6 no-padding">
											<label class="label-control vend_edit_list_spanstyle">Set the Minimum spend (including subtotal with taxes) allowed to use the coupon</label>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="number" name="maximum_spend" id="inputMaximumSpend" class="form-control-customized form-control-sm" value="{{decimalFixed coupon.maximum_spend}}" placeholder="Maximum Spend">
											</div>
										</div>
										<div class="col-6 no-padding">
											<label class="label-control vend_edit_list_spanstyle">Set the Maximum spend (including subtotal with taxes) allowed to use the coupon</label>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<div class="customCheckbox">
													<input type="checkbox" name="individual_use_only" id="inputIndividualUseOnly" class="customCheckboxInput" {{#if coupon.individual_use_only}}checked{{/if}}>
													<label class="checkbox-b" for="inputIndividualUseOnly"></label>
													<small class="m-l"><strong>Individual use only</strong></small>
												</div>
											</div>
										</div>
										{{!-- <div class="col-2 no-padding">
											<label class="label-control">Expiry date</label>
										</div> --}}
									</div>
									<div class="row">
										<div class="col-2">
											<div class="form-group">
												<div class="customCheckbox">
													<input type="checkbox" name="excluse_sale_item" id="inputExcluseSaleItem" class="customCheckboxInput" {{#if coupon.excluse_sale_item}}checked{{/if}}>
													<label class="checkbox-b" for="inputExcluseSaleItem"></label>
													<small class="m-l"><strong>Excluse sale item</strong></small>
												</div>
											</div>
										</div>
										<div class="col-10 no-padding">
											<label class="label-control vend_edit_list_spanstyle">Check this box if the coupon should not apply to items on sale. Per-item coupons will only work if the item is not on sale. Per-cart coupons will only work if there are no sale items iin the cart.</label>
										</div>
									</div>
									<div class="row">
										<div class="col-5">
											<div class="form-group">
												<div class="select-container">
													<select name="categories" id="inputCategories" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
														{{#if existingCouponCategories}} {{{optionsSelectedCategory categories existingCouponCategories}}} {{else}}
															{{#each categories}}
																<option value= {{this.id}}>{{this.name}}</option>
															{{/each}}
														{{/if}}
													</select>
												</div>
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">Products must be in this category for this coupon to be applicable</label>
										</div>
									</div>
									<div class="row">
										<div class="col-5">
											<div class="form-group">
												<div class="select-container">
													<select name="exclude_categories" id="inputExcludeCategories" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
														{{#if existingCouponExcludeCategories}} {{{optionsSelectedCategory categories existingCouponExcludeCategories}}} {{else}}
															{{#each categories}}
																<option value= {{this.id}}>{{this.name}}</option>
															{{/each}}
														{{/if}}
													</select>
												</div>
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">Products must not be in this category for this coupon to be applicable</label>
										</div>
									</div>
									<div class="row">
										<div class="col-5">
											<div class="form-group">
												<div class="select-container">
													<select name="products" id="inputProducts" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
														{{#if existingCouponProducts}} {{{optionsSelected products existingCouponProducts}}} {{else}}
															{{#each products}}
																<option value= {{this.id}}>{{this.product_name}}</option>
															{{/each}}
														{{/if}}
													</select>
												</div>
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">Products which need to be in the cart for this coupon to be applicable</label>
										</div>
									</div>
									<div class="row">
										<div class="col-5">
											<div class="form-group">
												<div class="select-container">
													<select name="exclude_products" id="inputExcludeProducts" multiple="multiple" class="form-control-customized form-control-sm multiSelect">
														{{#if existingCouponExcludeProducts}} {{{optionsSelected products existingCouponExcludeProducts}}} {{else}}
															{{#each products}}
																<option value= {{this.id}}>{{this.product_name}}</option>
															{{/each}}
														{{/if}}
													</select>
												</div>
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">Products which must not be in the cart for this coupon to be applicable</label>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="number" name="usage_limit" id="inputUsageLimit" class="form-control-customized form-control-sm" value="{{coupon.usage_limit}}" placeholder="Usage Limit">
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">How many times this coupon can be used before it is void (default is unlimited)</label>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="number" name="limit_usage_to_x_items" id="inputLimitUsageToXItems" class="form-control-customized form-control-sm" value="{{coupon.limit_usage_to_x_items}}" placeholder="Limit usage to X items">
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">The maximum items this coupon can be applied to when using product discount (default is all)</label>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="number" name="usage_limit_per_user" id="inputUsageLimitPerUser" class="form-control-customized form-control-sm" value="{{coupon.usage_limit_per_user}}" placeholder="Usage limit per user">
											</div>
										</div>
										<div class="col-6">
										<label class="label-control vend_edit_list_spanstyle">How many times this coupons can be used by an individual (default is unlimited)</label>
										</div>
									</div>
									<div class="hr-line"></div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<button class="btn btn-md btn-success m-t" type="submit">SUBMIT</button>
												<button class="btn btn-md btn-muted m-t" type="button">CANCEL</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/ifCond}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}