<script type="text/javascript">
var params = {{{ DisplayJSON queryParamsString }}};
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}

	function limit(size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "/coupons?"+ params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	function changeStatus(e) {
		window.location.href = '/coupons?status=' + e.value;
		// console.log(e.value)
		// var chkArray = [];
		// $(':checkbox:checked').each(function (i) {
		// 		if ($(this).val() != 'on') {
		// 			chkArray.push($(this).val());
		// 		}
		// });
		// var selected;
		// selected = chkArray.join(',');
		// var data = {};
		//  data.status = e.value;
		//  data.ids = JSON.stringify(chkArray);
		//  if(chkArray.length>0){
		// 	$.ajax({
		// 		type: 'PUT',
		// 		data:data,
		// 		url: '/api/coupon/update-status',
		// 		success: function (data) {
		// 			console.log(data);
		// 			location.reload();
		// 		},
		// 		error: function (error) {
	 //                console.log(error);
		// 		}
	 //        })
		// }else{
		// 	ouputErrorPopup("Select Atleast One Coupon");
		// }

	}

	function edit(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			if ($(this).val() != 'on') {
					chkArray.push($(this).val());
				}
		});
		var selected;
		selected = chkArray.join(',');
		if (selected.length > 0) {
			window.location.href = '/coupons/edit-coupons?id=' + selected;
		} else {
			ouputErrorPopup("Please select one coupon to edit.");
		}
	}
	function create(e) {
		window.location.href = '/coupons/add-coupon';
	}

  function ouputErrorPopup(data) {
      $('#gtc-coupon-alert').prop('disabled', false);
      $('#gtc-coupon-alert').removeClass('alert-success').addClass('alert-danger');
      $('#gtc-coupon-alert .coupon-message').text(data);
      $("#gtc-coupon-alert").fadeTo(1000, 500).slideUp(500, function () {
        $("#gtc-coupon-alert").slideUp(200);
    });
  }
  $(document).ready(function(){
  	$('#gtc-coupon-alert').hide();
  	$(".checkbox").change(function(e) {
   			$('#checkbox').prop('checked', false);
		});

	   $("#coupenListing").submit(function(e) {
            e.preventDefault();
            let formInput = $("#coupenListing :input").filter(function(index, element) {
                return $(element).val() != '';
            }).serialize();
           if(formInput!='')
            {
              window.location.href = 'coupons?' + formInput;
             }
          });
  });
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
								<h2>Coupons
									<span class="pull-right" style="font-size:12px"><a href="/coupons">Clear All</a></span>
								</h2>
							</div>
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-inline pull-left m-t-md">
											<div class="form-group m-r">
												<button type="submit" class="btn btn-md btn-muted" onclick="create(this);" >ADD COUPON</button>
											</div>
											<div class="form-group m-r">
												<div class="select-container">
													<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" onChange="changeStatus(this);">
														{{#select queryURI.status}}
															<option disabled selected>CHANGE STATUS</option>
															<option value="ACTIVE">Active</option>
															<option value="SUSPENDED">Suspended</option>
															<option value="SOLDOUT">Sold Out</option>
														{{/select}}
													</select>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-md btn-muted" onclick="edit(this)">EDIT/FEATURE</button>
											</div>
										</div>
										<form class="form-inline pull-right m-t-md" id="coupenListing">
											<div class="form-group">
												<div class="input-group gtc-rounded">
													<input type="text" placeholder="Search Coupons" class="form-control form-control-sm"  name="name" value="{{queryURI.name}}">
													<button type="submit" class="btn btn-sm btn-gtc">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								{{#if Coupons.count}}
								<div class="row py-2">
									<div class="col-md-12">
										<div class="alert" id="gtc-coupon-alert">
											<button type="button" class="close" data-dismiss="alert">
												<span aria-hidden="true">&times;</span>
											</button>
												<span class="coupon-message"></span>
										</div> 
										<small class="font-weight-light">{{Coupons.count}} items total</small>
										<div class="float-right">
											<small class="font-weight-light">Entries per page : </small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)" href="javascript:;">All</a>
											</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											<thead>
												<tr>
													<th>
														<div class="customCheckbox">
															<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
															<label class="checkbox-b" for="inputCheckbox"></label>
														</div>
													</th>	
													<th>Coupon Name</th>
													<th>Coupon Code</th>
													<th>Publish Date</th>
													<th>Expiry Date</th>
													<th>Type</th>
													<th>Sales</th>
													<th>Discount</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												{{#each Coupons.rows}}
													<tr>
														<td>
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" value="{{this.id}}">
																<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
															</div>
														</td>
														<td class="text_blue_color"><a href="/coupons/edit-coupons?id={{this.id}}">{{this.coupon_name}}</a></td>
														<td>{{this.code}}</td>
														<td>{{formatTime this.publish_date "MMM D, YYYY"}}</td>
														<td>{{formatTime this.expiry_date "MMM D, YYYY"}}</td>
														{{!-- DiscountType --}}
														{{#ifCond this.discount_type "==" ../discountType.Percentage}}
														<td>Percentage</td>
														{{else ifCond this.discount_type "==" ../discountType.FixedPrice}}
														<td>Fixed Price</td>
														{{/ifCond}} {{!--End DiscountType --}}
														<td class="text_blue_color">
															{{#if this.sales_count}} {{this.sales_count}}{{else}}0 {{/if}}
														</td>
														<td>
															{{#ifCond this.discount_type "==" ../discountType.Percentage}}
																{{decimalFixed this.discount_value}}&nbsp;% {{else ifCond this.discount_type "==" ../discountType.FixedPrice}} {{currency this.discount_value '$'}}&nbsp;
																<small>CAD</small>
															{{/ifCond}}
														</td>
														<td class={{#ifCond this.status '==' ../statusCode.ACTIVE}} "text_green_color"
																	{{else ifCond this.status '==' ../statusCode.SUSPENDED}} "text_orange_color"
																	{{else ifCond this.status '==' ../statusCode.SOLDOUT}} "text_red_color"
																	{{/ifCond}}>
															{{#ifCond this.status '==' ../statusCode.ACTIVE}}Active
															{{else ifCond this.status '==' ../statusCode.SUSPENDED}}Suspended
															{{else ifCond this.status '==' ../statusCode.SOLDOUT}}Sold Out
															{{/ifCond}} 
														</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
								{{!-- Pagination starts --}}
									{{#ifCond Coupons.count '>' queryURI.limit}}
										<div class="row">
											<div class="col-md-12 align-self-center">
												{{#pagination Coupons.count queryURI.page queryURI.limit 2}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../coupons?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="../coupons?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryURI.limit)}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../coupons?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{!-- Pagination Ends --}}
								{{else}}
									<h4 class="font-weight-light py-3 text-center">No Results!</h4>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}