<script type="text/javascript">

	var state = {{{ DisplayJSON state }}};
	var shippingAddress = {{{ DisplayJSON shipping_address }}};
	var billingAddress = {{{ DisplayJSON billing_address }}};

	$(document).ready(function() {
		$('#gtc-form-alert').css("display", "none")
		var customerInformationObj = {};

		if ($('#inputBillingAddressId').val()) {
			$('#edit-billing-address').hide();
		} else {
			$('#show-billing-address').remove();
		}

		for (let i = 0; i < shippingAddress.length; i++) {
			let option = '<option value="' + shippingAddress[i].id + '">' +
				shippingAddress[i].address_line1 + '</option>';
			$('select[name="shipping_address_select_id"]').append(option);
		}

		for (let i = 0; i < billingAddress.length; i++) {
			let option = '<option value="' + billingAddress[i].id + '">' +
				billingAddress[i].address_line1 + '</option>';
			$('select[name="billing_address_select_id"]').append(option);
		}

		$('#billing-select-country').on('change', function() {
			$('#billing-select-state').empty();
			let emptyOption = `<option value="">Choose Province</option>`;
			$('#billing-select-state').append(emptyOption)
			for (let i = 0; i < state.length; i++) {
				if (this.value == state[i].Country.id) {
					let stateOptions = '<option value="' + state[i].id + '">' + state[i].name + '</option>';
					$('#billing-select-state').append(stateOptions)
				}
			}
		});

		$('#shipping-select-country').on('change', function() {
			$('#shipping-select-state').empty();
			let emptyOption = `<option value="">Choose Province</option>`;
			$('#shipping-select-state').append(emptyOption)
			for (let i = 0; i < state.length; i++) {
				if (this.value == state[i].Country.id) {
					let stateOptions = '<option value="' + state[i].id + '">' + state[i].name + '</option>';
					$('#shipping-select-state').append(stateOptions);
				}
			}
		});

		if (shippingAddress && shippingAddress[0] && shippingAddress[0].Country)
			$("#shipping-select-country").val(shippingAddress[0].Country.id).trigger('change');
		if (shippingAddress && shippingAddress[0] && shippingAddress[0].State)
			$("#shipping-select-state").val(shippingAddress[0].State.id);

		$('#billing-select-country').on('change', function() {
			$('#billing-select-state').empty();
			let emptyOption = `<option value="">Choose Province</option>`;
			$('#billing-select-state').append(emptyOption)
			for (let i = 0; i < state.length; i++) {
				if (this.value == state[i].Country.id) {
					let stateOptions = '<option value="' + state[i].id + '">' + state[i].name + '</option>';
					$('#billing-select-state').append(stateOptions)
				}
			}
		});

		if (billingAddress && billingAddress[0] && billingAddress[0].Country)
			$("#billing-select-country").val(billingAddress[0].Country.id).trigger('change');
		if (billingAddress && billingAddress[0] && billingAddress[0].State)
			$("#billing-select-state").val(billingAddress[0].State.id)

		function getFormData($form) {
			var unindexed_array = $form.serializeArray();
			var indexed_array = {};

			$.map(unindexed_array, function(n, i) {
				indexed_array[n['name']] = n['value'];
			});

			return indexed_array;
		}

		$('#billingAddressSelectId').on('change', function() {
			if ($('#billingAddressSelectId').val()) {
				$('#enableManuelBillingAddress').hide();
			} else {
				$('#enableManuelBillingAddress').show();
			}
		});

		$('#shippingAddressSelectId').on('change', function() {
			if ($('#shippingAddressSelectId').val()) {
				$('#enableManuelShippingAddress').hide();
			} else {
				$('#enableManuelShippingAddress').show();
			}
		});

		$("#customer-information").submit(function(e) {
			e.preventDefault();

			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					customerInformationObj['rules'] = {};
					customerInformationObj['messages'] = {};

					if (!$('#inputBillingAddressId').val() && !$('#billingAddressSelectId').val()) {
						customerInformationObj['rules'].billing_first_name = "required";
						customerInformationObj['rules'].billing_addressline1 = "required";
						customerInformationObj['rules'].billing_city = "required";
						customerInformationObj['rules'].billing_country = "required";
						customerInformationObj['rules'].billing_state = "required";
						customerInformationObj['rules'].billing_phone = "required";
						customerInformationObj['messages'].billing_first_name = "First name is required.";
						customerInformationObj['messages'].billing_addressline1 = "Address line 1 is required.";
						customerInformationObj['messages'].billing_city = "City is required.";
						customerInformationObj['messages'].billing_country = "Country is required.";
						customerInformationObj['messages'].billing_state = "State is required.";
						customerInformationObj['messages'].billing_phone = "Phone Number is required.";
					}

					if (!$('#inputShippingAddressId').val() && !$('#shippingAddressSelectId').val()) {
						customerInformationObj['rules'].shipping_first_name = "required";
						customerInformationObj['rules'].shipping_addressline1 = "required";
						customerInformationObj['rules'].shipping_city = "required";
						customerInformationObj['rules'].shipping_country = "required";
						customerInformationObj['rules'].shipping_state = "required";
						customerInformationObj['rules'].shipping_phone = "required";
						customerInformationObj['messages'].shipping_first_name = "First name is required.";
						customerInformationObj['messages'].shipping_addressline1 = "Address line 1 is required.";
						customerInformationObj['messages'].shipping_city = "City is required.";
						customerInformationObj['messages'].shipping_country = "Country is required.";
						customerInformationObj['messages'].shipping_state = "State is required.";
						customerInformationObj['messages'].shipping_phone = "Phone Number is required.";
					}

					if ($('#customer-information').valid()) {
						$.ajax({
							url: '/api/order-checkout/customer-information',
							type: 'POST',
							data: JSON.stringify(getFormData($("#customer-information"))),
							contentType: "application/json",
							success: function(data) {
								window.location.href = "/order-checkout/shipping-method?selected_shipping_address_id=" + data.shipping_address_id + "&selected_billing_address_id=" + data.billing_address_id;
							},
							error: function(error) {
								var errorJSON = JSON.parse(error.responseText);
								console.log("Error occured adding Shipping Details", error);
								$("#blukErrorBlock").empty();
								var ul = $('<ul></ul>');
								if (errorJSON.length > 0) {
									for (var i = 0; i < errorJSON.length; i++) {
										ul.append('<li><span>' + errorJSON[i].msg + '</span></li>')
									}
								}
								$("#blukErrorBlock").focus();
								$('#blukErrorBlock').append(ul);
							}
						});
					}
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});

		$("#customer-information").validate(customerInformationObj);

		$("#different_shipping_address").change(function() {
			let ischecked = $(this).is(':checked');
			if (!ischecked) {
				$('#shipping-method-submission').hide();
				$('input[name="shipping_address_id"]').val($('input[name="billing_address_id"]').val());
			} else {
				$('#shipping-method-submission').show();
				$('input[name="shipping_address_id"]').val('');
			}
		});
	});

	function editBillingAddressButton() {
		$('#display-billing-address').hide();
		$('#edit-billing-address').show();
		$('#show-billing-address').remove();
		$('input[name="billing_address_id"]').val('');
	}

	function CartPage() {
		window.location.href = "/cart";
	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#shippingMethodLink").click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					window.location.href = "/order-checkout/shipping-method" + window.location.search;
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});
		$("#paymentMethodLink").click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					window.location.href = "/order-checkout/payment-method" + window.location.search;
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});
	});
	function CartPage() {
		window.location.href = "/cart";
	}
</script> {{> header/top-header LoggedInUser = LoggedInUser}}
<div id="vendorAlert" tabindex="1">
	<div class="gtc-container"></div>
</div>
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="./order-checkout/customer-information" class="active">1. Customer Information</a>
					</li>
					<li>
						<a href="javascript:;" id="shippingMethodLink">2. Shipping Method</a>
					</li>
					<li>
						<a href="javascript:;" id="paymentMethodLink">3. Payment Method</a>
					</li>
					<li>
						<a href="#">4. Confirmation</a>
					</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
					<span class="text-sm">You're logged in as </span>
					<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
					<button type="button" class="btn btn-sm btn-primary" onclick="gtcLogout()">SWITCH ACCOUNT</button>
				{{else}}
					<span class="text-sm">
						<a href="/login">LOGIN</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="bulk-error-block" tabindex="1" id="blukErrorBlock"></div>
		<div class="body-content-1">
			<form id="customer-information" method="post">
				<div class="row no-margins">
					<div class="col-sm-9half no-padding bg-white">
						<div class="header-left header-lg gtc-p-l-r">
							<h2 class="header-lg-text alignleft text-white">Customer Information</h2>
						</div>
						<div class="m-cart-body-1 bg-white">
							<div class="row">
								<div class="col-md-3 col-12">
									<label class="label-control text-sm text-black">
										<strong>Customer Information</strong>
									</label>
								</div>
								<div class="col-md-8 col-12">
									<div class="row" id="show-billing-address">
										<div class="col-12">
											<div class="form-group">
												<div class="address-content" id="display-billing-address">
													<input type="hidden" id="inputBillingAddressId" name="billing_address_id" value="{{billing_address.[0].id}}">
													<h3>{{LoggedInUser.first_name}}
														<a class="m-l-xs text-sm" href="javascript:;" title="Edit..." onclick="editBillingAddressButton()">
															<i class="fa fa-edit"></i>
														</a>
													</h3>
													<p>{{billing_address.[0].address_line1}}</p>
													<p>{{billing_address.[0].address_line2}}</p>
													<p>{{billing_address.[0].city}}</p>
													<p>{{billing_address.[0].State.name}}</p>
													<p>{{billing_address.[0].Country.name}}</p>
													<p>{{billing_address.[0].postal_code}}</p>
													<p>{{billing_address.[0].phone}}</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row" id="edit-billing-address">
										<div class="col-12">
											<div class="form-group">
												<div class="select-container">
													<select id="billingAddressSelectId" name="billing_address_select_id" class="form-control-customized form-control-sm input-rounded-border">
														<option value='' selected="true">Choose Address...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row col no-padding no-margins" id="enableManuelBillingAddress">
											<div class="col-12">
												<h2 class="horizontal-divider-line">
													<span>OR</span>
												</h2>
											</div>
											<div class="col">
												{{#if LoggedInUser.first_name}}
													<div class="form-group">
														<input type="text" name="billing_first_name" value="{{LoggedInUser.first_name}}" class="form-control form-control-sm input-rounded-border"
														 placeholder="First name" required="required">
													</div>
												{{else}}
													<div class="form-group">
														<input type="text" name="billing_first_name" class="form-control form-control-sm input-rounded-border" placeholder="First name"
														 required="required">
													</div>
												{{/if}}
											</div>
											<div class="col">
												{{#if LoggedInUser.last_name}}
													<div class="form-group">
														<input type="text" name="billing_last_name" value="{{LoggedInUser.last_name}}" class="form-control form-control-sm input-rounded-border"
														 placeholder="Last name">
													</div>
												{{else}}
													<div class="form-group">
														<input type="text" name="billing_last_name" class="form-control form-control-sm input-rounded-border" placeholder="Last name">
													</div>
												{{/if}}
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="billing_company" value="{{billing_address.[0].company_name}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="Company (optional)">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="billing_addressline1" value="{{billing_address.[0].address_line1}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="Address" required="required">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="billing_addressline2" value="{{billing_address.[0].address_line2}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="App, Suite">
												</div>
											</div>
											<div class="col-4 p-n-r">
												<div class="form-group">
													<div class="select-container">
														<select required="required" id="billing-select-country" name="billing_country" class="form-control-customized form-control-sm input-rounded-border">
															<option disabled selected>Choose Country...</option>
															{{#each country}}
																<option value="{{this.id}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="col-4 p-n-r">
												<div class="form-group">
													<div class="select-container">
														<select required="required" id="billing-select-state" name="billing_state" class="form-control-customized form-control-sm input-rounded-border">
															<option disabled selected>Choose Province...</option>
															{{#each state}}
																<option value="{{this.id}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<input type="text" name="billing_city" value="{{billing_address.[0].city}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="City" required="required">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<input type="text" name="billing_postal" value="{{billing_address.[0].postal_code}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="Postal">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="billing_phone" value="{{billing_address.[0].phone}}" class="form-control form-control-sm input-rounded-border"
													 placeholder="Phone" required="required">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cart-hr-line"></div>
						<div class="m-cart-body-1 bg-white">
							<div class="row">
								<div class="col-md-3 col-12">
									<label class="label-control text-sm text-black">
										<strong>Shipping Address</strong>
									</label>
								</div>
								<div class="col-md-8 col-12">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<div class="customCheckbox">
													<input id="different_shipping_address" class="customCheckboxInput" name="different_shipping_address" type="checkbox" checked="checked">
													<label for="different_shipping_address"></label>
													<small class="m-l-sm text-black">Shipping Address is different than my billing address above</small>
												</div>
											</div>
										</div>
									</div>
									<div class="row" id="shipping-method-submission">
										<div class="col-12">
											<div class="form-group">
												<div class="select-container">
													<select id="shippingAddressSelectId" name="shipping_address_select_id" class="form-control-customized form-control-sm input-rounded-border">
														<option value="" selected="true">Choose Address...</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row col no-padding no-margins" id="enableManuelShippingAddress">
											<div class="col-12">
												<h2 class="horizontal-divider-line">
													<span>OR</span>
												</h2>
											</div>
											<div class="col">
												<input type="hidden" id="inputShippingAddressId" name="shipping_address_id" value="{{shipping_address.[0].id}}" />
												<div class="form-group">
													<input type="text" name="shipping_first_name" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].User.first_name}}"
													 placeholder="First name" required="required">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="text" name="shipping_last_name" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].User.last_name}}"
													 placeholder="Last name">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="shipping_company" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].company_name}}"
													 placeholder="Company (optional)">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="shipping_addressline1" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].address_line1}}"
													 placeholder="Address" required="required">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<input type="text" name="shipping_addressline2" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].address_line2}}"
													 placeholder="App, Suite">
												</div>
											</div>
											<div class="col-4 p-n-r">
												<div class="form-group">
													<div class="select-container">
														<select id="shipping-select-country" name="shipping_country" class="form-control-customized form-control-sm input-rounded-border"
														 required="required">
															<option disabled selected>Choose Country...</option>
															{{#each country}}
																<option value="{{this.id}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="col-4 p-n-r">
												<div class="form-group">
													<div class="select-container">
														<select id="shipping-select-state" name="shipping_state" class="form-control-customized form-control-sm input-rounded-border"
														 required="required">
															<option disabled selected>Choose Province...</option>
															{{#each state}}
																<option value="{{this.id}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<input type="text" name="shipping_city" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].city}}"
													 placeholder="City" required="required">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<input name="shipping_postal" type="text" class="form-control form-control-sm input-rounded-border" value="{{shipping_address.[0].postal_code}}"
													 placeholder="Postal">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="shipping_phone" class="form-control form-control-sm input-rounded-border" placeholder="Phone" required="required">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3half no-padding">
						<div class="header-left header-lg gtc-p-l-r">
							<h2 class="header-lg-text alignleft text-white">Your Order</h2>
						</div>
						<div class="cart-summary">
							{{#if cart.total_items}}
								{{#each cart.marketplace_summary}}
									{{#ifCond @root.marketPlace.WHOLESALE '==' @key}}
										<h2 class="text-marketplace-{{@key}}">Wholesale Summary</h2>
										<div class="cart-hr-line"></div>
										<div class="summary-m-total">
											<p class="summary-info">Subtotal
												<span>{{currency this.sub_total '$'}}</span>
											</p>
											<p class="summary-info">Shipping Ground
												<span>{{currency this.shipping_ground '$'}}</span>
											</p>
										</div>
										<div class="cart-hr-line"></div>
										<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">WHOLESALE TOTAL
											<span>{{currency this.total '$'}}</span>
										</p>
									{{/ifCond}}
									{{#ifCond @root.marketPlace.PUBLIC '==' @key}}
										<h2 class="text-marketplace-{{@key}}">Shop Summary</h2>
										<div class="cart-hr-line"></div>
										<div class="summary-m-total">
											<p class="summary-info">Subtotal
												<span>{{currency this.sub_total '$'}}</span>
											</p>
											<p class="summary-info">Shipping Ground
												<span>{{currency this.shipping_ground '$'}}</span>
											</p>
										</div>
										<div class="cart-hr-line"></div>
										<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SHOP TOTAL
											<span>{{currency this.total '$'}}</span>
										</p>
									{{/ifCond}}
									{{#ifCond @root.marketPlace.SERVICE '==' @key}}
										<h2 class="text-marketplace-{{@key}}">Service Summary</h2>
										<div class="cart-hr-line"></div>
										<div class="summary-m-total">
											<p class="summary-info">Subtotal
												<span>{{currency this.sub_total '$'}}</span>
											</p>
											<p class="summary-info">Shipping Ground
												<span>{{currency this.shipping_ground '$'}}</span>
											</p>
										</div>
										<div class="cart-hr-line"></div>
										<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SERVICE TOTAL
											<span>{{currency this.total '$'}}</span>
										</p>
									{{/ifCond}}
									{{#ifCond @root.marketPlace.LIFESTYLE '==' @key}}
										<h2 class="text-marketplace-{{@key}}">Subscription Summary</h2>
										<div class="cart-hr-line"></div>
										<div class="summary-m-total">
											<p class="summary-info">Subtotal
												<span>{{currency this.sub_total '$'}}</span>
											</p>
											<p class="summary-info">Shipping Ground
												<span>{{currency this.shipping_ground '$'}}</span>
											</p>
										</div>
										<div class="cart-hr-line"></div>
										<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SUBSCRIPTION TOTAL
											<span>{{currency this.total '$'}}</span>
										</p>
									{{/ifCond}}
								{{/each}}
								{{#if cart.coupon_applied}}
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs">TOTAL
										<span>{{currency cart.grand_total '$'}}</span>
									</p>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">DISCOUNT
										<span>- {{currency cart.discount_amount '$'}}</span>
									</p>
								{{/if}}
								<div class="grand-total">
									<p class="summary-info text-uppercase text-black font-weight-bold">GRAND TOTAL
										<span>{{currency cart.grand_total_with_discounted_amount '$'}}</span>
									</p>
								</div>
								{{#if cart.coupon_applied}}
									<div class="m-t-sm text-center">
										<label class="m-b-xs">Promo Code #{{cart.coupon_code}} Applied</label>
										<p>
											<strong class="text-black"> -
												{{#ifCond cart.discount_type "==" 2}} ${{/ifCond}} {{decimalFixed cart.discount_value}}
												{{#ifCond cart.discount_type "==" 1}}
													% {{/ifCond}}OFF </strong>
										</p>
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
				<div class="row no-margins">
					<div class="col-sm-9half no-padding">
						<div class="m-cart-body-bottom bg-white">
							<button type="button" onclick="CartPage()" class="ladda-button btn btn-md btn-success">
								<span class="ladda-label">RETURN TO CART</span>
								<span class="ladda-spinner"></span>
							</button>
							<button type="submit" id="continue" class="ladda-button btn btn-md btn-primary alignright">
								<span class="ladda-label">CONTINUE TO SHIPPING METHOD</span>
								<span class="ladda-spinner"></span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}