{{> header/top-header LoggedInUser = LoggedInUser}}
<script type="text/javascript">
$(document).ready(function() {
	$("#shippingMethodLink").click(function(e) {
		e.preventDefault();
		window.location.href = "/order-checkout/shipping-method" + window.location.search;
	});
	$("#paymentMethodLink").click(function(e) {
		e.preventDefault();
		window.location.href = "/order-checkout/payment-method" + window.location.search;
	});
});
</script>
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="./order-checkout/customer-information">1. Customer Information</a>
					</li>
					<li>
						<a href="javascript:;" id="shippingMethodLink">2. Shipping Method</a>
					</li>
					<li>
						<a href="javascript:;" class="active" id="paymentMethodLink">3. Payment Method</a>
					</li>
					<li>
						<a href="#">4. Confirmation</a>
					</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
				<span class="text-sm">You're logged in as </span>
				<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
				<button type="button" class="btn btn-sm btn-primary">SWITCH ACCOUNT</button>
				{{else}}
				<span class="text-sm">
					<a href="/login">Login</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1">
			<div class="row no-margins">
				<div class="col-sm-9half no-padding bg-white">
					<div class="header-left header-lg gtc-p-l-r">
						<h2 class="header-lg-text alignleft text-white">PAYMENT METHOD</h2>
					</div>
					<div class="m-cart-body-1">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black"><strong>Payment Method</strong></label>
							</div>
							<div class="col-md-8 col-12">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<div class="select-container">
												<select class="form-control-customized form-control-sm input-b-xs">
													<option value='' disabled='disabled' selected>Select Payment Method...</option>
													{{#each cards}}
													<option value='{{this.id}}'>{{this.card_type}} **** **** **** {{json this.card_details 'last4'}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<img src="../img/card.png">
										</div>
									</div>
									<h2 class="horizontal-divider-line"><span>OR</span></h2>
									<div class="col-12">
										<input type="hidden" name="selected_billing_address_id" value="{{selected_billing_address.id}}">
										<input type="hidden" name="selected_shipping_address_id" value="{{selected_shipping_address.id}}">
									</div>
									<div class="col-md-12">
										<form id="stripe-card-transaction-form" name="stripe-card-transaction-form" onsubmit="return false">
											<div class="pyt_group">
												<label class="pyt_label">
													<input id="cardholder-name" name="cardholder-name" class="pyt_field" placeholder="Card Holder Name" />
												</label>
											</div>
											<div class="pyt_group">
												<label class="pyt_label">
													<div id="gtc-stripe-card-element" class="pyt_field"></div>
												</label>
											</div>
											<div id="stripe-error-validation" class="alert" style="display:none;"></div>
											<img src="../img/card1.png">
											<button type="submit" class="ladda-button btn btn-md btn-order" id="complete-order-submit" data-style="expand-left">
												<span class="ladda-label">COMPLETE ORDER</span><span class="ladda-spinner"></span>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3half no-padding">
					<div class="header-right header-lg gtc-p-l-r">
						<h2 class="header-lg-text">YOUR ORDER</h2>
					</div>
					<div class="cart-summary">
						{{#each marketPlaces as |marketplace|}}
						{{#each ../totalPriceList as |totalPrice|}}
						{{#ifCond marketplace.code '==' @key}}
						<h2 class="text-marketplace-{{marketplace.id}}">{{cartPageClass marketplace 'LABEL'}} Summary</h2>
						<div class="cart-hr-line"></div>
						<div class="total-content m-b-sm">
							<div class="alignleft">
								<span class="total-text">Subtotal</span>
							</div>
							<div class="alignright">
								<span class="total-value">{{currency totalPrice.price '$'}}</span>
							</div>
							<div style="clear: both;"></div>
							<div class="alignleft">
								<span class="total-text">Shipping Ground</span>
							</div>
							<div class="alignright">
								<span class="total-value">{{currency totalPrice.shipping '$'}}</span>
							</div>
							<div style="clear: both;"></div>
							<div class="cart-hr-line"></div>
							<div class="alignleft">
								<span class="total-text">
									<b>{{cartPageClass marketplace 'LABEL'}} TOTAL</b>
								</span>
							</div>
							<div class="alignright">
								<span class="total-value">{{currency totalPrice.total '$'}}</span>
							</div>
							<div style="clear: both;"></div>
						</div>
						{{/ifCond}}
						{{/each}}
						{{/each}}
						<div class="total-content m-b-sm">
							<div class="alignleft">
								<span class="total-text">
									<b>GRAND TOTAL</b>
								</span>
							</div>
							<div class="alignright">
								<span class="total-value">{{currency totalPriceList.grandTotal '$'}}</span>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe('{{stripePublishableKey}}');
var elements = stripe.elements({
	fonts: [{
		cssSrc: 'https://fonts.googleapis.com/css?family=Roboto:400,700',
	}],
	locale: 'auto'
});

var card = elements.create('card', {
	hidePostalCode: true,
	style: {
		base: {
			iconColor: '#666EE8',
			color: '#31325F',
			fontWeight: 700,
			fontFamily: 'Roboto, sans-serif',
			fontSize: '16px',
			lineHeight: '38px',
			fontSmoothing: 'antialiased',

			'::placeholder': {
				color: '#b1afaf'
			}
		},
	}
});

card.mount('#gtc-stripe-card-element');

var errorElement = $('#stripe-error-validation');

$('#stripe-card-transaction-form').submit(function(e) {
	e.preventDefault();
	$('#complete-order-submit').prop('disabled', true);
	$('#complete-order-submit').css({
		'cursor': "not-allowed"
	});

	if (!_.isUndefined($('select[name="payment_method_select_id"]').val()) &&
		!_.isNull($('select[name="payment_method_select_id"]').val())) {

		makePayment($('select[name="payment_method_select_id"]').val());
		return;
	}

	let extraDetails = {
		name: $('#stripe-card-transaction-form input[name=cardholder-name]').val(),
	};
	if (!$('#stripe-card-transaction-form input[name=cardholder-name]').val()) {
		errorElement.text("Card Holder Name is required");
		errorElement.css("display", "block");
		errorElement.removeClass('alert-success').addClass('alert-danger');
		$('#complete-order-submit').prop('disabled', false);
		$('#complete-order-submit').css({
			'cursor': "pointer"
		});
		return;
	}

	stripe.createToken(card, extraDetails).then(function(result) {
		errorElement.css("display", "none");
		if (result.error && result.error.message) {
			errorElement.text(result.error.message);
			errorElement.css("display", "block");
			errorElement.removeClass('alert-success').addClass('alert-danger');
			$('#complete-order-submit').prop('disabled', false);
			$('#complete-order-submit').css({
				'cursor': "pointer"
			});
			return;
		}

		$.ajax({
			url: '/api/payment/card',
			type: 'POST',
			contentType: 'application/json',
			dataType: "json",
			data: JSON.stringify({
				token: result.token,
				isPrimary: false
			}),
			success: function(data) {
				var paymentSettingId = data.id;
				$('select[name="payment_method_select_id"]').val(paymentSettingId);
				makePayment(paymentSettingId);
			},
			error: function(error) {
				$('#complete-order-submit').prop('disabled', false);
				$('#complete-order-submit').css({
					'cursor': "pointer"
				});
			}
		});
	});
});

function makePayment(paymentSettingId) {
	$.ajax({
		url: '/api/payment/pay',
		type: 'POST',
		contentType: 'application/json',
		dataType: "json",
		data: JSON.stringify({
			paymentSettingId: paymentSettingId,
			selected_billing_address_id: $('input[name="selected_billing_address_id"]').val(),
			selected_shipping_address_id: $('input[name="selected_shipping_address_id"]').val()
		}),
		success: function(data) {
			errorElement.text("Payment Success");
			errorElement.css("display", "block");
			errorElement.removeClass('alert-danger').addClass('alert-success');

			setTimeout(function() {
				window.location = '/order-checkout/confirmation';
			}, 1000);
		},
		error: function(error) {
			$('#complete-order-submit').prop('disabled', false);
			$('#complete-order-submit').css({
				'cursor': "pointer"
			});
		}
	});
}
</script>
{{> footer/bottom-footer}}