{{> header/top-header LoggedInUser = LoggedInUser}}
<script type="text/javascript">
	$(document).ready(function() {
		$("#continue").click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					window.location.href = "/order-checkout/payment-method" + window.location.search;
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});
		$("#shippingMethodLink").click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					window.location.href = "/order-checkout/shipping-method" + window.location.search;
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});
		$("#paymentMethodLink").click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/cart/validate',
				type: 'POST',
				success: function(data) {
					window.location.href = "/order-checkout/payment-method" + window.location.search;
				},
				error: function(error) {
					redirectText = "click here to redirect to cart page";
					auth.alertService(error.status, error.responseText, redirectText);
				}
			});
		});
	});

	function CartPage() {
		window.location.href = "/cart";
	}
</script>
<div id="vendorAlert" tabindex="1">
	<div class="gtc-container"></div>
</div>
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="./order-checkout/customer-information">1. Customer Information</a>
					</li>
					<li>
						<a href="javascript:;" id="shippingMethodLink" class="active">2. Shipping Method</a>
					</li>
					<li>
						<a href="javascript:;" id="paymentMethodLink">3. Payment Method</a>
					</li>
					<li>
						<a href="#">4. Confirmation</a>
					</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
					<span class="text-sm">You're logged in as </span>
					<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
					<button type="button" class="btn btn-sm btn-primary" onclick="gtcLogout()">SWITCH ACCOUNT</button>
				{{else}}
					<span class="text-sm">
						<a href="/login">LOGIN</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1">
			<div class="row no-margins">
				<div class="col-sm-9half no-padding bg-white">
					<div class="header-left header-lg gtc-p-l-r">
						<h2 class="header-lg-text alignleft text-white">CUSTOMER INFORMATION</h2>
					</div>
					<div class="m-cart-body-1">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black">
									<strong>Billing Address</strong>
								</label>
							</div>
							<div class="col-md-8 col-12">
								<div class="row">
									<div class="col-12">
										<div class="form-group m-b-none">
											<div class="address-content">
												{{#if selected_billing_address}}
													<h3>{{selected_billing_address.first_name}} {{selected_billing_address.last_name}}</h3>
													<p>{{selected_billing_address.company_name}}</p>
													<p>{{selected_billing_address.address_line1}}</p>
													<p>{{selected_billing_address.address_line2}}</p>
													<p>{{selected_billing_address.city}}</p>
													<p>{{selected_billing_address.State.name}}, {{selected_billing_address.Country.name}}</p>
													<p>{{selected_billing_address.postal_code}}</p>
													<p>{{selected_billing_address.phone}}</p>
												{{else}}
													-
												{{/if}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-hr-line"></div>
					<div class="m-cart-body-1">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black">
									<strong>Shipping Address</strong>
								</label>
							</div>
							<div class="col-md-8 col-12">
								<div class="row">
									<div class="col-12">
										<div class="form-group m-b-none">
											<div class="address-content">
												{{#if selected_shipping_address}}
													<h3>{{selected_shipping_address.first_name}} {{selected_shipping_address.last_name}}</h3>
													<p>{{selected_shipping_address.company_name}}</p>
													<p>{{selected_shipping_address.address_line1}}</p>
													<p>{{selected_shipping_address.address_line2}}</p>
													<p>{{selected_shipping_address.city}}</p>
													<p>{{selected_shipping_address.State.name}}, {{selected_shipping_address.Country.name}}</p>
													<p>{{selected_shipping_address.postal_code}}</p>
													<p>{{selected_shipping_address.phone}}</p>
												{{else}}
													-
												{{/if}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-hr-line"></div>
					<div class="m-cart-body-1">
						<div class="row">
							<div class="col-md-3 col-12">
								<label class="label-control text-sm text-black">
									<strong>Shipping Method</strong>
								</label>
							</div>
							<div class="col-md-8 col-12">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<div class="address-content">
												<h3>STANDARD SHIPPING</h3>
												</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3half no-padding">
					<div class="header-right header-lg gtc-p-l-r">
						<h2 class="header-lg-text">YOUR ORDER</h2>
					</div>
					<div class="cart-summary">
						{{#if cart.total_items}}
							{{#each cart.marketplace_summary}}
								{{#ifCond @root.marketPlace.WHOLESALE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Wholesale Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">WHOLESALE TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.PUBLIC '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Shop Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SHOP TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.SERVICE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Service Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SERVICE TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.LIFESTYLE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Subscription Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SUBSCRIPTION TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
							{{/each}}
							{{#if cart.coupon_applied}}
								<div class="cart-hr-line"></div>
								<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs">TOTAL
									<span>{{currency cart.grand_total '$'}}</span>
								</p>
								<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">DISCOUNT
									<span>- {{currency cart.discount_amount '$'}}</span>
								</p>
							{{/if}}
							<div class="grand-total">
								<p class="summary-info text-uppercase text-black font-weight-bold">GRAND TOTAL
									<span>{{currency cart.grand_total_with_discounted_amount '$'}}</span>
								</p>
							</div>
							{{#if cart.coupon_applied}}
								<div class="m-t-sm text-center">
									<label class="m-b-xs">Promo Code #{{cart.coupon_code}} Applied</label>
									<p><strong class="text-black"> -{{#ifCond cart.discount_type "==" 2}} ${{/ifCond}} {{decimalFixed cart.discount_value}}{{#ifCond cart.discount_type "==" 1}}
												% {{/ifCond}}OFF </strong></p>
								</div>
							{{/if}}
							<br/>
							<img src="../img/payment-methods.jpg" class="img-fluid w-100">
						{{/if}}
					</div>
				</div>
			</div>
			<div class="row no-margins">
				<div class="col-sm-9half no-padding bg-white">
					<div class="m-cart-body-bottom bg-white">
						<button type="button" onclick="CartPage()" class="ladda-button btn btn-md btn-success" data-style="expand-left">
							<span class="ladda-label">RETURN TO CART</span>
							<span class="ladda-spinner"></span>
						</button>
						<button type="button" id="continue" class="ladda-button btn btn-md btn-primary alignright" data-style="expand-left">
							<span class="ladda-label">CONTINUE TO PAYMENT METHOD</span>
							<span class="ladda-spinner"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}