{{> header/top-header LoggedInUser = LoggedInUser}}
<script>
$(document).ready(function(){
	$("#continue").click(function(e) {
		e.preventDefault();
		window.location.href = "/order-checkout/payment-method" + window.location.search;
	});
});
</script>
<section>
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12">
					<ul class="breadcrumb">
					  <li><a href="/order-checkout/customer-information?{{query_params}}">1. Customer Information</a></li>
					  <li><a href="#" class="active1">2. Shipping Method</a></li>
					  <li><a href="#">3. Payment Method</a></li>
					  <li><a href="#">4. Confirmation</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-12">
					<p class="logged_in_username">You're logged in as <span class="span_username text-capitalize">{{LoggedInUser.first_name}} {{LoggedInUser.last_name}}</span> <a href="#" class="span_swichaccount">SWITCH ACCOUNT</a></p>
				</div>
			</div>
			<div class="row checkout_bg_color ">
                <div class="col-md-9 col-12 common_padding1 ">
                	<h4 class="checkout_title_color ">SHIPPING METHOD</h4>
                    <div class="row">
				<div class="col-md-9 col-12">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-3">
								<p><b>Bill to</b></p>
							</div>
							<div class="col-md-9 col-9">
								<input type="hidden" name="selected_billing_address_id" value="{{selected_billing_address.id}}"/>
								<p style="margin-bottom:0px"><b class="text-capitalize">{{selected_billing_address.first_name}} {{selected_billing_address.last_name}}</b> 
								</p>
								<p class="shop_shipping">{{selected_billing_address.address_line1}}</p>
								<p class="shop_shipping">{{selected_billing_address.address_line2}}</p>
								<p class="shop_shipping">{{selected_billing_address.city}}</p>
								<p class="shop_shipping">{{selected_billing_address.State.name}}, {{selected_billing_address.Country.name}}</p>
								<p class="shop_shipping">{{selected_billing_address.postal_code}}</p>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-3 col-3">
								<p><b>Shipping Address</b></p>
							</div>
							<div class="col-md-9 col-9">
								<input type="hidden" name="selected_shipping_address_id" value="{{selected_shipping_address.id}}"/>
								<p style="margin-bottom:0px"><b class="text-capitalize">{{selected_shipping_address.first_name}} {{selected_shipping_address.last_name}}</b> 
								</p>
								<p class="shop_shipping">{{selected_shipping_address.address_line1}}</p>
								<p class="shop_shipping">{{selected_shipping_address.address_line2}}</p>
								<p class="shop_shipping">{{selected_shipping_address.city}}</p>
								<p class="shop_shipping">{{selected_shipping_address.State.name}}, {{selected_shipping_address.Country.name}}</p>
								<p class="shop_shipping">{{selected_shipping_address.postal_code}}</p>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-3 col-3">
								<p><b>Shipping Method</b></p>
							</div>
							<div class="col-md-9 col-9">
								<p>STANDARD SHIPPING</p>
							</div>
						</div>
						<hr/>
					</div>
					<div class="row">
						<div class="col-md-6 col-6">
							<input type="submit" value="RETURN TO CART" class="cont_shopping"/>
						</div>
						<div class="col-md-6 col-6">
							<a href="#">
								<input type="submit" id="continue" value="CONTINUE TO PAYMENT METHOD" class="update_cart"/>
							</a>
						</div>
                      </div>
                    </div>
                </div>
             </div>
			 <div class="col-md-3 col-12 your_order_bg common_padding1 ">
				<h4 class="checkout_title_color_1">YOUR ORDER</h4>
                <div class="col-md-12 col-12 ">
				<div class="container">
					{{#each marketPlaces as |marketplace|}}
					
					{{#each ../totalPriceList as |totalPrice|}}

					{{#ifCond marketplace.code '==' @key}}
					<h6 class="{{cartPageClass marketplace 'CART-RIGHT'}}">{{cartPageClass marketplace 'LABEL'}} Summary</h6>
					<hr class="common_margin" />
					<div class="row">
						<div class="col-md-8">
							<p class="shop_subtotal">Subtotal</p>
						</div>
						<div class="col-md-4">
							<p class="shop_subtotal float-right">{{currency totalPrice.price '$'}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<p class="shop_shipping">Shipping Ground</p>
						</div>
						<div class="col-md-4">
							<p class="shop_shipping float-right">{{currency totalPrice.shipping '$'}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<p class="shop_subtotal">Subtotal</p>
						</div>
						<div class="col-md-4">
							<p class="shop_subtotal float-right">{{currency totalPrice.total '$'}}</p>
						</div>
					</div>
					<hr class="common_margin" />
					<div class="row">
						<div class="col-md-8">
							<p class="shop_subtotal"><b>{{cartPageClass marketplace 'LABEL'}} TOTAL</b></p>
						</div>
						<div class="col-md-4">
							<p class="shop_subtotal float-right"><b>{{currency totalPrice.total '$'}}</b></p>
						</div>
					</div>
					{{/ifCond}}
					{{/each}}
					{{/each}}
					
					<hr class="common_margin" />
					<div class="row">
						<div class="col-md-8">
								<p class="shop_subtotal"><b>GRAND TOTAL</b></p>
						</div>
						<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>{{currency totalPriceList.grandTotal '$'}}</b></p>
						</div>
					</div>

					<hr class="common_margin" />
					{{#ifCond couponData.length '>' 0}}						
					{{#each couponData}}
					<div class="row">
						<div class="col-md-8">
							<p class="shop_subtotal"><b>DISCOUNT</b></p>
						</div>
						<div class="col-md-4">
							<p class="shop_subtotal float-right">
								<b>{{currency this.discount_price '$'}}</b>
							</p>
						</div>
					</div>
					<hr class="common_margin"/>
					<div class="row">
						<div class="col-md-8">
								<p class="shop_subtotal"><b>GRAND TOTAL</b></p>
						</div>
						<div class="col-md-4">
								<p class="shop_subtotal float-right"><b>{{currency this.final_price '$'}}</b></p>
						</div>	
					</div>
					<p class="promo_code_p">{{{this.message_details}}}</p>

					{{/each}}
					{{/ifCond}}
					
					{{#ifCond couponData.length '==' 0}}
					<p class="promo_code_p"><b>Have A Promo Code?</b> Enter it here:</p>
					<input type="text" id="coupon-input-code" placeholder="Enter Promo Code" class="promo_code_text" /> 
					<button class="btn btn-sm" onclick="applyGTCCoupon()">Apply</button>
					{{/ifCond}}
					{{#ifCond couponUpdateErrorMessage '!=' ""}}
						<p class="promo_code_p">{{{this.couponUpdateErrorMessage}}}</p>
					{{/ifCond}}
					<img src="../img/payment-methods.jpg" alt="payment">
				</div>
                </div>
			</div>
    	</div>
	</div>
</section>
{{> footer/bottom-footer}}