<script>
	function gtcLogout() {
		$.ajax({
			type: "POST",
			url: "/api/auth/logout",
			success: function (result) {
				if (result)
					location.reload();
			},
			error: function () {
				console.log("Error while logging out")
			}
		});
	}
</script>
<script>
	$(document).ready(function () {
		$('#headerSearchSubmit').prop('disabled', true);
		$('#searchKey').keyup(function () {
			$('#headerSearchSubmit').prop('disabled', this.value == "" ? true : false);
		})
		$("#headerSearchForm").submit(function (e) {
			e.preventDefault();
			let formInput = $("#headerSearchForm :input").filter(function (index, element) {
				return $(element).val() != '';
			}).serialize();
			window.location.href = '/search?' + formInput;
		});
	});
</script>
<div class="sticky-top topbar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-lg-6 col-xl-6">
			</div>
			<div class="col-md-6 col-lg-6 col-xl-6" style="padding: 0px;">
				<div class="social-links">
					<a href="/geo-locate" class="active1">
						<img src="img/Icons/icons-03.png" style="width: 2%;" alt="geo" /> Geo Locate
					</a>
					<a href="/order-track" class="font_icon">
						<img src="img/Icons/icon-4-01.png" style="width: 2%;" alt="geo" /> Track your Order
					</a>

					{{#if LoggedInUser.email}}
					<a href="javascript:;" data-toggle="dropdown" style="color: #D36988;">
						{{#ifCond LoggedInUser.email_verified '==' 0}}
						<img src="img/Icons/icons-02.png" style="width: 2%;" alt="geo"> {{else}}
						<img src="img/Icons/icons-02.png" style="width: 2%;" alt="geo"> {{/ifCond}}
						<span id="userAuthentication">Welcome back, {{LoggedInUser.first_name}}</span>
					</a>
					<div class="dropdown-menu" style="font-size:11px; color:#154980 ;line-height:1">
						<a class="dropdown-item" href="/order-history">Order History</a>
						<a class="dropdown-item" href="#">My Downloads</a>
						<a class="dropdown-item" href="/wishlist" style="border-bottom:1px solid gray;padding-bottom:20px">Wishlist</a>

						<a class="dropdown-item" href="/billing-settings">Bill Settings</a>
						<a class="dropdown-item" href="/user-profile">Profile Settings</a>
						<a class="dropdown-item" href="#" style="border-bottom:1px solid gray;padding-bottom:20px">GTC Mail</a>

						<a class="dropdown-item" href="#">Contact</a>
						<a class="dropdown-item" href="#">Feed</a>
						<a class="dropdown-item" href="#" style="border-bottom:1px solid gray;padding-bottom:20px">Support</a>
						<a class="dropdown-item" href="#" onclick="gtcLogout()">LogOut</a>
					</div>
					{{else}}
					<a href="/login" class="font_icon" style="color: #D36988;">
						<img src="img/Icons/icons-02.png" style="width: 2%;" alt="geo">
						<span id="userAuthentication">Login</span>
					</a>
					{{/if}}

					<a href="/compare" class="font_icon">
						<img src="img/Icons/icon-2-01.png" style="width: 2%;" alt="geo" /> Compare
					</a>
					<a href="/wishlist" class="font_icon">
						<img src="img/Icons/icon-6-01.png" style="width: 2%;" alt="geo" /> Wishlist
					</a>
					<a href="/cart" class="font_icon" tyle="color: #fff;">
						<span class="badge">0</span>
						<img src="img/Icons/icons-01.png" style="width: 2%;" alt="geo" /> Cart
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid full_view_pad1">
		<div class="row">
			<nav class="navbar navbar-expand-sm menu_style navbar-dark">
				<a class="navbar-brand" href="/">
					<img src="img/logo/header.png" />
				</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
					<span class="navbar-toggler-icon"></span>
				</button>
				<p class="tagline">A global approach to shopping.</p>
				<div class="collapse navbar-collapse" id="navb">
					<!-- Links -->
					<ul class="navbar-nav mr-auto">

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/directory">
								DIRECTORY
							</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/wholesale">
								WHOLESALE
							</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/shop">
								SHOP
							</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/services">
								SERVICES
							</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/lifestyle">
								LIFESTYLE
							</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/products">
								PRODUCTS
							</a>
						</li>
					</ul>
					<div class="field-search form-inline my-2 my-lg-0">
						<form id="headerSearchForm">
							<input type="search" id="searchKey" name="keyword" placeholder="Search My store">
							<div class="right">
								<select id="headercategory" name="category" style="width:124px;">
									<option disabled selected>Category</option>
									{{#each category}}
									<option value={{this.id}}>{{this.name}}</option>
									{{/each}}
								</select>
								<button id="headerSearchSubmit" name="headerSearchSubmit">
									<svg xmlns="http://www.w3.org/2000/svg" width="22.6" height="23.6" viewBox="0 0 22.6 23.6">
										<g fill="none" stroke="currentColor" stroke-width="4" stroke-miterlimit="10">
											<circle cx="9.3" cy="9.3" r="7.3"></circle>
											<path d="M14.2 14.6l6.9 7.6"></path>
										</g>
									</svg>
								</button>
							</div>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
