<script type="text/javascript">
	$(function() {
		$("#inputFromDate").datepicker({
			trigger: $("#inputFromDateRange"),
			format: "DD-mm-YYYY",
			autoHide: true
		});
		$("#inputToDate").datepicker({
			trigger: $("#inputToDateRange"),
			format: "DD-mm-YYYY",
			autoHide: true
		});
	});

	$(document).ready(function() {
		if ($("#inputDateRange").val() == 1) {
			$("#inputFromDate").datepicker("setDate", new Date());
			$("#inputToDate").datepicker("setDate", new Date());
		} else if ($("#inputDateRange").val() == 2) {
			var startDate = new Date();
			var endDate = new Date();
			startDate.setDate(startDate.getDate() - 1);
			endDate.setDate(endDate.getDate() - 1);

			$("#inputFromDate").datepicker("setDate", startDate);
			$("#inputToDate").datepicker("setDate", startDate);
		} else if ($("#inputDateRange").val() == 3) {
			var startDate = new Date();
			var endDate = new Date();
			startDate.setDate(startDate.getDate() - 7);
			endDate.setDate(endDate.getDate() - 1);

			$("#inputFromDate").datepicker("setDate", startDate);
			$("#inputToDate").datepicker("setDate", endDate);
		} else if ($("#inputDateRange").val() == 4) {
			var startDate = new Date();
			var endDate = new Date();
			startDate.setDate(startDate.getDate() - 30);
			endDate.setDate(endDate.getDate() - 1);

			$("#inputFromDate").datepicker("setDate", startDate);
			$("#inputToDate").datepicker("setDate", endDate);
		} else if ($("#inputDateRange").val() == 5) {
			var startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
			var endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);

			$("#inputFromDate").datepicker("setDate", startDate);
			$("#inputToDate").datepicker("setDate", endDate);
		} else if ($("#inputDateRange").val() == 6) {
			var startDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
			var endDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1 + 1, 0);

			$("#inputFromDate").datepicker("setDate", startDate);
			$("#inputToDate").datepicker("setDate", endDate);
		} else {
			$("#inputFromDate").val(null);
			$("#inputToDate").val(null);
		}

		$('#inputDateRange').on('change', function() {
			if ($("#inputDateRange").val() == 1) {
				$("#inputFromDate").datepicker("setDate", new Date());
				$("#inputToDate").datepicker("setDate", new Date());
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else if ($("#inputDateRange").val() == 2) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 1);
				endDate.setDate(endDate.getDate() - 1);

				$("#inputFromDate").datepicker("setDate", startDate);
				$("#inputToDate").datepicker("setDate", startDate);
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else if ($("#inputDateRange").val() == 3) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 7);
				endDate.setDate(endDate.getDate() - 1);

				$("#inputFromDate").datepicker("setDate", startDate);
				$("#inputToDate").datepicker("setDate", endDate);
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else if ($("#inputDateRange").val() == 4) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 30);
				endDate.setDate(endDate.getDate() - 1);

				$("#inputFromDate").datepicker("setDate", startDate);
				$("#inputToDate").datepicker("setDate", endDate);
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else if ($("#inputDateRange").val() == 5) {
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);

				$("#inputFromDate").datepicker("setDate", startDate);
				$("#inputToDate").datepicker("setDate", endDate);
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else if ($("#inputDateRange").val() == 6) {
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1 + 1, 0);

				$("#inputFromDate").datepicker("setDate", startDate);
				$("#inputToDate").datepicker("setDate", endDate);
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
			} else {
				window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val();
			}
		});

		$("#inputFromDate").on('pick.datepicker', function(e) {
			if (e.date > new Date()) {
				e.preventDefault();
			} else {
				console.log("--------------", $("#inputFromDate").val());
				var startDate = new Date(e.date);
				$("#inputFromDate").datepicker("setDate", startDate);
				console.log("==============", $("#inputFromDate").val());
				return;
			}
		});

		$("#inputToDate").on('pick.datepicker', function(e) {
			if (e.date > new Date()) {
				e.preventDefault();
			}
			window.location.href = "/reporting/accounting?range=" + $("#inputDateRange").val() + "&start_date=" + $("#inputFromDate").val() + "&end_date=" + $("#inputToDate").val();
		});
	});
</script>
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#ifCond LoggedInUser.Vendor.VendorPlans.[0].status '==' statusCode.ACTIVE}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
									<h2>
										<span>Accounting</span>
										<span class="font-sm m-t-xs text-muted float-right">Current location: <span class="text-black text-500">{{LoggedInUser.Vendor.city}}, {{LoggedInUser.Vendor.State.name}}, {{LoggedInUser.Vendor.Country.name}}</span></span>
									</h2>
							</div>
							<div class="hr-line"></div>
							<div class="content-body m-t-sm">
								<form class="inline-form">
									<div class="form-group m-r-lg">
										<label class="label-control">Date Range : </label>
									</div>
									<div class="form-group m-r">
										<div class="input-group">
											<input id="inputFromDate" type="text" class="form-control date_range_picker" placeholder="DD-MM-YYYY" aria-label="inputFromDateRange" aria-describedby="inputFromDateRange">
											<div class="input-group-append cursor-pointer">
												<span class="input-group-text" id="inputFromDateRange">
													<img class="calendar-icon" src="../../img/calendar.png">
												</span>
											</div>
										</div>
									</div>
									<div class="form-group m-r">
										<label class="label-control">to</label>
									</div>
									<div class="form-group m-r">
										<div class="input-group">
											<input id="inputToDate" name="to_date" type="text" class="form-control date_range_picker" placeholder="DD-MM-YYYY" aria-label="inputToDateRange" aria-describedby="inputToDateRange">
											<div class="input-group-append cursor-pointer">
												<span class="input-group-text" id="inputToDateRange">
													<img class="calendar-icon" src="../../img/calendar.png">
												</span>
											</div>
										</div>
									</div>
									<div class="form-group m-r">
										<div class="select-container">
											<select id="inputDateRange" class="form-control-customized form-control-sm custom-dropdown" name="date_range">
												{{#each dateRangeOptions}}
													<option {{#ifCond @root.queryParams.range '==' this.value}} selected="true" {{/ifCond}} value="{{this.value}}">{{this.column}}</option>
												{{/each}}
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				{{else}} 
					{{> plan-inactive}}
			{{/ifCond}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}