<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	var params = {{{ DisplayJSON queryURIString }}};
	var metrics = {{{ DisplayJSON selectedMetrics }}};
	function downloadCSV(args) {
		if (metrics == 'products'){
			$.ajax({
				type: 'POST',
				url: '/api/export-csv/reportperformancecsv',
				data: { "vendor_id": $('#login_vendoruserid').val() },
				success: function(data) {
					var csvData = new Blob([data], { type: 'text/csv;charset=utf-8;' });
					var csvURL = null;
					if (navigator.msSaveBlob) {
						csvURL = navigator.msSaveBlob(csvData, 'Report.csv');
					} else {
						csvURL = window.URL.createObjectURL(csvData);
					}
					var tempLink = document.createElement('a');
					tempLink.href = csvURL;
					tempLink.setAttribute('download', 'Report.csv');
					tempLink.click();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else if (metrics == 'marketplace'){
			$.ajax({
				type: 'POST',
				url: '/api/export-csv/reportmarketplacecsv',
				data: { "vendor_id": $('#login_vendoruserid').val() },
				success: function(data) {
					var csvData = new Blob([data], { type: 'text/csv;charset=utf-8;' });
					var csvURL = null;
					if (navigator.msSaveBlob) {
						csvURL = navigator.msSaveBlob(csvData, 'Report.csv');
					} else {
						csvURL = window.URL.createObjectURL(csvData);
					}
					var tempLink = document.createElement('a');
					tempLink.href = csvURL;
					tempLink.setAttribute('download', 'Report.csv');
					tempLink.click();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else if (metrics == 'city'){
			$.ajax({
				type: 'POST',
				url: '/api/export-csv/reportcitycsv',
				data: { "vendor_id": $('#login_vendoruserid').val() },
				success: function(data) {
					var csvData = new Blob([data], { type: 'text/csv;charset=utf-8;' });
					var csvURL = null;
					if (navigator.msSaveBlob) {
						csvURL = navigator.msSaveBlob(csvData, 'Report.csv');
					} else {
						csvURL = window.URL.createObjectURL(csvData);
					}
					var tempLink = document.createElement('a');
					tempLink.href = csvURL;
					tempLink.setAttribute('download', 'Report.csv');
					tempLink.click();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		}
	}

	function limit(size){
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "/store/performance?" + params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue){
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	function onSearch(){
		var metric;
		var from = $('#lhs_from').val();
		var to = $('#lhs_to').val();
		var Cfrom = $('#rhs_from').val();
		var Cto = $('#rhs_to').val();
		Compare = $('#compare').is(":checked");

		if ($("#inputTop").val() == 1) {
			metric = "products";
		} else if ($("#inputTop").val() == 2) {
			metric = "countries"
		} else if ($("#inputTop").val() == 3) {
			metric = "cities"
		} else if ($("#inputTop").val() == 4) {
			metric = "buyers"
		}

		location.href = "/store/performance?top=" + metric + "&lhs_from=" + from + "&lhs_to=" + to + "&rhs_from=" + Cfrom + "&rhs_to=" + Cto + "&compare=" + Compare;
	}

	$(function(){
		$("#lhs_from").datepicker({
			trigger: $("#lhs_fromRange"),
			autoHide: true
		});
		$("#lhs_to").datepicker({
			trigger: $("#lhs_toRange"),
			autoHide: true
		});
		$("#rhs_from").datepicker({
			trigger: $("#rhs_fromRange"),
			autoHide: true,
		});
		$("#rhs_to").datepicker({
			trigger: $("#rhs_toRange"),
			autoHide: true
		});
	});

	$( document ).ready(function(){
		$("#compareBtn").attr('disabled', 'disabled');

		$("#inputDateRange").change(function() {
			if ($("#inputDateRange").val() == 1) {
				$("#lhs_from").datepicker("setDate", new Date());
				$("#lhs_to").datepicker("setDate", new Date());
			} else if ($("#inputDateRange").val() == 2) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 1);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", startDate);
				
			} else if ($("#inputDateRange").val() == 3) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 7);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 4) {
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 30);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 5) {
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 6) {
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1 + 1, 0);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else {
				//window.location.href = "/store/accounting?range=" + $("#inputDateRange").val();
			}
		});

		$('#lhs_from,#lhs_to,#rhs_from,#rhs_to,#compare').change(function(e){
			if ($('#compareForm').valid()) {
				if ($('#compare').is(':checked')) {
					$("#compareBtn").removeAttr('disabled');
				}else{
					$("#compareBtn").attr('disabled', 'disabled');	
				}
			}else{
				$("#compareBtn").attr('disabled', 'disabled');
			}
		})

		$('#compareForm').validate({
			rule:{
				lhs_from: {
					required: true,
					date: true
				},
				lhs_to: {
					required: true,
					date: true
				},
				rhs_from: {
					required: true,
					date: true
				},
				rhs_to: {
					required: true,
					date: true
				},
				compare:{
					required:true
				}
			},
			messages:{
				lhs_from:'',
				lhs_to: '',
				rhs_from: '',
				rhs_to: '',
				compare:''
			}	
		})

		$("#compareForm").submit(function (e) {
			e.preventDefault();
			if ($('#compareForm').valid()) {

				var from = $('#lhs_from').val();
				var to = $('#lhs_to').val();
				var Cfrom = $('#rhs_from').val();
				var Cto = $('#rhs_to').val();
				Compare = $('#compare').is(":checked");

				if ($("#inputTop").val() == 1) {
					metric = "products";
				} else if ($("#inputTop").val() == 2) {
					metric = "countries"
				} else if ($("#inputTop").val() == 3) {
					metric = "cities"
				} else if ($("#inputTop").val() == 4) {
					metric = "buyers"
				}

				location.href = "/store/performance?top=" + metric + "&lhs_from=" + from + "&lhs_to=" + to + "&rhs_from=" + Cfrom + "&rhs_to=" + Cto + "&compare=" + true;
			}
		})
	});
</script> 
{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
								<h2>Performance
								<span class="pull-right" style="font-size:12px"><a href="/store/performance">Clear All</a></span>
								</h2>
							</div>
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<form id="compareForm" class="form-inline pull-left m-t-md">
											<div class="form-group m-r-lg">
												<label class="label-control">Date Range </label>
											</div>
											<div class="form-group m-r">
												<div class="input-group">
													<input id="lhs_from" name="lhs_from" type="text" class="custom-form-control date_range_picker" 
													value="{{queryURI.lhs_from}}" placeholder="MM/DD/YYYY" aria-label="lhs_fromRange" aria-describedby="lhs_fromRange" required>
													<div class="input-group-append cursor-pointer">
														<span class="input-group-text" id="lhs_fromRange">
															<img class="calendar-icon" src="../../img/calendar.png">
														</span>
													</div>
												</div>
											</div>
											<div class="form-group m-r">
												<label class="label-control">to</label>
											</div>
											<div class="form-group m-r">
												<div class="input-group">
													<input id="lhs_to" name="lhs_to" type="text" class="custom-form-control date_range_picker" 
													value="{{queryURI.lhs_to}}" placeholder="MM/DD/YYYY" aria-label="lhs_toRange" aria-describedby="lhs_toRange" required>
													<div class="input-group-append cursor-pointer">
														<span class="input-group-text" id="lhs_toRange">
															<img class="calendar-icon" src="../../img/calendar.png">
														</span>
													</div>
												</div>
											</div>
											<div class="form-group m-r">
												<div class="select-container">
													<select id="inputDateRange" class="form-control-customized form-control-sm custom-dropdown" name="date_range">
														{{#each dateRangeOptions}}
															<option {{#ifCond @root.queryURI.range '==' this.value}} selected="true" {{/ifCond}} value="{{this.value}}">{{this.column}}</option>
														{{/each}}
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="customCheckbox">
													<input type="checkbox" id="compare" name="compare" class="customCheckboxInput"
													{{#if queryURI.compare}} checked {{/if}}>
													<label class="checkbox-b" for="compare"></label>
												</div>
											</div>
											<div class="form-group m-r">
												<label class="label-control">Compare to</label>
											</div>
											<div class="form-group m-r">
												<div class="input-group">
													<input id="rhs_from" name="rhs_from" type="text" class="custom-form-control date_range_picker" 
													value="{{queryURI.rhs_from}}" placeholder="MM/DD/YYYY" aria-label="rhs_fromRange" aria-describedby="rhs_fromRange" required>
													<div class="input-group-append cursor-pointer">
														<span class="input-group-text" id="rhs_fromRange">
															<img class="calendar-icon" src="../../img/calendar.png">
														</span>
													</div>
												</div>
											</div>
											<div class="form-group m-r">
												<label class="label-control">to</label>
											</div>
											<div class="form-group m-r">
												<div class="input-group">
													<input id="rhs_to" name="rhs_to" type="text" class="custom-form-control date_range_picker" 
													value="{{queryURI.rhs_to}}" placeholder="MM/DD/YYYY" aria-label="rhs_toRange" aria-describedby="rhs_toRange" required>
													<div class="input-group-append cursor-pointer">
														<span class="input-group-text" id="rhs_toRange">
															<img class="calendar-icon" src="../../img/calendar.png">
														</span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" id="compareBtn" class="btn btn-md btn-muted update-btn-customised">UPDATE</button>
											</div>
										</form>
										<form class="form-inline pull-right m-t-md">
											<div class="form-group m-r">
												{{#if topItems.lhs_result}}
													<button type="button" class="btn btn-md btn-muted" onclick='downloadCSV({ filename: "stock-data.csv" });'>EXPORT</button>
													<input type="hidden" name="user_id" id="login_vendoruserid" value= {{LoggedInUser.Vendor.id}}>
												{{else}}
													<button type="button" class="btn btn-md btn-muted" disabled='disabled' onclick='downloadCSV({ filename: "stock-data.csv" });'>EXPORT</button>
													<input type="hidden" name="user_id" id="login_vendoruserid" value= {{LoggedInUser.Vendor.id}}>
												{{/if}}
											</div>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-inline pull-left m-t-md">
											<div class="form-group m-r-lg">
												<label class="label-control">Select a metric:</label>
											</div>
											<div class="form-group m-r">
												<div class="select-container">
													<select id="inputTop" class="form-control-customized form-control-sm custom-dropdown" onChange="onSearch();">
														<option value="1" {{#ifCond queryURI.top "==" 'products'}} selected="true" {{/ifCond}}>TOP SELLING PRODUCTS</option>
														<option value="2" {{#ifCond queryURI.top "==" 'countries'}} selected="true" {{/ifCond}}>TOP SELLING COUNTRIES</option>
														<option value="3" {{#ifCond queryURI.top "==" 'cities'}} selected="true" {{/ifCond}}>TOP PERFORMING CITIES</option>
														<option value="4" {{#ifCond queryURI.top "==" 'buyers'}} selected="true" {{/ifCond}}>TOP BUYERS</option>	
													</select>
												</div>
											</div>
										</div>		
									</div>
								</div><br/>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											{{#ifCond queryURI.top "==" "products"}}
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th>Product</th>
														<th>Type</th>
														<th>Sales</th>
														<th>Revenue</th>		
														<th>GTC Processing Fees</th>
														<th>Vendor Revenue</th>
													</tr>
												</thead>
												<tbody>
													{{#each topItems.lhs_result}}
														<tr>
															{{productPerformance this @root.topItems.rhs_result}} 
														</tr>
													{{/each}}
												</tbody>
											{{/ifCond}}
											{{#ifCond queryURI.top "==" "countries"}}
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th>Country</th>
														<th>Sales</th>
														<th>Revenue</th>
														<th>GTC Processing Fees</th>
														<th>Vendor Revenue</th>
													</tr>
												</thead>
												<tbody>
													{{#each topItems.lhs_result}}
														<tr>
															{{countryPerformance this @root.topItems.rhs_result}} 
														</tr>
													{{/each}}
												</tbody>
											{{/ifCond}}
											{{#ifCond queryURI.top "==" "cities"}}
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th>City</th>
														<th>Sales</th>
														<th>Revenue</th>
														<th>GTC Processing Fees</th>
														<th>Vendor Revenue</th>
													</tr>
												</thead>
												<tbody>
													{{#each topItems.lhs_result}}
														<tr>
															{{cityPerformance this @root.topItems.rhs_result}} 
														</tr>
													{{/each}}
												</tbody>
											{{/ifCond}}
											{{#ifCond queryURI.top "==" "buyers"}}
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th>Buyer Name</th>
														<th>Total Purchase</th>
														<th>Revenue</th>
														<th>GTC Processing Fees</th>
														<th>Vendor Revenue</th>
													</tr>
												</thead>
												<tbody>
													{{#each topItems.lhs_result}}
														<tr>
															{{buyerPerformance this @root.topItems.rhs_result}} 
														</tr>
													{{/each}}
												</tbody>
											{{/ifCond}}
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}