<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var range = 7;
	$(function(){
		$("#lhs_from").datepicker({
			trigger: $("#lhs_fromRange"),
			autoHide: true,
			format: 'mm/dd/yyyy'
		});
		$("#lhs_to").datepicker({
			trigger: $("#lhs_toRange"),
			autoHide: true
		});
		$("#rhs_from").datepicker({
			trigger: $("#rhs_fromRange"),
			autoHide: true,
		});
		$("#rhs_to").datepicker({
			trigger: $("#rhs_toRange"),
			autoHide: true
		});
	});

	$( document ).ready(function(){
		$("#compareBtn").attr('disabled', 'disabled');

		var ctx = $("#revenue-line-chartcanvas");
		var lhsData = [],
			rhsData = [];
		var from, to, Cfrom, Cto, Compare;
		
		from = $('#lhs_from').val();
		to = $('#lhs_to').val();

		if ($('#rhs_from').val() != '' && $('#rhs_to').val() != '' && $('#compare').is(":checked")){

			Cfrom = $('#rhs_from').val();
			Cto = $('#rhs_to').val();
			Compare = $('#compare').is(":checked");
		}else{

			Cfrom = moment().subtract(61, 'days').format('YYYY/MM/DD');
			Cto = moment().subtract(31, 'days').format('YYYY/MM/DD');
			Compare = true;
		}

		var dates = [from, to, Cfrom, Cto];
		//dates.sort();

		dates.sort(function(a,b){ return new Date(a) - new Date(b); });

		var start = dates[0],
			end = new Date(dates[dates.length - 1]),
			currentDate = new Date(start),
			between = [];

		while (currentDate <= end) {
			between.push($.datepicker.formatDate('M dd', new Date(currentDate)));
			currentDate.setDate(currentDate.getDate() + 1);
		}

		$.ajax({
			type: "GET",
			url: "/api/reports/revenue-changes?lhs_from=" + from + "&lhs_to=" + to + "&rhs_from=" + Cfrom + "&rhs_to=" + Cto + "&compare=" + Compare,
			success: function(data) {

				between.forEach(function(aDate) {

					var objA = _.find(data.past_range, function(pastDate) {

						var pastDateVal = $.datepicker.formatDate('M dd', new Date(pastDate.item_created_on));
						return aDate.toString() == pastDateVal.toString();
					})

					if (objA)
						lhsData.push(parseInt(objA.amount));
					else
						lhsData.push(null);

					var objB = _.find(data.current_range, function(currData) {
						var currDateVal = $.datepicker.formatDate('M dd', new Date(currData.item_created_on));
						return aDate.toString() == currDateVal.toString();
					})
					if (objB)
						rhsData.push(parseInt(objB.amount));
					else
						rhsData.push(null);
				});
				
				var data = {
					labels: between,
					backgroundColor: "lightgray",
					datasets: [{
						label: $.datepicker.formatDate('M dd, yy', new Date(from)) + " - " + $.datepicker.formatDate('M dd, yy', new Date(to)),
						data: lhsData,
						backgroundColor: "green",
						borderColor: "lightgreen",
						fill: false,
						lineTension: 0,
						radius: 5
					}, {
						label: $.datepicker.formatDate('M dd, yy', new Date(Cfrom)) + " - " + $.datepicker.formatDate('M dd, yy', new Date(Cto)),
						data: rhsData,
						backgroundColor: "gray",
						borderColor: "lightgray",
						fill: false,
						lineTension: 0,
						radius: 5
					}]
				};
				var options = {
					responsive: true,
					title: {
						display: true,
						position: "top",
						text: "",
						fontSize: 16,
						fontColor: "#111"
					},
					legend: {
						display: true,
						position: "bottom",
						labels: {
							fontColor: "#333",
							fontSize: 16
						}
					},
					spanGaps: true
				};
				var chart = new Chart(ctx, {
					type: "line",
					data: data,
					options: options
				});
			}
		});

		$("#inputDateRange").change(function() {
			if ($("#inputDateRange").val() == 1) {
				range =1;
				$("#lhs_from").datepicker("setDate", new Date());
				$("#lhs_to").datepicker("setDate", new Date());
			} else if ($("#inputDateRange").val() == 2) {
				range =2;
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 1);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", startDate);
				
			} else if ($("#inputDateRange").val() == 3) {
				range =3;
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 7);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 4) {
				range =4;
				var startDate = new Date();
				var endDate = new Date();
				startDate.setDate(startDate.getDate() - 30);
				endDate.setDate(endDate.getDate() - 1);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 5) {
				range =5;
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else if ($("#inputDateRange").val() == 6) {
				range =6;
				var startDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
				var endDate = new Date(new Date().getFullYear(), new Date().getMonth() - 1 + 1, 0);

				$("#lhs_from").datepicker("setDate", startDate);
				$("#lhs_to").datepicker("setDate", endDate);
				
			} else {
				range =7;
			}
		});

		$('#lhs_from,#lhs_to,#rhs_from,#rhs_to,#compare').change(function(e){

			if ($('#compareForm').valid()) {

				if ($('#compare').is(':checked')) {
					$("#compareBtn").removeAttr('disabled');
				}else{
					$("#compareBtn").attr('disabled', 'disabled');	
				}
			}else{
				$("#compareBtn").attr('disabled', 'disabled');
			}
		});

		$('#compareForm').validate({
			rule:{
				lhs_from: {
					required: true,
					date: true
				},
				lhs_to: {
					required: true,
					date: true
				},
				rhs_from: {
					required: true,
					date: true
				},
				rhs_to: {
					required: true,
					date: true
				},
				compare:{
					required:true
				}
			},
			messages:{
				lhs_from:'',
				lhs_to: '',
				rhs_from: '',
				rhs_to: '',
				compare:''
			}	
		});

		$("#compareForm").submit(function (e) {
			e.preventDefault();
			if ($('#compareForm').valid()) {
				from = $('#lhs_from').val();
				to = $('#lhs_to').val();
				Cfrom = $('#rhs_from').val();
				Cto = $('#rhs_to').val();
				Compare = $('#compare').is(":checked");
				location.href = "/store/reports?lhs_from=" + from + "&lhs_to=" + to + "&rhs_from=" + Cfrom + "&rhs_to=" + Cto + "&compare=" + Compare +"&range="+range;
			}
		});

		function calHoursAgo(datetime) {
			var now = new Date();
			var createdAt = new Date(datetime);
			var sec_num = (now - createdAt) / 1000;
			var days = Math.floor(sec_num / (3600 * 24));
			var hours = Math.floor((sec_num - (days * (3600 * 24))) / 3600);
			var minutes = Math.floor((sec_num - (days * (3600 * 24)) - (hours * 3600)) / 60);
			var seconds = Math.floor(sec_num - (days * (3600 * 24)) - (hours * 3600) - (minutes * 60));

			if (hours < 10) {
				hours = "0" + hours;
			}
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			return days + ' days ' + hours + ' hrs ' + minutes + ' min ago';
		}

		function getStatus(statusCode) {
			var status = {
				4: "Open",
				5: "Hold",
				6: "Closed"
			}
			return status[statusCode] ? status[statusCode] : "OPEN";
		}

		function getRefundStatus(statusCode) {
			var status = {
				6: "Open",
				7: "Open",
				8: "Hold",
				11: "Issued"
			}
			return status[statusCode] ? status[statusCode] : "OPEN";
		}

		function getTopSellingCities(){
			$.ajax({
				type: "GET",
				url: "/api/reports/top-cities",
				success: function(data) {
					if (data.length > 0) {
						data.forEach(function(aObj, i) {
							var ulTopCities = $("#reporting-top-selling-cities");
							aObj["total_sales"] = parseFloat(aObj["total_sales"]).toFixed(2);
							var tag = `<div class="reporting_block_content_individual">
									<div class="row">
										<div class="col-md-3 col-2 no-padding">
											<h2 class="lft_count">${i + 1}</h2>
										</div>
										<div class="col-md-9 col-10 no-padding">
											<h4 class="reporting_subject reporting_title">
												<a href="javascript:;">${aObj["Product.city"]}</a></h4>
											<p class="reporting_subject">Total Sales:
												<span title="${aObj["total_sales"]}">${aObj["total_sales"]}</span>
											</p>
										</div>
									</div>
									<hr class="widget-line no-margin-top">
								</div>`
							ulTopCities.append(tag);
						});
					} else {
						var ulTopCities = $("#reporting-top-selling-cities");
						var tag = `<div class="reporting_block_content_individual">
									<div class="row">
										<div class="col-md-12 no-padding">
											<p class="no_records_found">No Records Found</p>
										</div>
									</div>
									<hr class="widget-line no-margin-top">
								</div>`
						ulTopCities.append(tag);
					}
				}
			});
		}

		function getActiveBuyers() {
			$.ajax({
				type: "GET",
				url: "/api/reports/top-buyers",
				success: function(data) {
					if (data.length > 0) {
						data.forEach(function(aObj) {
							var activeBuyerList = $("#reporting-most-active-buyers");
							var tag =`<div class="reporting_block_content_individual">
									<div class="row">
										<div class="col-md-3 col-1 no-padding">
											<img src="${aObj["User.user_pic_url"]}" class="avatar-img" alt="${aObj["User.first_name"]}" onError="imgError(this)">
										</div>
										<div class="col-md-9 col-11 no-padding">
											<h4 class="reporting_subject reporting_title">
												<a href="javascript:;">${aObj["User.first_name"]}</a>
											</h4>
											<p class="reporting_subject">Total Purchase:
												<span class="lt-user-name">${aObj["OrderItems.sales"]}</span>
											</p>
										</div>
									</div>
									<hr class="widget-line">
								</div>`;
							activeBuyerList.append(tag);
						});
					} else {
						let tag = `<div class="reporting_block_content_individual">
										<div class="row">
											<div class="col-md-12 no-padding">
												<p class="no_records_found">No Records Found</p>
											</div>
										</div>
										<hr class="widget-line">
									</div>`;
						$('#reporting-most-active-buyers').append(tag);
					}
				}
			});
		}

		function getLatestRefunds() {
			$.ajax({
				type: "GET",
				url: "/api/reports/latest-refunds",
				success: function(data) {
					if (data.rows.length > 0) {
						var refundRows = data.rows;
						refundRows.forEach(function(aObj) {
							var latestRefundList = $("#reporting-latest-refunds");
							var tag = `<div class="reporting_block_content_individual">
									<div class="row">
										<div class="col-md-3 col-1 no-padding">
											<img src="${aObj["user_pic_url"]}" class="avatar-img" alt="${aObj["first_name"]}" onError="imgError(this)">
										</div>
										<div class="col-md-9 col-11 no-padding">
											<h4 class="reporting_subject reporting_title">
												<a href="javascript:;">${aObj.Order.User.first_name}</a></h4>
											<p class="reporting_subject">Status:
												<span class="lt-status">${getRefundStatus(aObj.order_item_status)}</span>
											</p>
										</div>
									</div>
									<hr class="widget-line">
								</div>`
							latestRefundList.append(tag);
						});
					}
					else {
						var latestRefundList = $("#reporting-latest-refunds");
						var tag = `<div class="reporting_block_content_individual">
										<div class="row">
											<div class="col-md-12 no-padding">
												<p class="no_records_found">No Records Found</p>
											</div>
										</div>
										<hr class="widget-line">
									</div>`
						latestRefundList.append(tag);
					}
				}
			});
		}

		function getLatestTickets() {
			$.ajax({
				type: "GET",
				url: "/api/reports/latest-tickets",
				success: function(data) {
					if (data.length > 0) {
						data.forEach(function(aObj) {
							var latestTicketList = $("#reporting-latest-tickets");
							var tag = `<div class="reporting_block_content_individual">
										<div class="row">
											<div class="col-md-3 col-1 no-padding">
												<img src="${aObj["User.user_pic_url"]}" class="avatar-img" alt="${aObj["User.first_name"]}" onError="imgError(this)">
											</div>
											<div class="col-md-9 col-11 no-padding">
												<h4 class="reporting_subject reporting_title">
													<a href="javascript:;">${aObj.created_by}</a></h4>
												<p class="reporting_subject">Ticket#:
													<span class="lt-user-name" title="${aObj["ticket_id"]}">${aObj.id}</span>
												</p>
												<p class="reporting_subject">Status:
													<span class="lt-status">${getStatus(aObj.status)}</span>
												</p>
											</div>
										</div>
										<hr class="widget-line">
									</div>`;
							latestTicketList.append(tag);
						});
					} else {
						let domEl = `<div class="reporting_block_content_individual">
										<div class="row">
											<div class="col-md-12 no-padding">
												<p class="no_records_found">No Records Found</p>
											</div>
										</div>
										<hr class="widget-line">
									</div>`;
						$('#reporting-latest-tickets').append(domEl);
					}
				}
			});
		}

		getTopSellingCities();
		getActiveBuyers();
		getLatestTickets();
		getLatestRefunds();
	});
</script> 

{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray reporting_content">
	<div class="">
		<div class="row">
			<div class="col-sm-2" style="padding-left: 5.5%;">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
								<h2></h2>
							</div>
							<div class="content-body">
								<div class="row">
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">
												<section class="reporting_date_range">
													<form id="compareForm" class="form-inline pull-left m-t-md">
														<div class="form-group m-r-lg">
															<label class="label-control">Date Range </label>
														</div>
														<div class="form-group m-r">
															<div class="input-group">
																<input id="lhs_from" name="lhs_from" type="text" class="custom-form-control date_range_picker" value="{{queryURI.lhs_from}}"
																 placeholder="MM/DD/YYYY" aria-label="lhs_fromRange" aria-describedby="lhs_fromRange" required>
																<div class="input-group-append cursor-pointer">
																	<span class="input-group-text" id="lhs_fromRange">
																		<img class="calendar-icon" src="../../img/calendar.png">
																	</span>
																</div>
															</div>
														</div>
														<div class="form-group m-r">
															<label class="label-control">to</label>
														</div>
														<div class="form-group m-r">
															<div class="input-group">
																<input id="lhs_to" name="lhs_to" type="text" class="custom-form-control date_range_picker" value="{{queryURI.lhs_to}}" placeholder="MM/DD/YYYY"
																 aria-label="lhs_toRange" aria-describedby="lhs_toRange" required>
																<div class="input-group-append cursor-pointer">
																	<span class="input-group-text" id="lhs_toRange">
																		<img class="calendar-icon" src="../../img/calendar.png">
																	</span>
																</div>
															</div>
														</div>
														<div class="form-group m-r">
															<div class="select-container">
																<select id="inputDateRange" class="form-control-customized form-control-sm custom-dropdown" name="date_range">
																	{{#each dateRangeOptions}}
																		<option {{#ifCond @root.queryURI.range '==' this.value}} selected="true" {{/ifCond}} value="{{this.value}}">{{this.column}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
														<div class="form-group">
															<div class="customCheckbox">
																<input type="checkbox" id="compare" name="compare" class="customCheckboxInput" {{#if queryURI.compare}} checked {{/if}}>
																<label class="checkbox-b" for="compare"></label>
															</div>
														</div>
														<div class="form-group m-r">
															<label class="label-control">Compare to</label>
														</div>
														<div class="form-group m-r">
															<div class="input-group">
																<input id="rhs_from" name="rhs_from" type="text" class="custom-form-control date_range_picker" value="{{queryURI.rhs_from}}"
																 placeholder="MM/DD/YYYY" aria-label="rhs_fromRange" aria-describedby="rhs_fromRange" required>
																<div class="input-group-append cursor-pointer">
																	<span class="input-group-text" id="rhs_fromRange">
																		<img class="calendar-icon" src="../../img/calendar.png">
																	</span>
																</div>
															</div>
														</div>
														<div class="form-group m-r">
															<label class="label-control">to</label>
														</div>
														<div class="form-group m-r">
															<div class="input-group">
																<input id="rhs_to" name="rhs_to" type="text" class="custom-form-control date_range_picker" value="{{queryURI.rhs_to}}" placeholder="MM/DD/YYYY"
																 aria-label="rhs_toRange" aria-describedby="rhs_toRange" required>
																<div class="input-group-append cursor-pointer">
																	<span class="input-group-text" id="rhs_toRange">
																		<img class="calendar-icon" src="../../img/calendar.png">
																	</span>
																</div>
															</div>
														</div>
														<div class="form-group">
															<button type="submit" id="compareBtn" class="btn btn-md btn-muted update-btn-customised">UPDATE</button>
														</div>
													</form>
												</section>
											</div>
										</div>
										<section class="reporting_top_performing" style="margin-bottom: 17px;margin-top: 20px;">
											<div class="row">
												<div class="col-md-6">
													<div class="card chart_top_performing_height">
														<div class="card-body chat_top_performing_padding">
															<p class="top_perf_price">{{currency topProducts.total '$'}}</p>
															<p class="top_perf_price_gain">{{currency topProducts.diff_total '$'}}</p>
															<p class="top_perf_price_versus">{{currency topProducts.past_total '$'}} vs {{currency topProducts.current_total '$'}}</p>
															<p class="top_perf_title">Top Performing Products by total sales</p>
															{{#ifCond topProducts.rows.length '==' "0"}}
																<div class="top_perf_product_name" style="text-align:center">
																	No Records Found
																</div>
															{{/ifCond}}
															{{#each topProducts.rows as |item|}}
																<div class="top_perf_content row">
																	<div class="col-md-4 col-4">
																		<p class="top_perf_product_name">{{item.product_name}}</p>
																	</div>
																	<div class="col-md-4 col-4 top_perf_padding_override">
																		<div class="progress top_perf_progress" style="width: 134px;">
																			<div class="progress-bar top_perf_progress_bar" role="progressbar" style="width: {{percentage @root.topProducts.total item.amount}}"
																			 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
																		</div>
																	</div>
																	<div class="col-md-4 col-4">
																		<p class="top_perf_product_price">{{currency item.amount '$'}}</p>
																	</div>
																</div>
															{{/each}}
														</div>
														<p class="reporting_chart_see_all">
															<a href="/store/performance?top=products" style="color: white;">More &#9658;</a>
														</p>
													</div>
												</div>
												{{!-- {{{DisplayJSON topMarketPlace}}} --}}
												<div class="col-md-6">
													<div class="card chart_top_performing_height">
														<div class="card-body chat_top_performing_padding">
															<p class="top_perf_price">{{currency topMarketPlace.total '$'}}</p>
															<p class="top_perf_price_gain">{{currency topMarketPlace.diff_total '$'}}</p>
															<p class="top_perf_price_versus">{{currency topMarketPlace.past_total '$'}} vs {{currency topMarketPlace.current_total '$'}}</p>
															<p class="top_perf_title top_perf_margin_override">Top Performing Marketplaces by total sales</p>
															{{#ifCond topMarketPlace.rows.length '==' "0"}}
																<div class="top_perf_product_name" style="text-align:center">
																	No Records Found
																</div>
															{{else}}
																<div class="top_perf_marketplace_content row">
																	<ul class="chart top_perf_marketplace_vertical_chart">
																		{{marketPlaceChart topMarketPlace.total topMarketPlace.rows}}
																	</ul>
																</div>
															{{/ifCond}}
														</div>
														<p class="reporting_chart_see_all">
															<a href="/store/performance?top=marketplaces" style="color: white;">More &#9658;</a>
														</p>
													</div>
												</div>
											</div>
										</section>
										<section class="reporting_recent_revenue">
											<div class="row">
												<div class="col-md-12">
													<div class="card chat_revenue_height">
														<div class="card-body">
															<p class="revenue_chart_title">RECENT REVENUE CHANGES</p>
															<canvas id="revenue-line-chartcanvas"></canvas>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section class="reporting_bottom_stat" style="margin-top:10px;">
											<div class="card stat_cancel_card_border">
												<div class="card-body">
													<div class="row">
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-6 no-padding">
																	<div class="stat_title">Revenue($)</div>
																	<div class="stat_price">{{currency revenueCounts.revenue.diff_revenue '$'}}</div>
																	<div class="stat_price_compare">{{currency revenueCounts.revenue.current_revenue '$'}} vs {{currency revenueCounts.revenue.past_revenue '$'}}</div>
																</div>
																<div class="col-md-6 no-padding">
																	<div class="stat_title">Revenue(%)</div>
																	<div class="stat_price">{{revenueCounts.revenue_count.diff_count}}</div>
																	<div class="stat_price_compare">{{revenueCounts.revenue_count.current_count}} vs {{revenueCounts.revenue_count.past_count}}
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-5 col-12">
															<div class="row">
																<div class="col-md-4 stat_padding">
																	<div class="stat_title">Transactions</div>
																	<div class="stat_price">{{revenueCounts.completed_count.diff_completed}}</div>
																	<div class="stat_price_compare">{{revenueCounts.completed_count.current_completed}} vs {{revenueCounts.completed_count.past_completed}}
																	</div>
																</div>
																<div class="col-md-3 stat_padding">
																	<div class="stat_title">Returns</div>
																	<div class="stat_price stat_price_red">+ {{revenueCounts.returns_count.diff_returned}}</div>
																	<div class="stat_price_compare">{{revenueCounts.returns_count.current_returned}} vs {{revenueCounts.returns_count.past_returned}}
																	</div>
																</div>
																<div class="col-md-5 stat_padding">
																	<div class="stat_title">Disputes</div>
																	<div class="stat_price">{{currency revenueCounts.disputes_count.diff_disputes '$'}}</div>
																	<div class="stat_price_compare">{{currency revenueCounts.disputes_count.current_disputes '$'}} vs {{currency revenueCounts.disputes_count.past_disputes '$'}}
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-6 no-padding">
																	<div class="stat_title">Refunds</div>
																	<div class="stat_price stat_price_red">+ {{revenueCounts.refunds_count.diff_refunds}}</div>
																	<div class="stat_price_compare">{{revenueCounts.refunds_count.current_refunds}} vs {{revenueCounts.refunds_count.past_refunds}}
																	</div>
																</div>
																<div class="col-md-6 no-padding">
																	<div class="stat_title">Cancellations</div>
																	<div class="stat_price stat_price_red">+ {{revenueCounts.cancelled_count.diff_cancelled}}</div>
																	<div class="stat_price_compare">{{revenueCounts.cancelled_count.current_cancelled}} vs {{revenueCounts.cancelled_count.past_cancelled}}
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
									<div class="col-md-4">
										<section class="reporting_stat_widgets">
											<div class="row">
												<div class="col-md-6 reporting_widget_padding">
													<div class="card reporting_widget_block">
														<p class="card-title reporting_widget_latest_ticket">Latest tickets</p>
														<div class="card-body reporting_widget_block_content" id="reporting-latest-tickets">
														</div>
														<p class="card-title reporting_widget_see_all">
															<a href="/support/ticket">See All &#9658;</a>
														</p>
													</div>
												</div>
												<div class="col-md-6 reporting_widget_padding">
													<div class="card reporting_widget_block">
														<p class="card-title reporting_widget_latest_refund">Latest refunds</p>
														<div class="card-body reporting_widget_block_content" id="reporting-latest-refunds">

														</div>
														<p class="card-title reporting_widget_see_all">
															<a href="/refund">See All &#9658;</a>
														</p>
													</div>
												</div>
											</div>
										</section>
										<section class="reporting_stat_widgets" style="margin-top: 15px;">
											<div class="row">
												<div class="col-md-6 reporting_widget_padding">
													<div class="card reporting_widget_block">
														<p class="card-title reporting_widget_active_buyers">Top Buyers</p>
														<div class="card-body reporting_widget_block_content reporting_bottom_widget_override" id="reporting-most-active-buyers">

														</div>
														<p class="card-title reporting_widget_see_all">
															<a href="/store/performance?top=buyers">See All &#9658;</a>
														</p>
													</div>
												</div>
												<div class="col-md-6 reporting_widget_padding">
													<div class="card reporting_widget_block">
														<p class="card-title reporting_widget_top_selling_cities">Top Selling Cities</p>
														<div class="card-body reporting_widget_block_content reporting_bottom_widget_override" id="reporting-top-selling-cities">

														</div>
														<p class="card-title reporting_widget_see_all">
															<a href="/store/performance?top=cities">See All &#9658;</a>
														</p>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}