<script type="text/javascript"> 
	$(function() {
		$("#from").datepicker({
			format: 'yyyy-mm-dd',
			autohide: true,

		});

		$("#to").datepicker({
			format: 'yyyy-mm-dd',
			autohide: true,
			// endDate: new Date(),
			"endDate": { greaterStart: "#from_date" },
			onSelect: $('#selectDate').val("")

		});
	});
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function selectDatefun() {
		var val = $("#selectDate option:selected").val();
		if (val) {
			console.log();
			$('#from').val("");
			$('#to').val("");
		}
	}
	$(function() {
		$("#gtc-form-alert").hide();
		$("#searchSaleshistory").submit(function(e) {
			e.preventDefault();
			let formInput = $("#searchSaleshistory :input").filter(function(index, element) {
				return $(element).val() != '';
			}).serialize();
			if (formInput != '') {
				window.location.href = ' reporting/sales-history?' + formInput;
			}else{
				$("#gtc-form-alert").show();
			    $('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
			    $('#gtc-form-alert .form-message').text("Please Choose the option");
			    $("#gtc-form-alert").fadeTo(2000, 500).slideUp(500, function () {
			    $("#gtc-form-alert").slideUp(500);
			    });
			}
		});
		$("#searchSaleshistory1").submit(function(e) {
			e.preventDefault();
			let formInput = $("#searchSaleshistory1 :input").filter(function(index, element) {
				return $(element).val() != '';
			}).serialize();
			if (formInput != '') {
				window.location.href = ' reporting/sales-history?' + formInput;
			}else{
				$("#gtc-form-alert").show();
			    $('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
			    $('#gtc-form-alert .form-message').text("Please enter search key");
			    $("#gtc-form-alert").fadeTo(2000, 500).slideUp(500, function () {
			    $("#gtc-form-alert").slideUp(500);
			    });
			}
		});
	});
	$(document).ready(function() {

		var orderItems, totalTag;

		$('.data-value').click(function() {

			var order_id = $(this).data('id');
			$('#issueRefundModal').modal('show');
			$("#order_id").html(order_id);

			$.ajax({
				url: '/api/orders/' + order_id + '?populate=OrderItem,OrderItem.Product',
				type: 'GET',
				success: function(result) {
					$("#issueRefund").empty();

					for (var i = 0; i < result.OrderItems.length; i++) {

						orderItems = "<tr><td>" + result.OrderItems[i].Product.product_name + "</td><td>"
							+ result.OrderItems[i].quantity + "</td><td>"
							+ result.OrderItems[i].final_price + "</td><td>"
							+ "<input type='text' min='1' class='shop_qty_num all-quantity-cart-items' style='width:auto;'></td><td>"
							+ "<input type='text' min='1' class='shop_qty_num all-quantity-cart-items refund_amount' style='width:auto;'></td></tr>";

						$("#issueRefund").append(orderItems);
					}
					totalTag = "<tr><td colspan='3'></td><td><b>TOTAL REFUND :</b></td><td>"
						+ "<input type='text' id='total_refund' class='shop_qty_num all-quantity-cart-items' style='width:auto;'></td></tr>";

					$("#issueRefund").append(totalTag);
				},
				error: function(error) {
					console.log(error);
				}
			})
		});

		$('#issueRefundForm').submit(function(e) {
			e.preventDefault();

            $('#issueRefundModal').modal('hide');
			$('#conform-modal').modal('show');

			var refundObj = {};

			var total_refund = $('#total_refund').val();
			var order_id = $("#order_id").html();

			refundObj = {
				total_refund: total_refund
			}

			$.ajax({
				url: '/api/payment/refund-order/' + order_id,
				type: 'POST',
				data: refundObj,
				success: function(result) {
                    $('#issueRefundModal').modal('hide');
					$('#success-modal').modal('show');
				},
				error: function(error) {
					console.log(error);
				}
			})
		});
	});

	$(document).on("change", ".refund_amount", function() {
		var sum = 0;
		$(".refund_amount").each(function() {
			sum += +$(this).val();
		});
		$("#total_refund").val(sum);
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Sales History</h2>
						</div>
						<div class="alert" id="gtc-form-alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="form-message"></span>
						</div>
						<div class="content-body">
							<div class="row">
								<div class="col-md-7">
									<form class="form-inline" id="searchSaleshistory">
										<div class="form-group mb-2">
											<div class="select-container">
												<select class="form-control-customized form-control-sm" name="dateSelect">
												 {{!-- {{#if queryURI.dateSelect}} --}}
												{{#select queryURI.dateSelect}}
													<option disabled selected>Days</option>
													<option value="today">Today</option>
													<option value="yesterday">Yesterday</option>
													<option value="last7day">LAST 7 DAY</option>
													<option value="last15day">LAST 15 DAY</option>
													<option value="last30day">LAST 30 DAY</option>
													{{/select}}
													{{!--{{/if }} --}}
 												</select>
											</div>
										</div>
										<div class="form-group mx-sm-3 mb-2">
											<div class="select-container">
												<select class="form-control-customized form-control-sm" name="marketType">
												{{#select queryURI.marketType}}
													<option disabled selected> Type</option>
													{{#each marketPlace}}
														<option value="{{this}}">{{@key}}</option>
													{{/each}}
													{{/select}}
												</select>

											</div>
										</div>
										<div class="form-group mx-sm-3 mb-2">
											<div class="select-container">
												<select class="form-control-customized form-control-sm" name="status">
												{{#select queryURI.status}}

													<option disabled selected>STATUS</option>
													{{#each orderStatus}}
														{{!-- <option value="{{@key}}">{{@key}}</option> --}}
														<option value="{{@key}}">{{objectKey ../orderStatus @this}}</option>
													{{/each}}
												{{/select}}
												</select>
											</div>
										</div>
										<input type="submit" value="Search" class="btn btn-sm btn-success" style="margin-top: -8px;">
									</form>
								</div>
								<div class="col-md-5">
									<form id="searchSaleshistory1" class="form-inline ml-auto pull-right">
										<div class="form-group mx-sm-3 mb-2">
											<button class="btn btn-small btn-muted export-btn">EXPORT</button>
										</div>
										<div class="form-group mb-2">
											<div class="input-group gtc-rounded">

												<input type="search" id="keyword" name="keyword" class="form-control form-control-sm" placeholder="Search Invoice " {{#if queryURI.keyword}}
												value={{queryURI.keyword}}{{/if}} aria-label="..."
												/>
												<button type="submit" class="btn btn-sm btn-gtc">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="cart-top-header">
										<div class="alignleft cart-top-left">
											<span class="m-r-sm text-muted">{{count}} items total from
												{{#if queryURI.start_date}}{{formatTime queryURI.start_date "MMM D, Y"}}{{else}}begining {{/if}} to {{formatTime queryURI.end_date "MMM D, Y"}}</span>
										</div>
										<div class="alignright cart-top-right">
											<span class="m-r-sm text-muted">
												Entries per page :
												<a href="reporting/sales-history?{{QueryParams queryURI (FrameObject page=1 limit=10) 'null'}}"> 10</a>
												<a href="reporting/sales-history?{{QueryParams queryURI (FrameObject page=1 limit=25) 'null'}}"> 25</a>
												<a href="reporting/sales-history?{{QueryParams queryURI (FrameObject page=1 limit=100) 'null'}}"> 100</a>
												<a href="reporting/sales-history?{{QueryParams queryURI (FrameObject page=1 limit=500) 'null'}}"> All </a>
											</span>
										</div>
										<div style="clear: both;"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">
														<input type="checkbox">
													</th>
													<th scope="col">Invoice#</th>
													<th style="display:none" scope="col">purchase order id</th>
													<th scope="col">Date</th>
													<th scope="col">Method</th>
													<th scope="col">Status</th>
													<th scope="col">Notes</th>
													<th scope="col"></th>
													<th scope="col"></th>
													<th scope="col">Amount</th>
												</tr>
											</thead>
											<tbody>
												{{#each OrderItems}}
													<tr>
														<td>
															<input type="checkbox" value="{{this.id}}">
														</td>
														<td>
															<a href="/reporting/sales-history/{{this.id}}">{{this.id}}</a>
														</td>
														<td style="display:none">{{this.purchase_order_id}}</td>
														<td>{{formatTime this.ordered_date "MMM D, Y"}}</td>
														<td>Stripe</td>
														<td class="text_green_color">{{objectKey ../orderStatus this.order_status}}</td>
														<td></td>
														<td>
															<a href="/order-track/{{this.id}}">Track Order</a>
														</td>
														<td class="text_blue_color">
															<p data-id="{{this.id}}" class="data-value" data-toggle="modal" data-target="#issueRefundModal" data-whatever="@mdo">
																<i class="fas fa-credit-card"></i>
																Issue Refund</p>
                                                        </td>
														<td>${{this.total_price}} CAD</td>
													</tr>
												{{/each}}
												<tr>
													<td colspan="7"></td>
													<td class="text_blue_color">Total Transaction</td>
													<td>${{totalTransaction}} CAD</td>
												</tr>
											</tbody>
										</table>
										{{!-- Pagination starts --}}
										{{#ifCond count '>' queryPaginationObj.limit}}
											<div class="row">
												<div class="col-md-3">
												</div>
												<div class="col-md-7">
													{{#pagination count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
														<nav aria-label="Page navigation example">
															<ul class="pagination justify-content-center">
																{{#unless startFromFirstPage}}
																	<li class="page-item">
																		<a class="page-link" href="../reporting/sales-history?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
																	</li>
																{{/unless}}
																{{#each pages}}
																	<li class="page-item {{#if isCurrent}} active {{/if}}">
																		<a class="page-link" href="../reporting/sales-history?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																	</li>
																{{/each}}
																{{#unless endAtLastPage}}
																	<li class="page-item">
																		<a class="page-link" href="../reporting/sales-history?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
																	</li>
																{{/unless}}
															</ul>
														</nav>
													{{/pagination}}
												</div>
											</div>
										{{/ifCond}}
										{{!-- Pagination Ends --}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}

<div class="modal fade" id="issueRefundModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Issue Refund( OrderId: #
					<span id="order_id"></span>)</h5>
			</div>
			<form id="issueRefundForm" class="form">
				<div class="modal-body">
					<div class="container">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="shop_list_title">
										<b>Product</b>
									</th>
									<th class="shop_list_title">
										<b>Qty</b>
									</th>
									<th class="shop_list_title">
										<b>Paid</b>
									</th>
									<th class="shop_list_title">
										<b>Refund Qty</b>
									</th>
									<th class="shop_list_title">
										<b>Refund Amt</b>
									</th>
								</tr>
							</thead>
							<tbody id="issueRefund">
                            </tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
						<b>Cancel</button>
					<button type="submit" id="submitBtn" class="btn btn-small btn-primary">
						<b>Continue</b>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Refund Conformation:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					{{!-- <p>Are you sure you want to process a refund of {{}} for the order #{{order_id}}.</p> --}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="conform-modal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Refund Initiated Successfully:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>Refund credit to user bank account in 5 to 7 business days.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>





