<script>
	var params = {{{ DisplayJSON queryParamsString }}};
	function limit(type, size) {
		console.log(type);
		console.log(size);
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = type + '?' + params;
	}
	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}
</script> 
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
{{#ifCond selectedPage "==" 'revenue'}}
	<div class="wrapper-content bg-gray">
		<div class="gtc-container">
			<div class="row">
				<div class="col-sm-2">
					{{> vendor/vendor-side-navbar}}
				</div>
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<h5 class="content-header-title">Ad & Featured Listings Revenue</h5>
										<p class="content-txt">This is where you can see all your advertisements and featured products on the Global Trade Connect.</p>
										<span class="pull-right" style="font-size:12px">
										</span>
									</div>
								</div>
								{{#if vendorRevenue.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{vendorRevenue.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10000000000000)"
													 href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>Ad/Listing Name</th>
														<th>Type</th>
														<th>Position</th>
														<th>Start Date</th>
														<th>End Date</th>
														<th>Impressions </th>
														<th>Clicks</th>
														<th>CTR</th>
														<th>Vendor Fees</th>
													</tr>
												</thead>
												<tbody>
													{{#each vendorRevenue.rows}}
													<tr>
														<td>
															<a href="/{{MarketPlaceURL this.Product.Marketplace.id}}/{{this.Product.product_slug}}/{{this.Product.id}}">
																<span class="d-inline-block text-truncate" style="max-width: 250px;">
																	{{this.product_name}}
																</span>
															</a>
														</td>
														<td>
															{{#ifCond this.type '==' 1}}Ad
															{{else}} Featured Listing {{/ifCond}}
														</td>
														<td>
															{{#ifCond this.type '==' 1}}
																{{#switch this.position}}
																	{{#case 1}}Directory Landing{{/case}}
																	{{#case 2}}Wholesale Landing{{/case}}
																	{{#case 3}}Shop Landing{{/case}}
																	{{#case 4}}Service Landing{{/case}}
																	{{#case 5}}Lifestyle Landing{{/case}}
																	{{#case 6}}Product Landing{{/case}}
																{{/switch}}
															{{else ifCond this.type '==' 2}} 
																{{#if this.position_homepage}} Home Page, <br/>{{/if}}
																{{#if this.position_searchresult}} Search Result, <br/>{{/if}}
																{{#if this.position_profilepage}} Profile Square, <br/>{{/if}}
																{{#if this.position_wholesale_landing}} Wholesale Landing, <br/>{{/if}}
																{{#if this.position_shop_landing}} Shop Landing, <br/>{{/if}}
																{{#if this.position_service_landing}} Service Landing, <br/>{{/if}}
																{{#if this.position_subscription_landing}} Lifestyle Landing {{/if}}
															{{/ifCond}}
														</td>												
														<td>{{formatTime this.start_date "MMM DD, YYYY"}}</td>
														<td>
															{{#if this.feature_indefinitely}}
																Indefinite
															{{else}}
																{{formatTime this.end_date "MMM DD, YYYY"}}
															{{/if}}
														</td>
														<td>
															{{#if this.impression}}
																{{this.impression}}
															{{else}}
																0
															{{/if}}
														</td>
														<td>
															{{#if this.clicks}}
																{{this.clicks}}
															{{else}}
																0
															{{/if}}
														</td>
														<td>
															{{#ifCond this.impression '&&' this.clicks}}
																(this.clicks/this.impression)*100)
															{{else}}0
															{{/ifCond}}
														</td>
														<td>{{this.Payment.amount}}</td>
													</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{#ifCond vendorRevenue.count '>' queryPaginationObj.limit}}
										<div class="row m-t-sm">
											<div class="col-md-12">
												{{#pagination vendorRevenue.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="page-item-prev" style="margin-left:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous
																	</a>
																</li>
															{{/unless}}

															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="page-item-next" style="margin-right:-391px;">
																	<a href="{{../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{else}}
									{{#ifCond vendorRevenue.count '==' 0 }}
										<h4 class="font-weight-light py-3 text-center">No Results!</h4>
									{{/ifCond}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/ifCond}}
{{#ifCond selectedPage "==" 'processing'}}
	<div class="wrapper-content bg-gray">
		<div class="gtc-container">
			<div class="row">
				<div class="col-sm-2">
					{{> vendor/vendor-side-navbar}}
				</div>
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<h5 class="content-header-title">Processing Fees</h5>
										<p class="content-txt">This is were you can see, GTC Fees for all the order placed.</p>
										<span class="pull-right" style="font-size:12px">
										</span>
									</div>
								</div>
								{{#if processingFee.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{processingFee.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10000000000000)"
													 href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>Order#</th>
														<th>Order Total</th>
														<th>Shipping Cost</th>
														<th>GTC Fee(%)</th>
														<th>GTC Fee</th>
													</tr>
												</thead>
												<tbody>
													{{#each processingFee.rows}}
														<tr>
															<td><a href="../my-order/order/{{this.order_id}}">{{this.order_id}}</a></td>
															<td>{{this.total_price}}</td>
															<td>{{this.shipping_cost}}</td>
															<td>{{this.gtc_fees_percent}}</td>
															<td>{{this.gtc_fees}}</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{#ifCond processingFee.count '>' queryPaginationObj.limit}}
										<div class="row m-t-sm">
											<div class="col-md-12">
												{{#pagination processingFee.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="page-item-prev" style="margin-left:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="page-item-next" style="margin-right:-391px;">
																	<a href="{{../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{else}}
									{{#ifCond processingFee.count '==' 0 }}
										<h4 class="font-weight-light py-3 text-center">No Results!</h4>
									{{/ifCond}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/ifCond}}
{{#ifCond selectedPage "==" 'subscription'}}
	<div class="wrapper-content bg-gray">
		<div class="gtc-container">
			<div class="row">
				<div class="col-sm-2">
					{{> vendor/vendor-side-navbar}}
				</div>
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<h5 class="content-header-title">Subscription Fees</h5>
										<p class="content-txt">This is were you can see, Plan Fees for all the order placed.</p>
										<span class="pull-right" style="font-size:12px">
										</span>
									</div>
								</div>
								{{#if subscriptionFee.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{subscriptionFee.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10000000000000)"
													 href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>Order#</th>
														<th>Order Total</th>
														<th>Shipping Cost</th>
														<th>Plan Fee(%)</th>
														<th>Plan Fee</th>
													</tr>
												</thead>
												<tbody>
													{{#each subscriptionFee.rows}}
														<tr>
															<td><a href="../my-order/order/{{this.order_id}}">{{this.order_id}}</a></td>
															<td>{{this.total_price}}</td>
															<td>{{this.shipping_cost}}</td>
															<td>{{this.plan_fees_percent}}</td>
															<td>{{this.plan_fees}}</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{#ifCond subscriptionFee.count '>' queryPaginationObj.limit}}
										<div class="row m-t-sm">
											<div class="col-md-12">
												{{#pagination subscriptionFee.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="page-item-prev" style="margin-left:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="page-item-next" style="margin-right:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{else}}
									{{#ifCond subscriptionFee.count '==' 0 }}
										<h4 class="font-weight-light py-3 text-center">No Results!</h4>
									{{/ifCond}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/ifCond}}
{{#ifCond selectedPage "==" 'gtcpay'}}
	<div class="wrapper-content bg-gray">
		<div class="gtc-container">
			<div class="row">
				<div class="col-sm-2">
					{{> vendor/vendor-side-navbar}}
				</div>
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<h5 class="content-header-title">GTC pay Escrow Fees</h5>
										<p class="content-txt">This is were you can see, all the amount paid to you by GTC for your orders.</p>
										<span class="pull-right" style="font-size:12px"></span>
									</div>
								</div>
								{{#if gtcPayFee.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{gtcPayFee.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryPaginationObj.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10000000000000)"
													 href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>Order#</th>
														<th>Order Total</th>
														<th>Shipping Cost</th>
														<th>Paid to Vendor</th>
													</tr>
												</thead>
												<tbody>
													{{#each gtcPayFee.rows}}
													<tr>
														<td><a href="../my-order/order/{{this.OrderVendor.order_id}}">{{this.OrderVendor.order_id}}</a></td>
														<td>{{this.OrderVendor.total_price}}</td>
														<td>{{this.OrderVendor.shipping_cost}}</td>
														<td>{{this.Payment.amount}}</td>
													</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{#ifCond gtcPayFee.count '>' queryPaginationObj.limit}}
										<div class="row m-t-sm">
											<div class="col-md-12">
												{{#pagination gtcPayFee.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="page-item-prev" style="margin-left:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="page-item-next" style="margin-right:-391px;">
																	<a href="{{../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{else}}
									{{#ifCond gtcPayFee.count '==' 0 }}
										<h4 class="font-weight-light py-3 text-center">No Results!</h4>
									{{/ifCond}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/ifCond}}
{{#ifCond selectedPage "==" 'membership'}}
	<div class="wrapper-content bg-gray">
		<div class="gtc-container">
			<div class="row">
				<div class="col-sm-2">
					{{> vendor/vendor-side-navbar}}
				</div>
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<h5 class="content-header-title">Membership Fees</h5>
										<p class="content-txt">This is were you can see, all membership fees paid by you to GTC.</p>
										<span class="pull-right" style="font-size:12px">
										</span>
									</div>
								</div>
								{{#if membershipDetails.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{membershipDetails.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)" href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														{{!-- <th>
													<div class="customCheckbox">
														<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
														<label class="checkbox-b" for="inputCheckbox"></label>
													</div>
												</th> --}}
														<th scope="col">Plan Type</th>
														<th scope="col">Start Date</th>
														<th scope="col">End Date</th>
														<th scope="col">Status </th>
														<th scope="col">Paid Date</th>
														<th scope="col">Membership Fees</th>
													</tr>
												</thead>
												<tbody>
													{{#each membershipDetails.rows}}
														<tr>
															{{!-- <td>
																	<div class="customCheckbox">
																		<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value= {{this.id}}>
																		<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
																	</div>
																</td> --}}
															<td>
																{{#ifCond this.plan_id '==' 2}} Service Provider{{/ifCond}}
																{{#ifCond this.plan_id '==' 3}} Lifestyle Provider {{/ifCond}}
																{{#ifCond this.plan_id '==' 4}} Public Seller Pricing Guide{{/ifCond}}
																{{#ifCond this.plan_id '==' 6}} Wholesale Pricing Guide{{/ifCond}}
															</td>
															<td>{{formatTime this.start_date "MMM DD, YYYY"}}</td>
															<td>{{formatTime this.end_date "MMM DD, YYYY"}}</td>
															<td>
																{{#ifCond this.status '==' 1}}
																	<div style="color:green">ACTIVE</div>
																{{else}}
																	<div style="color:red">INACTIVE</div>
																{{/ifCond}}
															</td>
															<td>{{formatTime this.Payment.created_on "MMM DD, YYYY"}}</td>
															<td>${{this.Payment.amount}}</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
											{{#ifCond membershipDetails.count '==' 0 }}
												<p style="text-align: center;">No Results!</p>
											{{/ifCond}}
										</div>
									</div>
									{{#ifCond membershipDetails.count '>' queryParams.limit}}
										<div class="row">
											<div class="col-md-12 align-self-center">
												{{#pagination orders.count queryParams.page queryParams.limit 2}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="page-item-prev" style="margin-left:-391px;">
																	<a href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="{{../../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="page-item-next" style="margin-right:-391px;">
																	<a href="{{../originalUrl}}?{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{else}}
									<h4 class="font-weight-light py-3 text-center">No Results!</h4>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/ifCond}}
{{> footer/bottom-footer}}