{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="content-body">
							<p class="content-txt"></p>
							<div class="row">
								<div class="col-md-7">
									{{> mail/header }}
								</div>
							</div>
							{{#if collectionSize}}
							<div class="row">
								<div class="col-sm-12">
									<div class="alert" id="gtc-mail-alert">
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">&times;</span>
										</button>
										<span class="mail-message"></span>
									</div>
									<div class="cart-top-header">
										<div class="alignleft cart-top-left">
											<span class="m-r-sm text-muted">{{this.collectionSize}} items total</span>
										</div>
										<div class="alignright cart-top-right">
											<span class="m-r-sm text-muted">
												Entries per page :
												<a href="gtc-mail/deleted?{{QueryParams queryURI (FrameObject page=1 limit=10) 'null'}}"> 10</a>
												<a href="gtc-mail/deleted?{{QueryParams queryURI (FrameObject page=1 limit=25) 'null'}}"> 25</a>
												<a href="gtc-mail/deleted?{{QueryParams queryURI (FrameObject page=1 limit=100) 'null'}}"> 100</a>
												<a href="gtc-mail/deleted?{{QueryParams queryURI (FrameObject page=1 limit=500) 'null'}}"> All </a>
											</span>
										</div>
										<div style="clear: both;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">
													<div class="customCheckbox">
														<input type="checkbox" onclick="selectAll(this);" id="inputTerms" class="customCheckboxInput">
														<label class="checkbox-b" for="inputTerms"></label>
													</div>
												</th>
												<th scope="col">From</th>
												<th scope="col">Subject</th>
												<th scope="col">Date</th>
												<th scope="col">Size</th>
											</tr>
										</thead>
										<tbody>
											{{#each deletedMail}}
											<tr>
												<td>
													<div class="customCheckbox">
														<input type="checkbox" name="selected" class="customCheckboxInput" value="{{this.id}}">
														<label class="checkbox-b" for="inputTerms"></label>
													</div>
												</td>
												<td class='clickable-row' scope="row" data-href='gtc-mail/deleted/{{this.Mail.id}}'>{{this.Mail.fromUser.first_name}}</td>
												<td class='clickable-row' scope="row" data-href='gtc-mail/deleted/{{this.Mail.id}}'>{{this.Mail.subject}}</td>
												<td class='clickable-row' scope="row" data-href='gtc-mail/deleted/{{this.Mail.id}}'>{{formatTime this.Mail.created_on "MMM D, YYYY"}}</td>
												<td class='clickable-row' data-href='gtc-mail/deleted/{{this.Mail.id}}'>{{sizeInKB this.Mail.message.length}} KB</td>
											</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
								{{#ifCond collectionSize '>' queryPaginationObj.limit}}
								{{#pagination collectionSize page pageSize maxSize}}
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												{{#unless startFromFirstPage}}
												<li class="page-item">
													<a class="page-link" href="gtc-mail/deleted?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
												</li>
												{{/unless}} {{#each pages}}
												<li class="page-item {{#if isCurrent}} active {{/if}}">
													<a class="page-link" href="gtc-mail/deleted?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
												</li>
												{{/each}} {{#unless endAtLastPage}}
												<li class="page-item">
													<a class="page-link" href="gtc-mail/deleted?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
												</li>
												{{/unless}}
											</ul>
										</nav>
								{{/pagination}}
								{{/ifCond}}
							</div>
							{{else}}
							<h4 class="font-weight-light py-3 text-center">No Results!</h4>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}