{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<style>
	.fas {
		cursor: pointer
	}
</style>
<script>
	function deleteMail(id) {

		if('{{selectedPage}}' == 'inbox'){
			$.ajax({
				url: '/api/mail/delete/' + id,
				type: 'PUT',
				success: function (result) {
					console.log(result);
				},
				error: function (error) {
					console.log(error);
				}
			});
			window.location.href = '/gtc-mail/{{selectedPage}}';
		}else{
			$.ajax({
				url: '/api/mail/remove/' + id,
				type: 'DELETE',
				success: function (result) {
					console.log(result);
				},
				error: function (error) {
					console.log(error);
				}
			});
			window.location.href = '/gtc-mail/{{selectedPage}}';
		}	
	}

	$(function() {
		var mailDetails = $('.mailDetails');
		var popupRefernece = $('.popupRefernece');
		mailDetails.hide();
		$(document).on('click', function(e) {
			var target = $(e.target);
			if (target.is(mailDetails)) return;
			if (target.is(popupRefernece)) {
				e.preventDefault();
				mailDetails.show();
				var popper = new Popper(target, mailDetails, {
					placement: 'bottom-start',
				});
			} else {
				mailDetails.hide();
			}
		});
	});
</script>

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<div class="row">
								<div class="col-md-7">
									<h2>{{message.subject}}</h2>
								</div>
								<div class="col-md-5">
									<p class="pull-right">
										<i class="fas fa-trash-alt" onclick="deleteMail({{messageUserId}})"></i>
									</p>
								</div>
							</div>
							<hr/>
						</div>
						<div class="content-body">
							<div class="row">
								<div class="col-md-7">
									From:  {{message.fromUser.first_name}}
									<br/> To:  me
									<i class="fas fa-caret-down popupRefernece"></i>
								</div>
								<div class="col-md-5">
									<p class="pull-right">
										{{formatTime message.created_on "MMM D, YYYY"}}
									</p>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-8">
									{{{message.message}}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									Click here to
									<a href="gtc-mail/compose?id={{message.fromUser.id}}&text={{message.fromUser.first_name}}&subject={{message.subject}}">Reply</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}

<div class="mailDetails">
	<div class="modal-dialog" style="margin: 0px; padding:0px;">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row col-lg-12" style="margin: 0px; padding:0px;">
					<div class="table-responsive">
						<table>
							<tr>
								<td style="padding-right:8px;">from:</td>
								<td>{{message.fromUser.first_name}}</td>
							</tr>
							<tr>
								<td style="padding-right:8px;">date:</td>
								<td>{{formatTime message.created_on "MMM D, YYYY, hh:mm A"}}</td>
							</tr>
							<tr>
								<td style="padding-right:8px;">subject:</td>
								<td>{{message.subject}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>