<script type="text/javascript">

	$(document).ready(function() {
		$(':input[id="inputBtnApplyCoupon"]').prop('disabled', true);
		$('input[id="inputCouponCode"]').keyup(function() {
			if ($(this).val() != '') {
				$(':input[id="inputBtnApplyCoupon"]').prop('disabled', false);
			}
		});
	});

	function applyGTCCoupon() {
		console.log('inputCouponCode', $('#inputCouponCode').val());
		$.ajax({
			url: '/api/cart/apply-coupon',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify({
				code: $('#inputCouponCode').val()
			}),
			processData: false,
			success: function(data, statusText, xhr) {
				auth.alertService(xhr.status, data);
				location.reload();
			},
			error: function(request, status, error) {
				auth.alertService(request.status, request.responseText);
			}
		});
	}

	var cartItems = {{{ DisplayJSON cartItems }}}

	function removeGtcCart(item) {
		var result = confirm("Are you sure you want to delete this item?");
		if (result) {
			$('#remove-cart-' + item).removeAttr('href');
			$.ajax({
				url: '/api/cart/remove-cart/' + item,
				type: 'DELETE',
				success: function(result) {
					if (result)
						location.reload();
				},
				error: function(error) {
					console.log("Error occured while deleting", error);
				}
			});
		}
	}

	function UpdateAllCartItems() {

		let allCartInfo = {};

		allCartInfo["cartUpdateArray"] = [];

		$(".all-quantity-cart-items").each(function() {
			for (var i = 0; i < cartItems.length; i++) {

				let uniqueId = "inputQty" + cartItems[i].id;
				let currentElementId = $(this).attr('id');

				if (uniqueId == currentElementId) {
					let temp = {};

					temp['product_quantity'] = $(this).val();
					temp['product_id'] = cartItems[i].product_id;
					temp['cart_item_id'] = cartItems[i].id

					allCartInfo['cartUpdateArray'].push(temp);
				}
			}
		});

		$.ajax({
			url: '/api/cart/update-cart',
			type: 'POST',
			data: JSON.stringify(allCartInfo),
			contentType: "application/json",
			success: function(updateAllData) {
				$('#gtc-cart-alert').prop('disabled', false);
				if (updateAllData.statusCode == 200) {

					$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
					$('#gtc-cart-alert .cart-message').text(updateAllData.message_details);
					$("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#gtc-cart-alert").slideUp(500);
						location.reload();
					});
				} else {
					$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
					$('#gtc-cart-alert .cart-message').text(updateAllData.message_details);
					$("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#gtc-cart-alert").slideUp(500);
					});
				}
			},
			error: function(error) {
				$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-danger');
				$('#gtc-cart-alert .cart-message').text(error.responseJSON.message_details);
				$("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function() {
					$("#gtc-cart-alert").slideUp(500);
					location.reload();
				});

				$('#quantity-cart-' + error['responseJSON']['cart_item_id']).notify(error.responseJSON.message_details, "error");
			}
		});
	}

	function UpdateGtcCart(productId, cartItemId, qtyItem, productName) {
		let cartInfo = {};
		cartInfo["cartUpdateArray"] = [];

		let cartItem = {};
		if (qtyItem == '') {
			cartItem['product_quantity'] = $('#inputQty' + cartItemId).val();
		} else {
			cartItem['product_quantity'] = $('#inputQty' + cartItemId).val();
		}
		cartItem['product_id'] = productId;
		cartItem['cart_item_id'] = cartItemId;
		cartInfo['cartUpdateArray'].push(cartItem);
		if (parseInt(cartItem.product_quantity) < parseInt(qtyItem)) {
			$('#gtc-cart-alert1').removeClass('alert-danger').addClass('alert-danger');
			$('#gtc-cart-alert1 .cart-message').text(productName + " Minimum quantity " + qtyItem);
			$("#gtc-cart-alert1").fadeTo(2000, 500).slideUp(500, function() {
				$("#gtc-cart-alert1").slideUp(500);
			});
		} else {
			$.ajax({
				url: '/api/cart/update-cart',
				type: 'POST',
				data: JSON.stringify(cartInfo),
				contentType: "application/json",
				success: function(updateData) {
					$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
					$('#gtc-cart-alert .cart-message').text(updateData.message_details);
					$("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function() {
						$("#gtc-cart-alert").slideUp(500);
						location.reload();
					});
				},
				error: function(error) {
					console.log("Error occured while updating", error);
					$('#gtc-cart-alert1').removeClass('alert-success').addClass('alert-danger');
					$('#gtc-cart-alert1 .cart-message').text(error.responseJSON.message_details);
					$("#gtc-cart-alert1").fadeTo(2000, 500).slideUp(500, function() {
						$("#gtc-cart-alert1").slideUp(500);
					});
				}
			});
		}
	}

	function applyGTCCouponOld() {
		var cartInfo = {};
		cartInfo.coupon_code = $("#coupon-input-code").val();
		if (!cartInfo.coupon_code) {
			alert('Please enter promo code to apply coupon code');
			return false;
		}
		$.ajax({
			url: '/api/cart/apply-coupon',
			type: 'POST',
			data: cartInfo,
			success: function(updateData) {
				if (updateData.status == 'error') {
					$('#gtc-coupon-alert').notify(updateData.message_details, "error");
				} else {
					$('#gtc-coupon-alert').notify("Success", "success");
					$("#coupon-input-code").val('');
				}
			},
			error: function(error) {
				$('#gtc-coupon-alert').notify(error.responseJSON.message_details, "error");
			}
		});
	}

	function orderCheckout() {
		location.href = "/order-checkout/customer-information";
	}
	$(document).ready(function() {
		$('#gtc-cart-alert').hide();
		$('#gtc-cart-alert1').hide();
	});
</script> {{> header/top-header LoggedInUser = LoggedInUser}}
<div id="vendorAlert" tabindex="1">
	<div class="gtc-container"></div>
</div>
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="#" class="active">My Account</a>
					</li>
					<li>Shopping Cart</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
					<span class="text-sm">You're logged in as </span>
					<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
					<button type="button" class="btn btn-sm btn-primary" onclick="gtcLogout()">SWITCH ACCOUNT</button>
				{{else}}
					<span class="text-sm">
						<a href="/login">LOGIN</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1">
			<div class="row no-margins">
				<div class="col-sm-9half no-padding bg-white">
					<div class="header-left header-lg gtc-p-l-r">
						<h2 class="header-lg-text alignleft text-white">MY SHOPPING CART</h2>
						<span class="header-lg-span text-white">({{cart.total_items}} Items Total)</span>
					</div>
					{{#if cart.total_items}}
						{{#each cart.marketplace_products}}
							{{#ifCond @root.marketPlace.WHOLESALE '==' @key}}
								<div class="mini-header bg{{@key}}">WHOLESALE ITEMS ({{this.count}})</div>
								<div class="m-cart-body">
									<table class="table cart-inner-table m-b-none">
										<thead>
											<tr>
												<th width="45%">Product</th>
												<th width="25%">Price</th>
												<th width="15%">QTY</th>
												<th width="15%" class="text-right">Total Price</th>
											</tr>
										</thead>
										<tbody>
											{{#each this.products}}
												<tr>
													<td class="d-flex">
														<div class="col-4 product-left-col">
															<a href="../shop/{{this.Product.product_slug}}/{{this.Product.id}}">
																<img class="object-fit" onError="imgError(this)" src="{{this.Product.ProductMedia.[0].url}}">
															</a>
														</div>
														<div class="col-8">
															<div class="product-middle-col">
																<h3 class="m-cart-title">
																	<a href="../shop/{{this.Product.product_slug}}/{{this.Product.id}}" title="{{this.Product.product_name}}"
																		class="text-black">{{this.Product.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Product.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="../shop/search?category={{this.Product.Category.id}}&sub_category={{this.Product.SubCategory.id}}"
																			title="{{this.Product.Category.name}} > {{this.Product.SubCategory.name}}">{{this.Product.Category.name}}>{{this.Product.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		{{#if @root.LoggedInUser.id}}
																			<a class="text-500" title="{{this.Product.Vendor.vendor_name}}" href="/vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
																		{{else}}
																			<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<span class="price-tag d-block text-blue">{{currency this.Product.price '$'}}</span>
													</td>
													<td>
														<input id="inputQty{{this.id}}" type="number" placeholder="1" min="1" value= {{this.quantity}} class="m-input-xxs all-quantity-cart-items" name="inputQtyValue">
														<a href="javascript:;" class="text-xs m-l-xs">
															<small>Update</small>
														</a>
													</td>
													<td class="text-right">
														{{#if this.quantity}}
															<span class="price-tag m-b-xs d-block">{{currency this.total_price '$'}}</span>
															<button type="button" id="remove-cart-{{this.id}}" onclick="removeGtcCart(`{{this.id}}`)" href="javascript:;" class="btn btn-sm btn-primary">REMOVE</button>
														{{/if}}
													</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							{{/ifCond}}
							{{#ifCond @root.marketPlace.PUBLIC '==' @key}}
								<div class="mini-header bg{{@key}}">SHOP ITEMS ({{this.count}})</div>
								<div class="m-cart-body">
									<table class="table cart-inner-table m-b-none">
										<thead>
											<tr>
												<th width="45%">Product</th>
												<th width="25%">Price</th>
												<th width="15%">QTY</th>
												<th width="15%" class="text-right">Total Price</th>
											</tr>
										</thead>
										<tbody>
											{{#each this.products}}
												<tr>
													<td class="d-flex">
														<div class="col-4 product-left-col">
															<a href="../shop/{{this.Product.product_slug}}/{{this.Product.id}}">
																<img class="object-fit" onError="imgError(this)" src="{{this.Product.ProductMedia.[0].url}}">
															</a>
														</div>
														<div class="col-8">
															<div class="product-middle-col">
																<h3 class="m-cart-title">
																	<a href="../shop/{{this.Product.product_slug}}/{{this.Product.id}}" title="{{this.Product.product_name}}"
																		class="text-black">{{this.Product.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Product.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="../shop/search?category={{this.Product.Category.id}}&sub_category={{this.Product.SubCategory.id}}"
																			title="{{this.Product.Category.name}} > {{this.Product.SubCategory.name}}">{{this.Product.Category.name}}>{{this.Product.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		{{#if @root.LoggedInUser.id}}
																			<a class="text-500" title="{{this.Product.Vendor.vendor_name}}" href="/vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
																		{{else}}
																			<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<span class="price-tag d-block text-blue">{{currency this.Product.price '$'}}</span>
													</td>
													<td>
														<input id="inputQty{{this.id}}" type="number" placeholder="1" min="1" value= {{this.quantity}} class="m-input-xxs all-quantity-cart-items" name="inputQtyValue">
														<a href="javascript:;" class="text-xs m-l-xs">
															<small>Update</small>
														</a>
													</td>
													<td class="text-right">
														{{#if this.quantity}}
															<span class="price-tag m-b-xs d-block">{{currency this.total_price '$'}}</span>
															<button type="button" id="remove-cart-{{this.id}}" onclick="removeGtcCart(`{{this.id}}`)" href="javascript:;" class="btn btn-sm btn-primary">REMOVE</button>
														{{/if}}
													</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							{{/ifCond}}
							{{#ifCond @root.marketPlace.SERVICE '==' @key}}
								<div class="mini-header bg{{@key}}">SERVICE ITEMS ({{this.count}})</div>
								<div class="m-cart-body">
									<table class="table cart-inner-table m-b-none">
										<thead>
											<tr>
												<th width="45%">Product</th>
												<th width="25%">Price</th>
												<th width="15%">QTY</th>
												<th width="15%" class="text-right">Total Price</th>
											</tr>
										</thead>
										<tbody>
											{{#each this.products}}
												<tr>
													<td class="d-flex">
														<div class="col-4 product-left-col">
															<a href="../services/{{this.Product.product_slug}}/{{this.Product.id}}">
																<img class="object-fit" onError="imgError(this)" src="{{this.Product.ProductMedia.[0].url}}">
															</a>
														</div>
														<div class="col-8">
															<div class="product-middle-col">
																<h3 class="m-cart-title">
																	<a href="../services/{{this.Product.product_slug}}/{{this.Product.id}}" title="{{this.Product.product_name}}"
																		class="text-black">{{this.Product.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Product.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="../services/search?category={{this.Product.Category.id}}&sub_category={{this.Product.SubCategory.id}}"
																			title="{{this.Product.Category.name}} > {{this.Product.SubCategory.name}}">{{this.Product.Category.name}}>{{this.Product.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		{{#if @root.LoggedInUser.id}}
																			<a class="text-500" title="{{this.Product.Vendor.vendor_name}}" href="/vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
																		{{else}}
																			<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<span class="price-tag d-block text-blue">{{currency this.Product.price '$'}}</span>
													</td>
													<td>
														<input id="inputQty{{this.id}}" type="number" placeholder="1" min="1" value= {{this.quantity}} class="m-input-xxs all-quantity-cart-items" name="inputQtyValue">
														<a href="javascript:;" class="text-xs m-l-xs">
															<small>Update</small>
														</a>
													</td>
													<td class="text-right">
														{{#if this.quantity}}
															<span class="price-tag m-b-xs d-block">{{currency this.total_price '$'}}</span>
															<button type="button" id="remove-cart-{{this.id}}" onclick="removeGtcCart(`{{this.id}}`)" href="javascript:;" class="btn btn-sm btn-primary">REMOVE</button>
														{{/if}}
													</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							{{/ifCond}}
							{{#ifCond @root.marketPlace.LIFESTYLE '==' @key}}
								<div class="mini-header bg{{@key}}">LIFESTYLE SUBSCRIPTION ITEMS ({{this.count}})</div>
								<div class="m-cart-body">
									<table class="table cart-inner-table m-b-none">
										<thead>
											<tr>
												<th width="45%">Product</th>
												<th width="25%">Price</th>
												<th width="15%">QTY</th>
												<th width="15%" class="text-right">Total Price</th>
											</tr>
										</thead>
										<tbody>
											{{#each this.products}}
												<tr>
													<td class="d-flex">
														<div class="col-4 product-left-col">
															<a href="../lifestyle/{{this.Product.product_slug}}/{{this.Product.id}}">
																<img class="object-fit" onError="imgError(this)" src="{{this.Product.ProductMedia.[0].url}}">
															</a>
														</div>
														<div class="col-8">
															<div class="product-middle-col">
																<h3 class="m-cart-title">
																	<a href="../lifestyle/{{this.Product.product_slug}}/{{this.Product.id}}" title="{{this.Product.product_name}}"
																		class="text-black">{{this.Product.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Product.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="../lifestyle/search?category={{this.Product.Category.id}}&sub_category={{this.Product.SubCategory.id}}"
																			title="{{this.Product.Category.name}} > {{this.Product.SubCategory.name}}">{{this.Product.Category.name}}>{{this.Product.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		{{#if @root.LoggedInUser.id}}
																			<a class="text-500" title="{{this.Product.Vendor.vendor_name}}" href="/vendor/{{this.Product.Vendor.id}}">{{this.Product.Vendor.vendor_name}}</a>
																		{{else}}
																			<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<span class="price-tag d-block text-blue">{{currency this.Product.price '$'}}</span>
													</td>
													<td>
														<input id="inputQty{{this.id}}" type="number" placeholder="1" min="1" value= {{this.quantity}} class="m-input-xxs all-quantity-cart-items" name="inputQtyValue">
														<a href="javascript:;" class="text-xs m-l-xs">
															<small>Update</small>
														</a>
													</td>
													<td class="text-right">
														{{#if this.quantity}}
															<span class="price-tag m-b-xs d-block">{{currency this.total_price '$'}}</span>
															<button type="button" id="remove-cart-{{this.id}}" onclick="removeGtcCart(`{{this.id}}`)" href="javascript:;" class="btn btn-sm btn-primary">REMOVE</button>
														{{/if}}
													</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							{{/ifCond}}
						{{/each}}
					{{else}}
					{{/if}}
				</div>
				<div class="col-sm-3half no-padding">
					<div class="header-right header-lg gtc-p-l-r">
						<h2 class="header-lg-text">YOUR ORDER</h2>
					</div>
					<div class="cart-summary">
						{{#if cart.total_items}}
							{{#each cart.marketplace_summary}}
								{{#ifCond @root.marketPlace.WHOLESALE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Wholesale Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">WHOLESALE TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.PUBLIC '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Shop Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SHOP TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.SERVICE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Service Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SERVICE TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
								{{#ifCond @root.marketPlace.LIFESTYLE '==' @key}}
									<h2 class="text-marketplace-{{@key}}">Subscription Summary</h2>
									<div class="cart-hr-line"></div>
									<div class="summary-m-total">
										<p class="summary-info">Subtotal
											<span>{{currency this.sub_total '$'}}</span>
										</p>
										<p class="summary-info">Shipping Ground
											<span>{{currency this.shipping_ground '$'}}</span>
										</p>
									</div>
									<div class="cart-hr-line"></div>
									<p class="summary-info text-uppercase text-black font-weight-bold m-t-xs m-b">SUBSCRIPTION TOTAL
										<span>{{currency this.total '$'}}</span>
									</p>
								{{/ifCond}}
							{{/each}}
							<div class="grand-total">
								<p class="summary-info text-uppercase text-black font-weight-bold">GRAND TOTAL
									<span>{{currency cart.grant_total_with_discounted_amount '$'}}</span>
								</p>
							</div>
							<button class="btn btn-md btn-primary m-t-sm m-b-sm btn-block" onclick="orderCheckout()" data-style="expand-left" style="background: #e62345;">
								<span class="ladda-label">CHECKOUT NOW</span>
								<span class="ladda-spinner"></span>
							</button>
							<img src="../img/payment-methods.jpg" class="img-fluid w-100">
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}