<script>

var cartItems = {{{DisplayJSON cartItems}}};

function removeGtcCart(item) {
	var result = confirm("Are you sure you want to delete this item?");
	if (result) {
		//Logic to delete the item
		$('#remove-cart-' + item).removeAttr('href');

		$.ajax({
			url: '/api/cart/remove-cart/' + item,
			type: 'DELETE',
			success: function(result) {
				if (result)
					location.reload();
			},
			error: function(error) {
				console.log("Error occured while deleting", error);
			}
		});
	}
}

function UpdateAllCartItems(){

	let allCartInfo = {};

	allCartInfo["cartUpdateArray"] = [];


	$(".all-quantity-cart-items").each(function() {
		for(var i=0; i<cartItems.length; i++){
			
			let uniqueId = "quantity-cart-"+ cartItems[i].id;
			let currentElementId = $(this).attr('id');

			if(uniqueId == currentElementId){
				let temp = {};

				temp['product_quantity'] = $(this).val();
				temp['product_id'] = cartItems[i].product_id;
				temp['cart_item_id'] = cartItems[i].id

				allCartInfo['cartUpdateArray'].push(temp);
			}
		}
	});

	$.ajax({
		url: '/api/cart/update-cart',
		type: 'POST',
		data: JSON.stringify(allCartInfo),
        contentType: "application/json",
		success: function(updateAllData) {
			// window.location.reload();
				 $('#gtc-cart-alert').prop('disabled', false);
			if(updateAllData.statusCode == 200){
			      $('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
			      $('#gtc-cart-alert .cart-message').text(updateAllData.message_details);
			      $("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function () {
			        $("#gtc-cart-alert").slideUp(500);
			        location.reload();
			    });
			}else{
			      $('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
			      $('#gtc-cart-alert .cart-message').text(updateAllData.message_details);
			      $("#gtc-cart-alert").fadeTo(2000, 500).slideUp(500, function () {
			      	  $("#gtc-cart-alert").slideUp(500);
			    });
			}
		},
		error: function(error){
			console.log("Error occured while updating", error);
			$('#quantity-cart-'+ error['responseJSON']['cart_item_id']).notify(error.responseJSON.message_details, "error");
		}
	});
}

function UpdateGtcCart(item, qtyItem, cartItemId){
	let cartInfo = {};
		cartInfo["cartUpdateArray"] = [];

		let cartItem = {};

        cartItem['product_quantity'] = $('#quantity-cart-'+ qtyItem).val();
		cartItem['product_id'] = item;
		cartItem['cart_item_id'] = cartItemId;

		cartInfo['cartUpdateArray'].push(cartItem);


	$.ajax({
		url: '/api/cart/update-cart',
		type: 'POST',
		data: JSON.stringify(cartInfo),
        contentType: "application/json",
		success: function(updateData) {
			
			$('#quantity-cart-'+ qtyItem).notify("Quantity Updated to "+ cartItem.product_quantity, "success");

			 setTimeout(function () {
                    window.location.reload();
                 }, 1500);
		},
		error: function(error){
			console.log("Error occured while updating", error);
			$('#quantity-cart-'+ qtyItem).notify(error.responseJSON.message_details, "error");
		}
	});
}


function applyGTCCoupon(){
	var cartInfo = {};
	cartInfo.coupon_code = $("#coupon-input-code").val();
	if(!cartInfo.coupon_code) {
		alert('Please enter promo code to apply coupon code');
		return false;
	}
	$.ajax({
		url: '/api/cart/apply-coupon',
		type: 'POST',
		data: cartInfo,
		success: function(updateData) {
			console.log(updateData.message_details);
			// var data = updateData.message_details;
			    $('#gtc-coupon-alert').prop('disabled', false);
		      	$('#gtc-coupon-alert').removeClass('alert-danger').addClass('alert-success');
		      	$('#gtc-coupon-alert .coupon-message').text(updateData.message_details);
		      	$("#gtc-coupon-alert").fadeTo(2000, 500).slideUp(500, function () {
		        $("#gtc-coupon-alert").slideUp(500);
		        // location.reload();
    });
		},
		error: function(error) {
			console.log("Error occured while updating", error);
		}
	});
}

function orderCheckout(){
	location.href = "/order-checkout/customer-information"
}
$(document).ready(function(){
$('#gtc-coupon-alert').hide();
$('#gtc-cart-alert').hide();
});

</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
{{!-- <<<<<<< HEAD
<section>
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumb">
					  <li><a href="#" class="active">My Account</a></li>
					  <li>Shopping Cart</li>
					</ul>
				</div>
				<div class="col-md-6">
					<p class="logged_in_username">You're logged in as <span class="span_username text-capitalize">{{LoggedInUser.first_name}} {{LoggedInUser.last_name}}</span> <a href="/login" class="span_swichaccount">SWITCH ACCOUNT</a></p>
				</div>
			</div>
			<div class="row checkout_bg_color ">
                <div class="col-md-9 checkout_title_color">
                	<h4>MY SHOPPING CART <span class="checkout_title_color_span">({{cartItemsCount}} Item Totals)</span></h4>
======= --}}
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
            <div class="alignleft">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="active">My Account</a>
                    </li>
                    <li>Shopping Cart</li>
                </ul> 
            </div>
            <div class="alignright">
                {{#if LoggedInUser.id}}
                <span class="text-sm">You're logged in as </span><a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a> <button type="button" class="btn btn-sm btn-primary">SWITCH ACCOUNT</button>
                {{else}}
                <span class="text-sm"><a href="/login">Login</a> to see seller information</span>
                {{/if}}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="body-content-1">
        	<div class="row no-margins">
                <div class="col-sm-9half no-padding header-left">
                	<div class="header-lg gtc-p-l-r">
                        <h2 class="header-lg-text alignleft">MY SHOPPING CART</h2>
                        <span class="header-lg-span">(8 Items Total)</span>
                    </div>
                </div>
                <div class="col-sm-3half no-padding header-right">
                    <div class="header-lg gtc-p-l-r">
                        <h2 class="header-lg-text">YOUR ORDER</h2>
                    </div>
                </div>
            </div>
            <div class="row no-margins">
            	<div class="col-sm-9half no-padding">
            		<div class="bg-white">
            			<div class="mini-header bg1">WHOLE SALE ITEMS (2)</div>
            			<div class="m-cart-body">
            				<table class="table cart-inner-table m-b-none">
            					<thead>
            						<tr>
            							<th width="45%">Product</th>
            							<th width="25%">Price</th>
            							<th width="15%">QTY</th>
            							<th width="15%" class="text-right">Total Price</th>
            						</tr>
            					</thead>
            					<tbody>
            						<tr>
            							<td class="d-flex">
            								<div class="col-4 product-left-col">
            									<img class="object-fit" src="http://localhost:8010/wp-content/uploads/2018/07/t-shirt-with-logo-1.jpg" alt="T-Shirt with Logo" title="T-Shirt with Logo">
            								</div>
            								<div class="col-8">
            									<div class="product-middle-col">
            										<h3 class="m-cart-title">
            											<a href="shop/t-shirt-with-logo/394" class="text-black">T-Shirt with Logo</a>
            										</h3>
            										<div class="row no-margins">
            											<div class="col-md-4 col-4 no-padding">
            												<span>Origin</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<span class="text-500">Canada</span>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Category</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" href="#" title="OTHERS > Others">OTHERS &gt; Others</a>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Seller</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" title="DJK Agencies Ltd" href="/vendor/84">DJK Agencies Ltd</a>
            											</div>
            										</div>
            									</div>
            								</div>
            							</td>
            							<td>
            								<span class="price-tag d-block text-blue">$8,685.00</span>
            								<small class="m-qty">Minimum Order Quantity: 40</small>
            							</td>
            							<td>
            								<input type="number" id="inputQty" class="m-input-xxs" value="1">
            								<a href="#" class="text-xs m-l-xs"><small>Update</small></a>
            							</td>
            							<td class="text-right">
            								<span class="price-tag m-b-xs d-block">$8,685.00</span>
            								<button type="button" class="btn btn-sm btn-primary">REMOVE</button>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            			</div>
            			<div class="mini-header bg2">SHOP ITEMS (2)</div>
            			<div class="m-cart-body">
            				<table class="table cart-inner-table m-b-none">
            					<thead>
            						<tr>
            							<th width="45%">Product</th>
            							<th width="25%">Price</th>
            							<th width="15%">QTY</th>
            							<th width="15%" class="text-right">Total Price</th>
            						</tr>
            					</thead>
            					<tbody>
            						<tr>
            							<td class="d-flex">
            								<div class="col-4 product-left-col">
            									<img class="object-fit" src="http://localhost:8010/wp-content/uploads/2018/07/t-shirt-with-logo-1.jpg" alt="T-Shirt with Logo" title="T-Shirt with Logo">
            								</div>
            								<div class="col-8">
            									<div class="product-middle-col">
            										<h3 class="m-cart-title">
            											<a href="shop/t-shirt-with-logo/394" class="text-black">T-Shirt with Logo</a>
            										</h3>
            										<div class="row no-margins">
            											<div class="col-md-4 col-4 no-padding">
            												<span>Origin</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<span class="text-500">Canada</span>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Category</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" href="#" title="OTHERS > Others">OTHERS &gt; Others</a>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Seller</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" title="DJK Agencies Ltd" href="/vendor/84">DJK Agencies Ltd</a>
            											</div>
            										</div>
            									</div>
            								</div>
            							</td>
            							<td>
            								<span class="price-tag d-block text-blue">$8,685.00</span>
            							</td>
            							<td>
            								<input type="number" id="inputQty" class="m-input-xxs" value="1">
            								<a href="#" class="text-xs m-l-xs"><small>Update</small></a>
            							</td>
            							<td class="text-right">
            								<span class="price-tag m-b-xs d-block">$8,685.00</span>
            								<button type="button" class="btn btn-sm btn-primary">REMOVE</button>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            			</div>
            			<div class="mini-header bg3">SERVICE ITEMS (2)</div>
            			<div class="m-cart-body">
            				<table class="table cart-inner-table m-b-none">
            					<thead>
            						<tr>
            							<th width="45%">Product</th>
            							<th width="25%">Price</th>
            							<th width="15%">QTY</th>
            							<th width="15%" class="text-right">Total Price</th>
            						</tr>
            					</thead>
            					<tbody>
            						<tr>
            							<td class="d-flex">
            								<div class="col-4 product-left-col">
            									<img class="object-fit" src="http://localhost:8010/wp-content/uploads/2018/07/t-shirt-with-logo-1.jpg" alt="T-Shirt with Logo" title="T-Shirt with Logo">
            								</div>
            								<div class="col-8">
            									<div class="product-middle-col">
            										<h3 class="m-cart-title">
            											<a href="shop/t-shirt-with-logo/394" class="text-black">T-Shirt with Logo</a>
            										</h3>
            										<div class="row no-margins">
            											<div class="col-md-4 col-4 no-padding">
            												<span>Origin</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<span class="text-500">Canada</span>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Category</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" href="#" title="OTHERS > Others">OTHERS &gt; Others</a>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Seller</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" title="DJK Agencies Ltd" href="/vendor/84">DJK Agencies Ltd</a>
            											</div>
            										</div>
            									</div>
            								</div>
            							</td>
            							<td>
            								<span class="price-tag d-block text-blue">$8,685.00</span>
            							</td>
            							<td>
            								<input type="number" id="inputQty" class="m-input-xxs" value="1">
            								<a href="#" class="text-xs m-l-xs"><small>Update</small></a>
            							</td>
            							<td class="text-right">
            								<span class="price-tag m-b-xs d-block">$8,685.00</span>
            								<button type="button" class="btn btn-sm btn-primary">REMOVE</button>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            			</div>
            			<div class="mini-header bg4">LIFESTYLE SUBSCRIPTION ITEMS (2)</div>
            			<div class="m-cart-body">
            				<table class="table cart-inner-table m-b-none">
            					<thead>
            						<tr>
            							<th width="45%">Product</th>
            							<th width="25%">Price</th>
            							<th width="15%">QTY</th>
            							<th width="15%" class="text-right">Total Price</th>
            						</tr>
            					</thead>
            					<tbody>
            						<tr>
            							<td class="d-flex">
            								<div class="col-4 product-left-col">
            									<img class="object-fit" src="http://localhost:8010/wp-content/uploads/2018/07/t-shirt-with-logo-1.jpg" alt="T-Shirt with Logo" title="T-Shirt with Logo">
            								</div>
            								<div class="col-8">
            									<div class="product-middle-col">
            										<h3 class="m-cart-title">
            											<a href="shop/t-shirt-with-logo/394" class="text-black">T-Shirt with Logo</a>
            										</h3>
            										<div class="row no-margins">
            											<div class="col-md-4 col-4 no-padding">
            												<span>Origin</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<span class="text-500">Canada</span>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Category</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" href="#" title="OTHERS > Others">OTHERS &gt; Others</a>
            											</div>
            											<div class="col-md-4 col-4 no-padding">
            												<span>Seller</span>
            											</div>
            											<div class="col-md-8 col-8 no-padding overflow-txt">
            												<a class="text-500" title="DJK Agencies Ltd" href="/vendor/84">DJK Agencies Ltd</a>
            											</div>
            										</div>
            									</div>
            								</div>
            							</td>
            							<td>
            								<span class="price-tag d-block text-blue">$8,685.00</span>
            							</td>
            							<td>
            								<input type="number" id="inputQty" class="m-input-xxs" value="1">
            								<a href="#" class="text-xs m-l-xs"><small>Update</small></a>
            							</td>
            							<td class="text-right">
            								<span class="price-tag m-b-xs d-block">$8,685.00</span>
            								<button type="button" class="btn btn-sm btn-primary">REMOVE</button>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            			</div>
            			<button class="btn btn-md btn-success m-t-sm">CONTINUE SHOPPING</button>
            			<button class="btn btn-md btn-primary m-t-sm alignright">UPDATE CART</button>
            		</div>
            	</div>
            	<div class="col-sm-3half no-padding">
            		<div class="cart-summary">
            			<h2 class="text-wholesale">Wholesale Summary</h2>
            			<div class="cart-hr-line"></div>
            			<div class="total-content">
            				<div class="alignleft">
            					<span class="total-text">Subtotal</span>
            				</div>
            				<div class="alignright">
            					<span class="total-value">$8,763.00</span>
            				</div>
            				<div style="clear: both;"></div>
            				<div class="alignleft">
            					<span class="total-text">Subtotal</span>
            				</div>
            				<div class="alignright">
            					<span class="total-value">$8,763.00</span>
            				</div>
            				<div style="clear: both;"></div>
            				<div class="cart-hr-line"></div>
            				<div class="alignleft">
            					<span class="total-text"><b>WHOLESALE TOTAL</b></span>
            				</div>
            				<div class="alignright">
            					<span class="total-value">$8,763.00</span>
            				</div>
            				<div style="clear: both;"></div>
            			</div>
            			<div class="m-t-sm">
            				<label class="m-b-xs"><strong class="text-black">Have A Promo Code?</strong> Enter it here</label>
            				<input type="text" class="promo-text-control">
            			</div>
            			<div class="text-center">
	            			<button class="btn btn-md btn-primary m-t-sm m-b-sm btn-block" style="background: #e62345;">CHECKOUT NOW</button>
	            			<img src="../img/payment-methods.jpg" class="img-fluid w-75">
	            		</div>
            		</div>
{{!-- >>>>>>> a9af9be19d5e079bf500e41365b324880b9e48a2 --}}
            	</div>
            </div>
        </div>
	</div>
</div>
{{> footer/bottom-footer}}