<script type="text/javascript">
$("#gtc-cart-alert").hide();
function gtcAddToCart(e) {
	$('#gtc-add-to-cart').prop('disabled', true);
	var cartInfo = {};
	cartInfo.product_quantity = $('#product-quantity').val();

	$.ajax({
		type: "POST",
		url: "/api/cart/add-cart/" + e,
		data: cartInfo,
		success: function(res) {
			$('#gtc-add-to-cart').prop('disabled', false);
			if (res && res.message === "SUCCESS") {
				outputPop(res.message_details);
				console.log(res)
				location.reload(true);
			}
		},
		error: function(error) {
			$('#gtc-add-to-cart').prop('disabled', false);
			if (error) {
				if (error.status === 401)
					return location.href = "/login";

				outputErrorPop(error);
				location.reload(true);
			}
		}
	});
}

function removeFromCompare(argument) {
	var newData = {};
	newData.product_id = argument;
	$.ajax({
		type: "POST",
		url: "/api/product-view/remove-from-compare/",
		data: newData,
		success: function(res) {
			$('#gtc-add-to-cart').prop('disabled', false);
			if (res && res.message === "SUCCESS") {
				outputPop(res.message_details);
				location.reload(true);
			}
		},
		error: function(error) {
			$('#gtc-add-to-cart').prop('disabled', false);
			if (error) {
				if (error.status === 401)
					return location.href = "/login";
				outputErrorPop(error);
				location.reload(true);
			}
		}
	});
}

function outputPop(argument) {
	$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
	$('#gtc-cart-alert .cart-message').text(argument)
	$("#gtc-cart-alert").fadeTo(5000, 500).slideUp(500, function() {
		$("#gtc-cart-alert").slideUp(500);
		location.reload();
	});
}

function outputErrorPop(argument) {
	$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
	$('#gtc-cart-alert .cart-message').text(argument.responseJSON.message + " : " + argument.responseJSON.message_details)
	$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
		$("#gtc-cart-alert").slideUp(500);
	});
}
$(function() {
	$("#gtc-cart-alert").hide();
});
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content">
    <div class="container-sm">
        <div class="title-header-1 gtc-p-l-r">
            <div class="alignleft">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="active">My Account</a>
                    </li>
                    <li>Compare</li>
                </ul> 
            </div>
            <div class="alignright">
                {{#if LoggedInUser.id}}
                <a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
                {{else}}
                <span class="text-sm"><a href="/login">Login</a> to see seller information</span>
                {{/if}}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="body-content-1">
            <div class="row no-margins">
                <div class="col-sm-2half no-padding header-left">
                </div>
                <div class="col-sm-10half no-padding header-right">
                    <div class="header-lg gtc-p-l-r">
                        <h2 class="header-lg-text">COMPARE</h2>
                    </div>
                </div>
            </div>
            {{#if compareProducts}}
            <div class="row no-margins">
                <div class="col-sm-2half no-padding"></div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist text-center">
                                {{#if compareProducts.[0]}}
                            	<img src="{{compareProducts.[0].url}}" class="img-fluid">
                            	{{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist text-center">
                            	{{#if compareProducts.[1]}}
                            	<img src="{{compareProducts.[1].url}}" class="img-fluid">
                            	{{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist text-center">
                                {{#if compareProducts.[2]}}
                            	<img src="{{compareProducts.[2].url}}" class="img-fluid">
                            	{{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Product</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <a href="javascript:;">{{compareProducts.[0].product_name}}</a>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <a href="javascript:;">{{compareProducts.[1].product_name}}</a>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <a href="javascript:;">{{compareProducts.[2].product_name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Price</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <a href="javascript:;">${{compareProducts.[0].price}}</a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                {{#if compareProducts.[1]}}
                                <a href="javascript:;">${{compareProducts.[1].price}}</a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                {{#if compareProducts.[2]}}
                                <a href="javascript:;">${{compareProducts.[2].price}}</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Availability</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <span class="text-xs">{{compareProducts.[0].quantity_available}} in stock</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                {{#if compareProducts.[1]}}
                                <span class="text-xs">{{compareProducts.[1].quantity_available}} in stock</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                {{#if compareProducts.[2]}}
                                <span class="text-xs">{{compareProducts.[2].quantity_available}} in stock</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Description</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <div class="cp-description">
                                    {{{compareProducts.[0].description}}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[1]}}
                                <div class="cp-description">
                                    {{{compareProducts.[1].description}}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[2]}}
                                <div class="cp-description">
                                    {{{compareProducts.[2].description}}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Seller</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                            	<div>
	                                {{#if LoggedInUser.id}}
	                                <a href="#">{{compareProducts.[0].vendor_name}}</a>
	                                {{else}}
	                                (<a href="/login">Login for Seller Info</a>)
	                                {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                        	<div class="cprlist">
                            	{{#if compareProducts.[1]}}
                            	<div>
	                                {{#if LoggedInUser.id}}
	                                <a href="#">{{compareProducts.[1].vendor_name}}</a>
	                                {{else}}
	                                (<a href="/login">Login for Seller Info</a>)
	                                {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                        	<div class="cprlist">
                            	{{#if compareProducts.[2]}}
                            	<div>
	                                {{#if LoggedInUser.id}}
	                                <a href="#">{{compareProducts.[2].vendor_name}}</a>
	                                {{else}}
	                                (<a href="/login">Login for Seller Info</a>)
	                                {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">User Rating</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <div class="p-rating d-inline">
                                    {{starCount compareProducts.[0].product_rating}}
                                    <span class="text-sm">(<a href="javascript:;">{{compareProducts.[0].user_count}} Ratings - See All</a>)</span>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[1]}}
                                <div class="p-rating d-inline">
                                    {{starCount compareProducts.[1].product_rating}}
                                    <span class="text-sm">(<a href="javascript:;">{{compareProducts.[1].user_count}} Ratings - See All</a>)</span>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[2]}}
                                <div class="p-rating d-inline">
                                    {{starCount compareProducts.[2].product_rating}}
                                    <span class="text-sm">(<a href="javascript:;">{{compareProducts.[2].user_count}} Ratings - See All</a>)</span>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                {{#each uniqueAttribute as |uniqueAttr|}}
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">{{uniqueAttr.Attribute.attr_name}}</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins" style="background: #fff;">
                    	{{#each ../compareProducts as |compareProduct|}}
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#each ../../productAttributes as |prodAttr|}}
                            		{{#ifCond prodAttr.product_id '==' compareProduct.id}}
                            			{{#ifCond uniqueAttr.attribute_id '==' prodAttr.attribute_id}}
                            				<span class="text-xs">{{prodAttr.value}}</span>
                            			{{/ifCond}}
                            		{{/ifCond}}
                            	{{/each}}
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <span class="text-xs">0 in stock</span>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <span class="text-xs">0 in stock</span>
                            </div>
                        </div> --}}
                    </div>
                </div>
                {{/each}}
                <div class="col-sm-2half align-self-center no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Add to Bag</span>
                    </div>
                </div>
                <div class="col-sm-10half align-self-center no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <div class="add-to-bag">
                                    <label class="text-light-muted">Qty: </label>
                                    <input id="quantityInput" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" placeholder="1" value="1" min="1">
                                    <a class="btn btn-sm add-bag-btn">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"><path d="M18.2 7.7h-15l-2 12.1h19z"></path><path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path></g></svg><span>ADD TO BAG</span>
                                    </a>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[1]}}
                                <div class="add-to-bag">
                                    <label class="text-light-muted">Qty: </label>
                                    <input id="quantityInput" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" placeholder="1" value="1" min="1">
                                    <a class="btn btn-sm add-bag-btn">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"><path d="M18.2 7.7h-15l-2 12.1h19z"></path><path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path></g></svg><span>ADD TO BAG</span>
                                    </a>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[2]}}
                                <div class="add-to-bag">
                                    <label class="text-light-muted">Qty: </label>
                                    <input id="quantityInput" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" placeholder="1" value="1" min="1">
                                    <a class="btn btn-sm add-bag-btn">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"><path d="M18.2 7.7h-15l-2 12.1h19z"></path><path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path></g></svg><span>ADD TO BAG</span>
                                    </a>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2half no-padding">
                    <div class="cpllist">
                        <span class="cpltext">Remove</span>
                    </div>
                </div>
                <div class="col-sm-10half no-padding">
                    <div class="row no-margins">
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[0]}}
                                <button class="btn btn-sm btn-primary m-b">REMOVE FROM COMPARE</button>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[1]}}
                                <button class="btn btn-sm btn-primary m-b">REMOVE FROM COMPARE</button>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                            	{{#if compareProducts.[2]}}
                                <button class="btn btn-sm btn-primary m-b">REMOVE FROM COMPARE</button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="row no-margins">
            	<div class="col-md-12 no-padding">
            		<p class="label-control gtc-p-l-r text-primary m-t">Compare products is empty.</p>
            	</div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{> footer/bottom-footer}}