<script type="text/javascript">
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	var Plan = {{{ DisplayJSON Plan}}}
	$("#gtc-cart-alert").hide();

	$(document).ready(function() {
		$("a[title='compareForceSignup']").click(function() {
			$('#myModal').modal('show');
		});
	});

	function gtcAddToCart(e) {
		var cartInfo = {};
		var vendor_id = $("#vendor_id" + e).val();
		var vendor_name = $("#vendor_name" + e).val();
		var marketplace_id = $("#marketplace_id"+e).val();
		$('#gtc-add-to-cart').prop('disabled', true);

		cartInfo.product_quantity = $('#product-quantity-' + e).val();
		cartInfo.marketplace_id = marketplace_id;
		if (userInfo.email) {
			$.ajax({
				type: "POST",
				url: "/api/cart/add-cart/" + e,
				data: cartInfo,
				success: function(response) {
					if (response.message == "Subscribed") {
						$('#alreadySubscribed').modal('show');
					} else if (response.message == 'REDIRECT') {
						window.location.href = 'gtc-mail/compose?id=' + vendor_id + '&text=' + vendor_name;
					} else if (response.message == 'UPGRADEPLAN') {
						$('#planUpgrade').modal('show');
					} else if (response.message == 'SUCCESS') {
						location.reload();
					}
				},
				error: function(error) {
					$('#quantityInput').notify(JSON.parse(error.responseText).message_details, "error");
				}
			});
		} else {
			$('#myModal').modal('show');
		}
	}
	function cartAPI(cartInfo) {

		$.ajax({
			type: "POST",
			url: "/api/cart/add-cart/" + e,
			data: cartInfo,
			success: function(res) {
				outputPop(res.message_details);
				$('#product-quantity-' + e).notify(res.message_details, "success");
				location.reload(true);
			},
			error: function(error) {
				$('#quantityInput').notify(JSON.parse(error.responseText).message_details, "error");
			}
		});
	}

	function removeFromCompare(argument) {
		var newData = {};
		newData.product_id = argument;
		$.ajax({
			type: "POST",
			url: "/api/product-view/remove-from-compare/",
			data: newData,
			success: function(res) {
				$('#gtc-add-to-cart').prop('disabled', false);
				if (res && res.message === "SUCCESS") {
					outputPop(res.message_details);
					location.reload(true);
				}
			},
			error: function(error) {
				$('#gtc-add-to-cart').prop('disabled', false);
				if (error) {
					if (error.status === 401)
						return location.href = "/login";
					outputErrorPop(error);
					location.reload(true);
				}
			}
		});
	}

	function outputPop(argument) {
		$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
		$('#gtc-cart-alert .cart-message').text(argument)
		$("#gtc-cart-alert").fadeTo(5000, 500).slideUp(500, function() {
			$("#gtc-cart-alert").slideUp(500);
			location.reload();
		});
	}

	function outputErrorPop(argument) {
		$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
		$('#gtc-cart-alert .cart-message').text(argument.responseJSON.message + " : " + argument.responseJSON.message_details)
		$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
			$("#gtc-cart-alert").slideUp(500);
		});
	}
	$(function() {
		$("#gtc-cart-alert").hide();
	});
</script>
{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="javascript:;" class="active">My Account</a>
					</li>
					<li>Compare</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
					<span class="text-sm">You're logged in as </span><a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
				{{else}}
					<span class="text-sm"><a title="compareForceSignup" href="javascript:;">Login</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1 p-b">
			<div class="row no-margins">
				<div class="col-sm-12 no-padding header-left">
					<div class="header-lg gtc-p-l-r">
						<h2 class="header-lg-text">COMPARE</h2>
					</div>
				</div>
			</div>
			<input type="hidden" name="vendor_userid" id="vendor_userid" value="{{compareProducts.[0].user_id}}" />
			<input type="hidden" name="vendor_username" id="vendor_username" value="{{compareProducts.[0].first_name}}" />

			{{#if compareProducts}}
				<div class="row no-margins">
					<div class="col-sm-2half no-padding"></div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist text-center">
									{{#if compareProducts.[0]}}
										<a href="/products/{{compareProducts.[0].product_slug}}/{{compareProducts.[0].id}}">
											<img src="{{compareProducts.[0].url}}" onerror="imgError(this)" class="img-fluid">
										</a>
										<input type="hidden" name="product_id" value="{{compareProducts.[0].id}}">
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist text-center">
									{{#if compareProducts.[1]}}
										<a href="/products/{{compareProducts.[1].product_slug}}/{{compareProducts.[1].id}}">
											<img src="{{compareProducts.[1].url}}" onerror="imgError(this)" class="img-fluid">
										</a>
										<input type="hidden" name="product_id" value="{{compareProducts.[1].id}}">

									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist text-center">
									{{#if compareProducts.[2]}}
										<a href="/products/{{compareProducts.[2].product_slug}}/{{compareProducts.[2].id}}">
											<img src="{{compareProducts.[2].url}}" onerror="imgError(this)" class="img-fluid">
										</a>
										<input type="hidden" name="product_id" value="{{compareProducts.[2].id}}">

									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Product</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									<a href="/products/{{compareProducts.[0].product_slug}}/{{compareProducts.[0].id}}">{{compareProducts.[0].product_name}}</a>
									<input type="hidden" name="marketplace_id{{compareProducts.[0].id}}" id="marketplaceId{{compareProducts.[0].id}}" value="{{compareProducts.[0].marketplace_id}}">
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									<a href="/products/{{compareProducts.[1].product_slug}}/{{compareProducts.[1].id}}">{{compareProducts.[1].product_name}}</a>
									<input type="hidden" name="marketplace_id{{compareProducts.[1].id}}" id = "marketplaceId{{compareProducts.[1].id}}" value="{{compareProducts.[1].marketplace_id}}">
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									<a href="/products/{{compareProducts.[2].product_slug}}/{{compareProducts.[2].id}}">{{compareProducts.[2].product_name}}</a>
									<input type="hidden" name="marketplace_id{{compareProducts.[2].id}}" id = "marketplaceId{{compareProducts.[2].id}}" value="{{compareProducts.[2].marketplace_id}}">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Price</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<a href="javascript:;">${{compareProducts.[0].price}}</a>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<a href="javascript:;">${{compareProducts.[1].price}}</a>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<a href="javascript:;">${{compareProducts.[2].price}}</a>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Availability</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<span class="text-xs">{{compareProducts.[0].quantity_available}} in stock</span>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<span class="text-xs">{{compareProducts.[1].quantity_available}} in stock</span>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<span class="text-xs">{{compareProducts.[2].quantity_available}} in stock</span>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Description</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<div class="cp-description">
											{{{compareProducts.[0].description}}}
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<div class="cp-description">
											{{{compareProducts.[1].description}}}
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<div class="cp-description">
											{{{compareProducts.[2].description}}}
										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Seller</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<div>
											{{#if LoggedInUser.id}}
												<a title="{{compareProducts.[0].vendor_name}}" href="/vendor/{{compareProducts.[0].vendor_id}}">{{compareProducts.[0].vendor_name}}</a>
											{{else}}
												(<a title="compareForceSignup" href="javascript:;">Login for Seller Info</a>)
											{{/if}}
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<div>
											{{#if LoggedInUser.id}}
												<a href="/vendor/{{compareProducts.[0].vendor_id}}">{{compareProducts.[1].vendor_name}}</a>
											{{else}}
												(<a title="compareForceSignup" href="javascript:;">Login for Seller Info</a>)
											{{/if}}
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<div>
											{{#if LoggedInUser.id}}
												<a href="/vendor/{{compareProducts.[0].vendor_id}}">{{compareProducts.[2].vendor_name}}</a>
											{{else}}
												(<a title="compareForceSignup" href="javascript:;">Login for Seller Info</a>)
											{{/if}}
										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">User Rating</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<div class="p-rating d-inline">
											{{starCount compareProducts.[0].product_rating}}
											<span class="text-sm">(<a href="javascript:;">{{compareProducts.[0].user_count}} Ratings - See All</a>)</span>
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<div class="p-rating d-inline">
											{{starCount compareProducts.[1].product_rating}}
											<span class="text-sm">(<a href="javascript:;">{{compareProducts.[1].user_count}} Ratings - See All</a>)</span>
										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<div class="p-rating d-inline">
											{{starCount compareProducts.[2].product_rating}}
											<span class="text-sm">(<a href="javascript:;">{{compareProducts.[2].user_count}} Ratings - See All</a>)</span>
										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>

					{{#each uniqueAttribute as |uniqueAttr|}}
						<div class="col-sm-2half no-padding">
							<div class="cpllist">
								<span class="cpltext">{{uniqueAttr.Attribute.attr_name}}</span>
							</div>
						</div>
						<div class="col-sm-10half no-padding">
							<div class="row no-margins" style="background: #fff;">
								{{#each ../compareProducts as |compareProduct|}}
									<div class="col-md-4 no-padding">
										<div class="cprlist">
											{{#each ../../productAttributes as |prodAttr|}}
												{{#ifCond prodAttr.product_id '==' compareProduct.id}}
													{{#ifCond uniqueAttr.attribute_id '==' prodAttr.attribute_id}}
														<span class="text-xs">{{prodAttr.value}}</span>
													{{/ifCond}}
												{{/ifCond}}
											{{/each}}
										</div>
									</div>
								{{/each}}
								{{!-- <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <span class="text-xs">0 in stock</span>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="cprlist">
                                <span class="text-xs">0 in stock</span>
                            </div>
                        </div> --}}
							</div>
						</div>
					{{/each}}
					<div class="col-sm-2half align-self-center no-padding">
						<div class="cpllist">
							<span class="cpltext">Add to Bag</span>
						</div>
					</div>
					<div class="col-sm-10half align-self-center no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<input type="hidden" id="vendor_id{{compareProducts.[0].id}}" name="typecode" value="{{compareProducts.[0].vendor_id}}"
										<input type="hidden" id="vendor_name{{compareProducts.[0].id}}" name="typecode" value="{{compareProducts.[0].vendor_name}}"

										/>
										<div class="add-to-bag">
											<label class="text-light-muted">Qty: </label>
											<input id="product-quantity-{{compareProducts.[0].id}}" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
											 placeholder="1"  {{#if compareProducts.[0].moq }} value="{{compareProducts.[0].moq}}" min="{{compareProducts.[0].moq}}" {{else}} value="1" min="1"{{/if}} max="{{compareProducts.[0].quantity_available}}">
											{{#ifCond compareProducts.[0].marketplace_type_id '==' '1'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[0].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Add To Bag</span></a>
												{{else ifCond compareProducts.[0].marketplace_type_id '==' '2'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[0].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Buyer</span></a>
												{{else ifCond compareProducts.[0].marketplace_type_id '==' '3'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[0].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Trader</span></a>
												{{else ifCond compareProducts.[0].marketplace_type_id '==' '4'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[0].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Request Quote</span></a>
									{{else}}
										<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[0].id}})" class="btn btn-sm add-bag-btn">
											<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
													<path
													 d="M18.2 7.7h-15l-2 12.1h19z"></path>
													<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
												</g></svg>
											<span>Add To Bag</span></a>
											{{/ifCond}}

										</div>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<input type="hidden" id="vendor_id{{compareProducts.[1].id}}" name="typecode" value="{{compareProducts.[1].vendor_id}}"
										<input type="hidden" id="vendor_name{{compareProducts.[1].id}}" name="typecode" value="{{compareProducts.[1].vendor_name}}"

										/>
										<div class="add-to-bag">
											<label class="text-light-muted">Qty: </label>
											<input id="product-quantity-{{compareProducts.[1].id}}" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
											 placeholder="1"    {{#if compareProducts.[1].moq }} value="{{compareProducts.[1].moq}}" min="{{compareProducts.[1].moq}}" {{else}} value="1" min="1"{{/if}} max="{{compareProducts.[1].quantity_available}}">
											{{#ifCond compareProducts.[1].marketplace_type_id '==' '1'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[1].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Add To Bag</span></a>
												{{else ifCond compareProducts.[1].marketplace_type_id '==' '2'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[1].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Buyer</span></a>
												{{else ifCond compareProducts.[1].marketplace_type_id '==' '3'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[1].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Trader</span></a>
												{{else ifCond compareProducts.[1].marketplace_type_id '==' '4'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[1].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Request Quote</span></a>
									{{else}}
										<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[1].id}})" class="btn btn-sm add-bag-btn">
											<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
													<path
													 d="M18.2 7.7h-15l-2 12.1h19z"></path>
													<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
												</g></svg>
											<span>Add To Bag</span></a>
											{{/ifCond}}
											</a>
										</div>

									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<input type="hidden" id="vendor_id{{compareProducts.[2].id}}" name="typecode" value="{{compareProducts.[2].vendor_id}}">
										<input type="hidden" id="vendor_name{{compareProducts.[2].id}}" name="typecode" value="{{compareProducts.[2].vendor_name}}"
										/>
										<div class="add-to-bag">
											<label class="text-light-muted">Qty: </label>
											<input id="product-quantity-{{compareProducts.[2].id}}" type="number" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
											 placeholder="1"   {{#if compareProducts.[2].moq }} value="{{compareProducts.[2].moq}}" min="{{compareProducts.[2].moq}}" {{else}} value="1" min="1"{{/if}} max="{{compareProducts.[2].quantity_available}}">

											{{#ifCond compareProducts.[2].marketplace_type_id '==' '1'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[2].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Add To Bag</span></a>
												{{else ifCond compareProducts.[2].marketplace_type_id '==' '2'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[2].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Buyer</span></a>
												{{else ifCond compareProducts.[2].marketplace_type_id '==' '3'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[2].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Contact Trader</span></a>
												{{else ifCond compareProducts.[2].marketplace_type_id '==' '4'}}
												<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[2].id}})" class="btn btn-sm add-bag-btn">
													<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
															<path
															 d="M18.2 7.7h-15l-2 12.1h19z"></path>
															<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
														</g></svg>
													<span>Request Quote</span></a>
									{{else}}
										<a href="javascript:;" onclick="gtcAddToCart({{compareProducts.[2].id}})" class="btn btn-sm add-bag-btn">
											<svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
													<path
													 d="M18.2 7.7h-15l-2 12.1h19z"></path>
													<path d="M14 12.4V4.3C14 2.5 12.5 1 10.7 1S7.3 2.5 7.3 4.3v8.1"></path>
												</g></svg>
											<span>Add To Bag</span></a>
											{{/ifCond}}

										</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>

					<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content" align="center">
								<div class="row">
									<div class="col-md-12">
										<div class="row geo_bgimg1">
											<div class="row">
												<div class="col-md-12 offset-md-0">
													<h1>LIKE WHAT YOU SEE?</h1>
													<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
													<p class="modal_why_geo_p">If you' d like uninterrupted access to our wholesale marketplace, we need you to create an account with Global Trade
														Connect
													</p>
												</div>
											</div>
											<div class="gtc-container banner-padding">
												<div class="home-banner-right">
													<div class="row">
														<div class="col-md-12 offset-md-0">
															<div class="signup-box">
																<div class="col-md-6 offset-md-6">
																	<small id="modelSignUpErrorLog" class="error"></small>
																</div>
																<div class="row">
																	<div class="col-md-6">
																		<div class="signup-left">
																			<ul>
																				<li>
																					<a id="modal-gtc-fb-login">
																						<img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
																					</a>
																				</li>
																				<li>
																					<a id="modal-gtc-google-login">
																						<img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
																					</a>
																				</li>
																				<li>
																					<a id="modal-gtc-twitter-login">
																						<img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
																					</a>
																				</li>
																				<li>
																					<a id="modal-gtc-linkedin-login">
																						<img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
																					</a>
																				</li>
																				<li>
																					<div class="form-group" style="padding:4px">
																						<p class="modal_sign">Already have a Account?</p>
																						<button type="submit" onclick="window.location.href='/login'" id="modelBtnLogin" class="btn btn-small btn-success">
																							<strong>Login</strong>
																						</button>
																					</div>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<h2 class="divider-line" style="z-index:1">
																		<span class="text-black">OR</span>
																	</h2>
																	<div class="col-md-6 signup-right">
																		<form id="modelSignUpForm" class="form">
																			<div class="row">
																				<div class="col">
																					<div class="form-group m-b-xs">
																						<input type="email" id="modelInputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
																						placeholder="Email" required="true">
																					</div>
																					<div class="form-group m-b-xs">
																						<input type="text" id="modelInputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
																						placeholder="First Name" required="true">
																					</div>
																					<div class="form-group m-b-xs">
																						<input type="password" id="modelInputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
																						placeholder="Password" required="true">
																					</div>
																					<div class="form-group">
																						<input type="checkbox" id="modelInputTerms" name="input_terms" required="true">
																						<small>Accept terms and conditions</small>
																					</div>
																					<div class="form-group">
																						<button type="submit" id="modelBtnSignup" class="btn btn-small btn-block btn-danger">
																							<strong>CREATE ACCOUNT</strong>
																						</button>
																					</div>
																				</div>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-2half no-padding">
						<div class="cpllist">
							<span class="cpltext">Remove</span>
						</div>
					</div>
					<div class="col-sm-10half no-padding">
						<div class="row no-margins">
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[0]}}
										<button type="button" onclick="removeFromCompare({{compareProducts.[0].id}})" class="btn btn-sm btn-primary m-b">REMOVE
											FROM COMPARE</button>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[1]}}
										<button type="button" onclick="removeFromCompare({{compareProducts.[1].id}})" class="btn btn-sm btn-primary m-b">REMOVE
											FROM COMPARE</button>
									{{/if}}
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div class="cprlist">
									{{#if compareProducts.[2]}}
										<button type="button" onclick="removeFromCompare({{compareProducts.[0].id}})" class="btn btn-sm btn-primary m-b">REMOVE
											FROM COMPARE</button>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				<div class="row no-margins">
					<div class="col-md-12 no-padding">
						<p class="label-control gtc-p-l-r text-primary m-t">Add products to compare.</p>
					</div>
				</div>
			{{/if}}
		</div>
		{{#if RelatedProducts}}
		<div class="marketplace-type-bg m-t"></div>
		<div class="marketplace-type-headers">
			<div class="row no-margins">
				<div class="col-md-12 no-padding">
					<div class="wts-header-bg">
						<h4 class="header-md-text"><strong>Related Products</strong></h4>
					</div>
				</div>
				{{#each RelatedProducts.rows}}
					<div class="col-md-4 no-padding">
						<div class="product-list-body">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
													<a href="{{MarketPlaceURL this.marketplace_id}}/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}" onError="imgError(this)">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3>
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-4 col-4 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<a class="text-500" href="products/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}}
																	> {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a title="compareForceSignup" class="text-500" href="javascript:;">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{!-- <h4>MOQ : {{this.minimum_order_quantity}}</h4> --}}
														{{#if this.product_discounted_price}}
														<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;<strong>SAVE ${{this.discount}}</strong></small>
														{{else}}
														<h2 class="price-flag">{{currency this.price '$'}}</h2>
														{{/if}}
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																{{starCount product_rating}}
															</div>
														</div>
												</td>
											</tr>
										</tbody>
									</table>
						   			</div>
								</div>
							</div>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>
<div class="modal fade" id="alreadySubscribed" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Already Subscribed:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>You have already subscribed this product.</p>
					<p>If you'd like to make any changes in subscription, please head <a href='/subscription'>here.</a></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="planUpgrade" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Upgrade Plan:</h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>To buy wholesale product you need to be in bulk buyer plan.</p>
					<p>If you'd like to upgrade plan, please head <a href='upgradeplan/userBulkupgradePlan'>here.</a></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>OK</b>
				</button>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}