{{> header/directoryHeader LoggedInUser = LoggedInUser}}
<script>
    $(document).ready(function () {
        $('#depart').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $('#category').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $('#location').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $("#searchForm").submit(function (e) {
            e.preventDefault();
            let formInput = $("#searchForm :input").filter(function (index, element) {
                return $(element).val() != '';
            }).serialize();
            window.location.href = '/search?' + formInput;
        });
    });
</script>

<section class="directory_banner" style="margin-bottom: 0">
	<div class="container-fluid full_view_pad_eighty clearfix">
          <div class="row">
              <div class="col-md-6 col-12 lstb1">
                  <img src="../img/direc_banner.png" alt="banner" />
              </div>
              <div class="col-md-6 col-12">
                  <div class="row">
                        <div class="col-md-12 col-12 lstb2 text-center">
                            <form id="searchForm">
                            <p>Search Our Global Directory of over</p>
                            <p>21,000 Wholesalers, Retails & Service Providers</p>
                            <p class="adv_search">Advance Search</p>
                            <div class="row">
                                <div class="col-md-4 col-12 common_padding1">
                                <select class="geo_textbox" id="depart" name="marketplace">
                                    <option disabled selected>Department</option>
                                    {{#each depart}}
                                    <option value={{this.id}}>{{ this.name}}</option>
                                    {{/each}}
                                </select>
                                </div>
                                <div class="col-md-4 col-12 common_padding1">
                                <select class="geo_textbox" id="category" name="category">
                                    <option disabled selected>Category</option>
                                    {{#each category}}
                                    <option value="{{this.id}}">{{ this.name}}</option>
                                    {{/each}}
                                </select>
                                </div>
                                <div class="col-md-4 col-12 common_padding1">
                                    <select class="geo_textbox" id="location" name="location">
                                        <option disabled selected>Location</option>
                                        {{#each country}}
                                        <option value="{{this.id}}">{{ this.name}}</option>
                                    {{/each}}
                                </select>
                                </div>
                            </div>
                            <input type="submit" id="searchSubmit" value="SEARCH DIRECTORY" class="shop_checkout_btn" style="padding: 8px 20px;" />
                            </form>
                        </div>
				  </div>
              </div>
          </div>
      </div>
</section>



 <section style="margin-bottom: 20px;">
        <div class="marketplace-header-box"></div>
        <div class="container-fluid clearfix full_view_pad m-t-n-marketplace">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title ts1">
                        <h6 class="float-left">TOP SELLING WHOLESALERS</h6>
                        <p class="float-right see_all">
                            <a href="/search">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                    <div class="layout-group common_top">
                        <div class="row">
                            {{#each wholesalers}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom">
                                <div class="row">
                                    <div class="col-md-2 col-2 col-lg-2 col-xl-2">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.url}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                        <div class="row common_padding">
                                            <div class="col-md-12">
                                                <p class="wts_header">
                                                    <a class="header_title" href="/">{{Titlecase this.vendor_name}}</a>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{this.origin}}</p>
                                            </div>
                                        </div>
                                        {{!-- <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>Electronic - Phones</p>
                                            </div>
                                        </div> --}}
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Inventory</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>
                                                    <b>{{this.product_count}} Products</b> Listed
                                                    <span class="wts_header_red">on Sale</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Seller Rating</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{starCount rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title ts2">
                        <h6 class="float-left">TOP SELLING RETAILERS</h6>
                        <p class="float-right see_all">
                            <a href="/search">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                   <div class="layout-group common_top">
                        <div class="row">
                            {{#each retailers}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom">
                                <div class="row">
                                    <div class="col-md-2 col-2 col-lg-2 col-xl-2">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.url}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                        <div class="row common_padding">
                                            <div class="col-md-12">
                                                <p class="wts_header">
                                                    <a class="header_title" href="/">{{Titlecase this.vendor_name}}</a>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{this.origin}}</p>
                                            </div>
                                        </div>
                                        {{!-- <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>Electronic - Phones</p>
                                            </div>
                                        </div> --}}
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Inventory</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>
                                                    <b>{{this.product_count}} Products</b> Listed
                                                    <span class="wts_header_red">on Sale</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Seller Rating</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{starCount rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







 <section style="margin-bottom: 20px;">
        <div class="marketplace-header-box"></div>
        <div class="container-fluid clearfix full_view_pad m-t-n-marketplace">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title pmp2">
                        <h6 class="float-left">TOP SELLING SERVICES PROVIDERS</h6>
                        <p class="float-right see_all">
                            <a href="/search">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                    <div class="layout-group common_top">
                        <div class="row">
                            {{#each servicesProviders}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom">
                                <div class="row">
                                    <div class="col-md-2 col-2 col-lg-2 col-xl-2">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.url}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                        <div class="row common_padding">
                                            <div class="col-md-12">
                                                <p class="wts_header">
                                                    <a class="header_title" href="/">{{Titlecase this.vendor_name}}</a>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{this.origin}}</p>
                                            </div>
                                        </div>
                                        {{!-- <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>Electronic - Phones</p>
                                            </div>
                                        </div> --}}
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Inventory</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>
                                                    <b>{{this.product_count}} Products</b> Listed
                                                    <span class="wts_header_red">on Sale</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Seller Rating</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{starCount rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title pmp3">
                        <h6 class="float-left">TOP SELLING SUBSCRIPTION PROVIDERS</h6>
                        <p class="float-right see_all">
                            <a href="/search">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                   <div class="layout-group common_top">
                        <div class="row">
                            {{#each subscriptionProviders}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom">
                                <div class="row">
                                    <div class="col-md-2 col-2 col-lg-2 col-xl-2">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.url}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                        <div class="row common_padding">
                                            <div class="col-md-12">
                                                <p class="wts_header">
                                                    <a class="header_title" href="/">{{Titlecase this.vendor_name}}</a>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{this.origin}}</p>
                                            </div>
                                        </div>
                                        {{!-- <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>Electronic - Phones</p>
                                            </div>
                                        </div> --}}
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Inventory</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>
                                                    <b>{{this.product_count}} Products</b> Listed
                                                    <span class="wts_header_red">on Sale</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Seller Rating</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{starCount rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




<section class=" jumbotron global">
    <h5 class="global_search">Search the Global Trade Connect Directory by Category </h5>
    <div class="container ">
        <div class="row  ">
            {{#each category}}
                <div class="col-md-3 col-12 why_global1">
                    <p class="global_para_head">{{convertUpperCase this.name}}</p>
                    {{#each_upto ../subCategory 10 this.id}} 
                            <p class="global_para ">
                                <a href="search?category={{../this.id}}&sub_category={{this.id}}" style="color:white">{{ this.name}}
                                </a>    
                            </p>
                    {{/each_upto}}
                    <p class = "global_para">
                        <a href="search?category={{this.id}}" style="color:white">...see more</a>
                    </p>
                </div>
            {{/each}}
        </div>
    </div>
</section>
{{> footer/footer}}