{{> header/top-header LoggedInUser = LoggedInUser}}
<script>
    // $(document).ready(function () {
      //  $('#depart').on('change', function () {
       //     $('#searchSubmit').prop('disabled', !$(this).val());
       // }).trigger('change');
      //  $('#category').on('change', function () {
       //     $('#searchSubmit').prop('disabled', !$(this).val());
       // }).trigger('change');
      //  $('#location').on('change', function () {
      //      $('#searchSubmit').prop('disabled', !$(this).val());
       // }).trigger('change');
       // $("#searchForm").submit(function (e) {
        //    e.preventDefault();
          //  let formInput = $("#searchForm :input").filter(function (index, element) {
           //     return $(element).val() != '';
           // }).serialize();
          //  window.location.href = '/directories/search?' + formInput;
       // });
    // });
	$(document).ready(function() {
			$('#searchSubmitDirectory').prop('disabled', true);
			$('#depart').val('');
			$('#category').val('');
			$('#location').val('');
			$('#depart').on('change', function() {
				$('#searchSubmitDirectory').prop('disabled', !$(this).val());
			}).trigger('change');
			$('#category').on('change', function() {
				$('#searchSubmitDirectory').prop('disabled', !$(this).val());
			}).trigger('change');
			$('#location').on('change', function() {
				$('#searchSubmitDirectory').prop('disabled', !$(this).val());
			}).trigger('change');
			$("#searchForm").submit(function(e) {
				e.preventDefault();
				let formInput = $("#searchForm :input").filter(function(index, element) {
					return $(element).val() != '';
				}).serialize();
				window.location.href = '/directories/search?' + formInput;
			});
		});
</script>
<div class="marketplace-banner directory">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-5">
				<div class="advertisement py-xl-4">
					<img class="img-fluid" src="{{directoryRandomAd.image_url}}">
				</div>
			</div>
			<div class="col-md-7 right">
				<h2>Search Our Global Directory of over</h2>
				<h1>
					{{#each vendorCounts}} {{this.vendorCount}} {{/each}} Wholesalers, Retailers & Service Providers</h1>
				<small class="text-center text-white py-xl-3 d-block">Advanced Search</small>
				<form id="searchForm">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="depart" name="marketplace">
										<option value='' disabled selected>Department</option>
										{{#each depart}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="category" name="category">
										<option value='' disabled selected>Category</option>
										{{#each categories}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="location" name="location">
										<option value='' disabled selected>Location</option>
										{{#each country}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<button class="btn btn-md btn-directory" id="searchSubmitDirectory">SEARCH DIRECTORY</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="other-marketplace-bg"></div>
<div class="gtc-container">
	<div class="other-marketplace-headers">
		<div class="row">
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-topseller">
					<h2 class="header-lg-text">TOP SELLING WHOLESALERS
						{{#if wholesalers}}
							<a class="see-all" href="/wholesalers/search">SEE ALL</a>
						{{else}}
							<a class="see-all cursor-not-allowed">SEE ALL</a>
						{{/if}}
					</h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#if wholesalers}}
							{{#each wholesalers}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<h2 class="v-num">#
																<span>{{SUMFloat @index 1}}</span>
															</h2>
														</td>
														<td class="col-3">
															<div class="product-left-col">
																<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}">
																	<img class="object-fit" src="{{this.vendor_profile_pic_url}}" alt="{{this.vendor_name}}" onError="UserImgError(this)" title="{{this.vendor_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3>
																	<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-5 col-5 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Inventory</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<b class="text-blue">{{this.products_count}} Products</b> Listed
																		<span class="text-red text-500 d-block">{{this.exclusive_product_sale}} on Sale
																			<span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Seller Rating</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<div class="v-rating">
																			<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																				{{starCount this.vendor_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</div>
										</div>
										</td>
										</tr>
										</tbody>
										</table>
									</div>
								</div>
					</div>
					{{/each}}
					{{else}}
						<p class="no-data">No top sellers in wholesalers</p>
						{{/if}}
				</div>
			</div>
		</div>
		<div class="col-md-6 no-padding">
			<div class="header-lg bg-featured-product">
				<h2 class="header-lg-text">TOP SELLING RETAILERS
					{{#if retailers}}
						<a class="see-all" href="/retailers/search">SEE ALL</a>
					{{else}}
						<a class="see-all cursor-not-allowed">SEE ALL</a>
					{{/if}}
				</h2>
			</div>
			<div class="product-list-body">
				<div class="row">
					{{#if retailers}}
						{{#each retailers}}
							<div class="col-md-6">
								<div class="product-body">
									<div class="table-responsive">
										<table class="table shoping-cart-table">
											<tbody>
												<tr class="d-flex">
													<td class="col-2">
														<h2 class="v-num">#
															<span>{{SUMFloat @index 1}}</span>
														</h2>
													</td>
													<td class="col-3">
														<div class="product-left-col">
															<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}">
																<img class="object-fit" src="{{this.vendor_profile_pic_url}}" alt="{{this.vendor_name}}" onError="UserImgError(this)" title="{{this.vendor_name}}">
																</a< </div>
													</td>
													<td class="col-7">
														<div class="product-middle-col">
															<h3>
																<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
															</h3>
															<div class="row no-margins">
																<div class="col-md-5 col-5 no-padding">
																	<span>Origin</span>
																</div>
																<div class="col-md-7 col-7 no-padding overflow-txt">
																	<span class="text-500">{{this.Country.name}}</span>
																</div>
																<div class="col-md-5 col-5 no-padding">
																	<span>Inventory</span>
																</div>
																<div class="col-md-7 col-7 no-padding">
																	<b class="text-blue">{{this.products_count}} Products</b> Listed
																	<span class="text-red text-500 d-block">{{this.exclusive_product_sale}} on Sale
																		<span>
																</div>
																<div class="col-md-5 col-5 no-padding">
																	<span>Seller Rating</span>
																</div>
																<div class="col-md-7 col-7 no-padding">
																	<div class="v-rating">
																		<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																			{{starCount this.vendor_rating}}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
								</div>
						{{/each}}
					{{else}}
						<p class="no-data">No top selling retailers</p>
					{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="other-marketplace-bg"></div>
<div class="gtc-container">
	<div class="other-marketplace-headers">
		<div class="row">
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-service">
					<h2 class="header-lg-text">TOP SELLING SERVICES PROVIDERS
						{{#if servicesProviders}}
							<a class="see-all" href="/services-providers/search">SEE ALL</a>
						{{else}}
							<a class="see-all cursor-not-allowed">SEE ALL</a>
						{{/if}}
					</h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#if servicesProviders}}
							{{#each servicesProviders}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<h2 class="v-num">#
																<span>{{SUMFloat @index 1}}</span>
															</h2>
														</td>
														<td class="col-3">
															<div class="product-left-col">
																<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}">
																	<img class="object-fit" src="{{this.vendor_profile_pic_url}}" alt="{{this.vendor_name}}" onError="UserImgError(this)" title="{{this.vendor_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3>
																	<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-5 col-5 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Inventory</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<b class="text-blue">{{this.products_count}} Products</b> Listed
																		<span class="text-red text-500 d-block">{{this.exclusive_product_sale}} on Sale
																			<span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Seller Rating</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<div class="v-rating">
																			<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																				{{starCount this.vendor_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
							<p class="no-data">No top selling providers </p>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-lifestyle">
					<h2 class="header-lg-text">TOP SELLING SUBSCRIPTION PROVIDERS
						{{#if subscriptionProviders}}
							<a class="see-all" href="/subscription-providers/search">SEE ALL</a>
						{{else}}
							<a class="see-all cursor-not-allowed">SEE ALL</a>
						{{/if}}
					</h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#if subscriptionProviders}}
							{{#each subscriptionProviders}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<h2 class="v-num">#
																<span>{{SUMFloat @index 1}}</span>
															</h2>
														</td>
														<td class="col-3">
															<div class="product-left-col">
																<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}">
																	<img class="object-fit" src="{{this.vendor_profile_pic_url}}" alt="{{this.vendor_name}}" onError="UserImgError(this)" title="{{this.vendor_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3>
																	<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-5 col-5 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Inventory</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<b class="text-blue">{{this.products_count}} Products</b> Listed
																		<span class="text-red text-500 d-block">{{this.exclusive_product_sale}} on Sale
																			<span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Seller Rating</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<div class="v-rating">
																			<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																				{{starCount this.vendor_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
							<p class="no-data">No top selling subscription providers</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="category-section py-xl-4 directory_banner">
	<div class="gtc-container">
		<h1 class="text-center">Search the Global Trade Connect Directory by Category</h1>
		<div class="row">
			{{#each_limit categories 10}}
				<div class="col-md-3 m-t-md w-20">
					<p class="category-title m-b-sm">{{convertUpperCase this.name}}</p>
					<ul class="footer-menu-list">
						{{#each_upto ../subCategory 10 this.id}}
							<li class="m-l-xs">
								<a href="/directory/search?category={{../this.id}}&sub_category={{this.id}}">{{ this.name}}</a>
							</li>
						{{/each_upto}}
						<li class="m-l-xs see-more">
							<a href="/directory/search?category={{this.id}}">See more...</a>
						</li>
					</ul>
				</div>
			{{/each_limit}}
		</div>
	</div>
</div>

{{> footer/bottom-footer}}