<script>
	$(function () {
		console.log("comming....");
		$("#from, #to").datepicker();
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#percent_discount').click(function () {
			if ($(this).is(":checked")) {
				$(".percentDiscount").show();
				$(".valueDiscount").hide();
			}
		});
		$('#value_discount').click(function () {
			if ($(this).is(":checked")) {
				$(".valueDiscount").show();
				$(".percentDiscount").hide();
			}
		});
	});
</script>
<script>
	$(function () {
		var count = 1;
		$("#addDiscount").click(function () {
			if (count < 3) {
				this.count = count + 1;
				var domElements = '<div class="row"><div class="col-md-2"><p></p></div><div class="col-md-10"><div class="row">' +
					'<div class="col-md-1"><p>For</p></div>' +
					'<div class="col-md-1 common_padding1">' +
					'<input class="discount-quantity-input list_place_1" type="text" placeholder="20" id="quantity' + count + '" name="quantity' + count + '">' +
					'</div>' +
					'<div class="col-md-2 common_padding1">' +
					'<p>User recieves</p>' +
					'</div>' +
					'<div class="col-md-4 common_padding1">' +
					'<p>' +
					'<input class="discount-percent-input" type="radio" value="1" id="percent_discount' + count + '" name="discount' + count + '">Total Percent Discount</p>' +
					'<p>' +
					'<input class="discount-total-value" type="radio" value="2" id="value_discount' + count + '" name="discount' + count + '">Total Value Discount</p>' +
					'</div>' +
					'<div class="col-md-3 common_padding1">' +
					'<input class="percent_discount list_place_2" type="text" placeholder="Enter Percentage" name="percent_discount' + count + '">' +
					'<input class="value_discount list_place_2" type="text" placeholder="Enter Amount" name="value_discount' + count + '">' +
					'</div>' +
					'</div></div></div>';
				$('#appendOn').append(domElements)
			}
		});
		$("#productUpdateBtn").click(function (e) {
			console.log(this.count);
			e.preventDefault();
			var updateProduct = {};
			updateProduct.status = 1;
			updateProduct.product_id = 5;
			if ($('#percent').val() != '') {
				updateProduct.percent_discount = $('#percent').val()
			}
			if ($('#amount').val() != '') {
				updateProduct.value_discount = $('#amount').val()
			}
			updateProduct.quantity = $('#quantity').val(),
				updateProduct.type = $("input[type='radio']:checked").val(),
				console.log("updateProduct", updateProduct);
			$.ajax({
				type: 'POST',
				url: '/api/discounts',
				data: updateProduct,
				success: function (data) {
					console.log('data', data);
				},
				error: function (error) {
					console.log('error', error);
				}
			});
		});
	});
</script>
{{> header/defaultHeader}}
{{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8 list_bg">
					<h5 class="list_manage">Manage Product - {{product.product_name}}</h5>
					<section class="box2 list_sec">
						<div class="container">
							<div class="row">
								<div class="col-md-12 box2_align">
									<h5>{{product.marketplace}}</h5>
								</div>
							</div>
						</div>
					</section>
					<div class="row">
						<div class="col-md-4">
							<img src="{{product.url}}" alt="logo" style="width: 100%; margin-bottom: 10px;" />
							<div class="row">
								<div class="col-md-4">
									<img src="{{product.url}}" alt="logo" style="width: 100%" />
								</div>
								<div class="col-md-4">
									<img src="{{product.url}}" alt="logo" style="width: 100%" />
								</div>
								<div class="col-md-4">
									<img src="{{product.url}}" alt="logo" style="width: 100%" />
								</div>
							</div>

						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-2">
									<p>Status</p>
								</div>
								<div class="col-md-10">
									{{#ifCond product.status '==' statusCode.ACTIVE}}
									<td class="text_green_color">Active</td>
									{{else ifCond product.status '==' statusCode.INACTIVE}}
									<td class="text_green_color">InActive</td>
									{{else ifCond product.status '==' statusCode.SUSPENDED}}
									<td class="text_orange_color">Suspended</td>
									{{else ifCond product.status '==' statusCode.SOLDOUT}}
									<td class="text_red_color">Sold Out</td>
									{{/ifCond}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Type</p>
								</div>
								<div class="col-md-10">
									<p>Wholesale</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Category</p>
								</div>
								<div class="col-md-10">
									<p>{{product.category}} > {{product.sub_category}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>SKU</p>
								</div>
								<div class="col-md-10">
									<p>{{product.sku}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>MOQ</p>
								</div>
								<div class="col-md-10">
									<p>{{product.moq}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Availability</p>
								</div>
								<div class="col-md-10">
									<p>{{product.quantity_available}} in stock</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Category</p>
								</div>
								<div class="col-md-10">
									<p class="list_wts">{{product.marketplace_type}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Name</p>
								</div>
								<div class="col-md-10">
									<p class="list_iphone">{{product.product_name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Price</p>
								</div>
								<div class="col-md-10">
									<p class="list_doll">${{product.price}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p></p>
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-1">
											<p>For</p>
										</div>
										<div class="col-md-1 common_padding1">
											<input class="list_place_1" type="text" placeholder="20" />
										</div>
										<div class="col-md-2 common_padding1">
											<p>User recieves</p>
										</div>
										<div class="col-md-4 common_padding1">
											<p>
												<input type="radio" name="discount" />Total Percent Discount</p>
											<p>
												<input type="radio" name="discount" />Total Value Discount</p>
										</div>
										<div class="col-md-2 common_padding1">
											<input class="list_place_2" type="text" placeholder="20%" />
										</div>
										<div class="col-md-1 common_padding1">
											<p class="list_edit">
												<i class="fas fa-pencil-alt"></i> Edit</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p></p>
								</div>
								<div class="col-md-10">
									<p class="list_add">
										<i class="fas fa-plus list_plus"></i> add bulk order discount tier.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Description</p>
								</div>
								<div class="col-md-10">
									<p>{{product.description}}</p>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-2">
									<input class="list_butt_1" type="submit" value="UPDATE" />
								</div>
								<div class="col-md-10">
									<input class="list_butt_2" type="submit" value="CANCEL" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 list_bg common_padding1">
					<p class="list_fe">FEATURE THIS PRODUCT!</p>
					<div class="row">
						<div class="col-md-6">
							<img src="{{product.url}}" alt="logo" style="width: 100%" />
						</div>
						<div class="col-md-6">
						</div>
					</div>
					<p class="list_ip">{{product.product_name}}</p>
					<div class="row">
						<div class="col-md-6 list_rup">
							$79.99
						</div>
						<div class="col-md-6">
							<p class="list_save">SAVE $20 </p>
							<p class="list_left">12m left! </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<p>Categary:</p>
						</div>
						<div class="col-md-7 ">
							<p>{{product.category}}> {{product.sub_category}} </p>
						</div>
						<div class="col-md-5 ">
							<p>Sellar Rating:</p>
						</div>
						<div class="col-md-7 ">
							<p>{{ starCount product.rating}}</p>
						</div>
						<hr/>

					</div>
					<p> Status:
						<span> Live </span>
					</p>
					<select class="vend_edit_lists_buttonstyle">
						<option disabled selected>Change</option>
						<option value="active">Active</option>
						<option value="inactive">InActive</option>
						<option value="suspended">Suspended</option>
						<option value="soldout">Sold Out</option>
					</select>
					<p>Duration:</p>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12">
							<input style="width: 80px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px;" type="text" id="from"
							 placeholder="01/01/2017"> to
							<input style="width: 80px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px;" type="text" id="to"
							 placeholder="12/12/2017">
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12">
							<input type="checkbox" />Feature this product indefinitely.
						</div>
					</div>
					<p>Feature this product:</p>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />My Profile Page Only (Free)
					</div>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />In Search Results(+$50/mo)
					</div>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />Wholesale Landing(+$150/mo)
					</div>
					<div class="row col-md-12" style="margin-bottom: 6px;">
						<input type="checkbox" />GTC Homepage(+$250/mo)
					</div>
					<p class="list_tot"> TOTAL:$350</p>
					<p class="list_bg_blue">
						<a href="#">YES,PROMOTE THIS!
							<i class="fas fa-caret-right"></i>
						</a>
					</p>
					<p class="list_butt_2">Performance</p>
					<div class="row col-md-12">
						<p>Ad has been running for: 123days </p>
					</div>
					<hr/>
					<p> Impressions Vs Clicks </p>
					<p>
						<img width="100%" src="../../img/verification-id.png" />
					</p>
					<p> Total Clicks:
						<b>233</b>
					</p>
					<p> Impressions:
						<b>33,0000</b>
					</p>
					<p>Click-Through rate (CTR):
						<b>12%</b>
					</p>
					<p> Total Purchases:
						<b>45</b>
					</p>
					<p> Total Revanus:
						<b>$4500</b>
					</p>
					<p class="list_bg_blue">
						<a href="#">EXPORT REPORT AS PDF
							<i class="fas fa-caret-right"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
{{> footer/footer}}