<script>
	$(function () {
		console.log("comming....");
		$("#from, #to").datepicker();
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#percent_discount').click(function () {
			if ($(this).is(":checked")) {
				$(".percentDiscount").show();
				$(".valueDiscount").hide();
			}
		});
		$('#value_discount').click(function () {
			if ($(this).is(":checked")) {
				$(".valueDiscount").show();
				$(".percentDiscount").hide();
			}
		});
	});
</script>
<style>
	textarea {
		resize: none;
		overflow: hidden;
		height: auto;
	}
</style>
<script>
	var textarea = null;
	window.addEventListener("load", function () {
		textarea = window.document.querySelector("textarea");
		textarea.addEventListener("keypress", function () {
			if (textarea.scrollTop != 0) {
				textarea.style.height = textarea.scrollHeight + "px";
			}
		}, false);
	}, false);
</script>
<script>
	$(function () {
		var count = 1;
		$("#addDiscount").click(function () {
			if (count < 3) {
				this.count = count + 1;
				var domElements = '<div class="row"><div class="col-md-2"><p></p></div><div class="col-md-10"><div class="row">' +
					'<div class="col-md-1"><p>For</p></div>' +
					'<div class="col-md-1 common_padding1">' +
					'<input class="discount-quantity-input list_place_1" type="text" placeholder="20" id="quantity' + count + '" name="quantity' + count + '">' +
					'</div>' +
					'<div class="col-md-2 common_padding1">' +
					'<p>User recieves</p>' +
					'</div>' +
					'<div class="col-md-4 common_padding1">' +
					'<p>' +
					'<input class="discount-percent-input" type="radio" value="1" id="percent_discount' + count + '" name="discount' + count + '">Total Percent Discount</p>' +
					'<p>' +
					'<input class="discount-total-value" type="radio" value="2" id="value_discount' + count + '" name="discount' + count + '">Total Value Discount</p>' +
					'</div>' +
					'<div class="col-md-3 common_padding1">' +
					'<input class="percent_discount list_place_2" type="text" placeholder="Enter Percentage" name="percent_discount' + count + '">' +
					'<input class="value_discount list_place_2" type="text" placeholder="Enter Amount" name="value_discount' + count + '">' +
					'</div>' +
					'</div></div></div>';
				$('#appendOn').append(domElements)
			}
		});
		$("#productUpdateBtn").click(function (e) {
			console.log(this.count);
			e.preventDefault();
			var updateProduct = {};
			updateProduct.status = 1;
			updateProduct.product_id = 5;
			if ($('#percent').val() != '') {
				updateProduct.percent_discount = $('#percent').val()
			}
			if ($('#amount').val() != '') {
				updateProduct.value_discount = $('#amount').val()
			}
			updateProduct.quantity = $('#quantity').val(),
				updateProduct.type = $("input[type='radio']:checked").val(),
				console.log("updateProduct", updateProduct);
			$.ajax({
				type: 'POST',
				url: '/api/discounts',
				data: updateProduct,
				success: function (data) {
					console.log('data', data);
				},
				error: function (error) {
					console.log('error', error);
				}
			});
		});
	});
</script> {{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}

				<div class="col-md-8" style="background-color: #fff;">
					<form role="form">
						<h5 class="list_manage">Manage Product - {{ product.product_name}}</h5>
						<section class="box2 list_sec">
							<div class="container">
								<div class="row">
									<div class="col-md-12 box2_align">
										<h5>{{ convertUpperCase product.Marketplace.name}}</h5>
									</div>
								</div>
							</div>
						</section>
						<div class="row">
							<div class="col-md-4">
								<img src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 100%;  margin-bottom: 10px;" />
								<div class="row">
									<div class="col-md-4">
										<img src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 100%" />
									</div>
									<div class="col-md-4">
										<img src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 100%" />
									</div>
									<div class="col-md-4">
										<img src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 100%" />
									</div>
								</div>

							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Status
										</label>
									</div>
									<div class="col-xs-9 col-sm-9 col-md-9">
										<div class="form-group">
											<input type="text" name="product_name" placeholder="Enter product status" value="{{product.status}}" id="product_name" class="edit-listing"
											 required/>
										</div>
									</div>
								</div>
								{{!-- <div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Category
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" class="edit-listing" required/>
										</div>
									</div>
								</div> --}}
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Category
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{Titlecase product.Category.name}} > {{product.SubCategory.name}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											SKU
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{product.sku}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											MOQ
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{product.moq}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Availablity
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{product.quantity_available}} in stock" class="edit-listing"
											 required/>
										</div>
									</div>
								</div>
								{{#ifCond this.type '==' 'wholesale'}}
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Category
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{product.marketplace_type_id}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								{{/ifCond}}
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Name
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="{{product.product_name}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Price
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<input type="text" name="product_name" id="product_name" value="${{product.price}}" class="edit-listing" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3">
										<label class="edit-listing">
											Description
										</label>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="form-group">
											<textarea class="edit-listing" rows="10" cols="35">{{product.description}}</textarea>
										</div>
									</div>
								</div>
								<hr/>
								<div class="row" style="margin-bottom: 20px;">
									<div class="col-md-2 col-5">
										<input class="list_butt_1" type="submit" value="UPDATE" />
									</div>
									<div class="col-md-10 col-6">
										<input class="list_butt_2" type="submit" value="CANCEL" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				{{!--
				<div class="col-md-2 list_bg common_padding1">
					<p class="list_fe">FEATURE THIS PRODUCT!</p>
					<div class="row">
						<div class="col-md-6">
							<img src="{{product.url}}" alt="logo" style="width: 100%" />
						</div>
						<div class="col-md-6">
						</div>
					</div>
					<p class="list_ip">{{product.product_name}}</p>
					<div class="row">
						<div class="col-md-6 list_rup">
							$79.99
						</div>
						<div class="col-md-6">
							<p class="list_save">SAVE $20 </p>
							<p class="list_left">12m left! </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<p>Categary:</p>
						</div>
						<div class="col-md-7 ">
							<p>{{product.category}}> {{product.sub_category}} </p>
						</div>
						<div class="col-md-5 ">
							<p>Sellar Rating:</p>
						</div>
						<div class="col-md-7 ">
							<p>{{ starCount product.rating}}</p>
						</div>
						<hr/>

					</div>
					<p> Status:
						<span> Live </span>
					</p>
					<select class="vend_edit_lists_buttonstyle">
						<option disabled selected>Change</option>
						<option value="active">Active</option>
						<option value="inactive">InActive</option>
						<option value="suspended">Suspended</option>
						<option value="soldout">Sold Out</option>
					</select>
					<p>Duration:</p>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12">
							<input style="width: 80px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px;" type="text" id="from"
							 placeholder="01/01/2017"> to
							<input style="width: 80px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px;" type="text" id="to"
							 placeholder="12/12/2017">
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12">
							<input type="checkbox" />Feature this product indefinitely.
						</div>
					</div>
					<p>Feature this product:</p>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />My Profile Page Only (Free)
					</div>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />In Search Results(+$50/mo)
					</div>
					<div class="row col-md-12" style="margin-bottom: 3px;">
						<input type="checkbox" />Wholesale Landing(+$150/mo)
					</div>
					<div class="row col-md-12" style="margin-bottom: 6px;">
						<input type="checkbox" />GTC Homepage(+$250/mo)
					</div>
					<p class="list_tot"> TOTAL:$350</p>
					<p class="list_bg_blue">
						<a href="#">YES,PROMOTE THIS!
							<i class="fas fa-caret-right"></i>
						</a>
					</p>
					<p class="list_butt_2">Performance</p>
					<div class="row col-md-12">
						<p>Ad has been running for: 123days </p>
					</div>
					<hr/>
					<p> Impressions Vs Clicks </p>
					<p>
						<img width="100%" src="../../img/verification-id.png" />
					</p>
					<p> Total Clicks:
						<b>233</b>
					</p>
					<p> Impressions:
						<b>33,0000</b>
					</p>
					<p>Click-Through rate (CTR):
						<b>12%</b>
					</p>
					<p> Total Purchases:
						<b>45</b>
					</p>
					<p> Total Revanus:
						<b>$4500</b>
					</p>
					<p class="list_bg_blue">
						<a href="#">EXPORT REPORT AS PDF
							<i class="fas fa-caret-right"></i>
						</a>
					</p>
				</div> --}}
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}