{{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<p class="vend_edit_lists_pstyle">This is where you manage all of your wholesale products on the Global Trade Connect. You can activate, suspend or feature
						products, or import and syncronize them with an outside source. To administer specific details of products, click on
						the product name or SKU to go to the full edit details page for that specific products.</p>
					<div class="row">
						<div class="col-md-2">
							<input type="submit" value="ADD PRODUCT" class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-2 common_padding1">
							<select class="vend_edit_lists_buttonstyle">
								<option disabled selected >CHANGE STATUS</option>
								<option>Active</option>
								<option>InActive</option>
								<option>Suspended</option>
								<option>Sold Out</option>
							</select>
						</div>
						<div class="col-md-2 common_padding1">
							<select class="vend_edit_lists_buttonstyle">
								<option>CHANGE TYPE</option>
							</select>
						</div>
						<div class="col-md-2 common_padding1">
							<input type="submit" value="EDIT / FEATURE" class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-1 common_padding1">
							<input type="submit" value="IMPORT..." class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-2">
							<input type="text" placeholder="Search Products" class="vend_edit_lists_searchstyle" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										<input type="checkbox">
									</th>
									<th>Product Name</th>
									<th>Publish Date</th>
									<th>Sales</th>
									<th>Price</th>
									<th>Status</th>
									<th>SKU</th>
								</tr>
							</thead>
							<tbody>
								{{#each products}}
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td class="text_blue_color">
										<img src="{{url}}" style="width: 15px;" /> {{product_name}}</td>
									<td>{{ prettifyDate publish_date }}</td>
									<td class="text_blue_color">{{sales_count}}</td>
									<td>${{price}} CAD</td>
									{{#ifCond status 1}}
									<td class="text_green_color">Active</td>
									{{else ifCond status 2}}
									<td class="text_green_color">InActive</td>
									{{else ifCond status 7}}
									<td class="text_green_color">Suspended</td>
									{{else ifCond status 8}}
									<td class="text_green_color">Sold Out</td>
									{{/ifCond}}
									<td class="text_blue_color">{{sku}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">333,333 items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 10 25 100 All</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">

				</div>
			</div>
		</div>
	</div>
</section>