<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 81q1ljfijajynj
	authorize: true
</script>

<script type="text/javascript">
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	$(document).ready(function() {
		$("a[title='seller']").click(function() {
			if (userInfo.email) { } else {
				$('#myModal').modal('show');
			}
		});
			$("#geoLocateForm").validate({
			rules: {
				keyword: {
					required: true
				}
			},
			messages: {
				keyword: {
					required: "Please enter the keyword",
				}
			}
		});
		$('#geoLocateForm').submit(function(e) {
		e.preventDefault();
		let formInput = $("#geoLocateForm :input").filter(function(index, element) {
		return $(element).val() != '';
		}).serialize();
		if ($('#geoLocateForm').valid()) {
		window.location.href = 'geo-locate/search?'+formInput;
		}
		});
	});

</script>

{{> header/top-header LoggedInUser = LoggedInUser}}
{{#if LoggedInUser.id}} {{else}}
	<div class="home-banner">
		<div class="gtc-container banner-padding">
			<div class="row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-4 offset-md-7 align-items-center">
							<div class="home-banner-right">
								<h4>What is Geo-Locate</h4>
								<p>Find products close to home, or nearby you target market with Lorem ipsum dolor sholt.</p>
								<h1 class="text-marketplace-1">GIVE IT A TRY!:</h1>
								<form id="geoLocateForm" class="geo-locate-form">
									<div class="form-group m-b-sm">
										<input type="text" id="origin" name="origin" class="form-control-customized form-control-sm rounded"
										 placeholder="Location (eg Calgary, AB)">
									</div>
									<div class="form-group m-b-sm">
										<div class="select-container">
											<select class="form-control-customized form-control-sm rounded" name="selected_category_id" id="selected_category_id">
												<option disabled selected>Category</option>
												{{#each categories}}
													<option value="{{this.id}}">{{ this.name}}</option>
												{{/each}}
											</select>
										</div>
									</div>
									<div class="form-group m-b-sm">
										<input type="text" id="keyword" name="keyword" class="form-control-customized form-control-sm rounded"
										 placeholder="Keyword (eg Spoiler)" required>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-small btn-block btn-primary"><strong>SEARCH</strong></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="home-banner-right">
						<div class="row">
							<div class="col-md-9 offset-md-0">
								<h1>CREATE A FREE ACCOUNT!</h1>
								<p>Start searching the global for the <a href="/products">best bulk discounts,</a> <a href="/wholesale">wholesale
										pricing,</a> <a href="/lifestyle">subscriptions,</a> <a href="/services">services</a> everywhere! And it’s
									FREE to join!</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10 offset-md-0">
								<div class="signup-box">
									<div class="row">
										<div class="col-md-6">
											<div class="signup-left">
												<ul>
													<li>
														<a href="javascript:;" id="gtc-fb-login"><img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook"
															 title="Login with Facebook"></a>
													</li>
													<li>
														<a href="javascript:;" id="gtc-google-login"><img src="gtc-assets/img/login-google.png" alt="Login with Google"
															 title="Login with Google"></a>
													</li>
													<li>
														<a href="javascript:;" id="gtc-twitter-login"><img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter"
															 title="Login with Twitter"></a>
													</li>
													<li>
														<a href="javascript:;" id="gtc-linkedin-login"><img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn"
															 title="Login with LinkedIn"></a>
													</li>
												</ul>
											</div>
										</div>
										<h2 class="divider-line"><span>OR</span></h2>
										<div class="col-md-6 signup-right">
											<form id="signUpForm" class="form">
												<small id="signUpErrorLog"></small>
												<div class="row">
													<div class="col">
														<div class="form-group m-b-sm">
															<input type="email" id="inputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
															 placeholder="Email" required="true">
														</div>
														<div class="form-group m-b-sm">
															<input type="text" id="inputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
															 placeholder="First Name" required="true">
														</div>
														<div class="form-group m-b-sm">
															<input type="password" id="inputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
															 placeholder="Password" required="true">
														</div>
														<div class="form-group m-b-sm">
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms" class="customCheckboxInput" />
																<label class="checkbox-b" for="inputTerms"></label>
																<small class="m-l-sm font-sm1">Accept terms and conditions</small>
															</div>
														</div>
														<div class="form-group">
															<button type="submit" id="btnSignup" class="btn btn-small btn-block btn-danger">
																<strong>CREATE ACCOUNT<i id="loadingSpinnersignUp" class="fa fa fa-spinner fa-spin m-l-xs"></i></strong>
															</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}
<div class="header-lg bg-wholesale">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="header-lg-text">PRIVATE WHOLESALE MARKETPLACE</h2>
			</div>
		</div>
	</div>
</div>
<div class="marketplace-type-bg"></div>
<div class="gtc-container">
	<div class="marketplace-type-headers">
		<div class="row">
			<div class="col-md-3 no-padding">
				<div class="wts-header-bg">
					<h4 class="header-md-text">
						<b>WTS</b> - Want To Sell <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTS}}">SEE ALL</a>
					</h4>
				</div>
				<div class="product-list-body">
					{{#each wantToSell}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="wholesale/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag"
														 {{else}} class="text-black" {{/if}}>WTS - {{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-4 col-4 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt ">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" href="/vendor/{{this.Vendor.id}}" data-id="{{this.Vendor.id}}" title="{{this.Vendor.vendor_name}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													{{#if this.product_discounted_price}}
													<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
													{{/if}}
													<h4>MOQ : {{this.moq}}</h4>
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount this.product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-3 no-padding">
				<div class="wtb-header-bg">
					<h4 class="header-md-text">
						<b>WTB</b> - Want To Buy <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTB}}">SEE ALL</a>
					</h4>
				</div>
				<div class="product-list-body">
					{{#each wantToBuy}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="wholesale/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>WTB - {{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-4 col-4 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
												{{#if this.product_discounted_price}}
													<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
													{{/if}}
													<h4>MOQ : {{this.moq}}</h4>
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-3 no-padding">
				<div class="wtt-header-bg">
					<h4 class="header-md-text">
						<b>WTT</b> - Want To Trade <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTT}}">SEE ALL</a>
					</h4>
				</div>
				<div class="product-list-body">
					{{#each wantToTrade}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="wholesale/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3>
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>WTT - {{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-4 col-4 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller Rating</span>
														</div>
														<div class="col-md-7 col-7 no-padding overflow-txt">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													<h4>MOQ : {{this.moq}}</h4>
													<a {{#if ../LoggedInUser.id}} href="vendor/{{this.Vendor.id}}" {{else}} href="/login"{{/if}}>
														<img class="object-fit" src="{{this.Vendor.vendor_profile_pic_url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}" style="border-radius:50%">
													</a>
													{{#if this.product_discounted_price}}
													<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
													{{/if}}
												</div>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-3 no-padding">
				<div class="rfq-header-bg">
					<h4 class="header-md-text">
						<b>RFQ</b> - Request For Quote <a href="/wholesale/search?marketplace_type={{marketPlaceType.RFQ}}">SEE ALL</a>
					</h4>
				</div>
				<div class="product-list-body">
					{{#each requestForQuote}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="wholesale/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}} class="text-black" {{/if}}>RFQ - {{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-4 col-4 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<a class="text-500" href="wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
														<div class="col-md-5 col-5 no-padding">
															<span>Seller Rating</span>
														</div>
														<div class="col-md-7 col-7 no-padding overflow-txt">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													<h4>MOQ : {{this.moq}}</h4>
													<a {{#if ../LoggedInUser.id}} href="vendor/{{this.Vendor.id}}" {{else}} href="/login"{{/if}}>
														<img class="object-fit" src="{{this.Vendor.vendor_profile_pic_url}}" alt="{{this.product_name}}" onError="imgError(this)" style="border-radius:50%"
														 title="{{this.product_name}}">
													</a>
													{{#if this.product_discounted_price}}
													<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
													{{/if}}
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="other-marketplace-bg"></div>
<div class="gtc-container">
	<div class="other-marketplace-headers">
		<div class="row">
			<div class="col-md-4 no-padding">
				<div class="header-lg bg-shop">
					<h2 class="header-lg-text">PUBLIC MARKETPLACE <a class="see-all" href="/shop/search">SEE ALL</a></h2>
				</div>
				<div class="product-list-body">
					{{#each publicMarketplace}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="shop/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="/shop/{{this.product_slug}}/{{this.id}}" class="gtc-text-primary">{{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-3 col-3 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-3 col-3 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<a class="text-500" href="/shop/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-3 col-3 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													{{#if this.product_discounted_price}}
														<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;<strong>SAVE ${{this.discount}}</strong></small>
													{{else}}
														<h2 class="price-flag">{{currency this.price '$'}}</h2>
													{{/if}}
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															<a href="shop/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4 no-padding">
				<div class="header-lg bg-service">
					<h2 class="header-lg-text">SERVICES MARKETPLACE <a class="see-all" href="/services/search">SEE ALL</a></h2>
					<div class="product-list-body"></div>
				</div>
				<div class="product-list-body">
					{{#each serviceMarketplace}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="services/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="/services/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-3 col-3 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-3 col-3 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<a class="text-500" href="services/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-3 col-3 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													{{#if this.product_discounted_price}}
														<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;<strong>SAVE ${{this.discount}}</strong></small>
													{{else}}
														<h2 class="price-flag">{{currency this.price '$'}}</h2>
													{{/if}}
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															<a href="shop/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4 no-padding">
				<div class="header-lg bg-lifestyle">
					<h2 class="header-lg-text">LIFESTYLE MARKETPLACE <a class="see-all" href="/lifestyle/search">SEE ALL</a></h2>
					<div class="product-list-body"></div>
				</div>
				<div class="product-list-body">
					{{#each lifestyleMarketplace}}
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-2">
												<div class="product-left-col">
													<a href="lifestyle/{{this.product_slug}}/{{this.id}}">
														<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)"
														 title="{{this.product_name}}">
													</a>
												</div>
											</td>
											<td class="col-7">
												<div class="product-middle-col">
													<h3 title="{{this.product_name}}">
														<a href="/lifestyle/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-3 col-3 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<span class="text-500">{{this.Country.name}}</span>
														</div>
														<div class="col-md-3 col-9 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															<a class="text-500" href="lifestyle/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																{{this.SubCategory.name}}</a>
														</div>
														<div class="col-md-3 col-3 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-9 col-9 no-padding overflow-txt">
															{{#if ../LoggedInUser.id}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													{{#if this.product_discounted_price}}
														<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
														<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;<strong>SAVE ${{this.discount}}</strong></small>
													{{else}}
														<h2 class="price-flag">{{currency this.price '$'}}</h2>
													{{/if}}
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															<a href="shop/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																{{starCount product_rating}}
															</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="home-bottom-banner-1">
	<div class="gtc-container py-xl-4">
		<h1 class="text-center">So why use Global Trade Connect?</h1>
	</div>
	<div class="gtc-container py-lg-3">
		<div class="row justify-content-center">
			<div class="col">
				<div class="progress-circle yellow">
					<span class="progress-circle-left">
						<span class="progress-circle-bar"></span>
					</span>
					<span class="progress-circle-right">
						<span class="progress-circle-bar"></span>
					</span>
					<div class="progress-circle-value">
						<span>32,871+</span>
					</div>
				</div>
				<p class="text-white text-center progress-circle-texts mt-3">PRIVATE WHOLESALE</p>
				<p class="text-center text-white font-weight-light font-md1">Broadcast rea-time inventory & requests of what you want buy or sale.</p>
			</div>
			<div class="col">
				<div class="progress-circle blue">
					<span class="progress-circle-left">
						<span class="progress-circle-bar"></span>
					</span>
					<span class="progress-circle-right">
						<span class="progress-circle-bar"></span>
					</span>
					<div class="progress-circle-value">32,871+</div>
				</div>
				<p class="text-white text-center progress-circle-texts mt-3">PUBLIC SALE</p>
				<p class="text-center text-white font-weight-light font-md1">Sell your single SKU to <b>volume based</b> products & commodities to the open market!</p>
			</div>
			<div class="col">
				<div class="progress-circle white">
					<span class="progress-circle-left">
						<span class="progress-circle-bar"></span>
					</span>
					<span class="progress-circle-right">
						<span class="progress-circle-bar"></span>
					</span>
					<div class="progress-circle-value">32,871+</div>
				</div>
				<p class="text-white text-center progress-circle-texts mt-3">SECURED & SUPERPOWERED</p>
				<p class="text-center text-white font-weight-light font-md1">Get your Global Trade Connect digital profile, storefront & warehouse. <b>The last profile page you will ever need.</b></p>
			</div>
			<div class="col">
				<div class="progress-circle green">
					<span class="progress-circle-left">
						<span class="progress-circle-bar"></span>
					</span>
					<span class="progress-circle-right">
						<span class="progress-circle-bar"></span>
					</span>
					<div class="progress-circle-value">32,871+</div>
				</div>
				<p class="text-white text-center progress-circle-texts mt-3">SERVICE MARKET</p>
				<p class="text-center text-white font-weight-light font-md1">List the services you provide & <strong>let people you know what and where you offer it.</strong></p>
			</div>
			<div class="col">
				<div class="progress-circle red">
					<span class="progress-circle-left">
						<span class="progress-circle-bar"></span>
					</span>
					<span class="progress-circle-right">
						<span class="progress-circle-bar"></span>
					</span>
					<div class="progress-circle-value">32,871+</div>
				</div>
				<p class="text-white text-center progress-circle-texts mt-3">LIFESTYLE SUBSCRIPTIONS</p>
				<p class="text-center text-white font-weight-light font-md1">Selling items on a <strong>monthly basis is fun</strong>, now you have a place to share it.</p>
			</div>
		</div>
	</div>
</div>

<div class="other-marketplace-bg"></div>
<div class="gtc-container">
	<div class="other-marketplace-headers">
		<div class="row">
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-topseller">
					<h2 class="header-lg-text">TOP SELLERS <a class="see-all" href="/sellers/search">SEE ALL</a></h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#each topSellers.rows}}
							<div class="col-md-6">
								<div class="product-body">
									<div class="table-responsive">
										<table class="table shoping-cart-table">
											<tbody>
												<tr class="d-flex">
													<td class="col-2">
														<h2 class="v-num">#<span>{{SUMFloat @index 1}}</span></h2>
													</td>
													<td class="col-3">
														<div class="product-left-col">
															<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																<img class="object-fit" src="{{this.url}}" onError="imgError(this)" alt="{{this.vendor_name}}" title="{{this.vendor_name}}">
															</a>
														</div>
													</td>
													<td class="col-7">
														<div class="product-middle-col">
															<h3>
																<a href="/vendor/{{this.id}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
															</h3>
															<div class="row no-margins">
																<div class="col-md-5 col-5 no-padding">
																	<span>Origin</span>
																</div>
																<div class="col-md-7 col-7 no-padding overflow-txt">
																	<span class="text-500">{{this.origin}}</span>
																</div>
																<div class="col-md-5 col-5 no-padding">
																	<span>Inventory</span>
																</div>
																<div class="col-md-7 col-7 no-padding">
																	<b class="text-blue">{{this.product_count}} Products</b> Listed <span class="text-red text-500 d-block">6
																		on Sale<span>
																</div>
																<div class="col-md-5 col-5 no-padding">
																	<span>Seller Rating</span>
																</div>
																<div class="col-md-7 col-7 no-padding">
																	<div class="v-rating">
																		<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																			{{starCount avg_rating}}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-featured-product">
					<h2 class="header-lg-text">FEATURED PRODUCTS <a class="see-all" href="/products/search?is_featured_product=1">SEE ALL</a></h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#each featuredProducts.rows}}
							<div class="col-md-6">
								<div class="product-body">
									<div class="table-responsive">
										<table class="table shoping-cart-table">
											<tbody>
												<tr class="d-flex">
													<td class="col-3">
														<div class="product-left-col">
															<a href="products/{{this.product_slug}}/{{this.id}}">
																<img class="object-fit" onError="imgError(this)" src="{{this.product_base_image}}" alt="{{this.product_name}}"
																 title="{{this.product_name}}">
															</a>
														</div>
													</td>
													<td class="col-9">
														<div class="product-middle-col">
															<h3><a href="/products/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a></h3>
															<div class="row no-margins">
																<div class="col-md-12 col-12 no-padding">
																{{#ifCond this.Marketplace.id '!=' 1}}
																	{{#if this.product_discounted_price}}
																		<h2 class="text-red price">{{currency this.product_discounted_price '$'}}</h2>
																		<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;<strong>SAVE ${{this.discount}}</strong></small>
																	{{else}}
																		<h2 class="price">{{currency this.price '$'}}</h2>
																	{{/if}}
																{{else}}
																	<h2 class="price"><small>MOQ:</small>{{this.moq}}</h2>
																{{/ifCond}}
																</div>
																<div class="col-md-4 col-4 no-padding">
																	<span>Origin</span>
																</div>
																<div class="col-md-8 col-8 no-padding overflow-txt">
																	<span class="text-500">{{this.Country.name}}</span>
																</div>
																<div class="col-md-4 col-4 no-padding">
																	<span>Category</span>
																</div>
																<div class="col-md-8 col-8 no-padding overflow-txt">
																	<a class="text-500" href="products/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																	 title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} >
																		{{this.SubCategory.name}}</a>
																</div>
																<div class="col-md-4 col-4 no-padding">
																	<span>Seller Rating</span>
																</div>
																<div class="col-md-8 col-8 no-padding">
																	<div class="v-rating">
																		<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																			{{starCount product_rating}}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="home-bottom-banner-2">
	<div class="row no-margins">
		<div class="col-md-1 col-lg-1 col-xl-1 no-padding">
			<img class="img-fluid d-none d-sm-block" src="img/promo.jpg">
		</div>
		<div class="col-md-5 col-lg-5 col-xl-5 left1 no-padding">
			<div class="content">
				<h1>The #1 <strong>marketing platform®</strong> for generating more sales.</h1>
				<p class="m-b-xs">The hit marketing software that will run your ads on</p>
				<img class="img-fluid" src="img/logos.png">
				<p class="m-t-xs">... from a single platform!</p>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-xl-6 no-padding">
			<img class="img-fluid" src="img/bg-app.jpg">
		</div>
	</div>
</div>
<div class="home-bottom-banner-3 py-xl-4">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-5">
				<img class="coming-soon" width="160" height="160" src="img/coming-soon.png">
			</div>
			<div class="col-md-7">
				<h1>NEW GTC FEATURES SLATED FOR 2017:</h1>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Nulla tellus nisi, sodales id orci non</li>
					<li>Cras dapibus, nunc ac vehicula tincidunt, lectus ante vulputate felis</li>
					<li>Donec faucibus nisl sapien, nec scelerisque nisl dictum vel</li>
					<li>Proin laoreet quam in ligula finibus sagittis</li>
				</ul>
				<a href="javascript:;" class="btn">GET NOTIFIED WHEN THESE FEATURES ARE RELEASED</a>
			</div>
		</div>
	</div>
</div>
{{!-- <section class="get-started">
	<div class="content">
		<h2>
			<span class="small">Get your</span>
			<span style="font-family: 'Oswald', sans-serif;">Global Trade Connect</span> Profile Page
			<span class="large">By March 31st 2017</span>
		</h2>
		<p>and
			<strong class="save">SAVE 25%</strong>
			<strong>OFF
				<span style="font-family: 'Oswald', sans-serif;font-weight: normal;font-size: 25px;">YOUR</span> FIRST 3 MONTHS!</strong>
		</p>
		<a href="javascript:;" class="button-cta">Get started!</a>
	</div>
</section> --}}
{{!-- Model Pop up For Product Force signup --}}
<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" align="center">
			<div class="row">
				<div class="col-md-12">
					<div class="row geo_bgimg1">
						<div class="row">
							<div class="col-md-12 offset-md-0">
								<h1>LIKE WHAT YOU SEE?</h1>
								<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
								<p class="modal_why_geo_p">If you' d like uniterupted access to our wholesale marketplace, we need you to
									create an
									account with Global Trade Connect
								</p>
							</div>
						</div>
						<div class="gtc-container banner-padding">
							<div class="home-banner-right">
								<div class="row">
									<div class="col-md-12 offset-md-0">
										<div class="signup-box">
											<div class="col-md-6 offset-md-6">
												<small id="modelSignUpErrorLog" class="error"></small>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="signup-left">
														<ul>
															<li>
																<a id="modal-gtc-fb-login">
																	<img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
																</a>
															</li>
															<li>
																<a id="modal-gtc-google-login">
																	<img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
																</a>
															</li>
															<li>
																<a id="modal-gtc-twitter-login">
																	<img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
																</a>
															</li>
															<li>
																<a id="modal-gtc-linkedin-login">
																	<img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
																</a>
															</li>
															<li>
																<div class="form-group" style="padding:4px">
																	<p class="modal_sign">Already have a Account?</p>
																	<button type="submit" onclick="window.location.href='/login'" id="modelBtnLogin" class="btn btn-small btn-success">
																		<strong>LOGIN</strong>
																	</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<h2 class="divider-line" style="z-index:1"><span class="text-black">OR</span></h2>
												<div class="col-md-6 signup-right">
													<form id="modelSignUpForm" class="form">
														<div class="row">
															<div class="col">
																<div class="form-group m-b-xs">
																	<input type="email" id="modelInputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Email" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="text" id="modelInputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="First Name" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="password" id="modelInputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Password" required="true">
																</div>
																<div class="form-group">
																	<input type="checkbox" id="modelInputTerms" name="input_terms" required="true">
																	<small>Accept terms and conditions</small>
																</div>
																<div class="form-group">
																	<button type="submit" id="modelBtnSignup" class="btn btn-small btn-block btn-danger">
																		<strong>CREATE ACCOUNT</strong>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}