<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81q1ljfijajynj
    authorize: false
</script>

<script>

    $(document).ready(function () {
        //Login with Facebook
        window.fbAsyncInit = function () {
            FB.init({
                appId: '393416147793353',
                cookie: true,
                xfbml: true,
                version: 'v3.0'
            });

            FB.getLoginStatus(function (loginStatus) {
                console.log(loginStatus);
            });

        };

        function fb_login() {
            FB.login(function (response) {

                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    console.log(response);

                    FB.api('/me?fields=id,name,email', function (profileInfo) {
                        user_email = profileInfo.email;
                        console.log(profileInfo)
                        alert("Logged IN \n" + JSON.stringify(profileInfo))
                    });

                } else {
                    //user hit cancel button
                    alert("User cancelled login or did not fully authorize.")
                    console.log('User cancelled login or did not fully authorize.');

                }
            }, {
                    scope: 'public_profile,email'
                });
        }

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $("#gtc-fb-login").click(function () {
            fb_login();
        });


        //Login with Twitter

        var twitterWin;
        var checkConnect;

        $("#gtc-twitter-login").click(function () {
            var oAuthURL = "/api/auth/twitter";
            twitterWin = window.open(oAuthURL, 'TwitterOAuthPopup', 'location=0,status=0,width=800,height=400');
        });


        checkConnect = setInterval(function () {
            if (!twitterWin || !twitterWin.closed) return;
            clearInterval(checkConnect);
            console.log("Twitter OAuth Popup Closed");
            //window.location.reload();
        }, 100);


        window.onTwitterAuthClose = function (data) {
            console.log('Twitter Authenticated', JSON.parse(decodeURIComponent(data)));
        };

    });



    // Login with Google   
    var googleUser = {};
    var startGoogleLoginProcess = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '334369412681-p9f585ii666p18mdq2tg06gta717ree9.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin'
            });
            googleAttachSignin(document.getElementById('gtc-google-login'));
        });
    };

    function googleAttachSignin(element) {
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: ", id_token);
                console.log("UserInfo: ", decodeJwt(id_token))
                alert("Signed In");
            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }

    startGoogleLoginProcess();


    function googleSignOut() {
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function decodeJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace('-', '+').replace('_', '/');
        return JSON.parse(window.atob(base64));
    };


    //Login with LinkedIn

    function callLinkedInUserProfile() {
        IN.API.Profile("me")
            .fields("id", "email-address", "first-name", "last-name", "formatted-name", "headline", "location", "public-profile-url", "summary", "num-connections", "picture-url")
            .result(function (profile) {
                console.log(profile)
            });
    }

    function linkedinAuth() {
        console.log("LinkedIN User LoggedIn : " + IN.User.isAuthorized());
        if (!IN.User.isAuthorized()) {
            IN.User.authorize(function () {
                callLinkedInUserProfile();
            });
        } else {
            alert("Already Login In with LinkedIn");
            console.log("Already Login In with LinkedIn");
        }
    }

    function linkedinLogout() {
        IN.User.logout(function () {
            console.log("Linkedin User Logout successful");
            alert("Linkedin User Logout successful");
        });
    }

</script>

<section class="box1" style="margin-bottom:0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row geo_bgimg">
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-5">
                        <p class="why_geo">What is Geo-Locate? </p>
                        <p>Find products close to home, or nearby your target market with Lorom ipsum dolor sholt</p>
                        <h3>GIVE IT A TRY!:</h3>
                        <input type="text" placeholder="Location (eg Calgary, AB)" class="geo_textbox" />
                        <select class="geo_textbox">
                            <option>Category</option>
                            <option>Category Category Cate</option>
                        </select>
                        <input type="text" placeholder="Keyword (eg Spoiler" class="geo_textbox" />
                        <input type="submit" value="SEARCH!" class="geo_button" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row geo_bgimg1">
                    <h1>CREATE A FREE ACCOUNT!</h1>
                    <p>Start searching the globe for the best bulk discount, wholesale pricing, subsriptions, services everywhere!
                        And it's FREE to join!</p>
                    <div class="col-md-6">

                        <a id="gtc-fb-login">
                            <img src="img/login-facebook.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a id="gtc-google-login">
                            <img src="img/login-google.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a onclick="linkedinAuth();">
                            <img src="img/login-linkedin.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a id="gtc-twitter-login">
                            <img src="img/login-twitter.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Create a Username" class="acc_textbox" />
                        <input type="text" placeholder="Create a Password" class="acc_textbox" />
                        <input type="text" placeholder="Confirm Password" class="acc_textbox" />
                        <br/>
                        <input type="checkbox"> Accept terms and conditions
                        <input type="submit" value="CREATE ACCOUNT" class="acc_button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="box2" style="margin-bottom:0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 box2_align">
                <h1>PRIVATE WHOLESALE MARKETPLACE</h1>
            </div>
        </div>
    </div>
</section>

<section class="box3" style="margin-bottom:0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-3 wts1">
                <h6 class="float-left">WTS - Want To Sell</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-3 wts2">
                <h6 class="float-left">WTB - Want To Buy</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-3 wts3">
                <h6 class="float-left">WTT - Want To Trade</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-3 wts4">
                <h6 class="float-left">RFQ - Want To Sell</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="box4" style="margin-bottom:20px;">
    <div class="container clearfix">
        <div class="row">
            {{!-- {{#each wantToSell}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: {{moq}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                           <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}} --}} 

            {{!-- {{#each wantToBuy}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: {{moq}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}} --}} {{!-- {{#each wantToTrade}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: {{moq}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                               <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}} --}}
            
             {{#each requestForQuote}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: {{moq}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                               <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>


<section class="box5" style="margin-bottom:0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-4 pmp1">
                <h6 class="float-left">PUBLIC MARKETPLACE</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-4 pmp2">
                <h6 class="float-left">SERVICES MARKETPLACE</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-4 pmp3">
                <h6 class="float-left">LIFESTYLE MARKETPLACE</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="box6" style="margin-bottom: 20px;">
    <div class="container clearfix">
        <div class="row">
            {{#each publicMarketplace}}
            <div class="col-md-4 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{this.url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header"><a href="/product/{{this.product_slug}}/{{this.id}}">{{Titlecase this.product_name}}</a></p>
                            </div>
                            <div class="col-md-4">
                                <p class="doller_value">${{this.price}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{this.origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{this.category}} > {{this.sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                               <p>  {{starCount this.rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {{/each}}
{{!-- 
             {{#each serviceMarketplace}}
            <div class="col-md-4 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="doller_value">${{price}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {{/each}} --}}


           {{!--   {{#each lifestyleMarketplace}}
            <div class="col-md-4 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">{{Titlecase product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="doller_value">${{price}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {{/each}} --}}
        </div>


    </div>
</section>

<div class="jumbotron text-center why_global" style="margin-bottom:0">
    <h1>So why use Global Trade Connect?</h1>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws">
                    <h1>32,871+</h1>
                    <h6>PRIVATE WHOLESALE</h6>
                    <p>Broadcast real-time inventory & request of what you want to buy or sell</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws1">
                    <h1>127,331+</h1>
                    <h6>PUBLIC SALE</h6>
                    <p>Sell your single SKU to
                        <i> Volume Based</i> Products &amp; Commodities to the open market</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws2">
                    <h1>23,002+</h1>
                    <h6>SECURED &amp; SUPERPOWERED</h6>
                    <p>Get your Global Trade Connect digital profile storefront &amp; warehouse
                        <i>The last profile page you will ever need!</i>
                    </p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws3">
                    <h1>$1.28M+</h1>
                    <h6>SERVICE MARKET</h6>
                    <p>List the services you provide &amp;
                        <i> let people you know </i> what and where you offer it.</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws4">
                    <h1>7499+</h1>
                    <h6>LIFESTYLE SUBSCRIPTIONS</h6>
                    <p>Selling items on a
                        <i>monthly basis is fun, </i> now you have a place to share it.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="box8" style="margin-bottom:0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 ts1">
                <h6 class="float-left">TOP SELLERS</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-6 ts2">
                <h6 class="float-left">FEATURED PRODUCTS</h6>
                <p class="float-right see_all">SEE ALL
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="box4" style="margin-bottom:30px">
    <div class="container clearfix">
        <div class="row">
         
           
            {{!-- <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">Greate Earth Expeditions</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                               <p>  {{ starCount 3}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}

            {{#each featuredProducts}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header"><a href="">{{Titlecase product_name}}</a></p>
                            </div>
                            <div class="col-md-4">
                                <p>{{price}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                               <p>  {{ starCount rating}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

    </div>
</section>


<section>
    <div class="  " style="margin-bottom:0">
        <div class="container-fluid">
            <div class="row common_padding">
                <div class="col-md-1">
                    <img height="300px" width="100%" src="img/promo.jpg">
                </div>
                <div class="col-md-6 client_list text-center">
                    <h3>The #1 marketing platform for generating more sales.</h3>
                    <p class="client_list_p">The hit marketing software that will run your ads on</p>
                    <img width="80%" src="img/logos.png">
                    <p class="client_list_p">...from a single platform!</p>
                </div>
                <div class="col-md-5 ">
                    <img height="300px" width="100%" src="img/bg-app.jpg">
                </div>
            </div>
            <div>
            </div>
</section>

<section>
    <div class="jumbotron box_11  " style="margin-bottom:0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="box_11_img" src="img/coming-soon.png">
                </div>
                <div class="col-md-6">
                    <p class="box_11_header"> NEW GTC FEATURES SLATED FOR 2017: </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet </p>

                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Nulla tellus nisi sodales id orci non </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> cras dapibus, nuncac vehicula tincidunt, lectus ante vulputate falis </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Donec faucibus nisl sapien,necscelerisque nisl dictum vel </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Proin laorect quam in tigula finibus sagitis </p>
                    <button class="box_11_buttion" type="button"> GET NOTIFIED WHEN THESE FEATURES ARE RELEASED</button>
                </div>


            </div>
            <div>
            </div>


</section>

<section>
    <div class="jumbotron box_12  " style="margin-bottom:0">
        <div class="container">
            <div class="row">
            </div>
            <div>
            </div>
</section>