<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81q1ljfijajynj
    authorize: false;
</script>

<script src="js/login.js"></script>

{{> header/top-header LoggedInUser = LoggedInUser}}

<!-- <section class="box1" style="margin-bottom:0">
    <div class="container-fluid full_view_pad">
        <div class="row">

            {{#if LoggedInUser.email}} {{else}}

            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="row geo_bgimg">
                    <div class="col-md-7 col-lg-7 col-xl-7">

                    </div>
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <form id="searchForm">
                            <p class="why_geo">What is Geo-Locate?</p>
                            <p class="why_geo_p">Find products close to home, or nearby your target market with Lorom ipsum dolor sholt</p>
                            <h3>GIVE IT A TRY!:</h3>
                            <input type="text" id="origin" name="origin" placeholder="Location (eg Calgary, AB)" class="geo_textbox" />
                            <select class="geo_textbox" name="category" id="category">
                                <option disabled selected>Category</option>
                                {{#each categories}}
                                <option value="{{this.id}}">{{ this.name}}</option>
                                {{/each}}
                            </select>
                            <input type="text" id="keyword" name="keyword" placeholder="Keyword (eg Spoiler" class="geo_textbox" />
                            <input type="submit" id="searchSubmit" value="SEARCH!" class="geo_button" />
                        </form>
                    </div>
                </div>
            </div>
            <div id="loginBanner" class="col-md-6 col-lg-6 col-xl-6">
                <div class="row geo_bgimg1">
                    <h1>CREATE A FREE ACCOUNT!</h1>
                    <p>Start searching the globe for the
                        <span class="text_blue_color_p"> best bulk discount, wholesale pricing, subsriptions, services </span> everywhere! And it's
                        <span class="text_blue_color_p">FREE</span> to join!</p>
                    <div class="col-md-6 offset-md-4">
                        <small id="signUpErrorLog" class="error"></small>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="d-sm-block d-md-none">
                                <img src="img/social-icons/facebook.png" alt="facebook" style="margin-bottom: 5px;" />
                                <img src="img/social-icons/google.png" alt="google+" style="margin-bottom: 5px;" />
                                <img src="img/social-icons/twitter.png" alt="twitter" style="margin-bottom: 5px;" />
                                <img src="img/social-icons/linked-in.png" alt="linkedIn" style="margin-bottom: 5px;" />
                            </div>
                            <div class="d-none d-md-block d-xs-none">
                                <a id="gtc-fb-login">
                                    <img src="img/login-facebook.png" alt="facebook" style="margin-bottom: 5px;width: 100%;" />
                                </a>
                                <a id="gtc-google-login">
                                    <img src="img/login-google.png" alt="google" style="margin-bottom: 5px;width: 100%;" />
                                </a>
                                <a id="gtc-twitter-login">
                                    <img src="img/login-twitter.png" alt="twitter" style="margin-bottom: 5px;width: 100%;" />
                                </a>
                                <a id="gtc-linkedin-login">
                                    <img src="img/login-linkedin.png" alt="linkedin" style="margin-bottom: 5px;width: 100%;" />
                                </a>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">

                            <form id="signUpForm" method="post">

                                <input type="email" id="inputEmail" name="email" class="acc_textbox" placeholder="Email" required>
                                <input type="text" placeholder="First name" id="inputFirstname" name="first_name" class="acc_textbox">
                                <input type="password" placeholder="Password" id="inputPassword" name="password" class="acc_textbox">
                                <br/>
                                <input type="checkbox" id="inputTerms" name="input_terms" required="true"> Accept terms and conditions {{!--
                                <input type="checkbox"> Accept terms and conditions --}}
                                <button type="submit" id="btnSignup" class="acc_button btn">CREATE ACCOUNT</button>
                                <br>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section> -->
 {{#if LoggedInUser.id}} {{else}}
<div class="home-banner">
    <div class="gtc-container banner-padding">
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-4 offset-md-7">
                    
                </div>
            </div>
            <div class="col-md-5">
                <div class="home-banner-right">
                    <div class="row">
                        <div class="col-md-9 offset-md-0">
                            <h1>CREATE A FREE ACCOUNT!</h1>
                            <p>Start searching the global for the <a href="/products">best bulk discounts,</a> <a href="/wholesale">wholesale pricing,</a> <a href="/lifestyle">subscriptions,</a> <a href="/services">services</a> everywhere! And it’s FREE to join!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-0">
                            <div class="signup-box">
                                <div class="col-md-6 offset-md-6">
                                    <small id="signUpErrorLog" class="error"></small>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="signup-left">
                                            <ul>
                                                <li>
                                                    <a id="gtc-fb-login"><img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook"></a>
                                                </li>
                                                <li>
                                                    <a id="gtc-google-login"><img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google"></a>
                                                </li>
                                                <li>
                                                    <a id="gtc-twitter-login"><img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter"></a>
                                                </li>
                                                <li>
                                                    <a id="gtc-linkedin-login"><img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h2 class="divider-line"><span>OR</span></h2>
                                    <div class="col-md-6 signup-right">
                                        <form id="signUpForm" class="form">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group m-b-xs">
                                                        <input type="email" id="inputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border" placeholder="Email"  required="true">
                                                    </div>
                                                    <div class="form-group m-b-xs">
                                                        <input type="text" id="inputFirstname" name="first_name"  class="form-control-customized form-control-sm rounded form-control-border" placeholder="First Name"  required="true">
                                                    </div>
                                                    <div class="form-group m-b-xs">
                                                        <input type="password" id="inputPassword" name="password"  class="form-control-customized form-control-sm rounded form-control-border" placeholder="Password"  required="true">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="checkbox" id="inputTerms" name="input_terms" required="true"> <small>Accept terms and conditions</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" id="btnSignup" class="btn btn-small btn-block btn-danger"><strong>CREATE ACCOUNT</strong></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {{/if}}
<div class="header-lg bg-wholesale">
    <div class="gtc-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="header-lg-text">PRIVATE WHOLESALE MARKETPLACE</h2>
            </div>
        </div>
    </div>
</div>
<div class="marketplace-type-bg"></div>
<div class="gtc-container">
    <div class="marketplace-type-headers">
        <div class="row">
            <div class="col-md-3 no-padding">
                <div class="wts-header-bg">
                    <h4 class="header-md-text">
                        <b>WTS</b> - Want To Sell <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTS}}">SEE ALL</a>
                    </h4>
                </div>
                <div class="product-list-body">
                    {{#each wantToSell}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">WTS - {{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                <h4>MOQ : {{this.minimum_order_quantity}}</h4>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="wtb-header-bg">
                    <h4 class="header-md-text">
                        <b>WTB</b> - Want To Buy <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTB}}">SEE ALL</a>
                    </h4>
                </div>
                <div class="product-list-body">
                    {{#each wantToBuy}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">WTB - {{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                <h4>MOQ : {{this.minimum_order_quantity}}</h4>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="wtt-header-bg">
                    <h4 class="header-md-text">
                        <b>WTT</b> - Want To Trade <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTT}}">SEE ALL</a>
                    </h4>
                </div>
                <div class="product-list-body">
                    {{#each wantToTrade}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">WTT - {{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                <h4>MOQ : {{this.minimum_order_quantity}}</h4>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="rfq-header-bg">
                    <h4 class="header-md-text">
                        <b>RFQ</b> - Request For Quote <a href="/wholesale/search?marketplace_type={{marketPlaceType.RFQ}}">SEE ALL</a>
                    </h4>
                </div>
                <div class="product-list-body">
                    {{#each requestForQuote}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">RFQ - {{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-4 col-4 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-8 col-8 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                <h4>MOQ : {{this.minimum_order_quantity}}</h4>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="other-marketplace-bg"></div>
<div class="gtc-container">
    <div class="other-marketplace-headers">
        <div class="row">
            <div class="col-md-4 no-padding">
                <div class="header-lg bg-shop">
                    <h2 class="header-lg-text">PUBLIC MARKETPLACE <a class="see-all" href="/shop/search">SEE ALL</a></h2>
                </div>
                <div class="product-list-body">
                    {{#each publicMarketplace}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/shop/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                {{!-- <small class="text-red">24h 12m left</small> --}}
                                                <h2 class="text-red">${{this.product_price}}</h2>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="header-lg bg-service">
                    <h2 class="header-lg-text">SERVICES MARKETPLACE <a class="see-all" href="/services/search">SEE ALL</a></h2>
                    <div class="product-list-body"></div>
                </div>
                <div class="product-list-body">
                    {{#each serviceMarketplace}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/services/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                {{!-- <small class="text-red">24h 12m left</small> --}}
                                                <h2 class="text-red">${{this.product_price}}</h2>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="header-lg bg-lifestyle">
                    <h2 class="header-lg-text">LIFESTYLE MARKETPLACE <a class="see-all" href="/lifestyle/search">SEE ALL</a></h2>
                    <div class="product-list-body"></div>
                </div>
                <div class="product-list-body">
                    {{#each lifestyleMarketplace}}
                    <div class="product-body">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-2">
                                            <div class="product-left-col">
                                                <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                            </div>
                                        </td>
                                        <td class="col-7">
                                            <div class="product-middle-col">
                                                <h3>
                                                    <a href="/lifestyle/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a>
                                                </h3>
                                                <div class="row no-margins">
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Origin</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <span class="text-500">{{this.country_name}}</span>
                                                    </div>
                                                    <div class="col-md-3 col-9 no-padding">
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                        <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                    </div>
                                                    <div class="col-md-3 col-3 no-padding">
                                                        <span>Seller</span>
                                                    </div>
                                                    <div class="col-md-9 col-9 no-padding overflow-txt">
                                                    {{#if ../LoggedInUser.email}}
                                                        <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
                                                    {{else}}
                                                        <a class="text-500" href="/login">(Login for Seller Info)</a>
                                                    {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-3">
                                            <div class="product-right-col">
                                                {{!-- <small class="text-red">24h 12m left</small> --}}
                                                <h2 class="text-red">${{this.product_price}}</h2>
                                                <div class="prc-bottom">
                                                    <p>Seller Rating</p>
                                                    <div class="p-rating pull-right">
                                                        {{starCount product_rating}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center why_global" style="margin-bottom:0">
    <h1>So why use Global Trade Connect?</h1>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-3 why_global1">
                <div class="why_pws">
                    <h1>32,871+</h1>
                    <h6>PRIVATE WHOLESALE</h6>
                    <p>Broadcast real-time inventory & request of
                        <span class="why_pws_span">what you want</span> to buy or sell</p>
                </div>
            </div>
            <div class="col-md-3 why_global1">
                <div class="why_pws1">
                    <h1>127,331+</h1>
                    <h6>PUBLIC SALE</h6>
                    <p>Sell your single SKU to
                        <b>volume Based</b> Products &amp; Commodities to the open market</p>
                </div>
            </div>
            <div class="col-md-3 why_global1">
                <div class="why_pws2">
                    <h1>23,002+</h1>
                    <h6>SECURED &amp; SUPERPOWERED</h6>
                    <p>Get your Global Trade Connect digital profile storefront &amp; warehouse
                        <b>The last profile page you will ever need!</b>
                    </p>
                </div>
            </div>
            <div class="col-md-3 why_global1">
                <div class="why_pws3">
                    <h1>$1.28M+</h1>
                    <h6>SERVICE MARKET</h6>
                    <p>List the services you provide &amp;
                        <span class="why_pws3_span">let people you know</span> what and where you offer it.</p>
                </div>
            </div>
            <div class="col-md-3 why_global1">
                <div class="why_pws4">
                    <h1>7499+</h1>
                    <h6>LIFESTYLE SUBSCRIPTIONS</h6>
                    <p>Selling items on a
                        <span class="why_pws4_span">monthly basis is fun,</span> now you have a place to share it.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="other-marketplace-bg"></div>
<div class="gtc-container">
    <div class="other-marketplace-headers">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="header-lg bg-topseller">
                    <h2 class="header-lg-text">TOP SELLERS <a class="see-all" href="/directory/search">SEE ALL</a></h2>
                </div>
                <div class="product-list-body">
                    <div class="row">
                        {{#each topSellers}}
                        <div class="col-md-6">
                            <div class="product-body">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr class="d-flex">
                                                <td class="col-2">
                                                    <h2 class="v-num">#<span>{{SUMFloat @index 1}}</span></h2>
                                                </td>
                                                <td class="col-3">
                                                    <div class="product-left-col">
                                                        <img class="object-fit" src="{{this.url}}" alt="{{this.vendor_name}}" title="{{this.vendor_name}}">
                                                    </div>
                                                </td>
                                                <td class="col-7">
                                                    <div class="product-middle-col">
                                                        <h3>
                                                            <a href="/vendor/{{this.id}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
                                                        </h3>
                                                        <div class="row no-margins">
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Origin</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding overflow-txt">
                                                                <span class="text-500">{{this.origin}}</span>
                                                            </div>
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Inventory</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding">
                                                                <b class="text-blue">{{this.product_count}} Products</b> Listed <span class="text-red text-500 d-block">6 on Sale<span>
                                                            </div>
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Seller Rating</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding">
                                                                <div class="v-rating">
                                                                    {{starCount rating}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="header-lg bg-featured-product">
                    <h2 class="header-lg-text">FEATURED PRODUCTS <a class="see-all" href="/product/search?is_featured_product=1">SEE ALL</a></h2>
                </div>
                <div class="product-list-body">
                    <div class="row">
                        {{#each featuredProducts}}
                        <div class="col-md-6">
                            <div class="product-body">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr class="d-flex">
                                                <td class="col-3">
                                                    <div class="product-left-col">
                                                        <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                                    </div>
                                                </td>
                                                <td class="col-9">
                                                    <div class="product-middle-col">
                                                        <h3><a href="/products/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a></h3>
                                                        <div class="row no-margins">
                                                            <div class="col-md-12 col-12 no-padding">
                                                                <h2 class="text-red price">${{this.product_price}}</h2>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Origin</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding overflow-txt">
                                                                <span class="text-500">{{this.country_name}}</span>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Category</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding overflow-txt">
                                                                <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Seller Rating</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding">
                                                                <div class="v-rating">
                                                                    {{ starCount product_rating}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="" style="margin-bottom:0">
        <div class="container-fluid">
            <div class="row common_padding">
                <div class="col-md-1 col-lg-1 col-xl-1">
                    <img height="300px" width="100%" src="img/promo.jpg">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 client_list text-center">
                    <h3>The #1 marketing platform for generating more sales.</h3>
                    <p class="client_list_p">The hit marketing software that will run your ads on</p>
                    <img width="80%" src="img/logos.png">
                    <p class="client_list_p">...from a single platform!</p>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5">
                    <img height="300px" width="100%" src="img/bg-app.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron box_11" style="margin-bottom:0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <img class="box_11_img" src="img/coming-soon.png">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <p class="box_11_header"> NEW GTC FEATURES SLATED FOR 2017: </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet </p>

                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Nulla tellus nisi sodales id orci non </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> cras dapibus, nuncac vehicula tincidunt, lectus ante vulputate falis </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Donec faucibus nisl sapien,necscelerisque nisl dictum vel </p>
                    <p class="box_11_para">
                        <i class="fa fa-check"></i> Proin laorect quam in tigula finibus sagitis </p>
                    <button class="box_11_buttion" type="button"> GET NOTIFIED WHEN THESE FEATURES ARE RELEASED</button>
                </div>
            </div>
            <div>
            </div>
</section>

<section class="get-started">
    <div class="content">
        <h2>
            <span class="small">Get your</span>
            <span style="font-family: 'Oswald', sans-serif;">Global Trade Connect</span> Profile Page
            <span class="large">By March 31st 2017</span>
        </h2>
        <p>and
            <strong class="save">SAVE 25%</strong>
            <strong>OFF
                <span style="font-family: 'Oswald', sans-serif;font-weight: normal;font-size: 25px;">YOUR</span> FIRST 3 MONTHS!</strong>
        </p>
        <a href="" class="button-cta">Get started!</a>
    </div>
</section>
{{>dummy-chat-ui}}

{{> footer/bottom-footer}}