<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81q1ljfijajynj
    authorize: false
</script>

<script type="text/javascript">
    const auth = Auth();
    $(document).ready(function() {
        var googleUser = {};

        var startGoogleLoginProcess = function() {
            gapi.load('auth2', function() {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '334369412681-p9f585ii666p18mdq2tg06gta717ree9.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin'
                });
                googleAttachSignin(document.getElementById('gtc-google-login'));
            });
        };

        function googleAttachSignin(element) {
            auth2.attachClickHandler(element, {},
                function(googleUser) {
                    var newGoogleUser = {};
                    var profileId = googleUser.getBasicProfile().getId();
                    var id_token = googleUser.getAuthResponse().id_token;
                    var profile = decodeJwt(id_token);
                    newGoogleUser.first_name = profile.given_name;
                    if (profile.family_name) {
                        newGoogleUser.last_name = profile.family_name;
                    }
                    newGoogleUser.email = profile.email;
                    newGoogleUser.role = 3;
                    newGoogleUser.google_id = profileId;
                    $.ajax({
                        type: "POST",
                        url: "/auth/google",
                        data: newGoogleUser,
                        success: function(result) {
                            localStorage.setItem("access_token", result.access_token);
                            auth.getCurrentUser().then(function(data) {
                                if (data) {
                                    $('#loginBanner').hide();
                                } else {
                                    $('#loginBanner').show();
                                }
                            });
                        }
                    });
                },
                function(error) {
                    alert(JSON.stringify(error, undefined, 2));
                });
        };

        startGoogleLoginProcess();

        function decodeJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace('-', '+').replace('_', '/');
            return JSON.parse(window.atob(base64));
        };

        function googleSignOut() {
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        };

        function getProfileData() {
            IN.API.Profile("me")
                .fields("id", "email-address", "first-name", "last-name", "formatted-name", "headline", "location", "public-profile-url", "summary", "num-connections", "picture-url")
                .result(function(data) {
                    var profileData = data.values[0];
                    var linkedInUser = {};
                    linkedInUser.first_name = profileData.firstName;
                    if (profileData.lastName) {
                        linkedInUser.last_name = profileData.lastName;
                    }
                    linkedInUser.email = profileData.emailAddress;
                    linkedInUser.role = 3;
                    linkedInUser.linkedin_id = profileData.id;
                    $.ajax({
                        type: "POST",
                        url: "/auth/linkedin",
                        data: linkedInUser,
                        success: function(result) {
                            localStorage.setItem("access_token", result.access_token);
                            auth.getCurrentUser().then(function(data) {
                                if (data) {
                                    $('#loginBanner').hide();
                                } else {
                                    $('#loginBanner').show();
                                }
                            });
                        }
                    });
                });
        };


        $('#gtc-linkedin-login').click(function(e) {
            if (!IN.User.isAuthorized()) {
                IN.User.authorize(function() {
                    getProfileData();
                });
            } else {
                alert("Already Login In with LinkedIn");
                console.log("Already Login In with LinkedIn");
            }
        });

        function linkedInSignIn() {
            if (!IN.User.isAuthorized()) {
                IN.User.authorize(function() {
                    getProfileData();
                });
            } else {
                alert("Already Login In with LinkedIn");
                console.log("Already Login In with LinkedIn");
            }
        };

        function linkedinLogout() {
            IN.User.logout(function() {
                console.log("Linkedin User Logout successful");
                alert("Linkedin User Logout successful");
            });
        };

        window.fbAsyncInit = function() {
            FB.init({
                appId: '393416147793353',
                cookie: true,
                xfbml: true,
                version: 'v3.0'
            });

            FB.getLoginStatus(function(loginStatus) {
                console.log(loginStatus);
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.login(function(response) {
                if (response.authResponse) {
                    FB.api('/me?fields=id,name,email', function(profileInfo) {
                        var fbUser = {};
                        fbUser.first_name = profileInfo.name;
                        if (profileInfo.lastName) {
                            fbUser.last_name = profileInfo.lastName;
                        }
                        fbUser.email = profileInfo.email;
                        fbUser.role = 3;
                        fbUser.fb_id = profileInfo.id;
                        $.ajax({
                            type: "POST",
                            url: "/auth/fb",
                            data: fbUser,
                            success: function(result) {
                                localStorage.setItem("access_token", result.access_token);
                                auth.getCurrentUser().then(function(data) {
                                    if (data) {
                                        $('#loginBanner').hide();
                                    } else {
                                        $('#loginBanner').show();
                                    }
                                });
                            }
                        });
                    });
                } else {
                    alert("User cancelled login or did not fully authorize.")
                    console.log('User cancelled login or did not fully authorize.');

                }
            }, {
                scope: 'public_profile,email'
            });
        };

        $("#gtc-fb-login").click(function() {
            fb_login();
        });

        var twitterWin;
        var checkConnect;

        $("#gtc-twitter-login").click(function () {
            var oAuthURL = "/api/auth/twitter";
            twitterWin = window.open(oAuthURL, 'TwitterOAuthPopup', 'location=0,status=0,width=800,height=400');
        });

        checkConnect = setInterval(function () {
            if (!twitterWin || !twitterWin.closed) return;
            clearInterval(checkConnect);
        }, 100);

        window.onTwitterAuthClose = function (data) {
            const profileData = JSON.parse(decodeURIComponent(data));
            var twitterUser = {};
            twitterUser.first_name = profileData.name;
            if (profileData.lastName) {
                twitterUser.last_name = profileData.lastName;
            }
            twitterUser.email = profileData.email;
            twitterUser.role = 3;
            twitterUser.twitter_id = profileData.id;
            $.ajax({
                type: "POST",
                url: "/auth/twitter",
                data: twitterUser,
                success: function(result) {
                    localStorage.setItem("access_token", result.access_token);
                    auth.getCurrentUser().then(function(data) {
                        if (data) {
                            $('#loginBanner').hide();
                        } else {
                            $('#loginBanner').show();
                        }
                    });
                }
            });
        };
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var isLoggedIn = auth.isLoggedIn();
        if (isLoggedIn) {
            $('#loginBanner').hide();
        } else {
            $('#loginBanner').show();
        }
        $('#signUpForm').submit(function(e) {
            e.preventDefault();

            if ($('#inputEmail').val() && $('#inputFirstname').val() && $('#inputPassword').val()) {
                var newUser = {};
                newUser.email = $('#inputEmail').val();
                newUser.first_name = $('#inputFirstname').val();
                newUser.password = $('#inputPassword').val();
                newUser.provider = 1;

                $.ajax({
                    type: 'POST',
                    url: '/api/users',
                    data: newUser,
                    success: function(data, text) {
                        auth.login({
                            email: data.email,
                            password: $('#inputPassword').val()
                        }).then(function(user) {
                            if (user) {
                                $('#loginBanner').hide();
                            } else {
                                $('#loginBanner').show();
                            }
                        });
                    },
                    error: function(request, status, error) {
                        $('#loginBanner').show();
                    }
                });
            }
        });
    });
</script>
<!-- <section class="header">
    <div class="container my-custom-container row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            yes
        </div>
    </div>
</section> -->
<section class="banner-signup p-lg">
    <div class="container gtc-custom-container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <h3>What is Geo-Locate?</h3>
                        <p>Find products close to home, or nearby your target market with Lorom ipsum dolor sholt.</p>
                        <h3 class="text-primary">GIVE IT A TRY!:</h3>
                        <input type="text" placeholder="Location (eg Calgary, AB)" class="geo_textbox" />
                        <select class="geo_textbox">
                            <option>Category</option>
                            <option>Category Category Cate</option>
                        </select>
                        <input type="text" placeholder="Keyword (eg Spoiler" class="geo_textbox" />
                        <button type="button" class="btn btn-block btn-sm btn-primary">SEARCH!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h1 class="text-pink">CREATE A FREE ACCOUNT!</h1>
            </div>
        </div>
        {{!-- <div class="wrapper-content col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            hello
                        </div>
                        <div class="col-md-6">
                            hi
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h1 class="text-pink">CREATE A FREE ACCOUNT!</h1>
                </div>
            </div>
        </div> --}}
    </div>
</section>
<section class="box1" style="margin-bottom:0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row geo_bgimg">
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-5">
                        <p class="why_geo">What is Geo-Locate? </p>
                        <p>Find products close to home, or nearby your target market with Lorom ipsum dolor sholt</p>
                        <h3>GIVE IT A TRY!:</h3>
                        <input type="text" placeholder="Location (eg Calgary, AB)" class="geo_textbox" />
                        <select class="geo_textbox">
                            <option>Category</option>
                            <option>Category Category Cate</option>
                        </select>
                        <input type="text" placeholder="Keyword (eg Spoiler" class="geo_textbox" />
                        <input type="submit" value="SEARCH!" class="geo_button" />
                    </div>
                </div>
            </div>
            <div id="loginBanner" class="col-md-6">
                <div class="row geo_bgimg1">
                    <h1>CREATE A FREE ACCOUNT!</h1>
                    <p>Start searching the globe for the best bulk discount, wholesale pricing, subsriptions, services everywhere!
                        And it's FREE to join!</p>
                    <div class="col-md-6">

                        <a id="gtc-fb-login">
                            <img src="img/login-facebook.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a id="gtc-google-login">
                            <img src="img/login-google.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a id="gtc-linkedin-login">
                            <img src="img/login-linkedin.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                        <a id="gtc-twitter-login">
                            <img src="img/login-twitter.png" alt="facebook" style="margin-bottom: 5px;" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <form id="signUpForm" method="post">
                            <input type="text" placeholder="Email" id="inputEmail" name="email" class="acc_textbox" />
                            <input type="text" placeholder="First name" id="inputFirstname" name="firstname" class="acc_textbox" />
                            <input type="password" placeholder="Password" id="inputPassword" name="password" class="acc_textbox" />
                            <br/>
                            <input type="checkbox"> Accept terms and conditions
                            <button type="submit" id="btnSignup" class="acc_button">CREATE ACCOUNT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section header-box">
    <div class="container my-custom-container">
        <div class="row">
            <div class="col-md-12">
                <h1>PRIVATE WHOLESALE MARKETPLACE</h1>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-category-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace-category">
        <div class="row">
            <div class="col-md-3 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wts-bg">
                        <h5>WTS - Want To Sell</h5>
                        <small class="pull-right">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each wantToSell}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">WTS - <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a></h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                        <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wtb-bg">
                        <h5>WTB - Want To Buy</h5>
                        <small class="pull-right">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each wantToBuy}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">WTB - <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a></h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                        <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wtt-bg">
                        <h5>WTT - Want To Trade</h5>
                        <small class="pull-right">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each wantToTrade}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">WTT - <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a></h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                        <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title rfq-bg">
                        <h5>RFQ - Request For Quote</h5>
                        <small class="pull-right">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each requestForQuote}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">RFQ - <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a></h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                        <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-4 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>PUBLIC MARKETPLACE</h5>
                        <small class="pull-right m-t-xs">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each publicMarketplace}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">
                                                <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                            </h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title service-market-bg">
                        <h5>SERVICES MARKETPLACE</h5>
                        <small class="pull-right m-t-xs">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each serviceMarketplace}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">
                                                <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                            </h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title lifestyle-market-bg">
                        <h5>LIFESTYLE MARKETPLACE</h5>
                        <small class="pull-right m-t-xs">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each lifestyleMarketplace}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">
                                                <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                            </h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron text-center why_global" style="margin-bottom:0">
    <h1>So why use Global Trade Connect?</h1>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws">
                    <h1>32,871+</h1>
                    <h6>PRIVATE WHOLESALE</h6>
                    <p>Broadcast real-time inventory & request of what you want to buy or sell</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws1">
                    <h1>127,331+</h1>
                    <h6>PUBLIC SALE</h6>
                    <p>Sell your single SKU to
                        <i> Volume Based</i> Products &amp; Commodities to the open market</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws2">
                    <h1>23,002+</h1>
                    <h6>SECURED &amp; SUPERPOWERED</h6>
                    <p>Get your Global Trade Connect digital profile storefront &amp; warehouse
                        <i>The last profile page you will ever need!</i>
                    </p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws3">
                    <h1>$1.28M+</h1>
                    <h6>SERVICE MARKET</h6>
                    <p>List the services you provide &amp;
                        <i> let people you know </i> what and where you offer it.</p>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 20%;">
                <div class="why_pws4">
                    <h1>7499+</h1>
                    <h6>LIFESTYLE SUBSCRIPTIONS</h6>
                    <p>Selling items on a
                        <i>monthly basis is fun, </i> now you have a place to share it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>TOP SELLERS</h5>
                        <small class="pull-right m-t-xs">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">WTS - iPhone Pallets</h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">Canada</div>
                                                    <div class="sm-text">Electronics > Phones</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right">MOQ: 45</div>
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount 4}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title featured-product-bg">
                        <h5>FEATURED PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL <i class="fa fa-caret-right"></i></small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each featuredProducts}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="shopping.jpeg">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">
                                                <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                            </h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div style="margin-bottom:0">
        <div class="container-fluid">
            <div class="row common_padding">
                <div class="col-md-1">
                    <img height="300px" width="100%" src="img/promo.jpg">
                </div>
                <div class="col-md-6 client_list text-center">
                    <h3>The #1 marketing platform for generating more sales.</h3>
                    <p class="client_list_p">The hit marketing software that will run your ads on</p>
                    <img width="80%" src="img/logos.png">
                    <p class="client_list_p">...from a single platform!</p>
                </div>
                <div class="col-md-5 ">
                    <img height="300px" width="100%" src="img/bg-app.jpg">
                </div>
            </div>
        <div>
    </div>
</section>

<section>
    <div class="jumbotron box_11  " style="margin-bottom:0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="box_11_img" src="img/coming-soon.png">
                </div>
                <div class="col-md-6">
                    <p class="box_11_header"> NEW GTC FEATURES SLATED FOR 2017: </p>
                    <p class="box_11_para"><i class="fa fa-check"></i> Lorem ipsum dolor sit amet </p>
                    <p class="box_11_para"><i class="fa fa-check"></i> Nulla tellus nisi sodales id orci non </p>
                    <p class="box_11_para"><i class="fa fa-check"></i> cras dapibus, nuncac vehicula tincidunt, lectus ante vulputate falis </p>
                    <p class="box_11_para"><i class="fa fa-check"></i> Donec faucibus nisl sapien,necscelerisque nisl dictum vel </p>
                    <p class="box_11_para"><i class="fa fa-check"></i> Proin laorect quam in tigula finibus sagitis </p>
                    <button class="box_11_buttion" type="button"> GET NOTIFIED WHEN THESE FEATURES ARE RELEASED</button>
                </div>
            </div>
        <div>
    </div>
</section>

<section>
    <div class="jumbotron box_12  " style="margin-bottom:0">
        <div class="container">
            <div class="row">
            </div>
        <div>
    </div>
</section>