<script>
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	var oldArray = [];
	$(document).ready(function() {
	$("#updateBtn").prop("disabled", true);

		var checkboxes = document.getElementsByTagName("input");
		$(":checkbox:checked").each(function(i) {
			oldArray.push($(this).val());
		});
	});

	function updateNotification(e) {
		var chkArray = [];
		$(":checkbox:checked").each(function(i) {
			if($(this).val() != "on"){
			chkArray.push($(this).val());
			}	
		});
		var a = oldArray.diff(chkArray);
		var formData = {};
		formData.data =JSON.stringify(a);
		console.log(formData);
		//api Call 
		if(a){
		$.ajax({
				type: 'POST',
				url: "/api/notification/addSettings",
				data: formData,
				success: function(data, text) {
					location.reload();
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
	}
	}

	Array.prototype.diff = function(a) {
		return this.filter(x => !a.includes(x))
			.concat(a.filter(x => !this.includes(x)))
	};

	$('#checkboxVal,#checkboxVal1').change(function() {
                    // $('#updateBtn').prop('disabled', false);
                    alert("hai");
        });
</script>
{{> header/defaultHeader LoggedInUser = LoggedInUser}}
{{> vendor/header}}
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}} 
				<div class="col-md-8" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">Notification Settings</h5>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
									 <input type="checkbox" onclick="selectAll(this);"></th> 
									<th>Event</th>
									<th>Code</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								{{#each notification}}
								<tr>
									{{#if this.VendorNotificationSettings}}
									<td><input type="checkbox" value="{{this.id}}" id="checkboxVal" ></td>
									{{else}}
									<td><input type="checkbox" value="{{this.id}}" checked  ></td>
									{{/if}}
									<td>
									{{#if this.VendorNotificationSettings}}
									<span class="exclamation" style="padding:0px"><i class="fas fa-exclamation-circle " ></i>
									</span>
									{{else}}
									<i class="fas fa-check-circle text_green_color"></i>
									{{/if}}
									{{this.name}}</td>
									<td>{{this.code}}</td>
									<td>{{this.description}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						<button class="btn btn-sm "  id= "updateBtn"style="margin-left:10px"> update</button>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle"></p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right"></p>
						</div>

					</div>

				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}