{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="ibox-title">
								<h2>Track Your Order</h2>
							</div><br/>
							<div class="content-body">
								<div class="row">
									<div class="col-sm-12">
										{{#if orderTrack}}
											<div class="row">
												<div class="col-sm-8">
													{{#each .}}
														{{#OrderItems}}
																{{#Product}}
																	<div class="row">
																		{{#ProductMedia}}
																			{{#ifCond this.base_image '==' 1 }}
																				<div class="col-sm-2">
																					<a href="{{MarketPlaceURL ../this.marketplace_id}}/{{../this.product_slug}}/{{../this.id}}">
																						<img  src="{{this.url}}" alt="iphone" style="width:100%;margin-bottom: 10px;" onError="imgError(this)"/>
																					</a>
																				</div>
																			{{/ifCond}}
																		{{/ProductMedia}}
																		<div class="col-sm-8">
																			<div style="font-size:12px;">
																				<a href="{{MarketPlaceURL this.marketplace_id}}/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
																			</div>
																			<div style="font-size:12px;"><b>Qty :</b> {{../this.quantity}} </div>
																			<div style="font-size:12px;"> <b>Price :</b> {{currency ../this.final_price '$'}} CAD </div> 
																		</div>
																	</div><br/>
																{{/Product}}
														{{/OrderItems}}
													{{/each}}
												</div>
												{{#if orderTrack.expected_delivery_date}}
												<div class="col-sm-4">
													<small><i class="fa fa-truck" aria-hidden="true"></i>
													&nbsp;Delivery Expected By {{formatTime orderTrack.expected_delivery_date "MMM DD, YYYY"}}</small>
												</div>
												{{/if}}
											</div><br/>
											<div class="row">
												<div class=" offset-md-1 col-3">
													<span class="text_blue_color text-nowrap" style="font-size: 14px; font-weight: bold;">{{OrderStatusText orderTrack.order_status}}</span>
												</div>
											</div><br/>
											<div class="row" style="margin-bottom: 10px;">
												<div class=" offset-md-1 col-md-9">
													<div class="progress">
														<div class="progress-bar" style={{OrderStatusBar orderTrack.order_status}}></div>
													</div>
												</div>
											</div>	
											<div class="row" style="font-size: 11px;">
												<div class="offset-md-1 col-md-10">
													<div class="row">
														<div class="col-md-2">
															<div>
																<b>Ordered</b>
															</div>
															<div>{{formatTime orderTrack.ordered_date "D MMM"}}</div>
														</div>
														{{#if orderTrack.shipped_on}}
														<div class="col-md-2">
															<div>
																<b>Shipped</b>
															</div>
															<div>{{formatTime orderTrack.shipped_on "D MMM"}}</div>
														</div>
														{{/if}} {{#if orderTrack.cancelled_on}}
														<div class="col-md-8 ">
															<div style="text-align:right !important;">
																<b>Cancelled on {{formatTime orderTrack.cancelled_on "D MMM"}}</b>
															</div>
														</div>
														{{else if orderTrack.delivered_on}}
														<div class="col-md-8 ">
															<div style="text-align:right !important;">
																<b>Delivered on {{formatTime orderTrack.delivered_on "D MMM"}}</b>
															</div>
														</div>
														{{/if}}
													</div>
												</div>
											</div><br/>
											<div class="row">
												<div class="col-md-6">
													<br>
													<h6>Shipping Address</h6>
													<div class="text-nowrap" style="color:#A9A9A9;font-size: small; text-align: left;">
														<div>{{orderTrack.shippingAddress.address_line1}}</div>
														<div>{{orderTrack.shippingAddress.address_line2}},</div>
														<div>{{orderTrack.shippingAddress.city}},</div>
														<div>{{orderTrack.shippingAddress.State.name}} ,{{orderTrack.shippingAddress.Country.name}}.</div>
													</div>
												</div>
												<div class="col-md-4">
													<p class="order_track_ship_det">SHIPMENT DETAILS</p>
													{{#if orderTrack.last_updated_on}}
													<p class="vend_edit_lists_textstyle1" style="width: 100%">Last update: {{formatTime orderTrack.last_updated_on "dddd, D MMM"}}</p>
													{{else}}
													<p class="vend_edit_lists_textstyle1" style="width: 100%">Last update: {{formatTime orderTrack.created_on "dddd, D MMM"}}</p>
													{{/if}}
													<div class="row" style="padding: 10px">
														<div class="row">
															{{#if orderTrack.delivered_on}}
															<div class="col-md-3">
																<p style="font-size: 12px;">{{formatTime orderTrack.delivered_on "hh:mma"}}</p>
															</div>
															<div class="col-md-9">
																<p style="font-size: 12px;">Your Package was delivered</p>
															</div>
															{{/if}}
														</div>

														<div class="row">
															<div class="col-md-3"></div>
															<div class="col-md-9">
																{{#if orderTrack.Shipping}}
																<div class="row">
																	<div class="col-md-4">
																		<p class="">
																			<small>Carrier:</small>
																		</p>
																	</div>
																	<div class="col-md-8">
																		<p class="">
																			<small>{{ objectKey carriersCode orderTrack.Shipping.provider_name}}</small>
																		</p>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-4">
																		<p class="">
																			<small>Tracking#:</small>
																		</p>
																	</div>
																	<div class="col-md-8">
																		<p class="">
																			<small>{{orderTrack.Shipping.tracking_id}}</small>
																		</p>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-4">
																		<p class="">
																			<small></small>
																		</p>
																	</div>
																	<div class="col-md-8">
																		<p class="">
																			<a href="{{ objectKey trackingUrl orderTrack.Shipping.provider_name}}/{{orderTrack.Shipping.tracking_id}}">
																				<b><small>Carrier Tracking</small></b>
																			</a>
																		</p>
																	</div>
																</div>
																{{/if}} 
																<div class="row" style="display:none">
																	<a href="/">
																		<b>
																			<small>View Order Details</small>
																		</b>
																	</a>
																</div>
																<div class="row" style="display:none">
																	<a href="/">
																		<b>
																			<small>More Orders</small>
																		</b>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>	
										{{else}}
											You didn't have any recent order to track. Please place an order.
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
{{> footer/bottom-footer}}