{{> header/top-header LoggedInUser = LoggedInUser}}
<script type="text/javascript">
	$(document).ready(function () {
		$("#gtc-form-alert").hide();
		$("#orderStatusChange").submit(function (e) {
			e.preventDefault();
			let input = $("#orderStatusChange :input").filter(function (index, element) {
				return $(element).val() != '';
			}).serialize();

			if ($('#orderStatusChange').valid()) {
				$.ajax({
					url: '/api/orders/' + {{ order.id }},
			type: 'PUT',
				data: input,
					success: function (result) {
						location. reload(true);
					},
			error: function (error) {
				console.log("error", error);
			}
		});
	}
	 });

	$("#orderStatusChange").validate({
		rules: {
			order_status: "required"
		},
		messages: {
			order_status: "Please Select Order Status"
		}
	});
   });
</script>
<section>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumb">
						<li>
							<a href="#" class="active">My Account</a>
						</li>
						<li>
							<a href="/order-history" class="active">Order History</a>
						</li>
						<li>
							<a href="javascript:;" class="active">Order Details</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<p class="logged_in_username">You're logged in as
						<span class="span_username text-capitalize">{{LoggedInUser.first_name}} {{LoggedInUser.last_name}}</span>
						<a href="#" class="span_swichaccount">SWITCH ACCOUNT</a>
					</p>
				</div>
			</div>
			<div class="row checkout_bg_color ">
				<div class="col-md-9 checkout_title_color">
					<h4>ORDER #{{order.purchase_order_id}}
						<span class="checkout_title_color_span">({{orderItemsCount}} Item Totals)</span>
					</h4>
				</div>
				<div class="col-md-3 checkout_title_color_1">
					<h4></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					{{#each marketPlaces as |marketPlace|}}
					<div class="row">
						<div class="col-md-12 common_padding1">
							{{#each ../seperatedItemsList}} {{#ifCond marketPlace.code '==' @key}}
							<p class="{{cartPageClass marketPlace 'CART-LEFT'}}">{{cartPageClass marketPlace 'LABEL'}} Items ({{this.length}})</p>
							{{/ifCond}} {{/each}}
						</div>
					</div>
					<div class="container">
						<table class="table table-hover">
							{{#each ../seperatedItemsList}} {{#ifCond marketPlace.code '==' @key}} {{#ifCond @key.length '>' 0}}
							<thead>
								<tr>
									<th class="shop_list_title">Product</th>
									<th class="shop_list_title">Price</th>
									<th class="shop_list_title">Qty</th>
									<th class="shop_list_title">Total Price</th>
								</tr>
							</thead>
							{{/ifCond}} {{/ifCond}} {{/each}}
							<tbody>
								{{#each ../orderItems as |orderItems|}}{{#ifCond marketPlace.id '===' orderItems.Product.Marketplace.id }}
								<tr>
									<td>
										<div class="row">
											<div class="col-md-3">
												<img src="{{orderItems.Product.ProductMedia.[0].url}}" style="width: 60px; height: 70px;">
											</div>
											<div class="col-md-9">
												<div class="row common_padding">
													<div class="col-md-12">
														<p class="shop_product_title">
															<a href="/products/{{orderItems.Product.product_slug}}/{{orderItems.Product.id}}">{{orderItems.Product.product_name}}</a>
														</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Origin</p>
													</div>
													<div class="col-md-9">
														<p>{{orderItems.Product.State.name}}</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Category</p>
													</div>
													<div class="col-md-9">
														<p style="width: 80%">{{orderItems.Product.Category.name}} > {{orderItems.Product.SubCategory.name}}</p>
													</div>
												</div>
												<div class="row common_padding">
													<div class="col-md-3">
														<p>Seller</p>
													</div>
													<div class="col-md-9">
														<p>(
															<span class="shop_price_handling">
																<a href="/vendor/{{orderItems.Product.Vendor.id}}">{{orderItems.Product.Vendor.vendor_name}}</a>
															</span>)</p>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">${{orderItems.Product.price}}</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-6">
												<input id="quantity-cart-{{orderItems.id}}" type="text" min="1" value={{orderItems.quantity}} class="shop_qty_num all-quantity-cart-items"
												 style="width: 50px;" readonly>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col-md-12">${{quantityPrice orderItems.quantity orderItems.Product.price}}</div>
										</div>
									</td>
								</tr>
								{{/ifCond}} {{/each}}
							</tbody>
						</table>
					</div>
					{{/each}} {{#ifCond this.type '==' 'sales-history'}}
					<form id="orderStatusChange">
						<div class="alert" id="gtc-form-alert">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="form-message"></span>
							</div>
						<div class="row text-center">
							

							<div class="col-md-3">
								<p>
									<b>Change Order Status:
										<span class="text-danger">*</span>
									</b>
								</p>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<div class="input-group">
										<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="order_status" id="inputGroupSelect02">
											<option disabled selected>{{objectKey orderStatus order.order_status}}</option>
											<option value="3">Processing Order</option>
											<option value="4">Dispatched Order</option>
											<option value="5">Delivered Order</option>
											<option value="6">Returned Order</option>
											<option value="7">Cancelled Order</option>
											<option value="8">Failed Order</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary btn-sm">Change</button>
							</div>
						</div>
					</form>
					{{/ifCond}}
				</div>
				<div class="col-md-3 your_order_bg">
					<div class="container">

						{{#each marketPlaces as |marketplace|}} {{#each ../totalPriceList as |totalPrice|}} {{#ifCond marketplace.code '==' @key}}
						<h6 class="{{cartPageClass marketplace 'CART-RIGHT'}}">{{cartPageClass marketplace 'LABEL'}} Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">{{currency totalPrice.price '$'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_shipping">Shipping Ground</p>
							</div>
							<div class="col-md-4">
								<p class="shop_shipping float-right">{{currency totalPrice.shipping '$'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">Subtotal</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">{{currency totalPrice.total '$'}}</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">
									<b>{{cartPageClass marketplace 'LABEL'}} TOTAL</b>
								</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">
									<b>{{currency totalPrice.total '$'}}</b>
								</p>
							</div>
						</div>
						{{/ifCond}} {{/each}} {{/each}}

						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">
									<b>GRAND TOTAL</b>
								</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">
									<b>{{currency totalPriceList.grandTotal '$'}}</b>
								</p>
							</div>
						</div>
						<hr class="common_margin" /> {{#ifCond couponData.length '>' 0}} {{#each couponData}}
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">
									<b>DISCOUNT</b>
								</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">
									<b>{{currency this.discount_price '$'}}</b>
								</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">
									<b>GRAND TOTAL</b>
								</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">
									<b>{{currency this.final_price '$'}}</b>
								</p>
							</div>
						</div>
						{{/each}} {{/ifCond}}
					</div>
					<div class="container">

						<h6 class="yourorder_wholesalesum_head" style="color:black">Order Summary</h6>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-5">
								<p class="shop_subtotal">
									<b>Order Status:</b>
								</p>
							</div>
							<div class="col-md-7">
								<p class="shop_subtotal float-right">{{objectKey orderStatus order.order_status}}</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-5">
								<p class="shop_subtotal">
									<b>Ordered On:</b>
								</p>
							</div>
							<div class="col-md-7">
								<p class="shop_subtotal float-right">{{order.ordered_date}}</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-5">
								<p class="shop_subtotal">
									<b>Shipped On:</b>
								</p>
							</div>
							{{#if order.shipped_on}}
							<div class="col-md-7">
								<p class="shop_subtotal float-right">{{order.shipped_on}}</p>
							</div>
							{{else}}
							<div class="col-md-7">
								<p class="shop_subtotal float-right">Your Order Not yet shipped</p>
							</div>
							{{/if}}
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-5">
								<p class="shop_subtotal">
									<b>Expected Delivery Date:</b>
								</p>
							</div>
							<div class="col-md-7">
								<p class="shop_subtotal float-right">{{order.expected_delivery_date}}</p>
							</div>
						</div>
						<hr class="common_margin" /> {{#ifCond order.order_status '==' orderStatus.DELIVEREDORDER}}
						<div class="row">
							<div class="col-md-6">
								<p class="shop_subtotal">
									<b>Delivered On:</b>
								</p>
							</div>
							<div class="col-md-6">
								<p class="shop_subtotal float-right">{{order.delivered_on}}</p>
							</div>
						</div>
						<hr class="common_margin" /> {{/ifCond}} {{#ifCond order.order_status '==' orderStatus.CANCELLEDORDER}}
						<div class="row">
							<div class="col-md-6">
								<p class="shop_subtotal">
									<b>Cancelled On:</b>
								</p>
							</div>
							<div class="col-md-6">
								<p class="shop_subtotal float-right">{{order.cancelled_on}}</p>
							</div>
						</div>
						<hr class="common_margin" /> {{/ifCond}} {{#if order.shipped_on}}
						<div class="row">
							<div class="col-md-6">
								<p class="shop_subtotal">
									<b>Provider Name</b>
								</p>
							</div>
							<div class="col-md-6">
								<p class="shop_subtotal float-right">{{order.Shipping.provider_name}}</p>
							</div>
						</div>
						<hr class="common_margin" />
						<div class="row">
							<div class="col-md-8">
								<p class="shop_subtotal">
									<b>Tracking URL</b>
								</p>
							</div>
							<div class="col-md-4">
								<p class="shop_subtotal float-right">{{order.Shipping.tracking_url}}</p>
							</div>
						</div>
						<hr class="common_margin" /> {{/if}}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{> footer/bottom-footer}}