<script>
	var ordertrack = {{{ DisplayJSON orderTrack }}}
</script>
 {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Track Your Order</h2>
						</div>
						<div class="row">&nbsp;</div>
						{{#if orderTrack}}
						<div> {{orderTrack.OrderItems.[0].Product.[0].ProductMedia.id}} </div>
						<div class="content-body">
						{{#each .}}
						{{#OrderItems}}
						 <div class="row">
						   {{#Product}}
						   {{#ProductMedia}}
						     {{#ifCond this.base_image '==' 1 }}
							 <div class="col-md-2">

						     	<img src="{{this.url}}" alt="iphone" style="width:50%;margin-bottom: 10px;margin-left:61px"
							       />
							 </div>
							 {{/ifCond}}
								 {{/ProductMedia}}
										  <div class="col-md-3">
                                   <p style="font-size:12px;line-height:11px"><b>Name :</b> {{this.product_name}} </p>
							
							 
										 {{/Product}}
										 	<p style="font-size:12px;line-height:11px"><b>Qty :</b> {{this.quantity}} </p>
								<p style="font-size:12px;line-height:11px"> <b>Price :</b> {{currency this.final_price '$'}} CAD </p> 
								 </div> 
										 </div>
								    {{/OrderItems}}
						
						
							 {{/each}}
							{{!-- <img src="{{orderTrack.OrderItems.[0].Product.ProductMedia.[0].url}}" alt="iphone" style="width:5%;margin-bottom: 10px;margin-left:16px"
							/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --}}
								{{!-- <p style="font-size:12px">{{orderTrack.OrderItems.[0].Product.product_name}} </p><br>
								<p style="font-size:12px">{{orderTrack.OrderItems.[0].quantity}} </p><br>
								<p style="font-size:12px">{{orderTrack.OrderItems.[0].final_price}} </p>  --}}
                            <div class="row">
								<div class="col-md-3">
								
							{{#ifCond orderTrack.order_status
							'==' orderStatus.NEWORDER}}
							<span class="text_	blue_color text-nowrap" style="font-size: 14px; font-weight: bold;">Your order not yet confirmed by vendor</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.CONFIRMEDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">Your order has been confirmed by vendor</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.PROCESSINGORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">Your order has been proccessed</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.DISPATCHEDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">Your order has been dispatched</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.DELIVEREDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">Your order has been delivered</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.CANCELLEDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;">Your order has been cancelled</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.RETURNEDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;"> Your order has been returned</span>
							{{else ifCond orderTrack.order_status '==' orderStatus.FAILEDORDER }}
							<span class="text_blue_color" style="font-size: 14px; font-weight: bold;"> Your order has been failed</span>
							{{/ifCond}}

								</div>
								<div class="col-md-9">
									<p class="float-right text-nowrap" style="margin: 10px;color:#D3D3D3">
										{{orderTrack.shippingAddress.address_line1}}
										 {{orderTrack.shippingAddress.address_line2}},
										 {{orderTrack.shippingAddress.city}},
										 {{orderTrack.shippingAddress.State.name}} ,
										 {{orderTrack.shippingAddress.Country.name}}.
									</p>
								</div>
							</div>
							<div class="row" style="margin-bottom: 10px;">
								<div class="col-md-10">
									<div class="progress">
										{{#ifCond orderTrack.order_status '==' orderStatus.NEWORDER}}
										<div class="progress-bar" style="width:5%;"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.CONFIRMEDORDER }}
										<div class="progress-bar" style="width:10%;"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.PROCESSINGORDER }}
										<div class="progress-bar" style="width:10%;"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.DISPATCHEDORDER }}
										<div class="progress-bar" style="width:25%;"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.DELIVEREDORDER }}
										<div class="progress-bar" style="width:100%;"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.CANCELLEDORDER }}
										<div class="progress-bar" style="width:100%; background-color:red"></div>
										{{else ifCond orderTrack.order_status '==' orderStatus.FAILEDORDER }}
										<div class="progress-bar" style="width:50%; background-color:red"></div>
										{{else}}
										<div class="progress-bar" style="width:20%;"></div>
										{{/ifCond}}
									</div>
								</div>
							</div>
							<div class="row" style="font-size: 11px;">
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											<p>
												<b>Ordered</b>
											</p>
											<p>{{formatTime orderTrack.ordered_date "D MMM"}}</p>
										</div>
										{{#if orderTrack.shipped_on}}
										<div class="col-md-2">
											<p>
												<b>Shipped</b>
											</p>
											<p>{{formatTime orderTrack.shipped_on "D MMM"}}</p>
										</div>
										{{/if}} {{#if orderTrack.cancelled_on}}
										<div class="col-md-8 ">
											<p style="text-align:right !important;">
												<b>Cancelled on {{formatTime orderTrack.cancelled_on "D MMM"}}</b>
											</p>
										</div>
										{{else if orderTrack.delivered_on}}
										<div class="col-md-8 ">
											<p style="text-align:right !important;">
												<b>Delivered on {{formatTime orderTrack.delivered_on "D MMM"}}</b>
											</p>
										</div>
										{{/if}}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-6">
										</div>
                                        <div class="col-md-6">
											<p class="order_track_ship_det">SHIPMENT DETAILS</p>
											{{#if orderTrack.last_updated_on}}
											<p class="vend_edit_lists_textstyle1" style="width: 100%">Last update: {{formatTime orderTrack.last_updated_on "dddd, D MMM"}}</p>
											{{else}}
											<p class="vend_edit_lists_textstyle1" style="width: 100%">Last update: {{formatTime orderTrack.created_on "dddd, D MMM"}}</p>
											{{/if}}
											<div class="row" style="padding: 10px">
												<div class="row">
													{{#if orderTrack.delivered_on}}
													<div class="col-md-3">
														<p style="font-size: 12px;">{{formatTime orderTrack.delivered_on "hh:mma"}}</p>
													</div>
													<div class="col-md-9">
														<p style="font-size: 12px;">Your Package was delivered</p>
													</div>
													{{/if}}
												</div>

												<div class="row">
													<div class="col-md-3"></div>
													<div class="col-md-9">
														{{#if orderTrack.Shipping}}
														<div class="row">
															<div class="col-md-4">
																<p class="">
																	<small>Carrier:</small>
																</p>
															</div>
															<div class="col-md-8">
																<p class="">
																	<small>{{ objectKey carriersCode orderTrack.Shipping.provider_name}}</small>
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-4">
																<p class="">
																	<small>Tracking#:</small>
																</p>
															</div>
															<div class="col-md-8">
																<p class="">
																	<small>{{orderTrack.Shipping.tracking_id}}</small>
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-4">
																<p class="">
																	<small></small>
																</p>
															</div>
															<div class="col-md-8">
																<p class="">
																	<a href="{{ objectKey trackingUrl orderTrack.Shipping.provider_name}}/{{orderTrack.Shipping.tracking_id}}">
                                                                    <b><small>Carrier Tracking</small></b>
																		
																	</a>
																	
																</p>
															</div>
														</div>
                                                       {{/if}} 
														{{!-- <div class="row">
															<a href="/">
																	<b>
																		<small>View Order Details</small>
																	</b>
																</a>
													   	</div>
														<div class="row">
															<a href="/">
															<b>
																<small>More Orders</small>
															</b>
															</a>
														</div> --}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{else}}
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
								
								You are not having any recent order to track. Please place an order to track.</div>
								</div><br/>
							<div class="row">
								<div class="col-md-4">
								</div>
								<div class="col-md-8">
									<a href="/order-history">
										<b>
											<small>View Orders</small>
										</b>
									</a>
								</div>
							</div>
						</div>
					{{/if}}
					</div>
                </div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}