{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="wrapper-content">
	<div class="container-sm">
		<div class="title-header-1 gtc-p-l-r">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="/user/my-profile" class="active">My Account</a>
					</li>
					<li>
						<a href="/order-history" class="active">My Orders</a>
					</li>
					<li>Order Items</li>
				</ul>
			</div>
			<div class="alignright">
				{{#if LoggedInUser.id}}
					<span class="text-sm">You're logged in as </span>
					<a class="text-sm" href="javascript:;">{{LoggedInUser.first_name}}</a>
					<button type="button" class="btn btn-sm btn-primary" onclick="gtcLogout()">SWITCH ACCOUNT</button>
				{{else}}
					<span class="text-sm">
						<a href="/login">LOGIN</a> to see seller information</span>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="body-content-1">
			<div class="row no-margins">
				<div class="col-sm-9half no-padding bg-white cart-custom-notify">
					<div class="header-left header-lg gtc-p-l-r">
						<h2 class="header-lg-text alignleft text-white">Order #{{order.id}}</h2>
						<span class="header-lg-span text-white">({{order.total_order_items}} Items Total)</span>
					</div>
					{{#if order.total_order_items}}
						{{#each order.OrdersItemsNews}}
							{{#ifCond @root.marketPlace.WHOLESALE '==' this.Product.marketplace_id}}
								<div class="mini-header bg{{this.Product.marketplace_id}}">WHOLESALE ITEMS</div>
							{{/ifCond}}
							{{#ifCond @root.marketPlace.PUBLIC '==' this.Product.marketplace_id}}
								<div class="mini-header bg{{this.Product.marketplace_id}}">SHOP ITEMS</div>
							{{/ifCond}}
						{{/each}}
					{{else}}
						<div class="gtc-p-l-r">
							<h3 class="empty-msg text-primary">Order Not found</h3>
						</div>
					{{/if}}
				</div>
				<div class="col-sm-3half no-padding">
					<div class="header-right header-lg gtc-p-l-r">
						<h2 class="header-lg-text">YOUR SUMMARY</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}