{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2 class="font-weigh-normal">Track Your Order</h2>
						</div>
						<div class="content-body px-3">
							<div class="row py-4">
								<div class="col-2">
									<a href="../shop/{{item.Product.product_slug}}/{{item.Product.id}}">
									<img class="img-fluid" width="100px" height="auto" src="{{item.Product.ProductMedia.[0].url}}" title="{{item.Product.product_name}}"></a>
								</div>
								<div class="col-8">
									<a href="../shop/{{item.Product.product_slug}}/{{item.Product.id}}" title="{{item.Product.product_name}}" class="text-black">
									<p class="font-weigh-bold text-blue">{{item.Product.product_name}}</p></a>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<small class="text-muted font-weight-light m-b-sm float-right">{{item.Order.shippingAddress1.address_line1}} {{item.Order.shippingAddress1.city}}, {{item.Order.shippingAddress1.State.name}}, {{item.Order.shippingAddress1.Country.name}}</small>
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="{{trackProgressBar item.order_item_status}}"></div>
							</div>
							<div class="row py-3">
								<div class="col-3">
									<p class="font-weigh-bold text-black m-b-none">
										<small>Placed on {{formatTime item.created_on "D MMM"}}</small>
									</p>
								</div>
								<div class="col-3">
									{{#if item.item_confirmed_on}}
										<p class="font-weigh-bold text-black m-b-none">
											<small>Confirm on {{formatTime item.item_confirmed_on "D MMM"}}</small>
										</p>
									{{/if}}
								</div>
								<div class="col-3">
									{{#if item.shipped_on}}
										<p class="font-weigh-bold text-black m-b-none">
											<small>Dispatched on {{formatTime item.shipped_on "D MMM"}}</small>
										</p>
									{{/if}}
								</div>

								{{#ifCond item.order_item_status '==' @root.orderItemStatus.DELIVERED}}
									<div class="col-3">
										{{#if item.delivered_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Delivered on {{formatTime item.delivered_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.CANCELED}}
									<div class="col-3">
										{{#if item.cancelled_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Canceled on {{formatTime item.cancelled_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.VENDOR_CANCELED}}
									<div class="col-3">
										{{#if item.cancelled_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Canceled on {{formatTime item.cancelled_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.AUTO_CANCELED}}
									<div class="col-3">
										{{#if item.cancelled_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Canceled on {{formatTime item.cancelled_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.REQUEST_FOR_RETURN}}
									<div class="col-3">
										{{#if item.request_for_return_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Return Request on {{formatTime item.request_for_return_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.APPROVED_REQUEST_FOR_RETURN}}
									<div class="col-3">
										{{#if item.approved_request_for_return_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Approve Return Request on {{formatTime item.approved_request_for_return_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
								{{#ifCond item.order_item_status '==' @root.orderItemStatus.RETURN_RECIVED}}
									<div class="col-3">
										{{#if item.return_received_on}}
											<p class="font-weigh-bold text-black m-b-none float-right">
												<small>Return Received on {{formatTime item.return_received_on "D MMM"}}</small>
											</p>
										{{/if}}
									</div>
								{{/ifCond}}
							</div>
							<div class="row m-t-md">
								{{#if item.reason_for_cancel}}
								<div class="col-md-5">
									<p><small><strong>Reason for cancelation:</strong> </small></p>
									<p>
										<small class="text-muted font-weight-light m-b-sm">
											{{item.reason_for_cancel}}
										</small>
									</p>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-6">
								{{else}}
									<div class="col-md-6 offset-md-6">
								{{/if}}
									<div class="card">
										<div class="card-header-xs bg1 text-md">SHIPMENT DETAILS</div>
										<div class="card-body bg-gray">
											{{#if item.last_updated_on}}
											<p class="m-b-none">Last update: {{formatTime item.last_updated_on "dddd, D MMM, HH:MM a"}}</p>
											{{else}}
											<p class="m-b-none">Last update: {{formatTime item.created_on "dddd, D MMM  HH:MM a"}}</p>
											{{/if}}
										</div>
									</div>
									<div class="col-md-12 m-t">
										<div class="row">
											<div class="col-md-10">
												<p class="font-weigh-normal text-black m-b-none">Your package was
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.ORDER_INITIATED}}	
													placed.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.CONFIRMED}}	
													confirmed.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.SHIPPED}}	
													dispatched.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.DELIVERED}}	
													delivered.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.CANCELED}}	
													canceled.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.VENDOR_CANCELED}}	
													canceled by vendor.<br/>
													Refund gets credited in your account within 5-6 business days.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.AUTO_CANCELED}}	
													canceled by Administrator.<br/>
													Refund gets credited in your account within 5-6 business days.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.REQUEST_FOR_RETURN}}	
													request for return.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.APPROVED_REQUEST_FOR_RETURN}}	
													approve request for return.
												{{/ifCond}}
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.RETURN_RECIVED}}	
													return received.
												{{/ifCond}}
												</p>
												{{#ifCond item.order_item_status '==' @root.orderItemStatus.SHIPPED}}
												<div class="d-block">
													<small class="font-weight-light d-inline-block m-r-md">Expected delivery date</small>
													<small class="font-weight-light m-l-sm">{{formatTime item.expected_delivery_date "MMM DD, YYYY"}}</small>
												</div>
												<div class="d-block">
													<small class="font-weight-light d-inline-block m-r-md">Carrier</small>
													<small class="font-weight-light m-l-sm">{{objectKey carriersCode item.Order.OrderVendors.[0].Shipping.provider_name}}</small>
												</div>
												<div class="d-block">
													<small class="font-weight-light d-inline-block">Tracking #</small>
													<small class="font-weight-light m-l-sm">{{item.Order.OrderVendors.[0].Shipping.tracking_id}}</small>
												</div>
												{{/ifCond}}<br/>
												<div class="d-block">
													<small class="font-weight-normal">
														<a href="/order-history/{{item.order_id}}">View Order Details</a>
													</small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}