{{> header/defaultHeader}}
<section class="shop_banner" style="margin-bottom: 0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 lstb1">
                <img src="../img/direc_banner.png" alt="banner" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 lstb2 text-center">
                        <p>Search Our Global Inventory of an incredible</p>
                        <p>21,000,00 Products, Services & Subscriptions!</p>
                        <p class="adv_search">Advanced Search</p>
                        <div class="row">
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option>Department</option>
                                </select>
                            </div>
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option disabled selected>Category</option>
                                    {{#each category}}
                                    <option>{{ this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option disabled selected>Location</option>
                                    {{#each country}}
                                    <option>{{ this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="SEARCH DIRECTORY" class="shop_checkout_btn" style="padding: 8px 20px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title header-box ">
                        <h5>TOP SELLING WHOLESALER PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each wholesalerProducts}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                     <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right"><p class="doller_value_red">${{price}}</p></div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>TOP SELLING RETAIL PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each retailProducts}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                           </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right"><p class="doller_value_red">${{price}}</p></div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title service-market-bg">
                        <h5>TOP SELLING SERVICES </h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each services}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right"><p class="doller_value_red">${{price}}</p></div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title lifestyle-market-bg">
                        <h5>TOP SELLING LIFESTYLE SUBSCRIPTIONS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each subscriptions}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right"><p class="doller_value_red">${{price}}</p></div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" jumbotron product_global">
<h5 class="product_global_search">Search the Global Trade Connect Directory by Category </h5>
<div class="container">
	<div class="row">
            {{#each category}}
            <div class="col-md-3" style="max-width:20%">
                <p class="product_global_para_head">{{ convertUpperCase this.name}}</p>
                {{#each ../subCategory}} {{#ifCond this.category_id '==' ../this.id}}
                <p class="product_global_para">{{ this.name}}</p>
                {{/ifCond}} {{/each}}
            </div>
            {{/each}}
        </div>
        </div>
</section>
{{> footer/footer}}