{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-header VendorDetail = VendorDetail}}
<script type="text/javascript">
$(document).ready(function() {
	$('#review-stars').barrating({
		theme: 'fontawesome-stars'
	});
	$('#reviewSubmit').click(function() {
		if (userInfo.email) {
			$('#reviewModal').modal('show');
		} else {
			$('#myModal').modal('show');
		}
	});
});
</script>
<div class="bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-2 col-12 m-t-sm col-sm-12">
				{{> vendor/vendor-left VendorAvgRating = VendorAvgRating}}
			</div>
			<div class="col-md-10 col-12 m-t-sm col-sm-12">
				<div class="header-lg bg2">
					<h2 class="header-lg-text">Product Review</h2>
				</div>
				<div class="row no-margins">
					<div class="col-md-9 no-padding">
						<div class="ibox">
                            <div class="ibox-content">
                            	<div class="row">
                            		<div class="col-md-5">
                            			<div class="d-flex">
                            				<div class="col-4 no-padding">
                            					<img src="{{product.media.url}}" class="img-fluid">
                            				</div>
                            				<div class="col-8 no-padding">
                            					<div class="review-product">
                            						<h3 class="product-sm-title">{{product.product_name}}</h3>
                            						<span class="text-blue d-block">Product Rating</span>
                            						{{starCount product.rating.product_rating}} <b class="m-l-xs text-primary">{{product.rating.product_rating}}</b>
                            						<span class="d-block m-b-xs">Based on {{product.rating.product_rating_count}} Reviews</span>
                            						{{#each productRatings}}
                            						<div class="dist-rating d-block">
                            							{{starCount this.rating}}
                            							<span class="text-blue">({{this.userCount}} Ratings)</span>
                            						</div>
													{{/each}}
                            					</div>
                            				</div>
                            			</div>
                            		</div>
                            		<div class="col-md-7">
                            			<div class="top-mini-headers m-b-sm">
											<div class="alignleft">
												<label>Showing {{SUMFloat queryPaginationObj.offset 1}} to {{SUMFloat queryPaginationObj.limit queryPaginationObj.offset}} of {{product.rating.product_rating_count}} Reviews</label>
											</div>
											<div class="alignright">
												<button type="button" id="reviewSubmit" data-toggle="modal" data-whatever="@mdo" class="btn btn-primary btn-block rounded btn-sm">Submit Your Own Review</button>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="cart-hr-line"></div>
										<div class="feed-activity-list">
											{{#each productReviews.rows}}
											<div class="feed-element">
												<a class="float-left" href="javascript:;">
													<img alt="image" class="rounded-circle" src="{{this.User.user_pic_url}}">
												</a>
												<div class="media-body">
													<h4 class="review-title">{{this.title}}</h4>
													<div class="m-b-xs">
														<div class="alignleft">
															<div class="p-rating">
																{{starCount this.rating}}
															</div>
														</div>
														<div class="alignleft m-l-sm">
															<small class="float-right">{{FormatDate this.created_on}}</small>
														</div>
														<div style="clear: both;"></div>
													</div>
													<p class="review-comment">{{this.comment}}</p>
												</div>
											</div>
											{{/each}}
										</div>
                            		</div>
                            	</div>
								<div class="row m-t-sm">
									<div class="col-md-12">
										{{#pagination productReviews.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												{{#unless startFromFirstPage}}
												<li class="page-item">
													<a class="page-link" href="../{{../selectedPage}}{{../urlPathname}}?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
												</li>
												{{/unless}} 
												{{#each pages}}
												<li class="page-item 
												{{#if isCurrent}} active 
												{{/if}}">
													<a class="page-link" href="../{{../../selectedPage}}{{../../urlPathname}}?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
												</li>
												{{/each}}
												{{#unless endAtLastPage}}
												<li class="page-item">
													<a class="page-link" href="../{{../selectedPage}}{{../urlPathname}}?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
												</li>
												{{/unless}} 
											</ul>
										</nav>
										{{/pagination}}
									</div>
								</div>
                            </div>
                        </div>
					</div>
					<div class="col-md-3 no-padding">
						{{> vendor/vendor-category }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Sumbit Your Own Review</h5>
			</div>
			<form id="reviewForm" class="form">
				<div class="modal-body">
					<div class="row">
	                    <div class="col-lg-12">
	                    	<div class="form-group">
	                            <div class="inputRating text-center">
	                            	<select id="review-stars" name="rating" style="display:none !important;" required/>
										<option value=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
	                            </div>
	                        </div>
	                    	<div class="form-group">
	                            <label class="label-control d-block">Title </label>
	                            <input type="text" id="inputTitle" name="title" class="form-control-customized form-control-sm" required/>
	                        </div>
	                        <div class="form-group">
	                            <label class="label-control d-block">Comment </label>
	                            <textarea class="form-control-customized" id="inputComment" name="comment" name="description" rows="3"></textarea>
	                        </div>
	                    </div>
	                </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal"><b>Close</button>
					<button type="submit" class="btn btn-small btn-primary"><strong>Submit</strong><i id="btnFaSpinner" class="fa fa fa-spinner fa-spin m-l-xs"></i></button>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			var productSpecs = {{{DisplayJSON product}}}
			var userInfo = {{{ DisplayJSON LoggedInUser }}}

			$('#btnFaSpinner').hide();
			$('#review-stars').val(1);

			$("#reviewForm").submit(function (e) {
					e.preventDefault();

					var reviewObj = {};
					$(':input[type="submit"]').prop('disabled', true);

					if ($('#reviewForm').valid()) {
						reviewObj['rating'] = parseInt($('#review-stars').val());
						reviewObj['product_id'] = productSpecs.id;
						reviewObj['user_id'] = parseInt(userInfo.id);
						reviewObj['status'] = 1;
						if (!reviewObj['rating']) {
							reviewObj['rating'] = 1;
						}
						reviewObj['title'] = $('#inputTitle').val();
						if ($('#inputComment').val()) {
							reviewObj['comment'] = $('#inputComment').val();
						}
						$('#btnFaSpinner').show()
					}
					$.ajax({
						type: "POST",
						url: "/api/reviews",
						data: reviewObj,
						success: function (result) {
							location.reload();
						}
					});
				});

			$("#reviewForm").validate({
				rules: {
					rating: "required",
					title: "required"
				},
				messages: {
					rating: "Rating is required.",
					title: "Title is required."
				}
			});
		</script>
	</div>
</div>
{{> footer/bottom-footer}}