{{> header/top-header LoggedInUser = LoggedInUser}}
{{> vendor/vendor-header VendorDetail = VendorDetail}}
<div class="bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-2 col-12 m-t-sm col-sm-12">
				{{> vendor/vendor-left VendorDetail = VendorDetail}}
			</div>
			<div class="col-md-10 col-12 m-t-sm col-sm-12">
				<div class="header-lg bg2">
					<h2 class="header-lg-text">Product Review</h2>
				</div>
				<div class="row no-margins">
					<div class="col-md-9 no-padding">
						<div class="ibox">
                            <div class="ibox-content">
                            	<div class="row">
                            		<div class="col-md-5">
                            			<div class="d-flex">
                            				<div class="col-4 no-padding">
                            					<img src="{{product.media.url}}" class="img-fluid">
                            				</div>
                            				<div class="col-8 no-padding">
                            					<div class="review-product">
                            						<h3 class="product-sm-title">{{product.product_name}}</h3>
                            						<span class="text-blue d-block">Product Rating</span>
                            						{{starCount product.rating.product_rating}} <b class="m-l-xs text-primary">{{product.rating.product_rating}}</b>
                            						<span class="d-block m-b-xs">Based on {{product.rating.product_rating_count}} Reviews</span>
                            						{{#each productRatings}}
                            						<div class="dist-rating d-block">
                            							{{starCount this.rating}}
                            							<span class="text-blue">({{this.userCount}} Ratings)</span>
                            						</div>
													{{/each}}
                            					</div>
                            				</div>
                            			</div>
                            		</div>
                            		<div class="col-md-7">
                            			<div class="top-mini-headers m-b-sm">
											<div class="alignleft">
												<label>Showing 1-10 of 23 Reviews</label>
											</div>
											<div class="alignright">
												<button type="button" id="reviewSubmit" data-toggle="modal" data-whatever="@mdo" class="btn btn-primary btn-block rounded btn-sm">Submit Your Own Review</button>
											</div>
											<div style="clear: both;"></div>
										</div>
										<div class="cart-hr-line"></div>
										<div class="feed-activity-list">
											{{#each productReviews.rows}}
											<div class="feed-element">
												<a class="float-left" href="javascript:;">
													<img alt="image" class="rounded-circle" src="{{this.User.user_pic_url}}">
												</a>
												<div class="media-body">
													<h4 class="review-title">{{this.title}}</h4>
													<div class="m-b-xs">
														<div class="alignleft">
															<div class="p-rating">
																{{starCount this.rating}}
															</div>
														</div>
														<div class="alignleft m-l-sm">
															<small class="float-right">{{FormatDate this.created_on}}</small>
														</div>
														<div style="clear: both;"></div>
													</div>
													<p class="review-comment">{{this.comment}}</p>
												</div>
											</div>
											{{/each}}
										</div>
                            		</div>
                            	</div>
                            </div>
                        </div>
					</div>
					<div class="col-md-3 no-padding">
						{{> vendor/vendor-category }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}