{{> header/defaultHeader}}

<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				<div class="col-md-2 showing_categ">
					
				</div>
				<div class="col-md-8 list_bg">
					<h5 class="list_manage">Manage Product - iPhone Pallets of Interest</h5>
					<section class="box2 list_sec" >
						<div class="container">
							<div class="row">
								<div class="col-md-12 box2_align">
									<h5>PRIVATE WHOLESALE MARKETPLACE</h1>
								</div>
							</div>
						</div>
					</section>
					<div class="row">
						<div class="col-md-4">
							<img src="../../img/hayden.png" alt="logo"  style="width: 100%; margin-bottom: 10px;" />
							<div class="row">
								<div class="col-md-4">
									<img src="../../img/hayden.png" alt="logo" style="width: 100%" />
								</div>
								<div class="col-md-4">
									<img src="../../img/hayden.png" alt="logo" style="width: 100%" />
								</div>
								<div class="col-md-4">
									<img src="../../img/hayden.png" alt="logo" style="width: 100%" />
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-2">
									<p>Status</p>
								</div>
								<div class="col-md-10">
									<p>Active</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Type</p>
								</div>
								<div class="col-md-10">
									<p>{{product.Marketplace.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Category</p>
								</div>
								<div class="col-md-10">
									<p>{{product.Category.name}} > {{product.SubCategory.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>SKU</p>
								</div>
								<div class="col-md-10">
									<p>1234987</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>MOQ</p>
								</div>
								<div class="col-md-10">
									<p>{{product.moq}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Availability</p>
								</div>
								<div class="col-md-10">
									<p>{{product.quantity_available}} in stock</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Category</p>
								</div>
								<div class="col-md-10">
									<p class="list_wts">{{product.MarketplaceType.code}} - {{product.MarketplaceType.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Name</p>
								</div>
								<div class="col-md-10">
									<p class="list_iphone">{{product.product_name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Price</p>
								</div>
								<div class="col-md-10">
									<p class="list_doll">${{product.price}}<sup>00/10</sup></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<p>Description</p>
								</div>
								<div class="col-md-10">
									<p>The ipad is available with 16, 32 and 64 GB flash drive options. All Varieties come with Wi-Fi Internet access; for a higher price, the consumer can purchase an iPad 3G to get Internet access through AT&T's network</p>
									<p>The iPad, which uses Apple's mobile operating system (iOS) combines the computing power of a laptop or destop computer with the portability of a smartphone. iPad users can surf the internet with safari, Apple's web browser, receive and send email messages, share photos and slideshows, watch videos on YouTube and listen to music on iTunes. In addition to the standard features, Apple also offers an app stone with thousands of free and paid apps with functions ranging from games and entertainment to business and education.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 list_bg common_padding1"></div>
			</div>
		</div>
	</div>
</section>

{{> footer/footer}}