<script>

	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	var productSpecs = {{{DisplayJSON product}}}
	var statusCode = {{{DisplayJSON status}}}

	$(function() {
		$('#review-stars').barrating({
			theme: 'fontawesome-stars'
		});

		$("#gtc-cart-alert").hide();
		$("#gtc-add-to-cart").click(function() {
			$('#gtc-add-to-cart').prop('disabled', true);

			var cartInfo = {};
			cartInfo.product_quantity = $('#product-quantity').val();

			$.ajax({
				type: "POST",
				url: "/api/cart/add-cart/" + productSpecs.id,
				data: cartInfo,
				success: function(res) {
					$('#gtc-add-to-cart').prop('disabled', false);
					if (res && res.message === "SUCCESS") {
						$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
						$('#gtc-cart-alert .cart-message').text(res.message_details)
						$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-cart-alert").slideUp(500);
						});
						console.log(res)
					}
				},
				error: function(error) {
					$('#gtc-add-to-cart').prop('disabled', false);
					if (error) {
						if (error.status === 401)
							return location.href = "/login";

						$('#gtc-cart-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-cart-alert .cart-message').text(error.responseJSON.message + " : " + error.responseJSON.message_details)
						$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-cart-alert").slideUp(500);
						});
					}
				}
			});
		});
	});


	$("#reviewForm").validate({
		rules: {
			reviewDetailComment: "required",
			reviewTitle: "required"
		},
		messages: {
			reviewDetailComment: "Please Enter your review Comment",
			reviewTitle: "Please enter your Review title"
		}
	});

	function reviewSubmit(id) {

		let reviewObj = {};

		if (userInfo.email) {
			if ($("#reviewForm").valid()) {
				reviewObj['rating'] = $('#review-stars').val();
				reviewObj['title'] = $('#review-title').val();
				reviewObj['comment'] = $('#review-detail-comment').val();
				reviewObj['product_id'] = parseInt(id);
				reviewObj['user_id'] = parseInt(userInfo.id);
				reviewObj['status'] = 1;

				console.log(reviewObj);

				$.ajax({
					type: "POST",
					url: "/api/reviews",
					data: reviewObj,
					success: function(result) {
						if (result)
							location.reload();
					}
				});
			}
		} else {
			location.href = "/login"
		}
	}

	function wishUpdate(){
		var newObj = {};
		newObj.product_id = productSpecs.id;
		newObj.user_id = userInfo.id;
		if($('input[name=wishID]').val())
		{
			newObj.status = 0;
		}else{
			newObj.status = statusCode.ACTIVE;
		}
		console.log(newObj);
		var queryObj = {};
		queryObj.product_id = productSpecs.id;
		queryObj.user_id = userInfo.id;
		var data = JSON.stringify({
				queryObj : queryObj,
				newObj : newObj
			});
		var newData  ={};
		newData.data = data;
		$.ajax({
				type: 'PUT',
				url: '/api/product-view/addOrRemove',
				data: newData,
				success: function(data, text) {
					console.log(data,"hello",text);
					// $('input[name=wishID]').val("")
					location.reload();
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});


	}
	function login(){
		window.location.href = "/login";
	}


</script>
{{> header/defaultHeader LoggedInUser = LoggedInUser}}

<section>
	<div class="banner_bg">

		<div class="container-fluid banner_bg_menu">
			<div class="">
				<div class="row prfl-wt-txt" style="top: -58px;">
					<div class="col-md-2 common_padding1">
						<a class="navbar-brand float-right" href="javascript:void(0)" style="margin-right: 0px;">
							<img src="{{product.Vendor.vendor_profile_pic_url}}" style="width:155px; height:155px" />
						</a>
					</div>
					<div class="col-md-6">
						<span class="prf_landing_cmpy text-capitalize">{{product.Vendor.vendor_name}}</span>

					</div>
				</div>
				<div class="row img-wt-menu">
					<div class="col-md-2">
					</div>
					<div class="col-md-10 common_padding1">
						<nav class="navbar navbar-expand-lg">
							<div class="collapse navbar-collapse" id="navb" style="position: relative; top: 20px;">
								<!-- Links -->
								<ul class="navbar-nav mr-auto">
									<li class="gtc-follow-img">
										<a href="#">
											<img src="../../img/gtc-verified.png" alt="GTC Verified" style="width: 80px; margin-top: 5px;" />
										</a>
										<a >
											<img src="../../img/follow.png" alt="Follow" style="width: 80px; margin-top: 5px;" />
										</a>
									</li>
									<li class="nav-item" style="background-color: #084681;">
										<a class="nav-link" href="#" style="color: #fff">WHOLESALE</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="">SHOP</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SERVICES</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">LIFESTYLE</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">DISCUSSION BOARD</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">ABOUT</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">SUPPORT</a>
									</li>

								</ul>
								<div class="field-search1 form-inline my-2 my-lg-0">
									<input type="search" placeholder="Search My store">
									<div class="right">
										<select>
											<option>Options</option>
										</select>
										<button>
											<svg xmlns="http://www.w3.org/2000/svg" width="22.6" height="23.6" viewBox="0 0 22.6 23.6">
												<g fill="none" stroke="currentColor" stroke-width="4" stroke-miterlimit="10">
													<circle cx="9.3" cy="9.3" r="7.3"></circle>
													<path d="M14.2 14.6l6.9 7.6"></path>
												</g>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="logged_in_cont">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-12">
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">joined:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="jan_style">January 2017</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">Location:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="profile_logged_in_body2_font_2">
								<img src="../../img/flag-ca.png"> Canada</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">Catagory:</p>
						</div>
						<div class="col-md-7 col-7">
							<p class="profile_logged_in_body2_font_2">Wholesale-Automotive</p>
						</div>
					</div>
					<div class="row profile_logged_in_body2_bg_color_1  ">
						<div class="col-md-5 col-5 ">
							<p class="profile_logged_in_body2_font_1">User Rating:</p>
						</div>
						<div class="col-md-7 col-7">
							<p style="margin-bottom: 0px;font-size: 10px;">
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #CDBE29;"></i>
								<i class="fas fa-star" style="color: #B8B8BA;"></i>
								<i class="fas fa-star" style="color: #B8B8BA;"></i>
							</p>
							<p class="profile_logged_in_body2_font_2">(Ratings-See All)</p>
						</div>
					</div>

					<div class=" row col-md-12 col-12" style="margin-top: 10px;padding-right: 0px;">
						<i class="fab fa-facebook-f social_logged"></i>
						<i class="fab fa-youtube social_logged"></i>
						<i class="fab fa-twitter social_logged"></i>
						<i class="fab fa-instagram social_logged"></i>
						<i class="fab fa-linkedin-in social_logged"></i>
						<i class="fab fa-flickr social_logged"></i>
						<p class="profile_logged_in_body2_font_3">Accepted Payment Methods:</p>
						<img width="100%" src="../../img/payment-methods.jpg">
						<p class="profile_logged_in_body2_font_1">
							At Hayden Auto,getting your car loan with bad credit or no credit isn't just possible,it's easy!We get Canadians the loans
							they need to buy a vehicle.
						</p>
					</div>
				</div>
				<div class="col-md-10 col-12">
					<div class="alert" id="gtc-cart-alert">
       		 			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
						<span class="cart-message"></span>
    				</div>
					<div class="row pmp4">
						<div class="col-md-12 col-12">
							<h3>{{product.Marketplace.name}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 col-12" style="background-color: #fff;">
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-4">
									<img src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 100%; margin-bottom: 10px;" />
									<div class="row">
										<div class="row">
											{{#each product.ProductMedia}} 
												{{#if @first}} 
												{{else}} 
											{{#ifCond @index '<' 4}}
											<div class="col-md-4 col-4">
												<img src="{{this.url}}" alt="logo" style="width: 100%" />
											</div>
                                        	{{/ifCond}}
											{{/if}}
											{{/each}}
                                </div>
							</div>
						</div>
						<div class="col-md-8">
                       	<div class="col-md-12">
							<div class="row">
                            <div class="col-md-6 common_padding1">
                            <div class="row">
                            <!--new end-->
								<div class="col-md-4 col-3">
									<p class="product_view_ven">Origin</p>
								</div>
								<div class="col-md-8 col-9">
									<p class="product_view_ven">{{product.Country.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-3">
									<p class="product_view_ven">Category</p>
								</div>
								<div class="col-md-8 col-9">
									<p class="product_view_ven">{{product.Category.name}} > {{product.SubCategory.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-3">
									<p class="product_view_ven">SKU</p>
								</div>
								<div class="col-md-8 col-9">
									<p class="product_view_ven">{{product.sku}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-3">
									<p class="product_view_ven">MOQ</p>
								</div>
								<div class="col-md-8 col-9">
									<p class="product_view_ven">{{product.moq}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-3">
									<p class="product_view_ven">Availability</p>
								</div>
								<div class="col-md-8 col-9">
									<p class="text_green_color product_view_ven">{{product.quantity_available}} in stock</p>
								</div>
                          	</div>
                             </div>
                             	<div class="col-md-6">
                             		<div class="row">
                             		<div class="col-md-2 col-12" >
										<p class="com_product_stock">Qty:</p>
									</div>
									<div class="col-md-3 col-12 common_padding1">
										<input type="number" min="1" value="1" id="product-quantity" class="geo_textbox" />
									</div>
									<div class="col-md-7 col-12 common_padding1" >
										<a href="javascript:;" id="gtc-add-to-cart" class="com_add_to_cart" > 
											<i class="fas fa-shopping-bag"></i> ADD TO BAG</a>
									</div>
                           		<div class="modal fade"{{!--  id="myModal" --}}>
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="col-md-12">
												<div class="row modal_geo_bgimg1">
													<h1>LIKE WHAT YOU SEE?</h1>
													<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
													<p class="modal_why_geo_p">If you'd like uniterupted access to our wholesale marketplace, we need you to create an
											 account with Global Trade Connect</p>
												<div class="col-md-5 common_padding1">
													<a href="#">
														<img src="../../img/login-facebook.png" alt="facebook" style="margin-bottom: 3px;width: 100%;" />
													</a>
													<a href="#">
														<img src="../../img/login-google.png" alt="facebook" style="margin-bottom: 3px;width: 100%;" />
													</a>
													<a href="#">
														<img src="../../img/login-twitter.png" alt="facebook" style="margin-bottom: 3px;width: 100%;" />
													</a>
													<a href="#">
														<img src="../../img/login-linkedin.png" alt="facebook" style="margin-bottom: 3px;width: 100%;" />
													</a>
												</div>
												<div class="col-md-6">
													<input type="text" placeholder="Create a Username" class="modal_acc_textbox" />
													<input type="text" placeholder="Create a Password" class="modal_acc_textbox" />
													<input type="text" placeholder="Confirm Password" class="modal_acc_textbox" />
													<br/>
													<label class="modal_login-checkbox">
														<input type="checkbox">
														<i></i> Accept terms and conditions</label>
													<input type="submit" value="CREATE ACCOUNT" class="modal_acc_button" />
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		{{#if product.MarketplaceType}}
		<div class="row">
			<div class="col-md-12 col-9">
				<p class="list_wts">{{product.MarketplaceType.name}}</p>
			</div>
		</div>
		{{/if}}
		<div class="row">
			<div class="col-md-12 col-9">
				<p class="list_iphone">{{product.product_name}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-9">
				<p class="list_doll">${{product.price}}
					<!-- <sup>00 / 10</sup> -->
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-9">
				<p class="list_add">This Product has discount on bulk orders.</p>
			</div>
		</div>
		<hr style="margin-top: 3px; margin-bottom: 3px;" />
		<div class="row">
			<div class="col-md-4 col-6">
				<p class="text_blue_color" style="font-size: 12px;margin-bottom: 0px;">
					<img src="../../img/Icons/icon-2-01.png" style="width: 12%;" alt="geo"> Add to compare</p>
			</div>
			<div class="col-md-4 col-6 common_padding1">
				{{#if LoggedInUser.id}}
				<p class="text_blue_color" style="font-size: 14px;margin-bottom: 0px;" onclick="wishUpdate()">
				{{#if wishList}}
					<input type="hidden" name="wishID" value="{{wishList.[0].id}}">
					<i class="fa fa-heart" aria-hidden="true"></i>
					{{else}}
					<img src="../../img/Icons/icon-6-01.png" style="width: 8%;" alt="geo" >
					 {{/if}}
					 Add to Wishlist</p>
				{{else}}
				<p class="text_blue_color" style="font-size: 14px;margin-bottom: 0px;" onclick="login()">
					<img src="../../img/Icons/icon-6-01.png" style="width: 8%;" alt="geo" >
					 Add to Wishlist</p>
				{{/if}}

			</div>
			<div class="col-md-4 col-6 float-right">
				<img src="../../img/social-icons/linked-in.png" style="width: 15%;" alt="geo">
				<img src="../../img/social-icons/pintrest.png" style="width: 15%;" alt="geo">
				<img src="../../img/social-icons/twitter.png" style="width: 15%;" alt="geo">
				<img src="../../img/social-icons/plus.png" style="width: 15%;" alt="geo">
			</div>
		</div>
		<hr style="margin-top: 3px; margin-bottom: 3px;" />
		<div class="row">

			<div class="col-md-12 col-12">
				<p style="font-size: 10px;margin-top: 10px;margin-bottom: 10px;">{{product.description}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-1">
				<i class="fas fa-question-circle review_help_icon"></i>
			</div>
			<div class="col-md-11 col-10 product_submit">
				<p class="review_help_title">Product Rating
					<span class="product_rating_star" style="font-size:20px; font-weight: bold;">{{avgRating}}</span>
					<span style="font-size: 12px;">Based on</span>
					<span style="font-size: 12px;" class="text_blue_color">
						<b>{{product.Reviews.length}} Reviews</b>
					</span>
				</p>

				<div class="row">
					<div class="col-md-5">
						<div class="row">
							{{#each rating}} 
								<div class="col-md-8 col-7 com_pad">
									<p class="product_rating_star1" style="font-size: 11px;">
									{{starCount this.starCount}}
									</p>
								</div>
								<div class="col-md-4 col-5 common_padding1">
									<p class="product_rating_1">({{this.ratingCount}} Rating)</p>
								</div>
							{{/each}}
						</div>
						<div class="row">
							<div class="col-md-12">
								<button class="product_buttion">Submit Your Own Review</button>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="row">
							{{#each product.Reviews}} 
								{{#ifCond @index '<' 5}}
							 	<div class="col-md-2 col-3 product_img common_padding1">
                                    <img width="100%" class="rounded-circle" src="{{ProfilePicture this.User}}" alt="profile-picture"/>
                                </div> 
                                <div class="col-md-10 col-9 product_great_bg">
                                    <p class="product_great">{{this.title}}</p>
                                    <p class="product_star">
                                        {{starCount this.rating '#fab547 '}}
                                        <span class="product_ago"> {{FormatDate this.created_on}} </span>
                                    </p>
                                    <p class="product_we">{{this.comment}}</p>
									<p class="text_blue_color" style="font-size: 12px;">- {{this.User.first_name}} {{this.User.last_name}}</p>
                                </div>
								
                                {{/ifCond}}
                            {{/each}}

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <!-- <p class="text_blue_color" style="font-size: 12px;">Scott T</p> -->
                                </div>
                                <div class="col-md-6 col-6">
                                	{{#ifCond product.Reviews.length '>' 0}}
                                    	<a class="product_buttion" href="/product/{{product.product_name}}/{{product.id}}/allReviews" style="background-color: #154881;padding: 3px 6px;">See All Reviews</a>
                                    {{/ifCond}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 product_hr">
                    <hr>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-1 col-2">
                        <i class="fas fa-question-circle review_help_icon"></i>
                    </div>
                    <div class="col-md-11 col-10 product_submit">
                    <form name="reviewForm" id="reviewForm" onsubmit="return false">
                        <p class="review_help_title">Submit A Review Of This Product</p>
                        <p class="product_submit_para">If you'd like to ask the vendor a specific question about this product,
							 please fill out the following it will be sent directly to the vendor.</p>
								<div>
									<span class="product_submit_para">Please provide rating for this product</span>
									<select id="review-stars" style="display:none !important;">
										<option value=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
								<div class="product_table_bg">
									<div class="row">
										<div class="col-md-10">
											<input class="product_table" id="review-title" name="reviewTitle" type="text" placeholder="Review Title" required>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10">
											<textarea name="reviewDetailComment" class="product_table" id="review-detail-comment" rows="5" cols="22" placeholder="Tell us about your experiance with this product "
											 required></textarea>
										</div>
										<div class="col-md-2">
											<button class="product_buttion_1" onclick="reviewSubmit(`{{product.id}}`)" style="background-color: #154881;">Submit</button>
										</div>
									</div>
								</div>
								</form>
						</div>
					</div>

					<div class="row showing_categ" style="padding: 3px;margin-top: 10px; margin-bottom: 10px;">
					</div>

				</div>

			</div>

			<section class="box3" style="margin-bottom:0; padding-left: 0px; padding-right: 0px;">
				<div class="container clearfix">
					<div class="row ">
						<div class="col-md-12 col-12 wts4 ">
							<h6 class="float-left">Related Product for this Vendor</h6>

						</div>
					</div>
				</div>
			</section>
			<section class="box4" style="margin-bottom:20px;">
				<div class="container clearfix">
					<div class="row">
						{{#ifCond RelatedProducts.length '==' 0}}
						<div class="col-md-12 text-center list_add"> 
							No Related Products
						</div>
						{{/ifCond}}
						{{#each RelatedProducts}}
						<div class="col-md-4 col-12 common_top">
							<div class="row">
								<div class="col-md-3 col-2">
									<img src="{{this.product_base_image}}" style="width: 30px; height: 70px;">
								</div>
								<div class="col-md-9 col-10">
									<div class="row common_padding">
										<div class="col-md-8 col-8">
											<p class="wts_header">
												<a href="#">{{this.product_name}}</a>
											</p>
										</div>
										<div class="col-md-4 col-4">
											<p>											
												{{#if minimum_order_quantity}}	
                                                MOQ:{{this.minimum_order_quantity}}
                                                {{else}}
                                                ${{product_price}}
                                                {{/if}}
											</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3 col-3">
											<p>Origin</p>
										</div>
										<div class="col-md-5 col-5">
											<p>{{this.country_name}}</p>
										</div>
										<div class="col-md-4 col-4">
											<p>&nbsp;</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3 col-3">
											<p>Category</p>
										</div>
										<div class="col-md-5 col-5">
											<p>{{this.category_name}} > {{this.sub_category_name}}</p>
										</div>
										<div class="col-md-4 col-4">
											<p>Seller Rating</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3 col-3">
											<p>Seller</p>
										</div>
										<div class="col-md-5 col-5">
											<p>
												{{#if ../LoggedInUser.email}}	
                                                <a>{{this.vendor_name}}</a>
                                                {{else}}
                                                <a href="/login">(Login for Seller Info)</a>
                                                {{/if}}
                                            </p>
										</div>
										<div class="sm-text col-md-4 col-4">
											{{ starCount product_rating}}
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</section>

		</div>
		<div class="col-md-3 showing_categ">
			<p>
				<b>FILTER BY CATEGORY</b>
			</p>
			<p class="cat_bg_title">ALL CATEGORIES (293)</p>
			<div class="list-group panel ">
				<a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
					<i class="fas fa-caret-down"></i>
					<span class="hidden-sm-down">AGRICULTURE(293)</span>
				</a>
				<div class="collapse" id="menu1">
					<a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Animals(93)</a>
					<a href="#" class="list-group-item" data-parent="#menu1">Aquaculture(93)</a>
					<a href="#" class="list-group-item" data-parent="#menu1">Building Construction(93)</a>
					<a href="#" class="list-group-item" data-parent="#menu1">Fram Machines &amp; Tools(93)</a>
					<a href="#" class="list-group-item" data-parent="#menu1">Flowers &amp; Plants(93)</a>
				</div>
				<a href="#" class="list-group-item collapsed" data-parent="#sidebar">
					<i class="fas fa-caret-right"></i>
					<span class="hidden-sm-down">APPAREL &amp; FASHION(293)</span>
				</a>
				<a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
					<i class="fas fa-caret-right"></i>
					<span class="hidden-sm-down">ELECTRONICS &amp; ELECTRICAL(293) </span>
				</a>
				<a href="#" class="list-group-item collapsed" data-parent="#sidebar">
					<i class="fas fa-caret-right"></i>
					<span class="hidden-sm-down">FOOD &amp; BEVERAGE(293)</span>
				</a>

			</div>

			<p style="margin-top: 20px;">
				<b>FILTER BY TYPE</b>
			</p>
			<p class="cat_bg_title">ALL TYPES (293)</p>
			<div class="list-group panel ">
				<a href="#" class="list-group-item collapsed" data-parent="#sidebar">
					<span class="hidden-sm-down">WTB - Want to Buy (293)</span>
				</a>
				<a href="#" class="list-group-item collapsed" data-toggle="#sidebar">
					<span class="hidden-sm-down">WTS - Want to Sell (293)</span>
				</a>
				<a href="#" class="list-group-item collapsed" data-parent="#sidebar">
					<span class="hidden-sm-down">WTS - Want to Sell (293)</span>
				</a>
				<a href="#" class="list-group-item collapsed" data-parent="#sidebar">
					<span class="hidden-sm-down">WTS - Want to Sell (293)</span>
				</a>
			</div>


		</div>
	</div>
	</div>

	</div>
	</div>
</section>

{{> footer/footer}}