{{> vendor/header}} 
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}} 
				<div class="col-md-8" style="background-color: #fff;">
					<div class="row">
						<div class="col-md-9" id="render_list" >
							<h5 style="padding-top: 20px;margin-bottom: 30px">My Reviews</h5>
							<p>Sort by&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b><a href="/reviews?sort=mostRecent">Most Recent</a></b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_blue_color"><a href="/reviews?sort=rating">Star Rating</a></span></p>
							<div id="Recent" class="tabcontent">
							<hr>
							{{#each Reviews}}
							<div class="row">
								<div class="col-md-2 text-center">
									<img src="{{this.User.user_pic_url}}" alt="img" style="width: 60%;border-radius:50%"/> {{!-- "../../img/signup-feature-1.png" --}}
								</div>
								<div class="col-md-6 common_padding1">
									<p style="font-size: 11px;"><span class="text_blue_color">{{this.created_by}}</span> reviewed Hayden Auto - 5star</p>
									<p>{{formatTime this.created_on "MMM D YY"}}
									</p>
								</div>
								<div class="col-md-3">
									<p style="font-size: 11px;">{{starCount this.rating}}</p>
								</div>
							</div>
							<p style="font-size: 11px;padding-top: 15px;">{{this.title}}
							</p>
							<p style="font-size: 11px;">{{this.comment}}</p>
							<hr/>
							{{/each}}
						</div>
						</div>
						<div class="col-md-3" style="padding-top: 20px;">
							<p class="list_bg_blue" style="font-size: 11px;margin-bottom: 0px;">{{this.Rating.avg}} {{starCount this.Rating.avg}}</p>
							<div style="border: 1px solid #E6E6E6; padding: 10px;">
								<p class="text_blue_color" style="font-size: 8px">{{this.Rating.avg}} of 5 start based on {{this.Rating.count}}reviews</p>
								<hr/>
								<div class="xyz">
									<p class="text_blue_color">5 Stars  <p style="border-bottom: 2px solid #3E78B6; width:{{progressBar this.Rating.star5 this.Rating.count}}%"></p> {{this.Rating.star5}}</p>
								</div>
								<div class="xyz">
									<p class="text_blue_color">4 Stars  <p style="border-top: 2px solid #3E78B6; width:{{progressBar this.Rating.star4 this.Rating.count}}%"><b>{{this.Rating.star4}}</b></p> </p>
								</div>
								<p class="text_blue_color">3 Stars  <p style="border-bottom: 2px solid #3E78B6; width:{{progressBar this.Rating.star3 this.Rating.count}}%">&nbsp;&nbsp;&nbsp;</p> {{this.Rating.star3}}</p>
								<p class="text_blue_color">2 Stars<p style="border-bottom: 2px solid #3E78B6; width:{{progressBar this.Rating.star2 this.Rating.count}}%">&nbsp;&nbsp;&nbsp;</p>  {{this.Rating.star2}}</p>
								<p class="text_blue_color">1 Stars <p style="border-bottom: 2px solid #3E78B6; width:{{progressBar this.Rating.star1 this.Rating.count}}%">&nbsp;&nbsp;&nbsp;</p>  {{this.Rating.star1}}</p>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>