<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 81q1ljfijajynj
	authorize: true
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("li .previous").click(function() {
			console.log("previous")
		})

		$("li .next").click(function() {
			console.log("previous")
		})
	});
	$(document).ready(function() {
		$("a[title='seller']").click(function() {
			if (userInfo.email) { } else {
				$('#myModal').modal('show');
			}
		});
	});

	$(document).ready(function() {
		size_li = $("ul").children('li').length;
		x = 300;
		$('#category li:lt(' + x + ')').show();
		$("#showLess").hide();

		$('#loadMore').click(function() {
			x = (x + (size_li - x) <= size_li) ? x + (size_li - x) : size_li;
			$('#category li:lt(' + x + ')').show();
			if (size_li == x) {
				$("#showLess").show();
				$("#loadMore").hide();
			}
		});
		$('#showLess').click(function() {
			x = (x - (size_li - 300) < 0) ? 300 : x - (size_li - 300);
			$('#category li').not(':lt(' + x + ')').hide();
			if (x <= size_li - 300) {
				$("#showLess").hide();
				$("#loadMore").show();
			}
		});
	});

	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		} else {
			return uri + separator + key + "=" + value;
		}
	}

	function appendLocation(location) {
		var url = window.location.href;
		var uri = updateQueryStringParameter(url, 'location', location);
		// var arr = url.split("&location")[0];
		// console.log("arr", arr);
		// var newQuery = arr + "&location=" + location;
		// window.location.href = window.location.origin + "/search" + newQuery;

	}

	function global() {
		var url = window.location.search;
		var arr = url.split("&location")[0];
		var newQuery = arr;
		window.location.href = window.location.origin + "/search" + newQuery;
	}

	function globalSearch() {
		window.location.href = window.location.origin + "/search";
	}

	function sortSearch(e) {
		var url = window.location.href;
		var order;
		var field;
		if (e.value == 'product_name_asc') {
			order = 'asc';
			field = 'product_name';
		} else if (e.value == 'product_name_desc') {
			order = 'desc';
			field = 'product_name';
		} else {
			order = 'desc';
			field = 'created_on';
		}
		var uri = updateQueryStringParameter(url, 'field', field);
		uri = updateQueryStringParameter(uri, 'order', order)
		window.location.href = uri;
	}

	function getPage(marketplaceURl, selectedMarketPlaceType) {
		console.log(marketplaceURl);
		console.log(selectedMarketPlaceType);
	}

	function redirectBack() {
		var url = window.location.href;
		var key = 'is_featured_product';
		location.href = url.replace(new RegExp(key + "=\\w+"), "").replace("?&", "?").replace("&&", "&").replace("& ", "");
	}

	function featureClick(featureId) {
		$.ajax({
			url: '/api/feature-product/featureClick/'+featureId,
			type: 'PUT',
			success: function(data) {
				console.log("click response:",data);						
			},
			error: function(error) {
				console.log("click err:",error);
			}
		});
	}
</script>
<style>
	#category li {
		display: none;
	}

	#loadMore {
		cursor: pointer;
		color: cornflowerblue;
	}

	#showLess {
		cursor: pointer;
		color: cornflowerblue;
	}
</style>
{{> header/top-header LoggedInUser = LoggedInUser}}
<div class="gtc-container">
	<div class="search-list-header">
		<div class="top-search-sm-header">
			<div class="alignleft">
				<ul class="breadcrumb">
					<li>
						<a href="{{marketplaceURl}}/search" class="active">
							{{#if queryURI.location}}{{Location queryURI.location locations.rows}}{{else}}Global{{/if}}
						</a>
					</li>
					<li>
						<a href="/{{marketplaceURl}}/search" class="active">{{Titlecase marketplaceURl}}</a>
					</li>
					{{#if queryURI.category}}
						<li>
							<a href="javascript:;" class="active">{{searchCategory categoriesWithCount.rows queryURI.category}}</a>
						</li>
						{{#if queryURI.sub_category}}
							<li>
								<a href="javascript:;" class="active">{{searchSubCategory categoriesWithCount.rows queryURI.sub_category queryURI.category}}</a>
							</li>
						{{/if}}
					{{/if}}

					<li>Search</li>
				</ul>
			</div>
			<div class="alignright">
				<div class="icon-post-ad">
					{{#if LoggedInUser.Vendor}}
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
							<circle fill="#E44766" cx="12" cy="12" r="12"></circle>
							<path fill="#FFF" d="M12 0l2.7 8.3h8.7l-7 5.1 2.7 8.3-7.1-5.1-7.1 5.1 2.7-8.3-7-5.1h8.7z"></path>
						</svg>
						<a href="/promote-store">
							<span>POST AN AD IN THIS CATEGORY</span>
						</a>
					{{/if}}
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="row m-t-sm">
			<div class="col-md-8">

				<h3>
					{{#if products.count}} Showing
						<b>{{SUMFloat queryPaginationObj.offset 1}}-{{SUMFloatDisplay queryPaginationObj.limit queryPaginationObj.offset products.count}}
						</b> of {{/if}}
					<b>{{products.count}} Products</b> matching
					{{#if queryPaginationObj.keyword}}
						<b>"{{queryPaginationObj.keyword}}"</b>
					{{/if}}
					<strong>
						{{#if queryURI.category}}"{{searchCategory categoriesWithCount.rows queryURI.category}}"{{/if}}
					</strong>
					{{#if selectedMarketPlace}}in the
						<b class="bg-text-{{queryURI.marketplace}}">{{selectedMarketPlace.name}}</b>
					{{/if}}
				</h3>
			</div>
			<div class="col-md-2">
				<div class="alignright">
					<label class="label-control m-r-md">View</label>
					<button type="submit" onclick="location.href = '../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject layout='grid') 'null'}}'"
					 class="btn btn-sm {{#ifCond queryURI.layout "==" 'grid'}}rounded {{/ifCond}} {{#ifCond queryURI.layout "==" 'list'}} btn-white{{/ifCond}}">
						<i class="fa fa-th-large"></i>
					</button>
					<button type="submit" onclick="location.href = '../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject layout='list') 'null'}}'"
					 class="btn btn-sm {{#ifCond queryURI.layout "==" 'list'}}rounded {{/ifCond}} {{#ifCond queryURI.layout "==" 'grid'}} btn-white{{/ifCond}}">
						<i class="fa fa-th-list"></i>
					</button>
				</div>
			</div>
			<div class="col-md-2">
				<form class="form-inline alignright">
					<div class="form-group">
						<label class="label-control m-r-md">Sort by</label>
						<div class="select-container">
							<select name="order" onchange="sortSearch(this)" class="form-control-customized rounded form-control-sm form-control-border"
							 style="font-family: 'FontAwesome', Helvetica;" id="sortValue">
								<option disabled="true" selected="true">Sort by</option>
								<option value="product_name_asc" data-order="asc" {{#ifCond queryURI.order "==" 'asc'}} selected="true" {{/ifCond}}>A-Z</option>
								<option value="product_name_desc" data-order="desc" {{#ifCond queryURI.order "==" 'desc'}} selected="true" {{/ifCond}}>Z-A</option>
								<option value="created_on" data-order="desc" {{#ifCond queryURI.field "==" "created_on"}} selected="true" {{/ifCond}}>Date</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row m-b-sm">
		<div class="col-md-3 search-list-left" id="menu">
			<h5 class="right-header-sm" style="margin-top:10px">FILTER BY CATEGORY</h5>
			<p class="right-header-xs bg{{queryURI.marketplace}}">ALL CATEGORIES ({{products.count}}) {{!-- {{categoriesWithCount.count}} --}}
			</p>
			{{!-- <ul class="right-list-view category-fixed" id="category">  removing scrollbar--}}
			<ul class="right-list-view" id="category">

				{{!-- {{#each categoriesWithCount.rows}}
				<li>
					<a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="listAGRICULTURE" class="{{#ifCond ../queryURI.category "!=" this.id}} collapsed {{/ifCond}}coll" href="#list{{this.name}}"></a><a href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 category=this.id) 'null'}}">{{this.name}} ({{this.product_count}})</a>
					<ul class="inner-list-view collapse {{#ifCond ../queryURI.category '==' this.id}}show{{/ifCond}}" id="list{{this.name}}">
						{{#each this.SubCategories}}
						<li>
							<a {{#ifCond ../../queryURI.sub_category "==" this.id}} class="active" {{/ifCond}} href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=1 category=../this.id sub_category=this.id) 'null'}}">
								<span>{{this.name}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/each}} --}}

				{{#each productCount.rows}}
					<li>
						<a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="listAGRICULTURE" class="{{#ifCond ../queryURI.category "!=" this.categoryID}} collapsed {{/ifCond}}coll"
						 href="#list{{this.categoryName}}"></a>
						<a href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 category=this.categoryID) 'sub_category'}}">{{this.categoryName}} ({{this.count}})</a>
						<ul class="inner-list-view collapse {{#ifCond ../queryURI.category '==' this.categoryID}}show{{/ifCond}}" id="list{{this.categoryName}}">
							{{#each this.subCategory}}
								<li>
									<a {{#ifCond ../../queryURI.sub_category "==" this.subCategoryId}} class="active" {{/ifCond}} href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=1 category=../this.categoryID sub_category=this.subCategoryId) 'null'}}">
										<span>{{this.subCategoryName}} ({{this.count}})</span>
									</a>
								</li>
							{{/each}}
						</ul>
					</li>
				{{/each}}
			</ul>
			<div class="right-header-sm" id="loadMore"> Load more</div>
			<div class="right-header-sm" id="showLess"> Show less</div>

			{{#ifCond marketplaceURl "==" "wholesale"}}
				<h5 class="right-header-sm" style="margin-top:10px">FILTER BY TYPE</h5>
				<p class="right-header-xs bg{{queryURI.marketplace}}">ALL TYPES ({{marketPlaceTypes.count}})</p>
				<ul class="right-list-view">

					{{#each marketPlaceTypes.rows}}
						<li>
							<a {{#ifCond ../queryURI.marketplace_type "==" this.id}} class="active" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 marketplace_type=this.id) 'null'}}">
								<span>{{this.code}} - {{this.name}} ({{this.product_count}})</span>
							</a>
						</li>
					{{/each}}
				</ul>
				{{else ifCond marketplaceURl "==" "products"}}
				<h5 class="right-header-sm" style="margin-top:10px">FILTER BY TYPE</h5>
				<p class="right-header-xs bg{{queryURI.marketplace}}">ALL TYPES ({{marketPlaceTypes.count}})</p>
				<ul class="right-list-view">
					{{#each marketPlaceTypes.rows}}
						<li>
							<a {{#ifCond ../queryURI.marketplace_type "==" this.id}} class="active" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 marketplace_type=this.id) 'null'}}">
								<span>{{this.code}} - {{this.name}} ({{this.product_count}})</span>
							</a>
						</li>
					{{/each}}
				</ul>
			{{/ifCond}}

			{{#ifCond marketplaceURl "!=" "lifestyle"}}
				<h5 class="right-header-sm" style="margin-top:10px">FILTER BY LOCATION</h5>
				<p class="right-header-xs bg{{queryURI.marketplace}}">GLOBAL ({{productCount.count}})</p>
				<ul class="right-list-view category-fixed">
					{{!-- {{#each locations.rows}}
				<li>
					<a {{#ifCond ../queryURI.location "==" this.id}} class="active" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 location=this.id) 'null'}}">
						<span>{{this.name}} ({{this.product_count}})</span>
					</a>
				</li>
				{{/each}} --}}
					{{#each countryProductCount.rows}}
						<li>
							<a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="listAGRICULTURE" class="collapsed coll" href="#list{{this.regionname}}">
							{{this.regionname}} ({{this.count}})</a>
							<ul class="inner-list-view collapse" id="list{{this.regionname}}">
								{{#each this.subCategory}}
									<li>
										<a {{#ifCond ../../queryURI.location "==" this.countryid}} class="active" {{/ifCond}} href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=1 location=this.countryid) 'null'}}">
											{{#if this.countryname}}
												<span>{{this.countryname}} ({{this.count}})</span>
											{{else}}
												<span>(No Country Found)</span>
											{{/if}}

										</a>
									</li>
								{{/each}}
							</ul>
						</li>
					{{/each}}

				</ul>
			{{/ifCond}}

			{{#ifCond marketplaceURl "==" 'lifestyle'}}
				<h5 class="right-header-sm" style="margin-top:10px">FILTER BY DURATION</h5>
				<p class="right-header-xs bg{{queryURI.marketplace}}">ALL TYPES ({{products.count}})</p>
				<ul class="right-list-view category-fixed">
					{{#each durations}}
						<li>
							<a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="listAGRICULTURE" class="collapsed coll" href="#list{{this.duration_type}}">{{this.duration}}</a>
							<ul class="inner-list-view collapse" id="list{{this.duration_type}}">
								{{#each this.innerDuration}}
									<li>
										<a href="../{{../../marketplaceURl}}/search?{{DurationCalculator ../../queryURI ../this.duration_type this.value}}">
											<span>{{this.label}}</span>
										</a>
									</li>
								{{/each}}
							</ul>
						</li>
					{{/each}}
				</ul>
			{{/ifCond}}
		</div>
		<div class="col-md-9">
			{{#if topFeaturedProducts.count}}
				<div class="search-sm-header">
					<div class="alignleft">
						<span class="text-sm">
							{{#ifCond queryURI.is_featured_product "!=" 1}}
								<strong>TOP PRODUCTS &nbsp;|&nbsp;
									<a href="/{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject is_featured_product=1) 'page'}}">SEE ALL</a>
								</strong>
			{{else}}
				<strong>ALL PRODUCTS &nbsp;|&nbsp;
					<a href="javascript:;" onclick="redirectBack()">SEE ALL PRODUCTS</a>
				</strong>
							{{/ifCond}}
						</span>

					</div>
					<div class="alignright">
						<small>Your product deserves to be on top
							<a href="/promote-store">Learn more about Top Ad feature.</a>
						</small>
					</div>
					<div style="clear: both;"></div>
				</div>
				{{#ifCond queryURI.is_featured_product "!=" 1}}
					<div class="search-list-body">
						<div class="row">
							{{#ifCond topFeaturedProducts.count '==' 0}}
								<div class="col-md-12">
									<p class="text-primary text-center no-margins">No featured products available.</p>
								</div>
							{{/ifCond}}
							{{#ifCond layout_type "==" 'grid'}}
								{{#each topFeaturedProducts.rows}}
									<div class="col-md-4">
										<div class="product-body">
											<div class="table-responsive">
												<table class="table shoping-cart-table">
													<tbody>
														<tr class="d-flex">
															<td class="col-3">
																<div class="product-left-col">
																	<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">
																		<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)" title="{{this.product_name}}">
																	</a>
																</div>
															</td>
															<td class="col-6">
																<div class="product-middle-col">
																	<h3>
																		<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue" title="{{this.product_name}}" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">
																			{{#if ../selectedMarketPlaceType}}{{../selectedMarketPlaceType.code}} - {{/if}}{{this.product_name}}</a>
																	</h3>
																	<div class="row no-margins">
																		<div class="col-md-4 col-4 no-padding">
																			<span>Origin</span>
																		</div>
																		<div class="col-md-8 col-8 no-padding overflow-txt">
																			<span class="text-500">{{this.Country.name}}</span>
																		</div>
																		<div class="col-md-4 col-4 no-padding">
																			<span>Category</span>
																		</div>
																		<div class="col-md-8 col-8 no-padding overflow-txt">
																			<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																			 title="{{Titlecase this.Category.name}} > {{this.SubCategory.name}}">{{Titlecase this.Category.name}} > {{this.SubCategory.name}}</a>
																		</div>
																		<div class="col-md-4 col-4 no-padding">
																			<span>Seller</span>
																		</div>
																		<div class="col-md-8 col-8 no-padding overflow-txt">
																			{{#if ../LoggedInUser.email}}
																				<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																			{{else}}
																				<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																			{{/if}}
																		</div>
																	</div>
																</div>
															</td>
															<td class="col-3">
																<div class="product-right-col">
																	{{#ifCond this.Marketplace.id '==' 1}}
																		<h4>MOQ : {{this.moq}}</h4>
																	{{/ifCond}}
																	{{#ifCond this.Marketplace.id '!=' 1}}
																		<h2 class="text-red">{{!-- ${{this.product_price}} --}}</h2>
																	{{/ifCond}}
																	<div class="prc-bottom">
																		<p>Seller Rating</p>
																		<div class="p-rating pull-right">
																			<a href="{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								{{/each}}
							{{/ifCond}}

							{{#ifCond layout_type "==" "list"}}
								{{#each topFeaturedProducts.rows}}
									<div id="GR_list" class="table-responsive">
										<table class="table shoping-cart-table">
											<tbody>
												<tr class="d-flex">
													<td class="col-2">
														<div class="product-left-col">
															<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">
																<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)" title="{{this.product_name}}">
															</a>
														</div>
													</td>
													<td class="col-7">
														<div class="product-middle-col">
															<h3>
																<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">
																	{{#if ../selectedMarketPlaceType}}{{../selectedMarketPlaceType.code}} - {{/if}}{{this.product_name}}</a>
															</h3>
															<div class="row no-margins">
																<span>Origin&nbsp;:</span>
																<span class="text-500">&nbsp;{{this.Country.name}}&nbsp;|&nbsp;</span>

																<span>Category&nbsp;</span>
																<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
																 title="{{Titlecase this.Category.name}} > {{this.SubCategory.name}}">{{Titlecase this.Category.name}} > {{this.SubCategory.name}}&nbsp;|&nbsp;</a>

																<span>Seller&nbsp;</span>
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>

														<div class="row no-margins">
															<p class="description">{{this.product_description}}</p>
														</div>
													</td>
													<td class="col-3">
														<div class="product-right-col">
															{{#ifCond this.marketplace_id '==' 1}}
																<h4>MOQ : {{this.minimum_order_quantity}}</h4>
															{{/ifCond}}
															{{#ifCond this.marketplace_id '!=' 1}}
																<h2 class="text-red">{{!-- ${{this.product_price}} --}}</h2>
															{{/ifCond}}
															<div class="prc-bottom">
																<p>Seller Rating</p>
																<div class="p-rating pull-right">
																	<a href="{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																		{{starCount product_rating}}
																	</a>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								{{/each}}
							{{/ifCond}}
						</div>
					</div>
				{{/ifCond}}
				{{!-- {{else}} --}}

			{{/if}}

			{{#if queryURI.is_featured_product}}
			{{else}}
				<div class="search-sm-header">
					<br>
				</div>
			{{/if}}
			<div class="search-list-body">

				{{#if products.count}}

					<div class="row">
						{{#ifCond layout_type "==" "list"}}
							{{#each products.rows}}
								<div id="GR_list" class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)" title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3>
															<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">
																{{#if ../selectedMarketPlaceType}}{{../selectedMarketPlaceType.code}} - {{/if}}{{this.product_name}}</a>
														</h3>

														<div class="row no-margins">
															<span>Origin&nbsp;:</span>
															<span class="text-500">&nbsp;{{this.Country.name}}&nbsp;|&nbsp;</span>

															<span>Category&nbsp;</span>
															<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}"
															 title="{{Titlecase this.Category.name}} > {{this.SubCategory.name}}">{{Titlecase this.Category.name}} > {{this.SubCategory.name}}&nbsp;|&nbsp;</a>

															<span>Seller&nbsp;</span>
															{{#if ../LoggedInUser.email}}
																<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
															{{else}}
																<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
													<div class="row no-margins">
														<p class="description">{{this.product_description}}</p>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{#ifCond this.Marketplace.id '==' 1}}
															<h4>MOQ : {{this.moq}}</h4>
														{{/ifCond}}
														{{#ifCond this.Marketplace.id '!=' 1}}
															{{#if this.product_discounted_price}}
																<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
																<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;
																	<strong>SAVE ${{this.discount}}</strong>
																</small>
															{{else}}
																<h2 class="price-flag">{{currency this.price '$'}}</h2>
															{{/if}}
														{{/ifCond}}
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							{{/each}}
						{{/ifCond}}

						{{#ifCond layout_type "==" "grid"}}
							{{#each products.rows}}
								<div class="col-md-4">
									<div class="product-body">
										<div id="GR_grid" class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<div class="product-left-col">
																<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">
																	<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)" title="{{this.product_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3>
																	{{#if ../selectedMarketPlaceType}}
																		{{#ifCond ../selectedMarketPlaceType.id '==' 1}}
																			<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag"
																			{{else}} class="text-black" {{/if}} title="{{this.product_name}}">
																				{{../selectedMarketPlaceType.code}} - {{this.product_name}}</a>
																		{{else}}
																			<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-black" title="{{this.product_name}}">
																				{{../selectedMarketPlaceType.code}} - {{this.product_name}}</a>
																		{{/ifCond}}										
																	{{else}}
																		<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag"
																		 {{else}} class="text-black" {{/if}} title="{{this.product_name}}">
																			{{this.product_name}}</a>
																	{{/if}}
																</h3>
																<div class="row no-margins">
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.category_id}}&sub_category={{this.SubCategory.id}}"
																		 title="{{Titlecase this.Category.name}} > {{this.SubCategory.name}}">{{Titlecase this.Category.name}} > {{this.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		{{#if ../LoggedInUser.email}}
																			<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																		{{else}}
																			<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																		{{/if}}
																	</div>
																	{{#ifCond this.MarketplaceType.id '==' 3}}
																		<div class="col-md-5 col-5 no-padding">
																			<span>Seller Rating</span>
																		</div>
																		<div class="col-md-7 col-7 no-padding overflow-txt">
																			<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	{{/ifCond}}
																	{{#ifCond this.MarketplaceType.id '==' 4}}
																		<div class="col-md-5 col-5 no-padding">
																			<span>Seller Rating</span>
																		</div>
																		<div class="col-md-7 col-7 no-padding overflow-txt">
																			<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	{{/ifCond}}
																</div>
															</div>
														</td>
														<td class="col-3">
															<div class="product-right-col">
																{{#ifCond this.Marketplace.id '==' 1}}
																	{{#ifCond this.MarketplaceType.id '==' 1}}
																		{{#if this.product_discounted_price}}
																			<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
																		{{/if}}
																		<h4>MOQ : {{this.moq}}</h4>
																	{{/ifCond}}
																	{{#ifCond this.MarketplaceType.id '==' 2}}
																		{{!-- {{#if this.product_discounted_price}}
																			<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
																		{{/if}} --}}
																		<h4>MOQ : {{this.moq}}</h4>
																	{{/ifCond}}
																	{{#ifCond this.MarketplaceType.id '==' 3}}
																		<h4>MOQ : {{this.moq}}</h4>

																		<a {{#if ../LoggedInUser.email}} href="vendor/{{this.Vendor.id}}" {{else}} href="/login" {{/if}}>
																			<img class="object-fit" src="{{this.Vendor.vendor_profile_pic_url}}" alt="{{this.product_name}}" onError="imgError(this)"
																			 title="{{this.product_name}}" style="border-radius:50%">
																		</a>

																		{{!-- {{#if this.product_discounted_price}}
																			<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
																		{{/if}} --}}
																	{{/ifCond}}
																	{{#ifCond this.MarketplaceType.id '==' 4}}
																		<h4>MOQ : {{this.moq}}</h4>
																		<a {{#if ../LoggedInUser.email}} href="vendor/{{this.Vendor.id}}" {{else}} href="/login" {{/if}}>
																			<img class="object-fit" src="{{this.Vendor.vendor_profile_pic_url}}" alt="{{this.product_name}}" onError="imgError(this)"
																			 title="{{this.product_name}}" style="border-radius:50%;">
																		</a>
																		{{!-- {{#if this.product_discounted_price}}
																			<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
																		{{/if}} --}}
																	{{/ifCond}}
																{{/ifCond}}
																{{#ifCond this.Marketplace.id '!=' 1}}
																	{{#if this.product_discounted_price}}
																		<h2 class="discount-price-flag">{{currency this.product_discounted_price '$'}}</h2>
																		<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;
																			<strong>SAVE ${{this.discount}}</strong>
																		</small>
																	{{else}}
																		<h2 class="price-flag">{{currency this.price '$'}}</h2>
																	{{/if}}
																{{/ifCond}}
																{{#ifCond this.MarketplaceType.id '==' 3}}
																{{else ifCond this.MarketplaceType.id '==' 4}}
																{{else ifCond this.MarketplaceType.id '==' 2}}
																	<div class="prc-bottom">
																		<p>Seller Rating</p>
																		<div class="p-rating pull-right">
																			<a href="{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	</div>
																{{else}}
																	<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
																		<p>Seller Rating</p>
																		<div class="p-rating pull-right">
																			<a href="{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	</div>
																{{/ifCond}}
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{{/each}}
						{{/ifCond}}
					</div>

				{{/if}}
			</div>
			{{#ifCond products.count '==' 0 }}
				<div class="search-sm-header">
					<div class="alignleft">
						<span class="text-sm">
							<strong>ALL PRODUCTS </strong>
						</span>
					</div>
				</div>
				<br>
				<p class="text-primary text-center no-margins">No products available.</p>
			{{/ifCond}}
			{{#if products.count }}
				<div class="search-sm-header">
					<br>
				</div>
			{{/if}}
			{{!-- {{products.count}}/{{queryPaginationObj.limit}} --}}
			{{#ifCond products.count '>' queryPaginationObj.limit}}
				<div class="row m-t-sm">
					<div class="col-md-12">
						{{#pagination products.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									{{#unless startFromFirstPage}}
										<li class="page-item-prev" style="margin-left:-391px;">
											<a href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">
												<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
										</li>
									{{/unless}}

									{{#each pages}}
										<li class="page-item {{#if isCurrent}} active {{/if}}">
											<a class="page-link" href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
										</li>
									{{/each}}

									{{#unless endAtLastPage}}
										<li class="page-item-next" style="margin-right:-391px;">
											<a href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
												<i class="fa fa-angle-double-right"></i>
											</a>
										</li>
									{{/unless}}

								</ul>
							</nav>
						{{/pagination}}
					</div>
				</div>
			{{/ifCond}}


			{{!-- test --}}

			{{!-- {{#ifCond products.count '>' queryPaginationObj.limit}}
				<div class="row m-t-sm">
					<div class="col-md-12">
						{{#pagination products.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									{{#unless startFromFirstPage}}
											<li class="page-item">
											<a class="page-link" href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}"><i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
										</li>
									{{/unless}}

									{{#each pages}}
										<li class="page-item {{#if isCurrent}} active {{/if}}">
											<a class="page-link" href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
										</li>
									{{/each}}

									{{#unless endAtLastPage}}
											<li class="page-item">
												<a class="page-link" href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;<i class="fa fa-angle-double-right"></i></a>
											</li>
									{{/unless}}
								</ul>
							</nav>
						{{/pagination}}
					</div>
				</div>
				{{/ifCond}} --}}
		</div>
	</div>
</div>
<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" align="center">
			<div class="row">
				<div class="col-md-12">
					<div class="row geo_bgimg1">
						<div class="row">
							<div class="col-md-12 offset-md-0">
								<h1>LIKE WHAT YOU SEE?</h1>
								<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
								<p class="modal_why_geo_p">If you' d like uninterrupted access to our wholesale marketplace, we need you to create an account with Global Trade
									Connect
								</p>
							</div>
						</div>
						<div class="gtc-container banner-padding">
							<div class="home-banner-right">
								<div class="row">
									<div class="col-md-12 offset-md-0">
										<div class="signup-box">
											<div class="col-md-6 offset-md-6">
												<small id="modelSignUpErrorLog" class="error"></small>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="signup-left">
														<ul>
															<li>
																<a id="modal-gtc-fb-login">
																	<img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
																</a>
															</li>
															<li>
																<a id="modal-gtc-google-login">
																	<img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
																</a>
															</li>
															<li>
																<a id="modal-gtc-twitter-login">
																	<img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
																</a>
															</li>
															<li>
																<a id="modal-gtc-linkedin-login">
																	<img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
																</a>
															</li>
															<li>
																<div class="form-group" style="padding:4px">
																	<p class="modal_sign">Already have a Account?</p>
																	<button type="submit" onclick="window.location.href='/login'" id="modelBtnLogin" class="btn btn-small btn-success">
																		<strong>LOGIN</strong>
																	</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<h2 class="divider-line" style="z-index:1">
													<span class="text-black">OR</span>
												</h2>
												<div class="col-md-6 signup-right">
													<form id="modelSignUpForm" class="form">
														<div class="row">
															<div class="col">
																<div class="form-group m-b-xs">
																	<input type="email" id="modelInputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Email" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="text" id="modelInputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="First Name" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="password" id="modelInputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Password" required="true">
																</div>
																<div class="form-group">
																	<input type="checkbox" id="modelInputTerms" name="input_terms" required="true">
																	<small>Accept terms and conditions</small>
																</div>
																<div class="form-group">
																	<button type="submit" id="modelBtnSignup" class="btn btn-small btn-block btn-danger">
																		<strong>CREATE ACCOUNT</strong>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer/bottom-footer}}