<script type="text/javascript">
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		} else {
			return uri + separator + key + "=" + value;
		}
	}

	function appendLocation(location) {
		var url = window.location.search;
		var arr = url.split("&location")[0];
		console.log("arr", arr);
		var newQuery = arr + "&location=" + location;
		window.location.href = window.location.origin + "/search" + newQuery;
	}

	function global() {
		var url = window.location.search;
		var arr = url.split("&location")[0];
		var newQuery = arr;
		window.location.href = window.location.origin + "/search" + newQuery;
	}

	function globalSearch() {
		window.location.href = window.location.origin + "/search";
	}

<<<<<<< HEAD
	howMany = 10;
	listButton = $('button.list-view');
	gridButton = $('button.grid-view');
	wrapper = $('div.wrapper');

	div = '<div class="item"><a href="javascript:void(0);"><img src="http://files.braadmartin.com/gretsch-catalina-club-in-natural.jpg" /></a><div class="details"><h2>Gretsch Catalina Club Jazz</h2><span>Yours for only <span class="price">$599.99</span></span><p>What a classic kit! Available in several great colors, including Natural (shown), Walnut Glaze, White Marine, Copper Sparkle, and Black Galaxy. Every drummer needs one of these.</p></div></div>';

	// Set up divs
for (i = 0; i < howMany; i++) { 
	$('.wrapper').append( div );  
}

listButton.on('click',function(){
	
  gridButton.removeClass('on');
  listButton.addClass('on');
  wrapper.removeClass('grid').addClass('list');
  
});

gridButton.on('click',function(){
	
  listButton.removeClass('on');
  gridButton.addClass('on');
  wrapper.removeClass('list').addClass('grid');
  
});

</script>


	{{!-- // <script>
	// // Get the elements with class="column"
	// var elements = document.getElementsByClassName("column");

	// // Declare a loop variable
	// var View;

	// // List View
	// function listView() {
	//     for (view = 0; view < elements.length; view++) {
	//         elements[view].style.width = "100%";
	//     }
	// }

	// // Grid View
	// function gridView() {
	//     for (view = 0; view < elements.length; view++) {
	//         elements[view].style.width = "50%";
	//     }
	// }

	//  Optional: Add active class to the current button (highlight it) 
	// var container = document.getElementById("btnContainer");
	// var btns = container.getElementsByClassName("view_button");
	// for (var view = 0; i < btns.length; i++) {
	//   btns[view].addEventListener("click", function(){
	//     var current = document.getElementsByClassName("active");
	//     current[0].className = current[0].className.replace(" active", "");
	//     this.className += " active";
	//   });
	// }
	// </script>
 --}}

=======
>>>>>>> d0ed6c18376e4999b842a94120baeb8cc8f37e21
{{> header/defaultHeader LoggedInUser = LoggedInUser}}
<section>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="breadcrumb" style="padding: 8px;">
						<li>
							<a href="#" class="active">North America</a>
						</li>
						{{#if selectedMarketPlace}}
						<li>
							<a href="#" class="active">{{selectedMarketPlace.name}}</a>
						</li>
						{{/if}}
						<li>Search</li>
					</ul>
				</div>
				<div class="col-md-6">
					<p class="see_all float-right" style="margin: 10px;">
						<i class="fas fa-star" style="color: #C80527;"></i> POST AN AD IN THIS CATEGORY
						<i class="fa fa-caret-right"></i>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-7">
					<p class="showing_res1" style="font-size:18px">Showing
						<b>{{SUMFloat queryPaginationObj.offset 1}}-{{SUMFloat queryPaginationObj.limit queryPaginationObj.offset}}</b> of
						<b>{{productResults.count}}</b> Products matching
						{{#if queryPaginationObj.keyword}}
						<span><b>"{{queryPaginationObj.keyword}}"</b>{{/if}}</span>
						{{#if selectedMarketPlace}}
						in the <span class="showing_global_col">{{selectedMarketPlace.name}}</span>
						{{/if}}
					</p>
				</div>
					


				
						<div class="col-md-4">
						
							<div class="buttons">
								<a>view</a>
  								<button class="Views-button"><i class="fa fa-th-large "></i></button>
  								<button class="Views-button"><i class="fa fa-list"></i></button>
  								<a>Sort by</a><select class="geo_textbox"style="width:30%"><option>Alphabetical</option></select>
							</div>
								
						</div>
					</div>
				

			

			<div class="row">
				<div class="col-md-3 showing_categ">
					<p><b>FILTER BY CATEGORY</b></p>
					<p class="cat_bg_title">
						<a href="../search?{{QueryParams queryURI (FrameObject page=1) 'category&sub_category'}}">
							<span>ALL CATEGORIES ({{categories.count}})</span>
						</a>
					</p>
					<div class="list-group panel category-fixed">
						<ul class="list-group">
							{{#each categories.rows}}
							<li class="list-group-item">
								<a data-toggle="collapse" href="#collapseCategory{{this.id}}" role="button" aria-expanded="true" aria-controls="collapseCategory{{this.id}}">
									<span>{{this.name}} ({{this.product_count}})</span>
								</a>
								<ul class="list-group collapse {{#ifCond ../queryURI.category '==' this.id }} show {{/ifCond}}" id="collapseCategory{{this.id}}">
									{{#each this.SubCategories}}
									<li class="list-group-item">
										<a {{#ifCond ../../selectedSubCategory "==" this.id}} class="text-black" {{/ifCond}} href="../search?{{QueryParams ../../queryURI (FrameObject page=1 category=../this.id sub_category=this.id) 'null'}}">
											<span>{{this.name}}</span>
										</a>
										<ul></ul>
									</li>
									{{/each}}
								</ul>
							</li>
							{{/each}}
						</ul>
					</div>
					<p style="margin-top: 20px;"><b>FILTER BY TYPE</b></p>
					<p class="cat_bg_title">
						<a href="../search?{{QueryParams queryURI (FrameObject page=1 marketplace=marketPlace.WHOLESALE) 'marketplace_type'}}">
							<span>ALL TYPES ({{marketPlaceTypes.count}})</span>
						</a>
					</p>
					<div class="list-group panel">
						<ul class="list-group">
							{{#each marketPlaceTypes.rows}}
							<li class="list-group-item">
								<a {{#ifCond ../selectedMarketPlaceType "==" this.id}} class="text-black" {{/ifCond}} href="../search?{{QueryParams ../queryURI (FrameObject page=1 marketplace=../marketPlace.WHOLESALE marketplace_type=this.id) 'null'}}">
									<span>{{this.code}} - {{this.name}} ({{this.product_count}})</span>
								</a>
							</li>
							{{/each}}
						</ul>
					</div>
					<p style="margin-top: 20px;"><b>FILTER BY LOCATION</b></p>
					<p class="cat_bg_title">
						<a href="../search?{{QueryParams queryURI (FrameObject page=1) 'location'}}">
							<span>GLOBAL ({{locations.count}})</span>
						</a>
					</p>
					<div class="list-group panel category-fixed">
						<ul class="list-group">
							{{#each locations.rows}}
								<li class="list-group-item">
									<a {{#ifCond ../selectedLocation "==" this.id}} class="text-black" {{/ifCond}} href="../search?{{QueryParams ../queryURI (FrameObject page=1 location=this.id) 'null'}}">
										<span>{{this.name}} ({{this.product_count}})</span>
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row col-md-12 showing_categ" style="padding: 6px; margin-bottom: 10px;">
						<div class="col-md-6">
							<p style="margin-bottom: 0px">
								<b>TOP PRODUCTS |
									<a href="#">SEE ALL</a>
									<i class="fas fa-caret-right"></i>
								</b>
							</p>
						</div>
						<div class="col-md-6">
							<p style="margin-bottom: 0px;" class="float-right">Your product deserves to be on top.
								<span style="color: #8999C0;">Learn more about our Top Ad feature.</span>
							</p>
						</div>
					</div>

						
					<div class="container">
						{{#ifCond topFeaturedProducts.count '==' 0}}
						<div class="col-md-12">
							<p class="text-primary text-center no-margins">No featured products available.</p>
						</div>
						{{/ifCond}}
						{{#each topFeaturedProducts.rows}}
						<div class="col-md-6 common_top">
							<div class="row">
								<div class="col-md-3">
									<img class="product-img-sm obj-fit" src="{{this.product_base_image}}">
								</div>
								<div class="col-md-9">
									<div class="row common_padding">
										<div class="col-md-8">
											<p class="wts_header">
												<a href="/product/{{this.product_slug}}/{{this.id}}">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}}{{this.product_name}}</a>
											</p>
										</div>
										{{#if this.minimum_order_quantity}}
										<div class="col-md-4">
											<p>MOQ: {{this.minimum_order_quantity}}</p>
										</div>
										{{/if}}
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Origin</p>
										</div>
										<div class="col-md-5">
											<p>{{this.country_name}}</p>
										</div>
										<div class="col-md-4">
											<p>&nbsp;</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Category</p>
										</div>
										<div class="col-md-5">
											<p>{{this.category_name}} - {{this.sub_category_name}}</p>
										</div>
										<div class="col-md-4">
											<p>Seller Rating</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Seller</p>
										</div>
										<div class="col-md-5">
											<p>{{#if ../LoggedInUser.email}}
												<a>{{this.vendor_name}}</a>
												{{else}}
												<a href="/login">(Login for Seller Info)</a>
											{{/if}}</p>
										</div>
										<div class="col-md-4">
											<p>{{ starCount this.product_rating}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					<div class="row col-md-12 showing_categ" style="padding: 6px;margin-top: 10px; margin-bottom: 10px;">
					</div>

						{{#ifCond productResults.count '==' 0}}
						<div class="col-md-12">
							<p class="text-primary text-center no-margins">No products available.</p>
						</div>
						{{/ifCond}}
						{{#each productResults.rows}}
						<div class="col-md-6 common_top">
							<div class="row">
								<div class="col-md-3">
									<img class="product-img-sm obj-fit" src="{{this.product_base_image}}">
								</div>
								<div class="col-md-9">
									<div class="row common_padding">
										<div class="col-md-8">
											<p class="wts_header">
												<a href="/product/{{this.product_slug}}/{{this.id}}">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}} {{this.product_name}}</a>
											</p>
										</div>
										{{#if this.minimum_order_quantity}}
										<div class="col-md-4">
											<p>MOQ: {{this.minimum_order_quantity}}</p>
										</div>
										{{/if}}
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Origin</p>
										</div>
										<div class="col-md-5">
											<p>{{this.country_name}}</p>
										</div>
										<div class="col-md-4">
											<p>&nbsp;</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Category</p>
										</div>
										<div class="col-md-5">
											<p>{{this.category_name}} - {{this.sub_category_name}}</p>
										</div>
										<div class="col-md-4">
											<p>Seller Rating</p>
										</div>
									</div>
									<div class="row common_padding">
										<div class="col-md-3">
											<p>Seller</p>
										</div>
										<div class="col-md-5">
											<p>{{#if ../LoggedInUser.email}}
												<a>{{this.vendor_name}}</a>
												{{else}}
												<a href="/login">(Login for Seller Info)</a>
												{{/if}}
											</p>
										</div>
										<div class="col-md-4">
											<p>{{ starCount this.product_rating}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
					<div class="row col-md-12 showing_categ" style="padding: 6px;margin-top: 10px; margin-bottom: 10px;">
					</div>
				</div>
			</div>
			{{#ifCond productResults.count '>' queryPaginationObj.limit}}
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-7">
					{{#pagination productResults.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							{{#unless startFromFirstPage}}
							<li class="page-item">
								<a class="page-link" href="../search?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
							</li>
							{{/unless}} {{#each pages}}
							<li class="page-item {{#if isCurrent}} active {{/if}}">
								<a class="page-link" href="../search?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
							</li>
							{{/each}} {{#unless endAtLastPage}}
							<li class="page-item">
								<a class="page-link" href="../search?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
							</li>
							{{/unless}}
						</ul>
					</nav>
					{{/pagination}}
				</div>
			</div>
			{{/ifCond}}
		</div>
	</section>
	{{> footer/footer}}