<script type="text/javascript">
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		} else {
			return uri + separator + key + "=" + value;
		}
	}

	function appendLocation(location) {
		var url = window.location.search;
		var arr = url.split("&location")[0];
		console.log("arr", arr);
		var newQuery = arr + "&location=" + location;
		window.location.href = window.location.origin + "/search" + newQuery;
	}

	function global() {
		var url = window.location.search;
		var arr = url.split("&location")[0];
		var newQuery = arr;
		window.location.href = window.location.origin + "/search" + newQuery;
	}

	function globalSearch() {
		window.location.href = window.location.origin + "/search";
	}

	function sortSearch(e) {
		var url = window.location.href;
		var uri = updateQueryStringParameter(url, 'field', e.value)
		window.location.href = uri;
	}

	function getPage(marketplaceURl, selectedMarketPlaceType) {
		console.log(marketplaceURl);
		console.log(selectedMarketPlaceType);
	}

	$(document).ready(function () {
	var userInfo = {{{ DisplayJSON LoggedInUser }}}

		$('#datepicker').datepicker({autoHide: true,to:true,startDate: new Date(moment().subtract(7,"days").format("YYYY-MM-DD").valueOf()),endDate: new Date()});

		$('#datepicker1').datepicker({autoHide: true,to:true,startDate: new Date(moment().subtract(1,"months").format("YYYY-MM-DD").valueOf()),endDate: new Date()});

		$('#datepicker2').datepicker({autoHide: true,to:true,startDate: new Date(moment().subtract(1,"year").format("YYYY-MM-DD").valueOf()),endDate: new Date()});

		$('#datepicker3').datepicker({autoHide: true,to:true,startDate: new Date(moment().subtract(10,"year").format("YYYY-MM-DD").valueOf()),endDate: new Date()});

		$("a[title='seller']").click(function () {
			console.log("clicked");
			if (userInfo.email) {
			} else {
				$('#myModal').modal('show');
			}
		});


		//var showChar = 175;
		//var ellipsestext = "...";
		// moretext = "see more ...";
		//var lesstext = "see less ...";

		//$('.description').each(function () {
		//	var content = $(this).html();

		//	if (content.length > showChar) {

		//		var c = content.substr(0, showChar);
		//		var h = content.substr(showChar, content.length - showChar);

		//		var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

		//		$(this).html(html);
		//	}

		//});

		//$(".morelink").click(function () {
		//	if ($(this).hasClass("less")) {
		//		$(this).removeClass("less");
		//		$(this).html(moretext);
		//	} else {
		//		$(this).addClass("less");
		//		$(this).html(lesstext);
		//	}
		//	$(this).parent().prev().toggle();
		//	$(this).prev().toggle();
		//	return false;
		//});

	});

</script>
{{!-- <style>
	li {
		list-style-type: none;
		position: relative;
		padding-left: 15px;
	}

	li:before {
		content: "\25BA \0020";
		font-size: 6px;
		position: absolute;
		top: 5px;
		left: -10px;
	}
</style> --}}
{{> header/top-header LoggedInUser = LoggedInUser}}

<div class="gtc-container">
	<div class="search-list-header">
		<div class="alignleft">
			<ul class="breadcrumb">
				<li>
					<a href="#" class="active">North America</a>
				</li>
				<li>
					<a href="#" class="active">{{Titlecase marketplaceURl}}</a>
				</li>
				<li>Search</li>
			</ul>
		</div>
		<div class="alignright">
			<div class="icon-post-ad">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
					<circle fill="#E44766" cx="12" cy="12" r="12"></circle>
					<path fill="#FFF" d="M12 0l2.7 8.3h8.7l-7 5.1 2.7 8.3-7.1-5.1-7.1 5.1 2.7-8.3-7-5.1h8.7z"></path>
				</svg>
				<a href="#">
					<span>POST AN AD IN THIS CATEGORY</span>
				</a>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="row m-t-sm">
			<div class="col-md-8">
				<h3>Showing
					<b>{{SUMFloat queryPaginationObj.offset 1}}-{{SUMFloat queryPaginationObj.limit queryPaginationObj.offset}}</b> of
					<b>{{productResults.count}} Products</b> matching {{#if queryPaginationObj.keyword}}
					<b>"{{queryPaginationObj.keyword}}"</b>
					{{/if}} {{#if selectedMarketPlace}}in the
					<b>{{selectedMarketPlace.name}}</b>
					{{/if}}
				</h3>
			</div>

			<div class="col-md-2">
				<div class="alignright">
					<label class="label-control m-r-md">View</label>

					<button type="submit" onclick="location.href = '../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject layout='grid') 'null'}}'"
					 class="btn btn-sm {{#ifCond queryURI.layout "==" 'grid'}}rounded {{/ifCond}} {{#ifCond queryURI.layout "==" 'list'}} btn-white{{/ifCond}}" >
						<i class="fa fa-th-large"></i>
					</button>
					<button type="submit" onclick="location.href = '../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject layout='list') 'null'}}'"
					 class="btn btn-sm {{#ifCond queryURI.layout "==" 'list'}}rounded {{/ifCond}} {{#ifCond queryURI.layout "==" 'grid'}} btn-white{{/ifCond}}" >
						<i class="fa fa-th-list"></i>
					</button>

				</div>
			</div>
			<div class="col-md-2">
				<form class="form-inline alignright">
					<div class="form-group">
						<label class="label-control m-r-md">Sort by</label>
						<div class="select-container">
							<select name="order" onchange="sortSearch(this)" class="form-control-customized rounded form-control-sm form-control-border" id="sortValue">
								<option disabled="true" selected>Sort by</option>
								<option value="product_name" >Alphabetical</option>
								<option value="created_on">Date</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row m-b-sm">
		<div class="col-md-3 showing_categ search-list-left">
			<p>
				<b>FILTER BY CATEGORY</b>
			</p>
			<p id="searchListCategory" class="cat_bg_title">
				<a href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1) 'category&sub_category'}}">
					<span>ALL CATEGORIES ({{categoriesWithCount.count}})</span>
				</a>
			</p>
			<div class="list-group panel category-fixed">
				<ul class="list-group">
					{{#each categoriesWithCount.rows}}
					<li class="list-group-item">
						<a data-toggle="collapse" href="#collapseCategory{{this.id}}" role="button" aria-expanded="true" class="collapsed coll" aria-controls="collapseCategory">

							<span>{{this.name}} ({{this.product_count}})</span>
						</a>
						{{!-- <a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="listAGRICULTURE" class="collapsed coll" href="#list{{this.name}}">{{this.name}} ({{this.product_count}})</a> --}}
						<ul class="list-group collapse {{#ifCond ../queryURI.category '==' this.id }} show {{/ifCond}}" id="collapseCategory{{this.id}}">
							{{#each this.SubCategories}}
							<li class="list-group-item">
								<a {{#ifCond ../../selectedSubCategory "==" this.id}} class="text-black" {{/ifCond}} href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=1 category=../this.id sub_category=this.id) 'null'}}">
									<span>{{this.name}}</span>
								</a>
								<ul></ul>
							</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}
					
				</ul>
			</div>
			{{#ifCond marketplaceURl "==" "wholesale"}}
			<p style="margin-top: 20px;">
				<b>FILTER BY TYPE</b>
			</p>
			<p id="searchListMarketplace" class="cat_bg_title">
				<a href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 marketplace=marketPlace.WHOLESALE) 'marketplace_type'}}">
					<span>ALL TYPES ({{marketPlaceTypes.count}})</span>
				</a>
			</p>
			<div class="list-group panel">
				<ul class="list-group">
					{{#each marketPlaceTypes.rows}}
					<li class="list-group-item">
						<a {{#ifCond ../selectedMarketPlaceType "==" this.id}} class="text-black" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 marketplace=../marketPlace.WHOLESALE marketplace_type=this.id) 'null'}}">
							<span>{{this.code}} - {{this.name}} ({{this.product_count}})</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{else ifCond marketplaceURl "==" "products"}}
			<p style="margin-top: 20px;">
				<b>FILTER BY TYPE</b>
			</p>
			<p id="searchListMarketplace" class="cat_bg_title">
				<a href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 marketplace=marketPlace.WHOLESALE) 'marketplace_type'}}">
					<span>ALL TYPES ({{marketPlaceTypes.count}})</span>
				</a>
			</p>
			<div class="list-group panel">
				<ul class="list-group">
					{{#each marketPlaceTypes.rows}}
					<li class="list-group-item">
						<a {{#ifCond ../selectedMarketPlaceType "==" this.id}} class="text-black" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 marketplace=../marketPlace.WHOLESALE marketplace_type=this.id) 'null'}}">
							<span>{{this.code}} - {{this.name}} ({{this.product_count}})</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			
			{{/ifCond}}

			{{#ifCond marketplaceURl "!=" "lifestyle"}}
			<p style="margin-top: 20px;">
				<b>FILTER BY LOCATION</b>
			</p>
			<p id="searchListLocation" class="cat_bg_title">
				<a href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1) 'location'}}">
					<span>GLOBAL ({{locations.count}})</span>
				</a>
			</p>
			<div class="list-group panel category-fixed">
				<ul class="list-group">
					{{#each locations.rows}}
					<li class="list-group-item">
						<a {{#ifCond ../selectedLocation "==" this.id}} class="text-black" {{/ifCond}} href="../{{../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=1 location=this.id) 'null'}}">
							<span>{{this.name}} ({{this.product_count}})</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/ifCond}}

			{{#ifCond marketplaceURl "==" 'lifestyle'}}
			<p style="margin-top: 20px;">
				<b>FILTER BY DURATION</b>
			</p>
			<p id="searchListLocation" class="cat_bg_title">
				<a href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1) 'null'}}">
					<span>ALL TYPES ({{categoriesWithCount.count}})</span>
				</a>
			</p>
			<div class="list-group panel">
				<ul class="list-group" id="menu">
					<li class="list-group-item">
						<a {{#ifCond queryURI.dateSelect "==" 'last7day'}}class="text-black"{{/ifCond}} {{#ifCond queryURI.dateSelect "!=" 'last7day'}}class="text-blue"{{/ifCond}} href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 dateSelect="last7day")'null'}}">
							<span>LESS THAN 1 WEEK</span>
						</a>
					</li>

					<li class="list-group-item">
						<a {{#ifCond queryURI.dateSelect "==" 'last30day'}}class="text-black"{{/ifCond}} {{#ifCond queryURI.dateSelect "!=" 'last30day'}}class="text-blue"{{/ifCond}} class="text-blue" href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 dateSelect="last30day") 'null'}}">
							<span>LESS THAN 1 MONTH</span>
						</a>
					</li>

					<li class="list-group-item">
						<a {{#ifCond queryURI.dateSelect "==" 'last1year'}}class="text-black"{{/ifCond}} {{#ifCond queryURI.dateSelect "!=" 'last1year'}}class="text-blue"{{/ifCond}} class="text-blue" href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 dateSelect="last1year") 'null'}}">
							<span>MONTHLY</span>
						</a>
					</li>

					<li class="list-group-item">
						<a {{#ifCond queryURI.dateSelect "==" 'last30year'}}class="text-black"{{/ifCond}} {{#ifCond queryURI.dateSelect "!=" 'last30year'}}class="text-blue"{{/ifCond}} class="text-blue" href="../{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject page=1 dateSelect="last30year") 'null'}}">
							<span>YEARLY</span>
						</a>
					</li>

				</ul>
			</div>
			{{/ifCond}}

		</div>


		<div class="col-md-9">
			<div class="search-sm-header">
				<div class="alignleft">
					<span class="text-sm">
						<strong>TOP PRODUCTS &nbsp;|&nbsp;
							<a href="/{{marketplaceURl}}/search?{{QueryParams queryURI (FrameObject is_featured_product=1) 'null'}}">SEE ALL</strong>
						</a>
					</span>
				</div>
				<div class="alignright">
					<small>Your product deserves to be on top
						<a href="#">Learn more about Top Ad feature.</a>
					</small>
				</div>
				<div style="clear: both;"></div>
			</div>

			<div class="search-list-body">
				<div class="row">
					{{#ifCond topFeaturedProducts.count '==' 0}}
					<div class="col-md-12">
						<p class="text-primary text-center no-margins">No featured products available.</p>
					</div>
					{{/ifCond}}

					{{#ifCond layout_type "==" 'grid'}}
					{{#each topFeaturedProducts.rows}}
					<div class="col-md-4">
						<div class="product-body">
							<div class="table-responsive">
								<table class="table shoping-cart-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-3">
												<div class="product-left-col">
													<img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
												</div>
											</td>
											<td class="col-6">
												<div class="product-middle-col">
													<h3>
														<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}}{{this.product_name}}</a>
													</h3>
													<div class="row no-margins">
														<div class="col-md-4 col-4 no-padding">
															<span>Origin</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<span class="text-500">{{this.country_name}}</span>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Category</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.category_id}}&sub_category={{this.sub_category_id}}" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
														</div>
														<div class="col-md-4 col-4 no-padding">
															<span>Seller</span>
														</div>
														<div class="col-md-8 col-8 no-padding overflow-txt">
															{{#if ../LoggedInUser.email}}
															<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
															{{else}}
                                                        <a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
															{{/if}}
														</div>
													</div>
												</div>
											</td>
											<td class="col-3">
												<div class="product-right-col">
													{{#ifCond this.marketplace_id '==' 1}}
													<h4>MOQ : {{this.minimum_order_quantity}}</h4>
													{{/ifCond}} {{#ifCond this.marketplace_id '!=' 1}}
													<h2 class="text-red">${{this.product_price}}</h2>
													{{/ifCond}}
													<div class="prc-bottom">
														<p>Seller Rating</p>
														<div class="p-rating pull-right">
															{{starCount product_rating}}
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{{/each}}
					{{/ifCond}}

					{{#ifCond layout_type "==" "list"}}
					{{#each topFeaturedProducts.rows}}
					<div id="GR_list" class="table-responsive">
						<table class="table shoping-cart-table">
							<tbody>
								<tr class="d-flex">
									<td class="col-2">
										<div class="product-left-col">
											<img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
										</div>
									</td>
									<td class="col-7">
										<div class="product-middle-col">
											<h3>
												<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}}{{this.product_name}}</a>
											</h3>

											<div class="row no-margins">
												<span>Origin&nbsp;:</span>
												<span class="text-500">&nbsp;{{this.country_name}}&nbsp;|&nbsp;</span>

												<span>Category&nbsp;</span>
												<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.category_id}}&sub_category={{this.sub_category_id}}" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}&nbsp;|&nbsp;</a>

												<span>Seller&nbsp;</span>
												{{#if ../LoggedInUser.email}}
												<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
												{{else}}
                                                        <a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
												{{/if}}
											</div>


											{{!--
											<div class="col-md-4 col-4 no-padding">
												<span>Origin</span>
											</div>
											<div class="col-md-8 col-8 no-padding overflow-txt">
												<span class="text-500">{{this.country_name}}</span>
											</div>

											<div class="col-md-4 col-4 no-padding">
												<span>Category</span>
											</div>
											<div class="col-md-8 col-8 no-padding overflow-txt">
												<a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
											</div>
											<div class="col-md-4 col-4 no-padding">
												<span>Seller</span>
											</div>
											<div class="col-md-8 col-8 no-padding overflow-txt">
												{{#if ../LoggedInUser.email}}
												<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
												{{else}}
												<a class="text-500" href="/login">(Login for Seller Info)</a>
												{{/if}}
											</div> --}}
										</div>

										<div class="row no-margins">
												<p class="description" >{{this.product_description}}</p>
										</div>
									</td>
									<td class="col-3">
										<div class="product-right-col">
											{{#ifCond this.marketplace_id '==' 1}}
											<h4>MOQ : {{this.minimum_order_quantity}}</h4>
											{{/ifCond}} {{#ifCond this.marketplace_id '!=' 1}}
											<h2 class="text-red">${{this.product_price}}</h2>
											{{/ifCond}}
											<div class="prc-bottom">
												<p>Seller Rating</p>
												<div class="p-rating pull-right">
													{{starCount product_rating}}
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					{{/each}}
					{{/ifCond}}
				</div>
			</div>

			<div class="search-xs-header">
			</div>

			<div class="search-list-body">
				<div class="row">
					{{#ifCond layout_type "==" "list"}}
					{{#each productResults.rows}}
					<div id="GR_list" class="table-responsive">
						<table class="table shoping-cart-table">
							<tbody>
								<tr class="d-flex">
									<td class="col-2">
										<div class="product-left-col">
											<img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
										</div>
									</td>
									<td class="col-7">
										<div class="product-middle-col">
											<h3>
												<a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-blue">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}}{{this.product_name}}</a>
											</h3>

											<div class="row no-margins">
												<span>Origin&nbsp;:</span>
												<span class="text-500">&nbsp;{{this.country_name}}&nbsp;|&nbsp;</span>

												<span>Category&nbsp;</span>
												<a class="text-500" href="{{../marketplaceURl}}/search?category={{this.category_id}}&sub_category={{this.sub_category_id}}" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}&nbsp;|&nbsp;</a>

												<span>Seller&nbsp;</span>
												{{#if ../LoggedInUser.email}}
												<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
												{{else}}
                                                        <a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
												{{/if}}
											</div>

											{{!--
											<div class="row no-margins">
												<div class="col-md-4 col-4 no-padding">
													<span>Origin</span>
												</div>
												<div class="col-md-8 col-8 no-padding overflow-txt">
													<span class="text-500">{{this.country_name}}</span>
												</div>

												<div class="col-md-4 col-4 no-padding">
													<span>Category</span>
												</div>
												<div class="col-md-8 col-8 no-padding overflow-txt">
													<a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
												</div>
												<div class="col-md-4 col-4 no-padding">
													<span>Seller</span>
												</div>
												<div class="col-md-8 col-8 no-padding overflow-txt">
													{{#if ../LoggedInUser.email}}
													<a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
													{{else}}
													<a class="text-500" href="/login">(Login for Seller Info)</a>
													{{/if}}
												</div>
											</div> --}}
										</div>
										<div class="row no-margins">
											<p class="description">{{this.product_description}}</p>
										</div>
									</td>
									<td class="col-3">
										<div class="product-right-col">
											{{#ifCond this.marketplace_id '==' 1}}
											<h4>MOQ : {{this.minimum_order_quantity}}</h4>
											{{/ifCond}} {{#ifCond this.marketplace_id '!=' 1}}
											<h2 class="text-red">${{this.product_price}}</h2>
											{{/ifCond}}
											<div class="prc-bottom">
												<p>Seller Rating</p>
												<div class="p-rating pull-right">
													{{starCount product_rating}}
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					{{/each}}
					{{/ifCond}}
					{{#ifCond layout_type "==" "grid"}}
					{{#each productResults.rows}}
					<div class="col-md-4">
						<div class="product-body">
							<div id="GR_grid" class="table-responsive">
								<table class="table shoping-cart-table">
								    <tbody>
								        <tr class="d-flex">
								            <td class="col-2">
								                <div class="product-left-col">
								                    <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
								                </div>
								            </td>
								            <td class="col-7">
								                <div class="product-middle-col">
								                    <h3>
								                        <a href="/{{../marketplaceURl}}/{{this.product_slug}}/{{this.id}}" class="text-black">{{#if ../marketPlaceTypeSelected}}{{../marketPlaceTypeSelected.code}} - {{/if}}{{this.product_name}}</a>
								                    </h3>
								                    <div class="row no-margins">
								                        <div class="col-md-4 col-4 no-padding">
								                            <span>Origin</span>
								                        </div>
								                        <div class="col-md-8 col-8 no-padding overflow-txt">
								                            <span class="text-500">{{this.country_name}}</span>
								                        </div>
								                        <div class="col-md-4 col-4 no-padding">
								                            <span>Category</span>
								                        </div>
								                        <div class="col-md-8 col-8 no-padding overflow-txt">
								                            <a class="text-500" href="{{../marketplaceURl}}/search?category={{this.category_id}}&sub_category={{this.sub_category_id}}" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
								                        </div>
								                        <div class="col-md-4 col-4 no-padding">
								                            <span>Seller</span>
								                        </div>
								                        <div class="col-md-8 col-8 no-padding overflow-txt">
								                        {{#if ../LoggedInUser.email}}
								                            <a class="text-500" title="{{this.vendor_name}}" href="/vendor/{{this.vendor_id}}">{{this.vendor_name}}</a>
								                        {{else}}
                                                        <a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
								                        {{/if}}
								                        </div>
								                    </div>
								                </div>
								            </td>
								            <td class="col-3">
								                <div class="product-right-col">
								                    {{#ifCond this.marketplace_id '==' 1}}
								                    <h4>MOQ : {{this.minimum_order_quantity}}</h4>
								                    {{/ifCond}}
								                    {{#ifCond this.marketplace_id '!=' 1}}
								                    <h2 class="text-red">${{this.product_price}}</h2>
								                    {{/ifCond}}
								                    <div class="prc-bottom">
								                        <p>Seller Rating</p>
								                        <div class="p-rating pull-right">
								                            {{starCount product_rating}}
								                        </div>
								                    </div>
								                </div>
								            </td>
								        </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div>
					{{/each}} {{/ifCond}}
				</div>
			</div>

			<div class="search-sm-header">
				<br>
			</div>

			{{#ifCond productResults.count '>' queryPaginationObj.limit}}
			<div class="row m-t-sm">
				<div class="col-md-12">
					{{#pagination productResults.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							{{#unless startFromFirstPage}}
							<li class="page-item">
								<a class="page-link" href="../{{../../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(DiffFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Previous</a>
								{{!-- <a class="page-link" >Previous</a> --}}
							</li>
							{{/unless}}

							{{#each pages}}
							<li class="page-item
							{{#if isCurrent}} active
							{{/if}}">
								<a class="page-link" href="../{{../../marketplaceURl}}/search?{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
							</li>
							{{/each}}

							 {{#unless endAtLastPage}}
							<li class="page-item">
								<a class="page-link" href="../{{../../marketplaceURl}}/search?{{QueryParams ../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next</a>
								{{!-- <a class="page-link" >Next</a> --}}
							</li>
							{{/unless}}

						</ul>
					</nav>
					{{/pagination}}
				</div>
			</div>
			{{/ifCond}}
		</div>
		{{!-- --}}

	</div>
</div>

{{!-- data-backdrop="static" data-keyboard="false" --}}
<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{!-- <div class="vertical-alignment-helper"> --}}
        <div class="modal-dialog">
            <div class="modal-content" align="center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row geo_bgimg1">

                            <div class="row">
                                <div class="col-md-12 offset-md-0">
                                    <h1>LIKE WHAT YOU SEE?</h1>
                                    <p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
                                    <p class="modal_why_geo_p">If you' d like uniterupted access to our wholesale marketplace, we need you to create
                                        an account with Global Trade Connect
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 offset-md-0">
                                    <div class="signup-box">
                                        <div class="col-md-6 offset-md-6">
                                            <small id="signUpErrorLog" class="error"></small>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="signup-left">
                                                    <ul>
                                                        <li>
                                                            <a id="gtc-fb-login">
                                                                <img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a id="gtc-google-login">
                                                                <img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a id="gtc-twitter-login">
                                                                <img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a id="gtc-linkedin-login">
                                                                <img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
                                                            </a>
                                                        </li>
														<li>
                                                        <div class="form-group" style="padding:4px">
                                                            <p class="modal_sign">Already have a Account?</p>
                                                            <button type="submit" onclick="window.location.href='/login'" id="btnLogin" class="btn btn-small btn-success">
                                                                <strong>Login</strong>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h2 class="divider-line">
                                                <span>OR</span>
                                            </h2>
                                            <div class="col-md-6 signup-right">
                                                <form id="signUpForm" class="form">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group m-b-xs">
                                                                <input type="email" id="inputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
                                                                    placeholder="Email" required="true">
                                                            </div>
                                                            <div class="form-group m-b-xs">
                                                                <input type="text" id="inputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
                                                                    placeholder="First Name" required="true">
                                                            </div>
                                                            <div class="form-group m-b-xs">
                                                                <input type="password" id="inputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
                                                                    placeholder="Password" required="true">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="checkbox" id="inputTerms" name="input_terms" required="true">
                                                                <small>Accept terms and conditions</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" id="btnSignup" class="btn btn-small btn-block btn-danger">
                                                                    <strong>CREATE ACCOUNT</strong>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{!-- </div> --}}
</div>

{{> footer/bottom-footer}}
