<section class="services_banner" style="margin-bottom: 0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 lstb1">
                <img src="../img/banner.jpg" alt="banner" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 lstb2">
                        <p>Trying to sell your subscription? Our network</p>
                        <p>has over 25,900 monthly users/buyers.</p>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="LIST MY PRODUCT" class="shop_checkout_btn" style="padding: 8px 20px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="box8" style="margin-bottom:0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 ts1">
                <h6 class="float-left">TOP SELLING SERVICE PROVIDERS</h6>
                <p class="float-right see_all">
                    <a href="#">SEE ALL</a>
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
            <div class="col-md-6 ts2">
                <h6 class="float-left">FEATURED SERVICES</h6>
                <p class="float-right see_all">
                    <a href="#">SEE ALL</a>
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="box4" style="margin-bottom:30px">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: 40</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>MOQ: 40</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header_red">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="wts_header_red">24h 12m left!</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header_red">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="wts_header_red">24h 12m left!</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-2">
                        <p class="hash_num">#1</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-7">
                        <div class="row common_padding">
                            <div class="col-md-12">
                                <p class="wts_header">
                                    <a href="#">Greate Earth Expeditions</a>
                                </p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-7">
                                <p>Canada</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Category</p>
                            </div>
                            <div class="col-md-7">
                                <p>Electronic - Phones</p>
                            </div>

                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Inventory</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <b>83749 Products</b> Listed
                                    <span class="wts_header_red">6 on Sale</span>
                                </p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-5">
                                <p>Seller Rating</p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header_red">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="wts_header_red">24h 12m left!</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header_red">
                                    <a href="#">WTS - iphone Pallets</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="wts_header_red">24h 12m left!</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>Canada</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>Electronic - Phones</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="box5" style="margin-bottom:0">
    <div class="container clearfix">
        <div class="row">

            <div class="col-md-12 pmp2">
                <h6 class="float-left">SERVICES MARKETPLACE</h6>
                <p class="float-right see_all">
                    <a href="#">SEE ALL</a>
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="box4" style="margin-bottom:20px;">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 ">
                <p class="see_all" style="margin: 10px;">Showing most recent 20 product of 60,000 products listed.</p>
            </div>
            <div class="col-md-6">
                <p class="see_all float-right" style="margin: 10px;">
                    <i class="fas fa-star" style="color: #C80527;"></i> POST AN AD IN THIS CATEGORY
                    <i class="fa fa-caret-right"></i>
                </p>
            </div>
        </div>
        <div class="row">
            {{#each serviceProduct}}
            <div class="col-md-3 common_top">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/iphone.png" style="width: 30px; height: 70px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row common_padding">
                            <div class="col-md-8">
                                <p class="wts_header">
                                    <a href="#">{{product_name}}</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>${{price}}</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Origin</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{origin}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Category</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{category}} > {{sub_category}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>Seller Rating</p>
                            </div>
                        </div>
                        <div class="row common_padding">
                            <div class="col-md-3">
                                <p>Seller</p>
                            </div>
                            <div class="col-md-5">
                                <p>(
                                    <b>Login for Seller Info</b>)</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                    <i class="fa fa-star" aria-hidden="true" style="color: #CDBE29;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>