{{> header/defaultHeader LoggedInUser = LoggedInUser}}
<section class="shop_banner" style="margin-bottom: 0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 lstb1">
                <img src="../img/banner.jpg" alt="banner" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 lstb2">
                        <p>Trying to sell your product? Our wholesale network</p>
                        <p>has over 25,900 monthly users/buyers.</p>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="LIST MY PRODUCT" class="shop_checkout_btn" style="padding: 8px 20px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>TOP SELLING PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each retailers}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-12 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">{{Titlecase this.vendor_name}}</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            {{!-- <div class="sm-text">Category</div> --}}
                                                            <div class="sm-text">Inventory</div>
                                                            <div class="sm-text">Seller Rating</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            {{!-- <div class="sm-text">Electronics > Phones</div> --}}
                                                            <div class="sm-text">
                                                                <b>{{this.product_count}} Products</b> Listed</div>
                                                            <div class="sm-text">{{ starCount rating}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{!--
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title featured-product-bg">
                        <h5>FEATURED PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each featuredProducts}}
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">
                                                    <p class="doller_value_red">${{price}}</p>
                                                </div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>PUBLIC MARKETPLACE</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <p class="see_all" style="margin: 10px;">Showing most recent 20 product of 60,000 products listed.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="see_all float-right" style="margin: 10px;">
                                <i class="fas fa-star" style="color: #C80527;"></i> POST AN AD IN THIS CATEGORY
                                <i class="fa fa-caret-right"></i>
                            </p>
                        </div>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each publicMarketplace}}
                            <div class="col-md-3">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">
                                                        <a href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                    </h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="pull-right">${{price}}</div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer/footer}}