{{> header/top-header LoggedInUser = LoggedInUser}}

<section class="shop_banner" style="margin-bottom: 0">
	<div class="container-fluid full_view_pad clearfix">
          <div class="row">
              <div class="col-md-6 col-12 lstb1">
                  <img src="../img/banner.jpg" alt="banner" />
              </div>
              <div class="col-md-6 col-12">
                  <div class="row">
					<div class="col-md-8 col-12 lstb2">
						<p>Trying to sell your subscription? Our network</p>
						<p>has over 25,900 monthly users/buyers.</p>
					</div>
					<div class="col-md-4 col-12">
						<input type="submit" value="LIST MY PRODUCT" class="shop_checkout_btn" style="padding: 8px 20px;" />
					</div>
				  </div>
              </div>
          </div>
      </div>
</section>



<section style="margin-bottom: 20px;">
        <div class="marketplace-header-box"></div>
        <div class="container-fluid clearfix full_view_pad m-t-n-marketplace">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title ts1">
                        <h6 class="float-left">TOP SELLING PRODUCTS</h6>
                        <p class="float-right see_all">
                            <a href="/shop/search">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                    <div class="layout-group common_top">
                        <div class="row">
                            {{#each retailers}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom">
                                <div class="row">
                                    <div class="col-md-2 col-2 col-lg-2 col-xl-2">
                                        <p class="hash_num">#{{SUMFloat @index 1}}</p>
                                    </div>
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.url}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                        <div class="row common_padding">
                                            <div class="col-md-12">
                                                <p class="wts_header">
                                                    <a class="header_title" href="/">{{Titlecase this.vendor_name}}</a>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{this.origin}}</p>
                                            </div>
                                        </div>
                                        {{!-- <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>Electronic - Phones</p>
                                            </div>
                                        </div> --}}
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Inventory</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>
                                                    <b>{{this.product_count}} Products</b> Listed
                                                    <span class="wts_header_red">on Sale</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>Seller Rating</p>
                                            </div>
                                            <div class="col-md-7 col-7 col-lg-7 col-xl-7">
                                                <p>{{starCount rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
                    <div class="gtc-box-market-title ts2">
                        <h6 class="float-left">FEATURED PRODUCTS</h6>
                        <p class="float-right see_all">
                            <a href="/shop/search?is_featured_product=1">SEE ALL</a>
                            <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                    <div class="layout-group common_top">
                        <div class="row">
                            {{#each featuredProducts}}
                            <div class="col-md-6 col-lg-6 col-xl-6 common_bottom_extra">
                                <div class="row">
                                    <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                        <img src="{{this.product_base_image}}" class="img_fixed_height">
                                    </div>
                                    <div class="col-md-9 col-9 col-lg-9 col-xl-9">
                                        <div class="row common_padding">
                                            <div class="col-md-8 col-8 col-lg-8 col-xl-8">
                                                <p class="wts_header_red">
                                                    <a class="header_title" href="/product/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4 col-4 col-lg-4 col-xl-4">
                                                <p class="doller_value_red">${{this.product_price}}</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                                <p>Origin</p>
                                            </div>
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p>{{this.country_name}}</p>
                                            </div>
                                            <div class="col-md-4 col-4 col-lg-4 col-xl-4">
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                                <p>Category</p>
                                            </div>
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                                            </div>
                                            <div class="col-md-4 col-4 col-lg-4 col-xl-4">
                                                <p>Seller Rating</p>
                                            </div>
                                        </div>
                                        <div class="row common_padding">
                                            <div class="col-md-3 col-3 col-lg-3 col-xl-3">
                                                <p>Seller</p>
                                            </div>
                                            <div class="col-md-5 col-5 col-lg-5 col-xl-5">
                                                 {{#if ../LoggedInUser.email}}
                                                    <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                                {{else}}
                                                    <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                                {{/if}}
                                            </div>
                                            <div class="col-md-4 col-4 col-lg-4 col-xl-4">
                                                <p>{{ starCount product_rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



<section class="box5" style="margin-bottom:0">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              
              <div class="col-md-12 col-12 pmp1">
                  <h6 class="float-left">PUBLIC MARKETPLACE</h6>
                  <p class="float-right see_all"><a href="/shop/search">SEE ALL</a> <i class="fa fa-caret-right"></i></p>
              </div>
          </div>
      </div>
</section>


  <section class="box4" style="margin-bottom:20px;">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
				<div class="col-md-6 col-12 ">
					<p class="see_all" style="margin: 10px;">Showing most recent 20 product of 60,000 products listed.</p>
				</div>
				<div class="col-md-6 col-12">
					<p class="see_all float-right" style="margin: 10px;"><i class="fas fa-star" style="color: #C80527;"></i> POST AN AD IN THIS CATEGORY <i class="fa fa-caret-right"></i></p>
				</div>
			</div>
          <div class="row">
              {{#each publicMarketplace}}
              <div class="col-md-3 col-12 common_top">
                  <div class="row">
                      <div class="col-md-3 col-3">
                          <img src="{{this.product_base_image}}" class="img_fixed_height">
                      </div>
                      <div class="col-md-9 col-9">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header">
                                      <a class="header_title" href="wholesale/{{this.product_slug}}/{{this.id}}">WTS - {{this.product_name}}</a>
                                 </p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p class="custom_doller_value">${{product_price}}</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p>{{this.country_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-5">
                                     {{#if ../LoggedInUser.email}}
                                        <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                    {{else}}
                                        <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                    {{/if}}
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>{{starCount product_rating}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{/each}}
		    </div>
		</div>
</section>


{{> footer/bottom-footer}}