<style>
	#imageUpload {
		display: none;
	}

	#profileImage {
		cursor: pointer;
	}
</style>
<script>
	$(document).ready(function () {
		alert("comki");
		$("#profileImage").click(function (e) {
			alert("comming");
			$("#imageUpload").click();
		});
		function fasterPreview(uploader) {
			if (uploader.files && uploader.files[0]) {
				$('#UploadedImage').attr('src',
					window.URL.createObjectURL(uploader.files[0]));
			}
		}
		$("#imageUpload").change(function () {
			fasterPreview(this);
		});
		$("#userUpdateBtn").click(function (e) {
			e.preventDefault();
			var userUpdate = {};
			var vendorUpdate = {};
			var billingUpdate = {};
			var shippingingUpdate = {};
			userUpdate.first_name = $('#first_name').val(),
				userUpdate.last_name = $('#last_name').val(),
				vendorUpdate.contact_email = $('#contact_email').val(),
				vendorUpdate.UploadedImage = $('#UploadedImage').val(),
				billingUpdate.company_name = $('#b_company_name').val(),
				billingUpdate.address_line1 = $('#b_address1').val(),
				billingUpdate.address_line2 = $('#b_address2').val(),
				billingUpdate.b_country = $('#b_country').val(),
				billingUpdate.b_state = $('#b_state').val(),
				billingUpdate.b_city = $('#b_city').val(),
				billingUpdate.b_postal_code = $('#b_postal_code').val(),
		 });
	});
</script>
{{!-- <script>
	function change_b_Country(e) {
		$.ajax({
			url: '/api/states?country_id=' + e.value,
			type: 'GET',
			success: function (result) {
				$("#b_state").empty();
				for (var i = 0; i < result.rows.length; i++) {
					var options;
					options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
					$("#b_state").append(options)
				}
			},
			error: function (error) {
				console.log("Error", error);
			}
		});
	}		
</script>
<script>
	function change_s_Country(e) {
		$.ajax({
			url: '/api/states?country_id=' + e.value,
			type: 'GET',
			success: function (result) {
				$("#s_state").empty();
				for (var i = 0; i < result.rows.length; i++) {
					var options;
					options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
					$("#s_state").append(options)
				}
			},
			error: function (error) {
				console.log("Error", error);
			}
		});
	}		
</script> --}}
 {{> header/defaultHeader}} {{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<form id="userForm">
						<h5 style="padding-top: 20px;margin-bottom: 30px">Profile Settings</h5>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-6">
										<img src="../../img/login-facebook.png" style="width: 100%;margin-bottom: 5px;" alt="fb" />
										<img src="../../img/login-google.png" style="width: 100%;margin-bottom: 5px;" alt="fb" />
										<img src="../../img/login-twitter.png" style="width: 100%;margin-bottom: 5px;" alt="fb" />
										<img src="../../img/login-linkedin.png" style="width: 100%;margin-bottom: 30px;" alt="fb" />
									</div>
									<div class="col-md-6 text-center">
										<img id="UploadedImage" src="{{vendor.vendor_profile_pic_url}}" style="width: 70%; " alt="avt" />
										<p id="profileImage" class="text_blue_color">Change Avatar</p>
										<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p>Account Settings</p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id="first_name" placeholder="First Name" value="{{vendor.User.first_name}}" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />

									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id="last_name" placeholder="Last Name" value="{{vendor.User.last_name}}" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input readonly type="text" id="email" placeholder="Email" value="{{vendor.User.email}}" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id="password" placeholder="Password" class="vend_edit_lists_textstyle1" style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" placeholder="Confirm Password" class="vend_edit_lists_textstyle1" style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id="contact_email" placeholder="Contact Email" value="{{vendor.contact_email}}" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										<p>Billing Address</p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_company_name' placeholder="Company" value="{{billingAddress.company_name}}" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_address1' value="{{billingAddress.address_line1}}" placeholder="Address Line 1" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_address2' value="{{billingAddress.address_line2}}" placeholder="Address Line 2" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<select class="vend_edit_lists_dropdownstyle" id="b_country" name="country" onChange="change_b_Country(this);">
										<option disabled selected>Country</option>
										{{#each country}}
										<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
									{{!--
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_country' value="{{billingAddress.Country.name}}" placeholder="Country" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div> --}}
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<select class="vend_edit_lists_dropdownstyle" name="b_state" id="b_state" value="">
										<option disabled selected>State</option>
									</select>
									{{!--
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_state' value="{{billingAddress.State.name}}" placeholder="Province/State" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div> --}}
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_city' value="{{billingAddress.city}}" placeholder="City" class="vend_edit_lists_textstyle1" style="width: 80%"
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='b_postal_code' value="{{billingAddress.postal_code}}" placeholder="Postal Code" class="vend_edit_lists_textstyle1"
										 style="width: 80%" />
									</div>
								</div>
								<div class="row" style="margin-bottom: 20px;">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="checkbox"> My Shipping Address is the same as my billing address
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p>Shipping Address</p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_company_name' value="{{shippingAddress.company_name}}" placeholder="Company" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_address1' value="{{shippingAddress.address_line1}}" placeholder="Address Line 1" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_address2' value="{{shippingAddress.address_line2}}" placeholder="Address Line 2" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<select class="vend_edit_lists_dropdownstyle" id="country" name="s_country" onChange="change_s_Country(this);">
										<option disabled selected>Country</option>
										{{#each country}}
										<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
									{{!--
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_country' value="{{shippingAddress.Country.name}}" placeholder="Country" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
									</div> --}}
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									{{!-- <div class="col-md-8 common_padding1">
										<input type="text" id='s_state' value="{{shippingAddress.State.name}}" placeholder="Province/State" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
                                    </div> --}}
									<select class="vend_edit_lists_dropdownstyle" name="s_state" id="s_state" value="">
										<option disabled selected>State</option>
									</select>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_city' value="{{shippingAddress.city}}" placeholder="City" class="vend_edit_lists_textstyle1" style="width: 80%"
										 disabled />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p></p>
									</div>
									<div class="col-md-8 common_padding1">
										<input type="text" id='s_postal_code' value="{{shippingAddress.postal_code}}" placeholder="Postal Code" class="vend_edit_lists_textstyle1"
										 style="width: 80%" disabled />
									</div>
								</div>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								<button class="list_butt_1" type="button" id="userUpdateBtn">UPDATE</button>
								<button class="list_butt_2" type="reset" id="userCancelBtn">CANCEL</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="vend_edit_lists_pstyle"></p>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</section>
</body>

</html>
{{> footer/footer}}