{{> header/defaultHeader LoggedInUser = LoggedInUser}}
<section>
    <div class="banner_bg">
        <div class="container-fluid banner_bg_menu">
            <div class="">
                <div class="row prfl-wt-txt" style="top: -58px;">
                    <div class="col-md-2 common_padding1">
                        <a class="navbar-brand float-right" href="javascript:void(0)" style="margin-right: 0px;">
                            <img src="{{VendorDetail.vendor_profile_pic_url}}" width=154px height=154px />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="prf_landing_cmpy">{{VendorDetail.vendor_name}}</span>

                    </div>
                </div>
                <div class="row img-wt-menu">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10 common_padding1">
                        <nav class="navbar navbar-expand-lg">
                            <div class="collapse navbar-collapse" id="navb">
                                <!-- Links -->
                                {{> vendor/vendor-navbar VendorDetail = VendorDetail}}
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                    <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logged_in_cont">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-12 ">
                    {{> vendor/vendor-left VendorDetail = VendorDetail}}
                </div>
                <div class="col-md-10 col-12">
                    <div class="row pmp1">
                        <div class="col-md-5 col-12">
                            <h5>PRODUCT SHOP</h5>
                        </div>
                        <div class="col-md-2 col-12 common_padding1">
                            <p>Showing 1 - 20 of {{publicShop.count}}</p>
                        </div>
                        <div class="col-md-2 col-12 common_padding1">
                            <select class="geo_textbox">
                                <option>Sort by Newest</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-12" style="background-color: #fff;">
                            <section class="box6" style="margin-bottom: 20px;">
                                <div class="container clearfix">
                                    <div class="row">
                                        {{#each publicShop.rows}}
                                        <div class="col-md-4 col-12 common_top">
                                            <div class="row">
                                                <div class="col-md-3 col-2">
                                                    <img src="{{this.product_base_image}}" style="width: 30px; height: 70px;">
                                                </div>
                                                <div class="col-md-9 col-10">
                                                    <div class="row common_padding">
                                                        <div class="col-md-8 col-8">
                                                            <p class="wts_header">
                                                                <a href="wholesale/{{this.product_slug}}/{{this.id}}">{{this.product_name}}</a>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-4 col-4">
                                                            <p class="">${{this.product_price}}CAD</p>
                                                        </div>
                                                    </div>
                                                    <div class="row common_padding">
                                                        <div class="col-md-3 col-3">
                                                            <p>Origin</p>
                                                        </div>
                                                        <div class="col-md-5 col-5">
                                                            <p>{{this.country_name}}</p>
                                                        </div>
                                                        <div class="col-md-4 col-4">
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div>
                                                    <div class="row common_padding">
                                                        <div class="col-md-3 col-3">
                                                            <p>Category</p>
                                                        </div>
                                                        <div class="col-md-5 col-5">
                                                            <p>{{this.category_name}} - {{this.sub_category_name}}</p>
                                                        </div>
                                                        <div class="col-md-4 col-4">
                                                            <p>Seller Rating</p>
                                                        </div>
                                                    </div>
                                                    <div class="row common_padding">
                                                        <div class="col-md-3 col-3">
                                                            <p>Seller</p>
                                                        </div>
                                                        <div class="col-md-5 col-5">
                                                            <p>{{#if ../LoggedInUser.email}}
                                                              <a>{{this.vendor_name}}</a>
                                                              {{else}}
                                                              <a href="/login">(Login for Seller Info)</a>
                                                              {{/if}}</p>
                                                          </div>
                                                          <div class="col-md-4 col-4">
                                                            <p>{{ starCount product_rating}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-12 showing_categ">
                            <p>
                                <b>FILTER BY CATEGORY</b>
                            </p>
                            <p class="cat_bg_title_shp">ALL CATEGORIES ({{categories.count}})</p>
                            <div class="list-group panel ">
                                <ul class="list-group">
                                  {{#each categories.rows}}
                                  <li class="list-group-item">
                                    <a data-toggle="collapse" href="#collapseCategory{{this.id}}" role="button" aria-expanded="true" aria-controls="collapseCategory{{this.id}}">
                                      <span>{{this.name}} ({{this.product_count}})</span>
                                  </a>
                                  <ul class="list-group collapse" id="collapseCategory{{this.id}}">
                                      {{#each this.SubCategories}}
                                      <li class="list-group-item">
                                        <a {{#ifCond ../../selectedSubCategory "==" this.id}} class="text-black" {{/ifCond}} href="../search?page=1&category={{../this.id}}&vendor_id={{../../VendorDetail.id}}&sub_category={{this.id}}">
                                          <span>{{this.name}}</span>
                                      </a>
                                      <ul></ul>
                                  </li>
                                  {{/each}}
                              </ul>
                          </li>
                          {{/each}}
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </section>
  {{> footer/footer}}