<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDep_3sNz9G0wPjKYWvnQV-h-zuX427yI0"></script> 
<script type="text/javascript">

	$(document).ready(function() {
		initialize();
		$("#gtc-form-alert").hide();
		$('.hidden').hide();
		var test;
		var fileDetails = {};
		var cropperOutputImage;
		var cropBoxData, canvasData, cropper, cropperInputImage, vendor_cover_name, vendor_profile_name, vendor_cover_pic_obj, vendor_profile_pic_obj;

		var imagesPreview = function(uploader, placeToInsertImagePreview) {
			if (uploader.files && uploader.files[0]) {
				fileDetails["originalFileName"] = uploader.files[0]["name"].replace(/\.[^/.]+$/, "");
				fileDetails["originalExtension"] = uploader.files[0]["type"].split("/")[1];
				$('#uploaded-profile-picture').attr('src', window.URL.createObjectURL(uploader.files[0]));
				cropperInputImage = document.getElementById('uploaded-profile-picture');
				$('#profile-picture-modal').modal('show');
			}
		};

		$('#icon').on('change', function() {
			$('#popupSize').removeClass('modal-lg').addClass('modal-md');
			imagesPreview(this);
			test = 'div.icon';
		});

		$('#cover_pic').on('change', function() {
			$('#popupSize').removeClass('modal-md').addClass('modal-lg');
			imagesPreview(this);
			test = 'div.cov_pic';
		});

		$('#profile-picture-modal').on('shown.bs.modal', function() {
			if (test == 'div.icon') {
				cropper = new Cropper(cropperInputImage, {
					aspectRatio: 1 / 1,
					//minCropBoxHeight: 170,
					//minCropBoxWidth: 170,
					viewMode: 1,
					ready: function() {
						//cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					}
				});
			} else {
				cropper = new Cropper(cropperInputImage, {
					aspectRatio: 5 / 1,
					//minCropBoxHeight: 230,
					//minCropBoxWidth: 1200,
					viewMode: 1,
					ready: function() {
						//cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					}
				});
			}
		}).on('hidden.bs.modal', function() {
			cropBoxData = cropper.getCropBoxData();
			canvasData = cropper.getCanvasData();
			cropper.destroy();
		});

		$('#crop-profile-image').click(function() {
			cropper.getCroppedCanvas().toBlob(function(blob) {
				cropperOutputImage = blob;
				fileDetails["croppedExtension"] = blob["type"].split("/")[1];
				fileDetails["fileName"] = fileDetails["originalFileName"] + "." + fileDetails["croppedExtension"]
				if (test == 'div.icon') {
					vendor_profile_pic_obj = cropperOutputImage;
					vendor_profile_name = fileDetails["fileName"];
				} else {
					vendor_cover_pic_obj = cropperOutputImage;
					vendor_cover_name = fileDetails["fileName"];
				}
			});
			if (test == 'div.icon') {
				var temp = $($.parseHTML('<img style="width:170px; height:170px;">')).attr('src', cropper.getCroppedCanvas().toDataURL());
			} else {
				var temp = $($.parseHTML('<img style="width:400px; height:230px;">')).attr('src', cropper.getCroppedCanvas().toDataURL());
			}
			$(test).html(temp);
			$('#profile-picture-modal').modal('hide');
		});

		$("#vendorForm").submit(function(e) {
			e.preventDefault();	
			if ($('#vendorForm').valid()) {

				if ($('#latitude').val() == null || $('#latitude').val() == '') {  
					$('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
					$('#gtc-form-alert .form-message').text("Please locate your shop in the map.");
					$("#gtc-form-alert").fadeTo(7000, 500).slideUp(500, function() {
						$("#gtc-form-alert").slideUp(500);
					});
					return;
				}

				let input = $("#vendorForm :input").filter(function(index, element){
					return $(element).val() != '';
				}).serializeArray();

				var formData = new FormData();

				input.forEach(function(obj) {
					formData.append(obj.name, obj.value);
				});

				if (vendor_cover_pic_obj != {}) {
					formData.append('vendor_cover_picture', vendor_cover_pic_obj, vendor_cover_name);
				}

				if (vendor_profile_pic_obj != {}) {
					formData.append('vendor_profile_picture', vendor_profile_pic_obj, vendor_profile_name);
				}
				
				$.ajax({
					type: 'POST',
					url: '/api/vendor/starter-seller',
					data: formData,
					cache: false,
					processData: false,
					contentType: false,
					success: function(result) {
						window.location.href = '/dashboard-vendor-connect';
					},
					error: function(error) {
						$('#gtc-form-alert').removeClass('alert-success').addClass('alert-danger');
						$('#gtc-form-alert .form-message').text(error.responseText);
						$("#gtc-form-alert").fadeTo(7000, 500).slideUp(500, function() {
							$("#gtc-form-alert").slideUp(500);
						});
					}
				});
			}
		});

		$("#country").change(function() {
			var country_id = $('#country').val();

			$.ajax({
				url: '/api/states?country_id=' + country_id + '&field=name&order=asc',
				type: 'GET',
				success: function(result) {
					$("#state").empty();
					let selectOptionProvince = `<option selected disabled>Select Province...</option>`;
					$('#state').append(selectOptionProvince);
					for (var i = 0; i < result.rows.length; i++) {
						var options;
						options = "<option data-statename="+result.rows[i].name+" value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
						$("#state").append(options)
					}
				},
				error: function(error) {
					console.log("Error", error);
				}
			});
		});

		$('#city, #address, #state, #country').change(function() {

			var countryName, stateName, city, addressLine, address;
			countryName = $('option:selected', '#country').data('countryname');
			stateName = $('option:selected', '#state').data('statename');
			cityName = $('#city').val();
			addressLine = $('#address').val();

			if (countryName && stateName && cityName && addressLine) {
				address = addressLine + ',' + cityName + ',' + stateName + ',' + countryName;
				codeAddress(address);
			}			
		})

		$("#vendorForm").validate({
			rules: {
				vendor_name: "required",
				address: "required",
				base_location: "required",
				province_id: "required",
				city: "required",
				currency_id: "required",
				//vendorIcon: "required"
			},
			messages: {
				vendor_name: "Please enter vendor name",
				address: "Please enter vendor address",
				base_location: "Please select base location",
				province_id: "Please select province",
				city: "Please enter city",
				currency_id: "Please select currency",
				//vendorIcon: "Please choose vendor icon"
			}
		});
	});

	var geocoder, map, mapOptions, marker, latitude, longitude;
	function initialize() {
		geocoder = new google.maps.Geocoder();
		var latlng = new google.maps.LatLng(-34.397, 150.644);
		mapOptions = {
			zoom: 8,
			center: latlng
		}
		map = new google.maps.Map(document.getElementById('map'), mapOptions);
	}

	function codeAddress(address) {
		geocoder.geocode({ 'address': address }, function(results, status) {
			if (status == 'OK') {
				$('.hidden').show();
				map.setCenter(results[0].geometry.location);
				if (marker) {
    				marker.setMap(null);
  				}
				marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location 
				});

				var tempLat = results[0].geometry.location.lat();
				var tempLong = results[0].geometry.location.lng();

				latitude = toTrunc(tempLat,6);
				longitude = toTrunc(tempLong,6);

				$("#latitude").val(latitude);
				$("#longitude").val(longitude);

			} else {
				alert('Geocode was not successful for the following reason: ' + status);
			}
		});
	}

	function toTrunc(value,n){  
   		return Math.floor(value*Math.pow(10,n))/(Math.pow(10,n));
	}

</script> 
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}
<div class="modal fade" id="profile-picture-modal" tabindex="-1" role="dialog" aria-labelledby="profile-picture-modalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-md" role="document" id="popupSize">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profile-picture-modalLabel">Crop Profile Avatar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="margin-right:35px;">
				<div class="container">
					<img src="" style="max-width: 100% !important;" id="uploaded-profile-picture" alt="Profile Picture">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="crop-profile-image">Crop Image</button>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Become a Vendor</h2>
						</div>
						<div class="alert" id="gtc-form-alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="form-message"></span>
						</div>
						<div class="content-body">
							<form id="vendorForm" class="form">
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Vendor Name
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="vendor_name" class="form-control-customized form-control-sm" required="true" autofocus="true">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Address
												<span class="text-danger">*</span>
											</label>
											<input type="text" id="address" name="address" class="form-control-customized form-control-sm" required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Base Location
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="base_location" id="country"
												 required>
													<option disabled selected>Select Location...</option>
													{{#each country}}
														<option  data-countryname="{{this.name}}" value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Province
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="province_id" id="state"
												 required>
													<option disabled selected>Select Province...</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">City
												<span class="text-danger">*</span>
											</label>
											<input type="text" id="city" name="city" class="form-control-customized form-control-sm" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Currency
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="currency_id" id="inputGroupSelect01"
												 required>
													<option disabled selected>Select Currency...</option>
													{{#each currency}}
														<option value="{{this.id}}">{{ this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Timezone</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="timezone_id" id="inputGroupSelect02">
													<option disabled selected>Select Timezone...</option>
													{{#each timezone}}
														<option value="{{this.id}}">{{ this.timezone}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">About</label>
											<textarea class="form-control-customized" name="about" rows="6"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Vendor Icon
												{{!-- <span class="text-danger">*</span> --}}
											</label>
											<div class="input-group">
												<div class="custom-file custom_error_message">
													<input type="file" class="custom-file-input" id="icon" name="vendorIcon">
													<label class="custom-file-label customized-file-label" for="icon">Choose file</label>
												</div>
											</div>
											<span class="label-control">For ideal viewing experience please upload image with min dimension of 170px width & 170px height.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<div class="icon"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Cover Picture</label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input" id="cover_pic">
													<label class="custom-file-label customized-file-label" for="cover_pic">Choose file</label>
												</div>
											</div>
											<span class="label-control">For ideal viewing experience please upload image with min dimension of 1200px width & 230px height.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<div class="form-group">
											<div class="cov_pic"></div>
										</div>
									</div>
								</div>
								<div class="row hidden">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">Geo locate of your address:
												{{!-- <span class="text-danger">*</span> --}}
											</label>
											<div class="input-group">
												<input type="text" id="latitude" name="latitude" hidden>
												<input type="text" id="longitude" name="longitude" hidden>  
											</div>
										</div>
									</div>
								</div>
								<div class="row hidden">
									<div class="col-lg-8">
										<div class="form-group">
											<div id="map" style="width: 500px; height: 400px;"></div>
										</div>
									</div>
								</div>
								<div class="hr-line"></div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<button type="submit" class="btn btn-md btn-success m-t">SUBMIT</button>
											<button type="button" onclick="window.history.back();" class="btn btn-md btn-muted m-t">CANCEL</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}
