<script type="text/javascript">
$(document).ready(function() {

  $("#img1").hide();
  $("#img2").hide();
  $("#img3").hide();
  $("#img4").hide();

  $("#selectedFile").change(function() {
    $("#img1").show();
    $("#img1_old").hide();
    var type = $("input[name=personal_id_verification_file_type]:checked").val();
    console.log(type)
    if (!type) {
      alert("Select Proof Type");
    }
  });
  $("#selectedFile1").change(function() {
    $("#img2").show();
    $("#img2_old").hide();
  });
  $("#selectedFile2").change(function() {
    $("#img3").show();
    $("#img3_old").hide();
  });
  $("#selectedFile3").change(function() {
    $("#img4").show();
    $("#img4_old").hide();
  });

  $("#uploadDocs").click(function(e) {

    var form = new FormData();
    form.append("personal_id_verification_file_link", $("#selectedFile")[0].files[0]);
    form.append("personal_address_verification_file_link", $("#selectedFile1")[0].files[0]);
    form.append("business_verification_file_link", $("#selectedFile2")[0].files[0]);
    form.append("business_address_verification_file_link", $("#selectedFile3")[0].files[0]);
    form.append("personal_id_verification_file_type", JSON.stringify($('input[name=personal_id_verification_file_type]:checked').val()));

    console.log(form);

    $.ajax({
      type: 'POST',
      url: '/api/verification/store',
      data: form,
      cache: false,
      // dataType: 'json',
      processData: false,
      contentType: false,
      success: function(data) {
        location.reload();
      },
      error: function(error) {
        console.log("Error", error);
      }
    });
  });
});
</script>
{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">
  <div class="" >
      <div class="container">
          <div class="row">
              {{> vendor/navbar}}
              <div class="col-md-10" style="background-color: #fff;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">GTC Store verification</h5>
                <p class="verification-incomplete"><span class="exclamation"><i class="fas fa-exclamation-circle"></i></span>You still have incomplete items to address below</p>
                <p style="font-size: 13px;">Global Trade Connects requires all vendar to go through a several step process of documentation submission in order to verify their ownership of the business they are representing. please submit the following 4 peices of documentation to verify your ownership of this business.</p>
                  <hr style="margin-top: 25px;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">Personal ID Verification</h5>
                  <p class="verification-incomplete"><span class="id-verified"><i class="fas fa-check-circle"></i></span>Your Id verification request is approved</p><br>
                  <p style="font-size: 13px; font-weight: bold; padding-bottom: 20px;">Choose 1 of the 3 following type of ID to upload to verify your personal identity</p>
                  <div class="col-md-8">
                    <input type="radio" value="passport" name="personal_id_verification_file_type" {{setChecked "passport" verification.personal_id_verification_file_type}} />
                    <label for="passport" class="upload-id-card" >Passport </label><br>
                    <input type="radio" value="nationalIdCard" name="personal_id_verification_file_type" {{setChecked "nationalIdCard" verification.personal_id_verification_file_type}} />
                    <label for="passport" class="upload-id-card">National Id card</label><br>
                    <input type="radio" value="drivingLicense" name="personal_id_verification_file_type" {{setChecked "drivingLicense" verification.personal_id_verification_file_type}} />
                    <label for="passport" class="upload-id-card">Driving license</label>
                    {{!-- <select class="file-uploade" >
                        <option value="Browse..." selected="">Browse...</option>
                        </select>
                        <input type="file" id="selectedFile" onchange="document.getElementById('img1').src = window.URL.createObjectURL(this.files[0])" style="display: none;" name="personal_id_verification_file_link" />
                        <input class="upload-btn1" type="button" value="SUBMIT" onclick="document.getElementById('selectedFile').click();" style="padding: 6px 15px;"/><br>
                        <img id="img1" alt="your image" class="verification-id"  style="object-fit: contain;" />
                        {{#if verification.personal_id_verification_file_link }}
                        <img id="img1_old" src="{{verification.personal_id_verification_file_link}}" alt="your image" class="verification-id"  style="object-fit: contain;"/>
                        {{/if}} --}}
                        <div class="input-group mb-3">
                          <div class="custom-file ">
                            <input type="file" class="custom-file-input " id="inputGroupFile02">
                            <label class="custom-file-label file-uploade" for="inputGroupFile02">Choose file</label>
                          </div>
                          <div class="input-group-append">
                            <span class="input-group-text" id="">Upload</span>
                          </div>
                        </div>
                  </div>
                  <hr style="margin-top: 25px;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">Upload bill with personal address</h5>
                  <p class="verification-incomplete"><span class="exclamation"><i class="fas fa-exclamation-circle"></i></span>Your Id verification request is awaiting approved</p><br>
                  <p style="font-size: 13px; padding-bottom: 20px;">Please atleast one utility bill which has the name of the Personal Address you've registered on it</p>
                  <div class="col-md-8">
                    <select class="file-uploade">
                        <option value="Browse..." selected="">Browse...</option>
                        </select>
                        <input type="file" id="selectedFile1" style="display: none;" name="personal_address_verification_file_link" onchange="document.getElementById('img2').src = window.URL.createObjectURL(this.files[0])" />
                        <input class="upload-btn1" type="button" value="SUBMIT" onclick="document.getElementById('selectedFile1').click();" style="padding: 6px 15px;"/><br>
                        <img id="img2" alt="your image" class="verification-id"  style="object-fit: contain;"/>
                        {{#if verification.personal_address_verification_file_link }}
                        <img id="img2_old" src="{{verification.personal_address_verification_file_link}}" alt="your image" class="verification-id"  style="object-fit: contain;"/>
                        {{/if}}
                  </div>
                  <hr style="margin-top: 25px;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">Business License / Articles Of Incorporation</h5>
                  <p class="verification-incomplete"><span class="exclamation"><i class="fas fa-exclamation-circle"></i></span>You haven't submitted this yet.</p><br>
                  <p style="font-size: 13px; padding-bottom: 20px;">Submit at least one piece of documentation which confirms you have an active business license, or an article of incorporation.</p>
                  <div class="col-md-8">
                    <select class="file-uploade">
                        <option value="Browse..." selected="">Browse...</option>
                        </select>
                        <input type="file" id="selectedFile2" style="display: none;" name="business_verification_file_link" onchange="document.getElementById('img3').src = window.URL.createObjectURL(this.files[0])" />
                        <input class="upload-btn1" type="button" value="SUBMIT" onclick="document.getElementById('selectedFile2').click();" style="padding: 6px 15px;"/><br>
                        <img id="img3" alt="your image" class="verification-id"  style="object-fit: contain;"/>
                        {{#if verification.business_verification_file_link }}
                        <img id="img3_old" src="{{verification.business_verification_file_link}}" alt="your image" class="verification-id"  style="object-fit: contain;" />
                        {{/if}}
                         {{!-- <img class="verification-id" src="../../img/dashboard-vendor-verification.jpg" /> --}}
                  </div>
                  <hr style="margin-top: 25px;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">Upload bill with address</h5>
                  <p class="verification-incomplete"><span class="exclamation"><i class="fas fa-exclamation-circle"></i></span>You haven't submitted this yet.</p><br>
                  <p style="font-size: 13px; padding-bottom: 20px;">Please atleast one utility bill which has the name of the Company you've registered on it</p>
                  <div class="col-md-8">
                    <select class="file-uploade">
                        <option value="Browse..." selected="">Browse...</option>
                        </select>
                        <input type="file" id="selectedFile3" style="display: none;" name="business_address_verification_file_link" onchange="document.getElementById('img4').src = window.URL.createObjectURL(this.files[0])" />
                        <input class="upload-btn1" type="button" value="SUBMIT" onclick="document.getElementById('selectedFile3').click();" style="padding: 6px 15px;"/><br>
                        <img id="img4" alt="your image" class="verification-id"  style="object-fit: contain;" />
                         {{#if verification.business_address_verification_file_link }}
                        <img id="img4_old" src="{{verification.business_address_verification_file_link}}" alt="your image" class="verification-id"  style="object-fit: contain;" />
                        {{/if}}
                        {{!-- <img class="verification-id" src="../../img/dashboard-vendor-verification.jpg" /> --}}
                  </div>
                  <hr style="margin-top: 25px;">
                  <h5 class="gtc-title"style="padding-top: 20px; float: left;">Connect a Social Account</h5>
                  <p class="verification-incomplete"><span class="exclamation"><i class="fas fa-exclamation-circle"></i></span>You haven't submitted this yet.</p><br>
                  <p style="font-size: 13px; padding-bottom: 20px;">Connect with one of the following accounts to prove you have ownership of at least social media profile</p>
                  <div class="col-md-8">
                    <button class="connect-with-social-medias" type="button"><i class="fab fa-facebook-f" style="padding-right: 10px;"></i>CONNECT WITH FACEBOOK</button>
                    <button class="connect-with-social-medias" type="button"><i class="fab fa-linkedin-in" style="padding-right: 10px;"></i>CONNECT WITH LINKEDIN</button>
                    <button class="connect-with-social-medias" type="button"><i class="fab fa-twitter" style="padding-right: 10px;"></i>CONNECT WITH TWITTER</button>
                  </div>
                  <hr style="margin-top: 25px;">
                  <div class="col-md-4" style="padding-bottom: 30px;">
					<button class="update-btn" id="uploadDocs" type="submit">Update</button>
					<button class="cancel-btn" type="reset">Cancel</button>
				</div>
              </div>		
          </div>
      </div>
  </div>
</section>
{{> footer/footer}}