<script>
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
</script>
<script type="text/javascript">
	function changeStatus(e) {
		window.location.href = '/listings?status=' + e.value;
	}
	function search(e) {
		window.location.href = '/listings?product_name=' + e.value;
	}

	function edit() {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			chkArray.push($(this).val());
		});
		var selected;
		selected = chkArray.join(',');
		if (selected.length > 0) {
			window.location.href = '/listings/' + selected;
		} else {
			alert("Please at least check one of the checkbox");
		}
	}

	function add() {
		window.location.href = '/add-product';
	}

</script> {{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<p class="vend_edit_lists_pstyle">This is where you manage all of your wholesale products on the Global Trade Connect. You can activate, suspend or feature
						products, or import and syncronize them with an outside source. To administer specific details of products, click on
						the product name or SKU to go to the full edit details page for that specific products.</p>
					<div class="row">
						<div class="col-md-2">
							<input style="width: 100%;" type="submit" value="ADD PRODUCT" class="vend_edit_lists_buttonstyle" onclick="add();" />
						</div>
						<div class="col-md-2 common_padding1">
							<select style="width: 90%;" class="vend_edit_lists_buttonstyle" onChange="changeStatus(this);">
								<option disabled selected>CHANGE STATUS</option>
								<option value="ACTIVE">Active</option>
								<option value="INACTIVE">InActive</option>
								<option value="SUSPENDED">Suspended</option>
								<option value="SOLDOUT">Sold Out</option>
							</select>
						</div>
						<div class="col-md-2 common_padding1">
							<select style="width: 90%;" class="vend_edit_lists_buttonstyle">
								<option>CHANGE TYPE</option>
							</select>
						</div>
						<div class="col-md-2 common_padding1">
							<input style="width: 90%;" type="submit" value="EDIT / FEATURE" class="vend_edit_lists_buttonstyle" onclick="edit();" />
						</div>
						<div class="col-md-1 common_padding1">
							<input style="width: 100%;" type="submit" value="IMPORT..." class="vend_edit_lists_buttonstyle" />
						</div>
						<div class="col-md-2">
							<input type="text" placeholder="Search Products" class="vend_edit_lists_searchstyle" onChange="search(this);" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">{{this.collectionSize}} items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page:
								<a href="listings?limit=10">10</a>
								<a href="listings?limit=25">25</a>
								<a href="listings?limit=100">100</a>
								<a href="listings">All</a>
							</p>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										<input type="checkbox" onclick="selectAll(this);">
									</th>
									<th>Product Name</th>
									<th>Publish Date</th>
									<th>Sales</th>
									<th>Price</th>
									<th>Status</th>
									<th>SKU</th>
								</tr>
							</thead>
							<tbody>
								{{#each products}}
								<tr>
									<td>
										<input type="checkbox" name="selected" value={{this.product_slug}}>
									</td>
									<td class="text_blue_color">
										<img src="{{this.url}}" style="width: 15px;" /> {{this.product_name}}</td>
									<td>{{ prettifyDate this.publish_date }}</td>
									<td class="text_blue_color">{{this.sales_count}}</td>
									<td>${{this.price}} CAD</td>
									{{#ifCond this.status '==' ../statusCode.ACTIVE}}
									<td class="text_green_color">Active</td>
									{{else ifCond this.status '==' ../statusCode.INACTIVE}}
									<td class="text_green_color">InActive</td>
									{{else ifCond this.status '==' ../statusCode.SUSPENDED}}
									<td class="text_orange_color">Suspended</td>
									{{else ifCond this.status '==' ../statusCode.SOLDOUT}}
									<td class="text_red_color">Sold Out</td>
									{{/ifCond}}
									<td class="text_blue_color">{{this.sku}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-7">
							{{#pagination collectionSize page pageSize maxSize}}
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									{{#unless startFromFirstPage}}
									<li class="page-item">
										<a class="page-link" href="listings?page={{DiffFloat ../page 1}}&limit={{../pageSize}}">Previous</a>
									</li>
									{{/unless}} {{#each pages}}
									<li class="page-item {{#if isCurrent}} active {{/if}}">
										<a class="page-link" href="listings?page={{page}}&limit={{../../pageSize}}">{{page}}</a>
									</li>
									{{/each}} {{#unless endAtLastPage}}
									<li class="page-item">
										<a class="page-link" href="listings?page={{SUMFloat ../page 1}}&limit={{../pageSize}}">Next</a>
									</li>
									{{/unless}}
								</ul>
							</nav>
							{{/pagination}}
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}