{{> header/top-header LoggedInUser = LoggedInUser}}
<script>
    $(document).ready(function () {
        $('#marketplace_type').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $('#category').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $('#location').on('change', function () {
            $('#searchSubmit').prop('disabled', !$(this).val());
        }).trigger('change');
        $("#searchForm").submit(function (e) {
            e.preventDefault();
            let formInput = $("#searchForm :input").filter(function (index, element) {
                return $(element).val() != '';
            }).serialize();
            window.location.href = '/search?' + formInput;
        });
    });
</script>
  

<section class="lifestyle_banner" style="margin-bottom: 0; background-color: #5D5646;">
	<div class="container-fluid full_view_pad_eighty clearfix">
          <div class="row">
              <div class="col-md-6 col-12 lstb1">
                  <img src="../img/direc_banner.png" alt="banner" />
              </div>
              <div class="col-md-6 col-12">
                  <div class="row">
					<div class="col-md-12 col-12 lstb2 text-center">
                        <form id="searchForm">
                            <p>Our Wholesale Marketplace has over</p>
                            <p>12,000 Wholesalers & 60,000 Products</p>
                            <p class="adv_search">Advance Search</p>
                            <div class="row">
                                <div class="col-md-4 col-12 common_padding1">
                                    <select class="geo_textbox" name="marketplace_type" id="marketplace_type">
                                        <option disabled selected>Type</option>
                                        {{#each type}}
                                        <option value="{{this.id}}">{{ this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-4 col-12 common_padding1">
                                     <select class="geo_textbox" name="category" id="category">
                                        <option disabled selected>Category</option>
                                        {{#each categories}}
                                        <option value="{{this.id}}">{{ this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-4 col-12 common_padding1">
                                     <select class="geo_textbox" name="location" id="location">
                                        <option disabled selected>Location</option>
                                        {{#each country}}
                                        <option value="{{this.id}}">{{ this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <input type="submit" id="searchSubmit" value="SEARCH WHOLESALE" class="shop_checkout_btn" style="padding: 8px 20px;" />
                        </form>
					</div>
				  </div>
              </div>
          </div>
      </div>
</section>

<div class="other-marketplace-bg"></div>
<div class="gtc-container">
    <div class="other-marketplace-headers">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="header-lg bg-topseller">
                    <h2 class="header-lg-text">TOP SELLERS <a class="see-all" href="/wholesalers/search">SEE ALL</a></h2>
                </div>
                <div class="product-list-body">
                    <div class="row">
                        {{#each wholesalers}}
                        <div class="col-md-6">
                            <div class="product-body">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr class="d-flex">
                                                <td class="col-2">
                                                    <h2 class="v-num">#<span>{{SUMFloat @index 1}}</span></h2>
                                                </td>
                                                <td class="col-3">
                                                    <div class="product-left-col">
                                                        <img class="object-fit" src="{{this.url}}" alt="{{this.vendor_name}}" title="{{this.vendor_name}}">
                                                    </div>
                                                </td>
                                                <td class="col-7">
                                                    <div class="product-middle-col">
                                                        <h3>
                                                            <a href="/vendor/{{this.id}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
                                                        </h3>
                                                        <div class="row no-margins">
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Origin</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding overflow-txt">
                                                                <span class="text-500">{{this.origin}}</span>
                                                            </div>
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Inventory</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding">
                                                                <b class="text-blue">{{this.product_count}} Products</b> Listed <span class="text-red text-500 d-block">6 on Sale<span>
                                                            </div>
                                                            <div class="col-md-5 col-5 no-padding">
                                                                <span>Seller Rating</span>
                                                            </div>
                                                            <div class="col-md-7 col-7 no-padding">
                                                                <div class="v-rating">
                                                                    {{starCount rating}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="header-lg bg-featured-product">
                    <h2 class="header-lg-text">FEATURED PRODUCTS <a class="see-all" href="/wholesale/search?is_featured_product=1">SEE ALL</a></h2>
                </div>
                <div class="product-list-body">
                    <div class="row">
                        {{#each featuredProducts}}
                        <div class="col-md-6">
                            <div class="product-body">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr class="d-flex">
                                                <td class="col-3">
                                                    <div class="product-left-col">
                                                        <img class="object-fit" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
                                                    </div>
                                                </td>
                                                <td class="col-9">
                                                    <div class="product-middle-col">
                                                        <h3><a href="/product/{{this.product_slug}}/{{this.id}}" class="text-blue">{{this.product_name}}</a></h3>
                                                        <div class="row no-margins">
                                                            <div class="col-md-12 col-12 no-padding">
                                                                <h2 class="text-red price">${{this.product_price}}</h2>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Origin</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding overflow-txt">
                                                                <span class="text-500">{{this.country_name}}</span>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Category</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding overflow-txt">
                                                                <a class="text-500" href="#" title="{{this.category_name}} > {{this.sub_category_name}}">{{this.category_name}} > {{this.sub_category_name}}</a>
                                                            </div>
                                                            <div class="col-md-4 col-4 no-padding">
                                                                <span>Seller Rating</span>
                                                            </div>
                                                            <div class="col-md-8 col-8 no-padding">
                                                                <div class="v-rating">
                                                                    {{ starCount product_rating}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="box2" style="margin-bottom:0">
      <div class="container-fluid full_view_pad">
          <div class="row">
              <div class="col-md-12 col-12 box2_align">
                  <h2>PRIVATE WHOLESALE MARKETPLACE</h2>
              </div>
          </div>
      </div>
  </section>

  <section class="box3" style="margin-bottom:0">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              <div class="col-md-12 col-12 wts1">
                  <h5 class="float-left">WTS - Want To Sell</h5>
                  <p class="float-right see_all">
                      <a href="/wholesale/search?marketplace_type={{marketPlaceType.WTS}}">SEE ALL</a> 
                      <i class="fa fa-caret-right"></i></p>
              </div>
          </div>
      </div>
  </section>


<section class="box4" style="margin-bottom:20px;">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              {{#each wantToSell}}
              <div class="col-md-3 col-12 common_top">
                  <div class="row">
                      <div class="col-md-3 col-3">
                          <img src="{{this.product_base_image}}" class="img_fixed_height">
                      </div>
                      <div class="col-md-9 col-9">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header">
                                      <a class="header_title" href="wholesale/{{this.product_slug}}/{{this.id}}">WTS - {{this.product_name}}</a>
                                 </p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: {{this.minimum_order_quantity}}</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p>{{this.country_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-5">
                                     {{#if ../LoggedInUser.email}}
                                        <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                    {{else}}
                                        <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                    {{/if}}
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>{{starCount product_rating}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{/each}}
		    </div>
		</div>
</section>


<section class="box3" style="margin-bottom:0">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              <div class="col-md-12 col-12 wts2">
                  <h6 class="float-left">WTB - Want To Buy</h6>
                  <p class="float-right see_all"><a href="/wholesale/search?marketplace_type={{marketPlaceType.WTB}}">SEE ALL</a> <i class="fa fa-caret-right"></i></p>
              </div>
          </div>
      </div>
  </section>

<section class="box4" style="margin-bottom:20px;">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              {{#each wantToBuy}}
              <div class="col-md-3 col-12 common_top">
                  <div class="row">
                      <div class="col-md-3 col-3">
                          <img src="{{this.product_base_image}}" class="img_fixed_height">
                      </div>
                      <div class="col-md-9 col-9">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header">
                                      <a class="header_title" href="wholesale/{{this.product_slug}}/{{this.id}}">WTB - {{this.product_name}}</a>
                                 </p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: {{this.minimum_order_quantity}}</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p>{{this.country_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-5">
                                     {{#if ../LoggedInUser.email}}
                                        <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                    {{else}}
                                        <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                    {{/if}}
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>{{starCount product_rating}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{/each}}
		    </div>
		</div>
</section>


<section class="box3" style="margin-bottom:0">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              <div class="col-md-12 col-12 wts3">
                  <h6 class="float-left">WTT - Want To Trade</h6>
                  <p class="float-right see_all"><a href="/wholesale/search?marketplace_type={{marketPlaceType.WTT}}">SEE ALL</a> <i class="fa fa-caret-right"></i></p>
              </div>
          </div>
      </div>
  </section>

<section class="box4" style="margin-bottom:20px;">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              {{#each wantToTrade}}
              <div class="col-md-3 col-12 common_top">
                  <div class="row">
                      <div class="col-md-3 col-3">
                          <img src="{{this.product_base_image}}" class="img_fixed_height">
                      </div>
                      <div class="col-md-9 col-9">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header">
                                      <a class="header_title" href="wholesale/{{this.product_slug}}/{{this.id}}">WTT - {{this.product_name}}</a>
                                 </p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: {{this.minimum_order_quantity}}</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p>{{this.country_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-5">
                                     {{#if ../LoggedInUser.email}}
                                        <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                    {{else}}
                                        <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                    {{/if}}
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>{{starCount product_rating}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{/each}}
		    </div>
		</div>
</section>


<section class="box3" style="margin-bottom:0">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              <div class="col-md-12 col-12 wts4">
                  <h6 class="float-left">RFQ - Request For Quote</h6>
                  <p class="float-right see_all"><a href="/wholesale/search?marketplace_type={{marketPlaceType.RFQ}}">SEE ALL</a> <i class="fa fa-caret-right"></i></p>
              </div>
          </div>
      </div>
  </section>

<section class="box4" style="margin-bottom:20px;">
      <div class="container-fluid full_view_pad clearfix">
          <div class="row">
              {{#each requestForQuote}}
              <div class="col-md-3 col-12 common_top">
                  <div class="row">
                      <div class="col-md-3 col-3">
                          <img src="{{this.product_base_image}}" class="img_fixed_height">
                      </div>
                      <div class="col-md-9 col-9">
                          <div class="row common_padding">
                              <div class="col-md-8 col-8">
                                  <p class="wts_header">
                                      <a class="header_title" href="wholesale/{{this.product_slug}}/{{this.id}}">RFQ - {{this.product_name}}</a>
                                 </p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>MOQ: {{this.minimum_order_quantity}}</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Origin</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p>{{this.country_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>&nbsp;</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Category</p>
                              </div>
                              <div class="col-md-5 col-5">
                                  <p class="text_lowercase">{{this.category_name}} > {{this.sub_category_name}}</p>
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>Seller Rating</p>
                              </div>
                          </div>
                          <div class="row common_padding">
                              <div class="col-md-3 col-3">
                                  <p>Seller</p>
                              </div>
                              <div class="col-md-5 col-5">
                                     {{#if ../LoggedInUser.email}}
                                        <p><a href="/vendor-about/{{this.vendor_id}}">{{this.vendor_name}}</a></p>
                                    {{else}}
                                        <p><a href="/login"><b>(Login for Seller Info)</b></a></p>
                                    {{/if}}
                              </div>
                              <div class="col-md-4 col-4">
                                  <p>{{starCount product_rating}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{/each}}
		    </div>
		</div>
</section>

{{> footer/bottom-footer}}