<section class="lifestyle_banner" style="margin-bottom: 0">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6 lstb1">
                <img src="../img/direc_banner.png" alt="banner" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 lstb2 text-center">
                        <p>Search Our Global Directory of over</p>
                        <p>21,000 Wholesalers, Retails & Service Providers</p>
                        <p class="adv_search">Advance Search</p>
                        <div class="row">
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option>Department</option>
                                </select>
                            </div>
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option>Category</option>
                                </select>
                            </div>
                            <div class="col-md-4 common_padding1">
                                <select class="geo_textbox">
                                    <option>Location</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="SEARCH DIRECTORY" class="shop_checkout_btn" style="padding: 8px 20px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title public-market-bg">
                        <h5>TOP SELLERS PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="shopping.jpeg">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">WTS - iPhone Pallets</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">Canada</div>
                                                            <div class="sm-text">Electronics > Phones</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">MOQ: 45</div>
                                                <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount 4}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-market-title featured-product-bg">
                        <h5>FEATURED PRODUCTS</h5>
                        <small class="pull-right m-t-xs">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        {{#each featuredProducts}}
                        <div class="feed-element">
                            <div class="feed-product">
                                <img src="{{this.url}}">
                            </div>
                            <div class="product-info">
                                <div class="row m-l-none m-r-none">
                                    <div class="col-md-9 no-padding">
                                        <div class="product-title">
                                            <h5 class="no-margins">{{ Titlecase this.product_name}}</h5>
                                            <div class="row no-margins">
                                                <div class="col-md-4 no-padding">
                                                    <div class="sm-text">Origin</div>
                                                    <div class="sm-text">Category</div>
                                                    <div class="sm-text">Seller</div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="sm-text">{{this.origin}}</div>
                                                    <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                    <div class="sm-text">
                                                        <a href="#">(Login for Seller Info)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="sm-text pull-right" style="position: absolute; right: 0px; bottom: 15px;">Seller Rating</div>
                                        <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section header-box">
    <div class="container my-custom-container">
        <div class="row">
            <div class="col-md-12">
                <h1>PRIVATE WHOLESALE MARKETPLACE</h1>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-category-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace-category">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wts-bg">
                        <h5>WTS - Want To Sell</h5>
                        <small class="pull-right">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each wantToSell}}
                            <div class="col-md-3">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins"> {{this.product_name}}</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                                <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-category-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace-category">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wts-bg">
                        <h5>WTB - Want To Buy</h5>
                        <small class="pull-right">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each wantToBuy}}
                            <div class="col-md-3">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">{{this.product_name}}</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                                <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-category-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace-category">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wts-bg">
                        <h5>WTT - Want To Trade</h5>
                        <small class="pull-right">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each wantToTrade}}
                            <div class="col-md-3">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">{{this.product_name}}</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                                <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom-section">
    <div class="marketplace-category-header-box"></div>
    <div class="container my-custom-container m-t-n-marketplace-category">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="gtc-box">
                    <div class="gtc-box-title wts-bg">
                        <h5>RFQ - Request For Quote</h5>
                        <small class="pull-right">SEE ALL
                            <i class="fa fa-caret-right"></i>
                        </small>
                    </div>
                    <div class="gtc-box-content">
                        <div class="row">
                            {{#each requestForQuote}}
                            <div class="col-md-3">
                                <div class="feed-element">
                                    <div class="feed-product">
                                        <img src="{{this.url}}">
                                    </div>
                                    <div class="product-info">
                                        <div class="row m-l-none m-r-none">
                                            <div class="col-md-9 no-padding">
                                                <div class="product-title">
                                                    <h5 class="no-margins">{{this.product_name}}</h5>
                                                    <div class="row no-margins">
                                                        <div class="col-md-4 no-padding">
                                                            <div class="sm-text">Origin</div>
                                                            <div class="sm-text">Category</div>
                                                            <div class="sm-text">Seller</div>
                                                        </div>
                                                        <div class="col-md-8 no-padding">
                                                            <div class="sm-text">{{this.origin}}</div>
                                                            <div class="sm-text">{{this.category}} > {{this.sub_category}}</div>
                                                            <div class="sm-text">
                                                                <a href="#">(Login for Seller Info)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 no-padding">
                                                <div class="sm-text pull-right">MOQ: {{this.moq}}</div>
                                                <div class="sm-text pull-right" style="position: absolute; bottom: 15px;">Seller Rating</div>
                                                <div class="sm-text pull-right absolute-b">{{ starCount rating}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>