<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 81q1ljfijajynj
	authorize: false;
</script>

<script>
	var userInfo = {{{ DisplayJSON LoggedInUser }}}
	$(document).ready(function() {
		$('#marketplace_type').val('');
		$('#category').val('');
		$('#location').val('');
		$("a[title='seller']").click(function() {
			if (userInfo.email) { } else {
				$('#myModal').modal('show');
			}
		});
		$("#searchSubmit").prop('disabled', true);
		$('#depart, #category, #location').on('change', function() {
			if ($(this).val() == '') {
				$('#searchSubmit').prop('disabled', true);
			} else {
				$('#searchSubmit').prop('disabled', false);
			}
		});
		$("#searchForm").submit(function(e) {
			e.preventDefault();
			let formInput = $("#searchForm :input").filter(function(index, element) {
				return $(element).val() != '';
			}).serialize();
			window.location.href = '/products/search?' + formInput;
		});

		$('#adClick').click(function(){
			var id= {{wholesaleRandomAd.id}}
			$.ajax({
				url: '/api/feature-product/click/'+id,
				type: 'PUT',
				success: function(data) {
					console.log("click response:",data);						
				},
				error: function(error) {
					console.log("click err:",error);
				}
			});
			window.open('{{wholesaleRandomAd.target_url}}', '_blank');
		});
	});

	function featureClick(featureId) {
		$.ajax({
			url: '/api/feature-product/featureClick/'+featureId,
			type: 'PUT',
			success: function(data) {
				console.log("click response:",data);						
			},
			error: function(error) {
				console.log("click err:",error);
			}
		});
	}
</script> {{> header/top-header LoggedInUser = LoggedInUser}}
<div class="marketplace-banner wholesale">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-5">
				<div class="advertisement py-xl-4" style="width: 490px; hieght:210px; object-fit:contain;">
					<a id="adClick" href="javascript:;" target="_blank">
						<img class="img-fluid" src="{{wholesaleRandomAd.image_url}}">
					</a>
				</div>
			</div>
			<div class="col-md-7 right">
				<h2>Our Wholesale Marketplace has over</h2>
				<h1>{{CommaSeparate wholesalerCount}} Wholesalers & {{CommaSeparate wholesaleProductCount}} Products</h1>
				<small class="text-center text-white py-xl-3 d-block">Advanced Search</small>
				<form id="searchForm">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="marketplace_type" name="marketplace_type">
										<option value='' disabled selected>Type</option>
										{{#each type}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="category" name="category">
										<option value='' disabled selected>Category</option>
										{{#each categories}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group m-b-sm">
								<div class="select-container">
									<select class="form-control-customized form-control-sm rounded" id="location" name="location">
										<option value='' disabled selected>Location</option>
										{{#each country}}
											<option value="{{this.id}}">{{ this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<button class="btn btn-md btn-directory" id="searchSubmit">SEARCH WHOLESALE</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="other-marketplace-bg"></div>
<div class="gtc-container">
	<div class="other-marketplace-headers">
		<div class="row">
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-topseller">
					<h2 class="header-lg-text">TOP SELLERS
						{{#if wholesalers}}<a class="see-all" href="/wholesalers/search">SEE ALL ►</a>{{/if}}
					</h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#if wholesalers}}
							{{#each wholesalers}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-2">
															<h2 class="v-num">#
																<span>{{SUMFloat @index 1}}</span>
															</h2>
														</td>
														<td class="col-3">
															<div class="product-left-col">
																<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}">
																	<img class="object-fit" src="{{this.vendor_profile_pic_url}}" onError="UserImgError(this)" alt="{{this.vendor_name}}" title="{{this.vendor_name}}">
																</a>
															</div>
														</td>
														<td class="col-7">
															<div class="product-middle-col">
																<h3>
																	<a href="/vendor/{{this.id}}" title="{{this.vendor_name}}" title="{{this.vendor_name}}" class="text-blue">{{Titlecase this.vendor_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-5 col-5 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Inventory</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<b class="text-blue">{{this.products_count}} Products</b> Listed
																		<span class="text-red text-500 d-block">{{this.exclusive_product_sale}} on Sale
																			<span>
																	</div>
																	<div class="col-md-5 col-5 no-padding">
																		<span>Seller Rating</span>
																	</div>
																	<div class="col-md-7 col-7 no-padding">
																		<div class="v-rating">
																			<a href="vendor/{{this.id}}" title="{{this.vendor_name}}">
																				{{starCount this.vendor_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
						<div class="col">
							<label class="empty">No Sellers</label>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="header-lg bg-featured-product">
					<h2 class="header-lg-text">FEATURED PRODUCTS
						{{#if featuredProducts.rows}}<a class="see-all" href="/wholesale/search?is_featured_product=1">SEE ALL ►</a>{{/if}}
					</h2>
				</div>
				<div class="product-list-body">
					<div class="row">
						{{#if featuredProducts.rows}}
							{{#each featuredProducts.rows}}
								<div class="col-md-6">
									<div class="product-body">
										<div class="table-responsive">
											<table class="table shoping-cart-table">
												<tbody>
													<tr class="d-flex">
														<td class="col-3">
															<div class="product-left-col">
																<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">
																	<img class="object-fit" onError="imgError(this)" src="{{this.product_base_image}}" alt="{{this.product_name}}" title="{{this.product_name}}">
																</a>
															</div>
														</td>
														<td class="col-9">
															<div class="product-middle-col">
																<h3>
																	<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}" class="text-blue" onclick="return featureClick(`{{this.FeaturedProducts.[0].id}}`);">{{this.product_name}}</a>
																</h3>
																<div class="row no-margins">
																	<div class="col-md-12 col-12 no-padding">
																		<h2 class="text-red price">{{currency this.price '$'}}</h2>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Origin</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<span class="text-500">{{this.Country.name}}</span>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Category</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding overflow-txt">
																		<a class="text-500" href="/wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
																	</div>
																	<div class="col-md-4 col-4 no-padding">
																		<span>Seller Rating</span>
																	</div>
																	<div class="col-md-8 col-8 no-padding">
																		<div class="v-rating">
																			<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																				{{starCount product_rating}}
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
							<div class="col">
								<label class="empty">No Products</label>
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header-lg bg-wholesale">
	<div class="gtc-container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="header-lg-text">PRIVATE WHOLESALE MARKETPLACE</h2>
			</div>
		</div>
	</div>
</div>

<div class="marketplace-type-bg"></div>
<div class="gtc-container">
	<div class="marketplace-type-headers">
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="wts-header-bg">
					<h4 class="header-md-text">
						<b>WTS</b> - Want To Sell
						{{#if wantToSell}}
							<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTS}}">SEE ALL ►</a>
						{{/if}}
					</h4>
				</div>
			</div>
			{{#if wantToSell}}
				{{#each wantToSell}}
					<div class="col-md-3 no-padding">
						<div class="product-list-body">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" alt="{{this.product_name}}" onError="imgError(this)" title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" {{#if this.product_discounted_price}} class="discount-price-flag" {{else}}
															 class="text-black" {{/if}}>{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-4 col-4 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<a class="text-500" href="/wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{#if this.product_discounted_price}}
															<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="{{#if this.product_discounted_price}}prc-bottom-sales{{else}}prc-bottom{{/if}}">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="col">
					<label class="empty">No Products</label>
				</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="marketplace-type-bg"></div>
<div class="gtc-container">
	<div class="marketplace-type-headers">
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="wtb-header-bg">
					<h4 class="header-md-text">
						<b>WTB</b> - Want To Buy
						{{#if wantToBuy}}
							<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTB}}">SEE ALL ►</a>
						{{/if}}
					</h4>
				</div>
			</div>
			{{#if wantToBuy}}
				{{#each wantToBuy}}
					<div class="col-md-3 no-padding">
						<div class="product-list-body">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" onError="imgError(this)" alt="{{this.product_name}}" title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-4 col-4 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<a class="text-500" href="/wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.category_id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{!-- {{#if this.product_discounted_price}}
															<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}} --}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="prc-bottom">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="col">
					<label class="empty">No Products</label>
				</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="marketplace-type-bg"></div>
<div class="gtc-container">
	<div class="marketplace-type-headers">
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="wtt-header-bg">
					<h4 class="header-md-text">
						<b>WTT</b> - Want To Trade
						{{#if wantToTrade}}
							<a href="/wholesale/search?marketplace_type={{marketPlaceType.WTT}}">SEE ALL ►</a>
						{{/if}}
					</h4>
				</div>
			</div>
			{{#if wantToTrade}}
				{{#each wantToTrade}}
					<div class="col-md-3 no-padding">
						<div class="product-list-body">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" onError="imgError(this)" alt="{{this.product_name}}" title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-4 col-4 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<a class="text-500" href="/wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{!-- {{#if this.product_discounted_price}}
															<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}} --}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="prc-bottom">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="col">
					<label class="empty">No Products</label>
				</div>
			{{/if}}
		</div>
	</div>
</div>
<div class="marketplace-type-bg"></div>
<div class="gtc-container">
	<div class="marketplace-type-headers">
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="rfq-header-bg">
					<h4 class="header-md-text">
						<b>RFQ</b> - Request For Quote
						{{#if requestForQuote}}							
							<a href="/wholesale/search?marketplace_type={{marketPlaceType.RFQ}}">SEE ALL ►</a>
						{{/if}}
					</h4>
				</div>
			</div>
			{{#if requestForQuote}}
				{{#each requestForQuote}}
					<div class="col-md-3 no-padding">
						<div class="product-list-body">
							<div class="product-body">
								<div class="table-responsive">
									<table class="table shoping-cart-table">
										<tbody>
											<tr class="d-flex">
												<td class="col-2">
													<div class="product-left-col">
														<a href="/wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
															<img class="object-fit" src="{{this.ProductMedia.[0].url}}" onError="imgError(this)" alt="{{this.product_name}}" title="{{this.product_name}}">
														</a>
													</div>
												</td>
												<td class="col-7">
													<div class="product-middle-col">
														<h3 title="{{this.product_name}}">
															<a href="wholesale/{{this.product_slug}}/{{this.id}}" class="text-black">{{this.product_name}}</a>
														</h3>
														<div class="row no-margins">
															<div class="col-md-4 col-4 no-padding">
																<span>Origin</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<span class="text-500">{{this.Country.name}}</span>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Category</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																<a class="text-500" href="/wholesale/search?category={{this.Category.id}}&sub_category={{this.SubCategory.id}}" title="{{this.Category.name}} > {{this.SubCategory.name}}">{{this.Category.name}} > {{this.SubCategory.name}}</a>
															</div>
															<div class="col-md-4 col-4 no-padding">
																<span>Seller</span>
															</div>
															<div class="col-md-8 col-8 no-padding overflow-txt">
																{{#if ../LoggedInUser.email}}
																	<a class="text-500" title="{{this.Vendor.vendor_name}}" href="/vendor/{{this.Vendor.id}}">{{this.Vendor.vendor_name}}</a>
																{{else}}
																	<a class="text-500" href="javascript:;" id="Seller_Info" title="seller">(Login for Seller Info)</a>
																{{/if}}
															</div>
														</div>
													</div>
												</td>
												<td class="col-3">
													<div class="product-right-col">
														{{!-- {{#if this.product_discounted_price}}
															<small class="discount-price-flag">{{timeLeft this.exclusive_end_date}}&nbsp;</small>
														{{/if}} --}}
														<h4>MOQ : {{this.moq}}</h4>
														<div class="prc-bottom">
															<p>Seller Rating</p>
															<div class="p-rating pull-right">
																<a href="wholesale/{{this.product_slug}}/{{this.id}}" title="{{this.product_name}}">
																	{{starCount product_rating}}
																</a>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="col">
					<label class="empty">No Products</label>
				</div>
			{{/if}}
		</div>
	</div>
</div>

<div class="modal fadeadd-to-bag" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" align="center">
			<div class="row">
				<div class="col-md-12">
					<div class="row geo_bgimg1">
						<div class="row">
							<div class="col-md-12 offset-md-0">
								<h1>LIKE WHAT YOU SEE?</h1>
								<p class="modal_sign text-center">Sign Up &amp; Access Your Wholesale Marketplace.</p>
								<p class="modal_why_geo_p">If you' d like uninterrupted access to our wholesale marketplace, we need you to create an account with Global Trade
									Connect
								</p>
							</div>
						</div>
						<div class="gtc-container banner-padding">
							<div class="home-banner-right">
								<div class="row">
									<div class="col-md-12 offset-md-0">
										<div class="signup-box">
											<div class="col-md-6 offset-md-6">
												<small id="signUpErrorLog" class="error"></small>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="signup-left">
														<ul>
															<li>
																<a id="gtc-fb-login">
																	<img src="gtc-assets/img/login-facebook.png" alt="Login with Facebook" title="Login with Facebook">
																</a>
															</li>
															<li>
																<a id="gtc-google-login">
																	<img src="gtc-assets/img/login-google.png" alt="Login with Google" title="Login with Google">
																</a>
															</li>
															<li>
																<a id="gtc-twitter-login">
																	<img src="gtc-assets/img/login-twitter.png" alt="Login with Twitter" title="Login with Twitter">
																</a>
															</li>
															<li>
																<a id="gtc-linkedin-login">
																	<img src="gtc-assets/img/login-linkedin.png" alt="Login with LinkedIn" title="Login with LinkedIn">
																</a>
															</li>
															<li>
																<div class="form-group" style="padding:4px">
																	<p class="modal_sign">Already have a Account?</p>
																	<button type="submit" onclick="window.location.href='/login'" id="btnLogin" class="btn btn-small btn-success">
																		<strong>LOGIN</strong>
																	</button>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<h2 class="divider-line" style="z-index:1">
													<span class="text-black">OR</span>
												</h2>
												<div class="col-md-6 signup-right">
													<form id="signUpForm" class="form">
														<div class="row">
															<div class="col">
																<div class="form-group m-b-xs">
																	<input type="email" id="inputEmail" name="email" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Email" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="text" id="inputFirstname" name="first_name" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="First Name" required="true">
																</div>
																<div class="form-group m-b-xs">
																	<input type="password" id="inputPassword" name="password" class="form-control-customized form-control-sm rounded form-control-border"
																	 placeholder="Password" required="true">
																</div>
																<div class="form-group">
																	<input type="checkbox" id="inputTerms" name="input_terms" required="true">
																	<small>Accept terms and conditions</small>
																</div>
																<div class="form-group">
																	<button type="submit" id="btnSignup" class="btn btn-small btn-block btn-danger">
																		<strong>CREATE ACCOUNT</strong>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{{> footer/bottom-footer}}