<script type="text/javascript">
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
</script>
<script type="text/javascript">
	function CartUpdate() {
		var dataInfo = {};
		var quantity = 0;
		dataInfo.product_id = $('input[name=product_id]').val();
		dataInfo.quantity = quantity = $('input[name=quantity]').val();
		if (quantity) {
			$.ajax({
				type: 'PUT',
				url: '/api/wishlist/cart',
				data: dataInfo,
				success: function(data, text) {
					window.location.href = '/wishlist';
				},
				error: function(request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
		} else {
			alert("Please enter the Quantity.")
		}
	}

	function remove(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function(i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}
		});

		if (chkArray.length) {
			$.ajax({
				type: 'PUT',
				url: '/api/wishlist/remove',
				contentType: "application/json",
				data: JSON.stringify(chkArray),
				success: function(data, text) {
					location.reload();
				},
				error: function(request, status, error) {
					console.log('request', request);
					console.log('status', status);
				}
			});
		} else {
			alert("Select atleast one wishlist to remove.");
		}
	}

	function quantityCheck(val) {
		var availableProductQuantity = val.max;
		if (availableProductQuantity == 0) {
			alert("Product Not Available");
		} else if ($("#inputQuantity").val() > availableProductQuantity) {
			alert("Available Quantity of the product is" + availableProductQuantity);
			$("#inputQuantity").val(availableProductQuantity);
		}
	}
</script>
{{> header/defaultHeader LoggedInUser = LoggedInUser}}
{{> vendor/header}}
<section class="showing_categ">
	<div class="" >
		<div class="container">
			<div class="row">
				{{> vendor/navbar}} 
				<div class="col-md-10" style="background-color: #fff;">
					<h5 style="padding-top: 20px;">My Wishlist</h5>
					<div class="row">
						<div class="col-md-6">
							<input type="submit" value="REMOVE" onclick="remove(this)"class="vend_edit_lists_buttonstyle" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">{{this.count}} items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 
								<a href="/wishlist?limit=10"> 10</a>
								<a href="/wishlist?limit=25"> 25</a>
								<a href="/wishlist?limit=100"> 100</a>
								<a href="/wishlist?limit=All"> All </a>
							</p>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th><input type="checkbox" onclick="selectAll(this);"></th>
									<th>Product Name</th>
									<th>Store Name</th>
									<th>Available</th>
									<th>Type</th>
									<th>price</th>
									<th>Add to Cart</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each wishlist}}
								<tr>
									<td><input type="checkbox" value="{{this.id}}"></td>
									<td class="text_blue_color"><img src="{{this.Product.ProductMedia.url}}" style="width: 15px;" /> <a href="#">{{this.Product.product_name}}</a></td>
									<td class="text_blue_color"><a href="#">{{this.User.first_name}} {{this.User.last_name}}</a></td>
									{{#if this.Product.quantity_available}}
									<td class="text_green_color" style="font-size: 20px;"><i class="fas fa-check-circle"></i></td>
									{{else}}
									<td class="text_orange_color" style="font-size: 20px;"><i class="fas fa-exclamation-circle"></i></td>
									{{/if}}
									{{!-- Type --}}
									{{#ifCond this.Product.marketplace_id "==" 1}}
									<td>Wholesale</td> 
									{{else ifCond this.Product.marketplace_id "==" 2}}
									<td>Retail</td>
									{{else ifCond this.Product.marketplace_id "==" 3}}
									<td>Service</td> 
									{{else ifCond this.Product.marketplace_id "==" 4}}
									<td>Life style</td> 
									{{/ifCond}}
									{{!--End Type --}}
									<td class="text_black_color">{{this.Product.price}}</td>
										<input type="hidden" id="product_id" name="product_id" value="{{this.product_id}}">
										{{!-- <input type="hidden" name="quantity_available" value="{{this.Product.quantity_available}}" id="quantity_available"> --}}
										<td class="text_blue_color">
											<input type="number" name="quantity" id="inputQuantity" min="1" max="{{this.Product.quantity_available}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="1" onchange="quantityCheck(this)"><a href="#">
											Update </a>
										</td>
										<td class="text_blue_color "  ><i class="fas fa-credit-card" onclick="CartUpdate()"> <a href="#"> Add to cart </a></i></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle">{{this.count}} items total</p>
						</div>
						<div class="col-md-6">
							<p class="vend_edit_lists_pstyle float-right">Entries per page: 
								<a href="/wishlist?limit=10"> 10</a>
								<a href="/wishlist?limit=25"> 25</a>
								<a href="/wishlist?limit=100"> 100</a>
								<a href="/wishlist?limit=All"> All </a>
							</p>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</section>
{{> footer/footer}}