<script>
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	$(document).ready(function() {
		$("#gtc-cart-alert").hide();
		$("#searchTickets").submit(function(e) {
			e.preventDefault();
			let formInput = $("#searchTickets :input").filter(function(index, element) {
				return $(element).val() != '';
			}).serialize();
			if (formInput != '') {
				window.location.href = '/support/ticket?' + formInput;
			}
		});
	});
	function createTicket() {
		window.location.href = 'support/ticket/create-Ticket';
	}
	var params = {{{ DisplayJSON queryParamsString }}};
	function limit(type, size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = type + '?' + params;
	}
	function changeStatus(e) {
		window.location.href = '/support/ticket?status=' + e.value;
	}
	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}

	function edit(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}			
		});
		
		var ticket_id = chkArray.join(',');

		if (chkArray.length == 1) {
			window.location.href = '/support/ticket/update-Ticket/'+ticket_id;
		}
		else {
			$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
			$('#gtc-cart-alert .cart-message').text('Select one ticket to edit')
			$("#gtc-cart-alert").fadeTo(1000, 500).slideUp(500, function () {
			$("#gtc-cart-alert").slideUp(200);
			});
		}
	}
</script> 

{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
{{#unless LoggedInUser.user_contact_email}}{{> update-contact-mail}}{{/unless}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2> Ticket History
								<span class="pull-right" style="font-size:12px">
									<a href="/support/ticket">Clear All</a>
								</span>
							</h2>
						</div>
						<div class="content-body">
							<div class="row">
								<div class="col-md-12">
									{{!-- <p class="content-txt">There is your ticket support system for users looking for tech and/or transaction support. click on ticket number
										to respond or view the ticket.</p> --}}
									{{!-- <span class="pull-right" style="font-size:12px"><a href="listings/{{this.type}}">Clear All</a></span> --}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-inline pull-left m-t-md">
										<div class="form-group m-r">
											<button type="submit" class="btn btn-md btn-muted" name="{{this.type}}" onclick="createTicket();">CREATE TICKET</button>
										</div>
											<div class="form-group m-r">
											<div class="select-container">
												<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" name="{{this.type}}" onChange="changeStatus(this);">
													{{#select queryURI.status}}
														<option disabled selected>CHANGE STATUS</option>
														<option value="OPEN">Open</option>
														<option value="HOLD">Hold</option>
														<option value="CLOSED">Closed</option>
													{{/select}}
												</select>
											</div>
										</div> 
										<div class="form-group">
											<button type="submit" class="btn btn-md btn-muted" onclick="edit(this);">VIEW/ EDIT</button>
										</div>
									</div>
									<form id="searchTickets" name="searchTickets">
										<div class="form-inline pull-right m-t-md">
											<div class="form-group">
												<div class="input-group gtc-rounded">
													<input type="text" placeholder="Search Ticket #" class="form-control form-control-sm" name="ticketNumber" {{#if queryURI.ticketNumber}}
														value= {{queryURI.ticketNumber}} {{/if}}>
													<button type="submit" class="btn btn-sm btn-gtc">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div> 
									</form>
								</div>
							</div>
							{{#if ticketListing.count}}
								<div class="row py-2">
									<div class="col-md-12">
										<div class="alert" id="gtc-cart-alert">
											<button type="button" class="close" data-dismiss="alert">
												<span aria-hidden="true">&times;</span>
											</button>
											<span class="cart-message"></span>
										</div>
										<small class="font-weight-light">{{ticketListing.count}} items total</small>
										<div class="float-right">
											<small class="font-weight-light">Entries per page : </small>
											<small class="font-weight-light">
												<a {{#ifCond queryPaginationObj.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10)" href="javascript:;">10</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryPaginationObj.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,25)" href="javascript:;">25</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryPaginationObj.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,100)" href="javascript:;">100</a>
											</small>
											<small class="font-weight-light">
												<a {{#ifCond queryPaginationObj.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{originalUrl}}`,10000000000000)" href="javascript:;">All</a>
											</small>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table order-table">
											<thead>
												<tr>
													<th>
														<div class="customCheckbox">
															<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
															<label class="checkbox-b" for="inputCheckbox"></label>
														</div>
													</th>
													<th scope="col">Ticket #</th>
													<th scope="col">Subject</th>
													<th scope="col">Submitted By</th>
													<th scope="col">Submitted Date</th>
													<th scope="col">Status</th>
												</tr>
											</thead>
											<tbody>
												{{#each ticketListing.rows}}
													<tr>
														<td>
															<div class="customCheckbox">
																<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value= {{this.id}}>
																<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
															</div>
														</td>
														<td>{{this.id}}</td>
														<td>{{dotdotdot this.title}}</td>
														<td>{{this.created_by}} </td>
														<td>{{formatTime this.created_on "MMM D, YYYY"}}</td>
														<td>{{objectKey ../statusCode this.status}}</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>	
								{{#ifCond ticketListing.count '>' queryPaginationObj.limit}}
									<div class="row m-t-sm">
										<div class="col-md-12">
											{{#pagination ticketListing.count queryPaginationObj.page queryPaginationObj.limit queryPaginationObj.maxSize}}
												<nav aria-label="Page navigation example">
													<ul class="pagination justify-content-center">
														{{#unless startFromFirstPage}}
															<li class="page-item-prev" style="margin-left:-391px;">
																<a href="{{../../originalUrl}}/{{QueryParams ../../queryURI (FrameObject page=(DiffFloat ../../queryPaginationObj.page 1) limit=../../queryPaginationObj.limit) 'null'}}">
																	<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
															</li>
														{{/unless}}
														{{#each pages}}
															<li class="page-item {{#if isCurrent}} active {{/if}}">
																<a class="page-link" href="{{../../originalUrl}}/{{QueryParams ../../queryURI (FrameObject page=page limit=../../queryPaginationObj.limit) 'null'}}">{{page}}</a>
															</li>
														{{/each}}
														{{#unless endAtLastPage}}
															<li class="page-item-next" style="margin-right:-391px;">
																<a href="{{../originalUrl}}/{{QueryParams ../../queryURI (FrameObject page=(SUMFloat ../queryPaginationObj.page 1) limit=../queryPaginationObj.limit) 'null'}}">Next&nbsp;
																	<i class="fa fa-angle-double-right"></i>
																</a>
															</li>
														{{/unless}}
													</ul>
												</nav>
											{{/pagination}}
										</div>
									</div>
								{{/ifCond}}
							{{else}}
								<h4 class="font-weight-light py-3 text-center">No Results!</h4>
							{{/if}}
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{{> footer/bottom-footer}}