<script>
	function createTicket() {
		window.location.href = 'support/ticket/create-Ticket';
	}
	 $("#searchTickets").submit(function(e) {
            e.preventDefault();
            let formInput = $("#searchTickets :input").filter(function(index, element) {
                return $(element).val() != '';
            }).serialize();
           if(formInput!='')
            {
              window.location.href = 'ticket?' + formInput;
             }
          });
</script> {{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<p class="content-txt">There is your ticket support system for users looking for tech and/or transaction support. click on ticket number
											to respond or view the ticket.</p>
										{{!-- <span class="pull-right" style="font-size:12px"><a href="listings/{{this.type}}">Clear All</a></span> --}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-inline pull-left m-t-md">
											<div class="form-group m-r">
												<button type="submit" class="btn btn-md btn-muted" name="{{this.type}}" onclick="createTicket();">Create Ticket</button>
											</div>
											{{!-- <div class="form-group m-r">
												<div class="select-container">
													<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" name="{{this.type}}" onChange="changeStatus(this);">
														{{#select queryURI.status}}
															<option disabled selected>CHANGE STATUS</option>
															<option value="ACTIVE">Active</option>
															<option value="INACTIVE">InActive</option>
															<option value="SUSPENDED">Suspended</option>
															<option value="SOLDOUT">Sold Out</option>
														{{/select}}
													</select>
												</div>
											</div> --}}
											{{!-- <div class="form-group">
												<button type="submit" class="btn btn-md btn-muted" name="{{this.type}}" onclick="edit(this);">EDIT/FEATURE</button>
											</div> --}}
										</div>
										<form id="searchTickets" name="searchTickets">
										{{!-- <div class="form-inline pull-right m-t-md">
											
											<div class="form-group">
												<div class="input-group gtc-rounded">
													<input type="text" placeholder="Search Ticket" class="form-control form-control-sm" name="ticketNumber" {{#if queryURI.ticketNumber}}
													 value= {{queryURI.ticketNumber}} {{/if}}>
													<button type="submit" class="btn btn-sm btn-gtc">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div> --}}
										</form>
									</div>
								</div>
								{{#if ticketListing.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<small class="font-weight-light">{{ticketListing.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(10000000000000)"
													 href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th scope="col">Ticket Number</th>
														<th scope="col">Subject</th>
														<th scope="col">Submitted By</th>
														<th scope="col">Submitted Date</th>
														<th scope="col">Status</th>

													</tr>
												</thead>
												<tbody>
													{{#each ticketListing.rows}}
														<tr>
															<td>
																<div class="customCheckbox">
																	<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value= {{this.id}}>
																	<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
																</div>
															</td>
															<td>
																<a href="support/ticket/update-Ticket/{{this.id}}">{{this.id}}</a>
															</td>
															<td>{{this.title}}</td>
															<td>{{this.created_by}} </td>
															<td>{{formatTime this.created_on "MMM D, YYYY"}}</td>
															<td>{{objectKey ../statusCode this.status}}</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{!-- Pagination starts  --}}
									{{#ifCond ticketListing.count '>' queryURI.limit}}
										<div class="row">
											<div class="col-md-12 align-self-center">
												{{#pagination ticketListing.count queryURI.page queryURI.limit 2}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../../ticket?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="../../ticket?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryURI.limit)}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../../ticket?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
									{{!-- Pagination Ends --}}
								{{else}}
									<h4 class="font-weight-light py-3 text-center">No Results!</h4>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			{{else}}
				{{> plan-inactive}}
			{{/if}}
		</div>
	</div>
</div>
</div>
{{> footer/bottom-footer}}