<script>

	var discountLength = {{{ DisplayJSON editProduct.Discounts.length}}}

	var imageFiles = [], imageArr = [], attributeArr = [], discountArr = [], count, test;
	
	imageFiles = {{{DisplayJSON productImages}}}
	productBaseImage = {{{DisplayJSON productBaseImage}}}

	$(document).ready(function() {

		$("#marketplace_type_id").change(function() {

			var marketplace_type_id = $('#marketplace_type_id').val();

			if (marketplace_type_id == {{ marketplaceTypeCode.WTB }} || marketplace_type_id == {{ marketplaceTypeCode.WTT }} || marketplace_type_id == {{ marketplaceTypeCode.RFQ }})
			{
				$(".priceDiv").hide();
				$('#price').removeAttr('value');
			}
			else {
				$(".priceDiv").show();
				$("price").attr('value');
			}
			if (marketplace_type_id == {{ marketplaceTypeCode.WTB }} || marketplace_type_id == {{ marketplaceTypeCode.WTT }} || marketplace_type_id == {{ marketplaceTypeCode.RFQ }}) {
				$(".shippingDiv").hide();
				$('#shipping_cost').removeAttr('value');
			}
			else {
				$(".shippingDiv").show();
				$("shipping_cost").attr('value');
			}

			if (marketplace_type_id == {{ marketplaceTypeCode.WTT }}) {
				$(".exchangingProductDiv").show();
				$(".exchangingProductQuantityDiv").show();
				$("exchanging_product").attr('value');
				$("exchanging_product_quantity").attr('value');
			}
			else {
				$(".exchangingProductDiv").hide();
				$(".exchangingProductQuantityDiv").hide();
				$('#exchanging_product').removeAttr('value');
				$('#exchanging_product_quantity').removeAttr('value');
			}  				
		});
	});
</script>

<div class="modal fade" id="profile-picture-modal" tabindex="-1" role="dialog" aria-labelledby="profile-picture-modalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profile-picture-modalLabel">Product Image Crop</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="margin-right:35px">
				<div class="container">
					<img src="" style="max-width: 100% !important;" id="uploaded-profile-picture" alt="Profile Picture">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="crop-product-image">Crop Image</button>
			</div>
		</div>
	</div>
</div>
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			{{#if LoggedInUser.Vendor.VendorPlans}}
			<div class="col-sm-10">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>
								{{#if editProduct.id}} Edit Product
								<input type="text" id="edit_product_id" value="{{editProduct.id}}" style="display:none">
								{{else}} Add Product
								{{/if}}
							</h2>
							<div class="alert" id="gtc-cart-alert">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="cart-message"></span>
							</div>
						</div>
						<div class="content-body">
							<form id="productForm" class="form">
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">Product Name
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control-customized form-control-sm" name="product_name" value="{{editProduct.product_name}}"
											 required>
										</div>
									</div>
									<div class="row col-lg-12">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="label-control">Marketplace
													<span class="text-danger">*</span>
												</label>
												{{#ifCond this.type '==' 'wholesale'}}
													<input type="text" class="form-control-customized form-control-sm" name="marketplace" value="Private Wholesale Marketplace"
													 readonly>
													 <input type="text" id="marketplace_id" name="marketplace_id" value="{{marketplaceCode.WHOLESALE}}" hidden> 
												{{else ifCond this.type '==' 'shop'}}
													<input type="text" class="form-control-customized form-control-sm" name="marketplace" value="Public Marketplace" readonly> 
													<input type="text" id="marketplace_id" name="marketplace_id" value="{{marketplaceCode.PUBLIC}}" hidden> 
												{{else ifCond this.type '==' 'services'}}
													<input type="text" class="form-control-customized form-control-sm" name="marketplace" value="Services Marketplace" readonly>
													<input type="text" id="marketplace_id" name="marketplace_id" value="{{marketplaceCode.SERVICE}}" hidden> 
												{{else ifCond this.type '==' 'lifestyle'}}
													<input type="text" class="form-control-customized form-control-sm" name="marketplace" value="Lifestyle Marketplace" readonly>
													<input type="text" id="marketplace_id" name="marketplace_id" value="{{marketplaceCode.LIFESTYLE}}" hidden> 
												{{/ifCond}}

											</div>
										</div>
									 	{{#ifCond this.type '==' 'lifestyle'}}
										<div class="col-lg-6">
											<div class="form-group">
												<label class="label-control">Subscription Duration & Duration Unit:
													<span class="text-danger">*</span>
												</label>
												<div class="row">
													<div class="col-lg-4">
														<input type="text" class="form-control-customized form-control-sm" value="{{editProduct.subscription_duration}}" name="subscription_duration">
													</div>
													<div class="col-lg-4">
														<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="subscription_duration_unit">
															{{#select queryURI.dateSelect}}
																<option value="1"> Days</option>
																<option value="2">Month</option>
															{{/select}}
														</select>
													</div>
												</div>
											</div>	
										</div>
										{{/ifCond}}
										{{#ifCond this.type '==' 'wholesale'}}
											<div class="col-lg-4">
												<div class="form-group">
													<label class="label-control">Type
														<span class="text-danger">*</span>
													</label>
													<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="marketplace_type_id"
													 id="marketplace_type_id">
														{{#if editProduct.marketplace_type_id}}
															<option value="{{editProduct.marketplace_type_id}}">{{editProduct.MarketplaceType.name}}</option>
														{{else}}
															<option disabled selected>Select Category...</option>
														{{/if}}
														{{#each marketplaceType}}
															{{#ifCond this.id '!=' ../editProduct.marketplace_type_id }}
																<option value="{{this.id}}">{{ Titlecase this.name}}</option>
															{{/ifCond}}
														{{/each}}
													</select>
												</div>
											</div>
										{{/ifCond}}
									</div>
									<div class="col-lg-6 exchangingProductDiv" style="display:none">
										<div class="form-group">
											<label class="label-control">Exchanging Product
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<input type="text" class="form-control-customized form-control-sm" name="exchanging_product" id="exchanging_product">
											</div>
										</div>
									</div>
									<div class="col-lg-6 exchangingProductQuantityDiv" style="display:none">
										<div class="form-group">
											<label class="label-control">Exchanging Product Qunatity
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<input type="text" class="form-control-customized form-control-sm" name="exchanging_product_quantity" id="exchanging_product_quantity">
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Category
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="product_category_id"
												 id="category" required>
													{{#if editProduct.product_category_id}}
														<option value="{{editProduct.product_category_id}}">{{Titlecase editProduct.Category.name}}</option>
													{{else}}
														<option disabled selected>Select Category...</option>
													{{/if}}
													{{#each categories}}
														{{#ifCond this.id '!=' ../editProduct.product_category_id}}
															<option value="{{this.id}}">{{ Titlecase this.name}}</option>
														{{/ifCond}}
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label-control">Sub Category
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="sub_category_id" id="sub_category"
												 required>
													{{#if editProduct.sub_category_id}}
														<option value="{{editProduct.sub_category_id}}">{{editProduct.SubCategory.name}}</option>
													{{else}}
														<option disabled selected>Select Sub Category...</option>
													{{/if}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Country
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="product_location" id="country"
												 required>
													{{#if editProduct.product_location}}
														<option value="{{editProduct.product_location}}">{{editProduct.Country.name}}</option>
													{{else}}
														<option disabled selected>Select Country...</option>
													{{/if}}
													{{#each country}}
														{{#ifCond this.id '!=' ../editProduct.product_location}}
															<option value="{{this.id}}">{{ this.name}}</option>
														{{/ifCond}}
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">State
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="state_id" id="state" value="">
													{{#if editProduct.state_id}}
														<option value="{{editProduct.state_id}}">{{editProduct.State.name}}</option>
													{{else}}
														<option disabled selected>Select State...</option>
													{{/if}}
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">City
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control-customized form-control-sm" name="city" value="{{editProduct.city}}">
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">SKU
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control-customized form-control-sm" placeholder="Stock keep unit" name="sku" value="{{editProduct.sku}}"
											 required>
										</div>
									</div>
									<div class="col-lg-4 priceDiv">
										<div class="form-group">
											<label class="label-control">Price
												<span class="text-danger">*</span>
											</label>
											<input type="text" name="price" id="price" class="form-control-customized form-control-sm" value="{{editProduct.price}}">
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Quantity Available
												<span class="text-danger">*</span>
											</label>
											<input type="text" id="quantity_available" name="quantity_available" class="form-control-customized form-control-sm" value="{{editProduct.quantity_available}}"
											 required>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Product Status
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="status"
												 id="product_status" value="{{editProduct.status}}">
												{{#if editProduct.status}}
												<!-- <option value="{{editProduct.status}}" selected>{{objectKey statusCode editProduct.status}}</option> -->
												{{else}}
												<option disabled selected>Select Status</option>
												{{/if}}
												<option value="1">Active</option>
												<option value="2">InActive</option>
												<option value="7">Suspended</option>
												<option value="8">Sold Out</option>
												</select>
											</div>
										</div>
									</div>
									{{#ifCond this.type '==' 'wholesale'}}
										<div class="col-lg-4">
											<div class="form-group">
												<label class="label-control">MOQ
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control-customized form-control-sm" name="moq" id="moq" value="{{editProduct.moq}}" placeholder="Minimum order Quantity">
											</div>
										</div>
									{{/ifCond}}
									<div class="col-lg-4 shippingDiv">
										<div class="form-group">
											<label class="label-control">Shipping Cost</label>
											<input type="text" class="form-control-customized form-control-sm" name="shipping_cost" id="shipping_cost" value="{{editProduct.shipping_cost}}">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">Description</label>
											<textarea class="form-control-customized" name="description" rows="8">{{editProduct.description}}</textarea>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">Would you like to put the product on sale?
											&nbsp;&nbsp;<input type="checkbox" value="1" name="exclusive_sale" id="exclusive_sale"
											{{#if editProduct.exclusive_sale}} checked {{/if}} >&nbsp;&nbsp;Yes</label>
										</div>
									</div>
								</div>
								<div class ="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Sale start date & time</label>
											<input type="text" class="form-control-customized form-control-sm salesDiv" {{#if editProduct.exclusive_start_date}}value="{{formatTime editProduct.exclusive_start_date "YYYY/MM/DD HH:mm"}}" {{/if}} name="exclusive_start_date" id="exclusive_start_date" disabled>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Sale end date & time</label>
											<input type="text" class="form-control-customized form-control-sm salesDiv" {{#if editProduct.exclusive_end_date}}value="{{formatTime editProduct.exclusive_end_date "YYYY/MM/DD HH:mm"}}" {{/if}} name="exclusive_end_date" id="exclusive_end_date" disabled>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="label-control">Offer amount (in %)</label>
											<input type="text" class="form-control-customized form-control-sm salesDiv" value="{{editProduct.exclusive_offer}}" name="exclusive_offer" disabled>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- {{#ifCond this.type '==' 'wholesale'}}
										<div class="col-lg-8">
											<div class="form-group">
												<label class="label-control">Add bulk order discount tier.</label>
												<div class="input-group">
													<div class="custom-file">
														 {{#ifCond editProduct.Discounts.length '<' 3}}
														<i class='fas fa-plus discount_tier' id="editdiscount"></i>
														{{else ifCond editProduct.Discounts.length '==' null}}	
														<i class='fas fa-plus discount_tier' id="editdiscount"></i>
														{{else}}
														<i class='fas fa-plus discount_tier' id="editdiscount" style="display:none"></i>
														{{/ifCond}}
													</div>
												</div>
												<section id="discountAppend">
													{{#if editProduct.Discounts}}
														{{#each editProduct.Discounts}}
														{{#ifCond @index '>' 0}}&nbsp; {{/ifCond}}
															<div class="row discountRow">
																<div class="col-lg-1">
																	<label  class="label-control">For</label>
																</div>
																<div class="col-lg-2">
																	<input type="text" class="form-control-customized form-control-sm quantity" value="{{this.quantity}}" name="discount_quantity{{@index}}" id="discount_quantity{{@index}}" placeholder="20">
																</div>
																<div class="col-lg-2">
																	<label  class="label-control">product user receives</label>
																</div>
																<div class="col-lg-3">
																	<div class="row edit-listing-dis">
																		<input type="radio" class="discount_type" id="percentage_discount{{@index}}" name="discount_type{{@index}}" value="percentage_discount" {{#ifCond this.type '==' 1}} checked {{/ifCond}} onclick=testPercent('{{@index}}');> Total Percent Discount&nbsp; &nbsp;
																		<input class="list_place_21 discount_amount percent_discount_amount{{@index}}" type="text" name="percent_discount_amount{{@index}}" placeholder="20%" value="{{this.percent_discount}}" {{#ifCond this.type '==' 2}} style="display:none" {{/ifCond}} >
																	</div>
																	<div class="row edit-listing-dis">
																		<input type="radio" class="discount_type" id="value_discount{{@index}}" name="discount_type{{@index}}" value="value_discount" {{#ifCond this.type '==' 2}} checked {{/ifCond}} onclick=testValue('{{@index}}');> Total Value Discount &nbsp;&nbsp;
																		<input class="list_place_21 discount_amount value_discount_amount{{@index}}" type="text" name="value_discount_amount{{@index}}" value="{{this.value_discount}}" placeholder="20$" {{#ifCond this.type '==' 1}} style="display:none" {{/ifCond}}/>
																	</div>
																</div>
																<div class="col-lg-1" style="float:right">
																	<a href="javascript:;"  onclick="removeDiscount(this)"><small>Remove</small></a>
																</div>
															</div>
														{{/each}}
													{{/if}}
												</section>
											</div>
										</div>
									{{/ifCond}} -->

									<div class="col-lg-8" id="attributeDiv">
										{{#if editProduct.ProductAttributes}}
											<div class="form-group">
												<label class="label-control">Product Attributes </label>
												<div class="col-lg-8 border" style="padding: 0px;">
													<div class="modal-body">
														<div class="container">
															<table class="table">
																<thead>
																	<tr>
																		<th class="shop_list_title">
																			<b>Attribute</b>
																		</th>
																		<th class="shop_list_title">
																			<b>Value</b>
																		</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	{{#each editProduct.ProductAttributes}}
																	<tr>
																		<td>{{this.Attribute.attr_name}}</td>
																		<td>
																			<input type='text' name="{{this.attribute_id}}" value="{{this.value}}" class='m-input-xxs all-quantity-cart-items' 
																			style='width:auto;'>
																		</td>
																	</tr>
																	{{/each}}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										{{/if}}
									</div>

									<div class="col-lg-8">
										<div class="form-group">
											<label class="label-control">Upload product base image
												<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<input type="file" class="custom-file-input" id="baseImage" name="baseImage">
												<label class="custom-file-label customized-file-label" for="baseImage">Choose file</label>
											</div>
										</div>
										<div class="base_image">
										</div>
									</div>
									{{#if editProduct}}
									<div class="col-lg-3">
										<div class="form-group">
											<label class="label-control">Feature this Product:</label>
											<div class="input-group">
												<div class="custom-file">
													<i class='fas fa-plus data-value' 
													data-toggle="modal" data-target="#featureModal" data-whatever="@mdo"></i>
												</div>
											</div>
										</div>
									</div>
									{{/if}}
								</div>
								<br/>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label-control">Add More Images( 6 max.)</label>
											<div class="input-group">
												<div class="custom-file">
													<i class='fas fa-plus' id='productImage'></i>
													<input type="file" class="custom-file-input" id="imageUpload" name="files" style="display:none">
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
									<span class="preview"></span>
									</div>
								</div>
								<br/>
								<br/>
								<hr/>
								<div class="row">
									<div class="col-md-12">
										<button class="ladda-button btn {{#if editProduct}}update-btn{{else}}btn-primary{{/if}} btn-small" type="submit" data-style="expand-left">
											<span class="ladda-label">{{#if editProduct}}UPDATE{{else}}SUBMIT{{/if}}</span>
											<span class="ladda-spinner"></span>
										</button>
										<button class="ladda-button btn btn-small btn-muted" type="reset" id="reset" data-style="expand-left">
											<span class="ladda-label">CANCEL</span>
											<span class="ladda-spinner"></span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{{else}}
				{{> plan-inactive}}		
			{{/if}}
		</div>
	</div>
</div>


<div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">FEATURE THIS PRODUCT</h5>
			</div>
			<div class="vendor-alert msg-warning indefiniteFeatureMsg" tabindex="1">
				<div class="gtc-container text-center">
					<span><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Feature amount auto renewed from your primary card per 28 days.</span>
				</div>
			</div>
			<div class="alert" id="gtc-feature-form-alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="form-message"></span>
            </div>
			<form id="featureForm" class="form">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control"><b>Product Name:</b></label>
								<input type="text" name="product_name" value="{{editProduct.product_name}}" readonly class="form-control-customized form-control-sm"
								 required/>
							</div>
						</div>
					</div><br/>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-2">
									<label class="label-control"><b>Status:</b></label>
								</div>
								<div class="col-lg-5">
									<div class="input-group">
										<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name='feature_status'>
											<option value="ACTIVE">Active</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control"><b>Duration:</b></label>
								<div class="row date-picker">
									<div class="col-lg-4">
										<input class="form-control-customized form-control-sm" id='start_date' name="start_date"
										type="text" placeholder="mm/dd/yyyy">
									</div>
									<div class="col-lg-1">
										<label class="label-control">to:</label>
									</div>
									<div class="col-lg-4">
										<input class="form-control-customized form-control-sm" name="end_date" id='end_date'
										type="text" placeholder="mm/dd/yyyy">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
									<input type="checkbox" id='feature_indefinitely' value="1" name='feature_indefinitely'> <label class="label-control">Feature this product indefinitely</label>
							</div>
						</div>
						<div class="col-lg-12">
							<label class="label-control"><b>Feature this product:</b></label>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<input type="checkbox" value="1" class="positions" name="position_profilepage" id='0'> <label class="label-control">My Profile Page Only (Free)</label><br/>
								<input type="checkbox" value="1" class="positions" name="position_searchresult" id='50'> <label class="label-control">In Search Results(+$50/mo)</label><br/>
								{{#ifCond this.type '==' 'wholesale'}}
									<input type="checkbox" value="1" class="positions" name="position_wholesale_landing" id='150'> <label class="label-control">Wholesale Landing(+$150/mo)</label><br/>
								{{else ifCond this.type '==' 'shop'}}
									<input type="checkbox" value="1" class="positions" name="position_shop_landing" id='150'> <label class="label-control">Shop Landing(+$150/mo)</label><br/>
								{{else ifCond this.type '==' 'services'}}
									<input type="checkbox" value="1" class="positions" name="position_service_landing"  id='150'> <label class="label-control">Services Landing(+$150/mo)</label><br/>
								{{else ifCond this.type '==' 'lifestyle'}}
									<input type="checkbox" value="1" class="positions" name="position_subscription_landing"  id='150'> <label class="label-control">Subscription Landing(+$150/mo)</label><br/>
								 {{/ifCond}}
								<input type="checkbox" value="1" class="positions" id='250' name="position_homepage"> <label class="label-control">GTC Homepage(+$250/mo)</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control"><b>TOTAL:</b></label>
								<label class="label-control"><b>$<span id="totalFees">0.00</span> /mo</b></label>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-small btn-muted" data-dismiss="modal">
						<b>CANCEL</button>
					<button type="submit" class="btn btn-small btn-primary" id='continue' style="background:green">
						<b>CONTINUE</b>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="featurePaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Payment:</h5>
			</div>
			<form id="featurePaymentForm" class="form">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control"><b>From</b>&nbsp;&nbsp;&nbsp;
									<span id="feature_start_date"></span>&nbsp;&nbsp;&nbsp;<b>to</b>&nbsp;&nbsp;&nbsp;
									<span id="feature_end_date"></span>
								</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control">Total Amount: <b>$<span id="feature_total"></span></b></label>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="label-control">Payment Method:
									<a href="/billing-settings">&nbsp;(Add Card)</a>
								</label>
								<div class="input-group">
									<select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="payment_details" >
										<option disabled='disabled' selected>Select Payment Method...</option>
											{{#each cardDetails}}
												<option value='{{this.id}}'>{{this.card_type}} **** **** **** {{json this.card_details 'last4'}}</option>
											{{/each}}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-small btn-muted" data-dismiss="modal">
						<b>CANCEL</button>
					<button type="submit" class="btn btn-small btn-primary" style="background:green">
						<b>FEATURE</b>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="feature-success-modal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><span id="feature_response_message"></span></h5>
			</div>
			<div class="modal-body">
				<div class="container">
					<p><span id="feature_response_message_details"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
					<b>Ok</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/add-product.js"></script>
{{> footer/bottom-footer}}
