{{> header/top-header LoggedInUser = LoggedInUser}} {{> vendor/vendor-menu}}
<style>
	div img {
    width: 100%;
    height: 100%;
}
</style>
<script>
	var product_id = {{ product.id }};
	var discountLength = {{product.Discounts.length}};

	function changeCategory(e) {
		$.ajax({
			url: '/api/sub-categories?category_id=' + e.value,
			type: 'GET',
			success: function(result) {
				$("#sub_category").empty();
				for (var i = 0; i < result.rows.length; i++) {
					var options;
					options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
					$("#sub_category").append(options)
				}
			},
			error: function(error) {
				console.log("Error", error);
			}
		});
	}

	function editProduct(editInput) {

		$.ajax({
			type: 'POST',
			url: '/api/product/edit-product?product_id=' + product_id,
			data: editInput,
			success: function(data) {
				$('#gtc-listing-alert').removeClass('alert-danger').addClass('alert-success');
				$('#gtc-listing-alert .listing-message').text('Product Updated Successfully');
				$("#gtc-listing-alert").fadeTo(7000, 500).slideUp(500, function() {
					$("#gtc-listing-alert").slideUp(500);
				});
				setTimeout(function () {
							location.reload(true);
				}, 1000);
			},
			error: function(error) {
				console.log('error', error);
			}
		})
	}

	$(document).ready(function() {
		$("#gtc-listing-alert").hide();

		if(discountLength){
			var count = discountLength;
		}else{
			var count =1;
		}

		$("#editForm").validate({
			rules: {
				product_name: "required",
				sku: "required",
				quantity_available: "required",
				price: "required"
			},
			messages: {
				product_name: "Please enter product name",
				sku: "Please enter stock keeping unit",
				quantity_available: "Please enter available quantity",
				price: "Please enter product price"
			}
		});

		$("#editdiscount").click(function(e) {

			if (count < 3) {

				var domElement = '<br/><div class="row"><div class="col-lg-1"><p class="edit-listing-dis">For</p></div><div class="col-lg-2">'+
								    '<input type="text" class="list_place_1 quantity" name="discount_quantity'+count+'" id="discount_quantity'+count+'" placeholder="20"></div>'+
									'<div class="col-lg-3 no-padding"><p class="edit-listing-dis">&nbsp; &nbsp; user receives</p></div>'+
									'<div class="col-lg-6 no-padding"><div class="row edit-listing-dis"><input type="radio" class="discount_type" id="percentage_discount0"'+
									'name="discount_type'+count+'" value="percentage_discount" checked onclick=testPercent(' + count + ');> Total Percent Discount&nbsp; &nbsp;'+
									'<input class="list_place_21 discount_amount percent_discount_amount'+count+'" type="text" name="percent_discount_amount'+count+'" placeholder="20%" onclick=testPercent(' + count + ');></div>'+
									'<div class="row edit-listing-dis"><input type="radio" class="discount_type" id="value_discount'+count+'" name="discount_type'+count+'"'+
									'value="value_discount" onclick=testValue(' + count + ')> Total Value Discount &nbsp;&nbsp;<input class="list_place_21 discount_amount value_discount_amount'+count+'"'+
									'type="text" name="value_discount_amount'+count+'" placeholder="20$" style="display:none" /></div></div></div>'
			
			$('#discountAppend').append(domElement);

			count = count + 1;
			   if (count == 3) {
				$(".discount_tier").hide();
			    }
			  }
		});

		$("#editForm").submit(function(e) {
		    e.preventDefault();

			  	var temp1 = $.map($('.quantity'), function(el) {
			  		return el.value;
		     	});

				var quantArr = temp1.filter(function(v) { return v !== '' });

				var typeArr = $.map($('.discount_type:radio:checked'), function(el) {
					return el.value;
				});

				var temp2 = $.map($('.discount_amount'), function(el) {
					return el.value;
				});
 
				var amtArr = temp2.filter(function(v) { return v !== '' });

				var j = 0; discountArr = [];
				quantArr.forEach(function(element) {

					let discount = {};
					discount.product_id = product_id;
					discount.status = 1;
					discount.quantity = quantArr[j];
					if (typeArr[j] == 'percentage_discount') {
						discount.type = 1;
						discount.percent_discount = amtArr[j];
					}
					else {
						discount.type = 2;
						discount.value_discount = amtArr[j];
					}
					discountArr.push(discount);
					j++;
				})

				var dataFormate = {};
				dataFormate.data = JSON.stringify(discountArr);

				$.ajax({
					type: 'POST',
					url: '/api/product/discount/'+product_id,
					data: dataFormate,
					success: function(data, text) {
						console.log("discount updated");
					},
					error: function(request, status, error) {
						console.log('status', status);
						console.log('error', error);
					}
				});

				var editInput = $("#editForm :input").filter(function(index, element) {
					return $(element).val() != '';
				}).serialize();

			if ($('#editForm').valid()) {
				editProduct(editInput);
			}
		});

		$("#editForm").validate({
		rules: {
			product_name: "required",
			sku: "required",
			quantity_available: "required",
			price: "required"
		},
		messages: {
			product_name: "Please enter product name",
			sku: "Please enter stock keeping unit",
			quantity_available: "Please enter available quantity",
			price: "Please enter product price"
		}
	  });
	});

	 function testValue(count) {
			$(".value_discount_amount" + count).show();
			$(".percent_discount_amount" + count).hide();
	    }

		function testPercent(count) {
			$(".value_discount_amount" + count).hide();
			$(".percent_discount_amount" + count).show();
		}
</script>
<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
			<div class="col-sm-8">
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox-title">
							<h2>Manage Product - {{ product.product_name}}</h2>
							<div class="alert" id="gtc-listing-alert">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="listing-message"></span>
							</div>
						</div>
						<div class="content-body">
							<section class= {{#ifCond this.type '==' 'wholesale'}}"box2 list_sec"
							                {{else ifCond this.type '==' 'shop'}}"public-market-bg list_sec"
											{{else ifCond this.type '==' 'services'}}"service-market-bg list_sec"
											{{else ifCond this.type '==' 'lifestyle'}}"lifestyle-market-bg list_sec"{{/ifCond}}>
                            <div class="container">
								<div class="row">
									<div class="col-lg-12 box2_align">
										<h5>{{ convertUpperCase product.Marketplace.name}}</h5>
									</div>
								</div>
							</div>
                            </section>
							<form role="form" id="editForm">
								<div class="row">
									<div class="col-lg-4">
									    <div class='row'>
											<div class="col-lg-12">
                                                {{#each product.ProductMedia}}
													{{#ifCond this.base_image '==' 1 }}
                                                 				<img src="{{this.url}}"/>
														{{/ifCond}}
												{{/each}}
											</div>
                                        </div><br/>
										<div class='row'>
											{{#each product.ProductMedia}}
											    {{#ifCond @index '<' 3}}
											        {{#ifCond this.base_image '!=' 1 }}
														<div class="col-lg-4">
                                                 			<img src="{{this.url}}"/>
														</div>
													{{/ifCond}}
												{{/ifCond}}
											{{/each}}
                                        </div>
                                    </div>
									<div class="col-lg-8">
										<div class="row">
											<div class="col-lg-3">
												<label class="label-control">
													Status:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="status" style="background:white;">
													<option value="{{product.status}}" disabled selected>{{objectKey statusCode product.status}}</option>
													<option value="ACTIVE">Active</option>
													<option value="INACTIVE">InActive</option>
													<option value="SUSPENDED">Suspended</option>
													<option value="SOLDOUT">Sold Out</option>
												</select>
											</div>
											<div class="col-lg-3">
												<label class="label-control">
													Category:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="product_category_id" onchange="changeCategory(this)" style="background:white;">
													<option value="{{product.product_category_id}}" disabled selected>{{ Titlecase product.Category.name}}</option>
														{{#each categories}}
															<option value="{{this.id}}">{{Titlecase this.name}}</option>
														{{/each}}
												</select>
											</div>
											<div class="col-lg-3">
												<label class="label-control">
													Sub Category:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="sub_category_id" id="sub_category" style="background:white;">
													<option value="{{product.sub_category_id}}" disabled selected>{{product.SubCategory.name}}</option>
												</select>
											</div>
											<div class="col-lg-3">
												<label class="label-control">
													SKU:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <input type="text" class="form-control-customized form-control-sm" name="sku" id="sku" placeholder="Enter Stock Keeping Unit" value="{{product.sku}}" value="{{product.moq}}" style="background:white;" required>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<div class="col-lg-3">
												<label class="label-control">
													MOQ:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <input type="text" class="form-control-customized form-control-sm" name="moq" id="moq" placeholder="Enter Minimum Order Quantity" value="{{product.moq}}" style="background:white;" required>
											</div>
											{{/ifCond}}
											<div class="col-lg-3">
												<label class="label-control">
													Availablity:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <input type="text" class="form-control-customized form-control-sm" name="quantity_available" placeholder="Enter Available Quantity" id="quantity_available" value="{{product.quantity_available}}" style="background:white;" required>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<div class="col-lg-3">
												<label class="label-control">
													Type:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <select class="custom-select form-control-customized form-control-sm custom_left_arrow_style" name="marketplace_type_id" style="background:white;">
													<option value="{{product.marketplace_type_id}}" disabled selected>{{product.MarketplaceType.name}}</option>
														{{#each marketplaceType}}
														  <option value="{{this.id}}">{{this.name}}</option>
														{{/each}}
												</select>
											</div>
                                            {{/ifCond}}
											<div class="col-lg-3">
												<label class="label-control">
													Name:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <input type="text" class="form-control-customized form-control-sm" name="product_name" id="product_name" value="{{product.product_name}}" placeholder="Enter Product Name" style="background:white;" required>
											</div>
											<div class="col-lg-3">
												<label class="label-control">
													Price:
												</label>
                                            </div>
											<div class="col-lg-9">
                                                <input type="text" class="form-control-customized form-control-sm" name="price" id="price" value="{{product.price}}" placeholder="Enter Price" style="background:white;" required>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<br/><br/>
											{{#if product.Discounts}}
											{{#each product.Discounts}}
											<div class="col-lg-3"></div>
											<div class="col-lg-9" id="discountAppend">
												{{#ifCond @index '>' 0}}<br/> {{/ifCond}}
												<div class="row">
                                                <div class="col-lg-1">
                                                    <p class="edit-listing-dis">For</p>
												</div>
												<div class="col-lg-2">
													<input type="text" class="list_place_1 quantity" name="discount_quantity{{@index}}"  id="discount_quantity{{@index}}" value="{{this.quantity}}" placeholder="20">
												</div>
												<div class="col-lg-3 no-padding">
													<p class="edit-listing-dis">&nbsp; &nbsp; user receives</p>
												</div>
												<div class="col-lg-6 no-padding">
													<div class="row edit-listing-dis">
                                                        <input type="radio" class="discount_type " id="percentage_discount{{@index}}" name="discount_type{{@index}}" value="percentage_discount"
														{{#ifCond this.type '==' 1}} checked {{/ifCond}} onclick=testPercent('{{@index}}'); /> Total Percent Discount&nbsp; &nbsp; 
													    <input class="list_place_21 percent_discount_amount{{@index}} discount_amount" type="text" name="percent_discount_amount{{@index}}" value="{{this.percent_discount}}" placeholder="20%" 
														{{#ifCond this.type '==' 2}} style="display:none" {{/ifCond}} />
													</div>
													<div class="row edit-listing-dis">
														<input type="radio" class="discount_type" id="value_discount{{@index}}" name="discount_type{{@index}}" value="value_discount" 
														{{#ifCond this.type '==' 2}} checked {{/ifCond}} onclick=testValue('{{@index}}'); /> Total Value Discount &nbsp;&nbsp;
														<input class="list_place_21 value_discount_amount{{@index}} discount_amount" type="text" name="value_discount_amount{{@index}}" placeholder="20$" value="{{this.value_discount}}"
														{{#ifCond this.type '==' 1}} style="display:none" {{/ifCond}} />
													</div>
												</div>
											   </div>
											</div>
											{{/each}}
											{{else}}
											<div class="col-lg-3"></div>
											<div class="col-lg-9" id="discountAppend">
												<div class="row">
                                                <div class="col-lg-1">
                                                    <p class="edit-listing-dis">For</p>
												</div>
												<div class="col-lg-2">
													<input type="text" class="list_place_1 quantity" name="discount_quantity0"  id="discount_quantity0" placeholder="20">
												</div>
												<div class="col-lg-3 no-padding">
													<p class="edit-listing-dis">&nbsp; &nbsp; user receives</p>
												</div>
												<div class="col-lg-6 no-padding">
													<div class="row edit-listing-dis">
                                                        <input type="radio" class="discount_type " id="percentage_discount0" name="discount_type0" value="percentage_discount" checked /> Total Percent Discount&nbsp; &nbsp; 
													    <input class="list_place_21 percent_discount_amount0 discount_amount" type="text" name="percent_discount_amount0" placeholder="20%" />
													</div>
													<div class="row edit-listing-dis">
														<input type="radio" class="discount_type" id="value_discount0" name="discount_type0" value="value_discount" onclick=testValue('0'); /> Total Value Discount &nbsp;&nbsp;
														<input class="list_place_21 value_discount_amount0 discount_amount" type="text" name="value_discount_amount0" placeholder="20$" style="display:none" />
													</div>
												</div>
											   </div>
											</div>
											{{/if}}
		                                    {{#ifCond product.Discounts.length '<' 3}}
											<div class="col-lg-3 discount_tier"></div>
											<div class="col-lg-9 discount_tier">
												<p class="col-md-12 edit-listing-discount" id="editdiscount">
												<i class="fas fa-plus list_plus"></i> add bulk order discount tier.</p>
											</div>
											{{/ifCond}}
											{{#ifCond product.Discounts.length '==' null}}
											<div class="col-lg-3 discount_tier"></div>
											<div class="col-lg-9 discount_tier">
												<p class="col-md-12 edit-listing-discount" id="editdiscount">
												<i class="fas fa-plus list_plus"></i> add bulk order discount tier.</p>
											</div>
											{{/ifCond}}
											{{/ifCond}}
                                        	<div class="col-lg-3">
												<label class="label-control">
													Description:
												</label>
                                            </div>
											<div class="col-lg-9">
                                               <textarea class="form-control-customized" id="description" rows="7" cols="35" name="description" placeholder="Enter Product Description" style="background:white;">{{product.description}}</textarea>
											</div>
										</div>
										<hr/>
                                        <div class="row">
									        <div class="col-lg-12">
										        <button class="ladda-button btn update-btn btn-small btn-muted" id="userUpdateBtn" type="submit" data-style="expand-left">
											        <span class="ladda-label">Update</span>
											        <span class="ladda-spinner"></span>
										        </button>
										        <button class="ladda-button btn btn-small btn-muted" type="reset" id="userCancelBtn" data-style="expand-left">
											        <span class="ladda-label">Cancel</span>
											        <span class="ladda-spinner"></span>
										        </button>
									        </div>
								        </div>
                                    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}