<style>
	textarea {
		resize: none;
		overflow: hidden;
		height: auto;
	}

	.edit-image {
		cursor: pointer;
	}

	#editdiscount,
	#update,
	#reset {
		cursor: pointer;
	}

	.upload {
		display: none;
	}

	.editpic {
		padding-top: 10px;
		padding-right: 10px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.edit-image {
		transform: scale(1, 2);
	}
</style>
<script>
	$(function () {
		$("#from, #to").datepicker();
	});
</script>
<script>
	var textarea = null;
	window.addEventListener("load", function () {
		textarea = window.document.querySelector("textarea");
		textarea.addEventListener("keypress", function () {
			if (textarea.scrollTop != 0) {
				textarea.style.height = textarea.scrollHeight + "px";
			}
		}, false);
	}, false);

	function changeCategory(e) {
		$.ajax({
			url: '/api/sub-categories?category_id=' + e.value,
			type: 'GET',
			success: function (result) {
				$("#sub_category").empty();
				for (var i = 0; i < result.rows.length; i++) {
					var options;
					options = "<option value=" + result.rows[i].id + ">" + result.rows[i].name + "</option>";
					$("#sub_category").append(options)
				}
			},
			error: function (error) {
				console.log("Error", error);
			}
		});
	}

	function editProduct(data, input) {
		$.ajax({
			type: 'POST',
			url: '/api/product/edit-product?product_id=' + data,
			data: input,
			success: function (data) {
				$('#gtc-add-to-cart').prop('disabled', false);
				$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
				$('#gtc-cart-alert .cart-message').text('Product Updated Successfully');
				$("#gtc-cart-alert").fadeTo(7000, 500).slideUp(500, function () {
					$("#gtc-cart-alert").slideUp(500);
				});
			},
			error: function (error) {
				console.log('error', error);
			}
		})
	}

	$(document).ready(function () {

		$("#gtc-cart-alert").hide();
		var cropBoxData, canvasData, cropper, cropperInputImage, cropperOutputImage;
		var fileDetails = {};

		$('#crop-profile-image').click(function () {
			cropper.getCroppedCanvas().toBlob(function (blob) {
				cropperOutputImage = blob;
				fileDetails["croppedExtension"] = blob["type"].split("/")[1];
				fileDetails["fileName"] = fileDetails["originalFileName"] + "." + fileDetails["croppedExtension"]
			});
			$(test).attr('src', cropper.getCroppedCanvas().toDataURL());
			$('#profile-picture-modal').modal('hide');
		})

		$('#profile-picture-modal').on('shown.bs.modal', function () {
			cropper = new Cropper(cropperInputImage, {
				aspectRatio: 16 / 16,
				ready: function () {
					//cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
				}
			});
		}).on('hidden.bs.modal', function () {
			cropBoxData = cropper.getCropBoxData();
			canvasData = cropper.getCanvasData();
			cropper.destroy();
		});
		var test = "#UploadedImage1";

		$("#edit-image1").click(function (e) {
			test = '#UploadedImage1';
			$(".upload1").click();
		});

		$("#edit-image2").click(function (e) {
			test = "#UploadedImage2";
			$(".upload2").click();
		});

		$("#edit-image3").click(function (e) {
			test = "#UploadedImage3";
			$(".upload3").click();
		});

		$("#edit-image4").click(function (e) {
			test = "#UploadedImage4";
			$(".upload4").click();
		});
		$(".upload1").change(function () {
			fasterPreview(this);
		});
		$(".upload2").change(function () {
			fasterPreview(this);
		});
		$(".upload3").change(function () {
			fasterPreview(this);
		});
		$(".upload4").change(function () {
			fasterPreview(this);
		});

		function uploads(data, callback) {
			$.ajax({
				type: 'POST',
				url: '/api/prod/upload',
				data: data,
				cache: false,
				dataType: 'json',
				processData: false,
				contentType: false,
				success: function (data, text) {
					callback(data);

				},
				error: function (request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
		}

		function uploadMedia(data, id, callback) {
			$.ajax({
				type: 'PUT',
				url: '/api/product-medias/' + id,
				data: data,
				success: function (data, text) {
					callback(data);
				},
				error: function (request, status, error) {
					console.log('status', status);
					console.log('error', error);
				}
			});
		}

		function fasterPreview(uploader) {
			if (uploader.files && uploader.files[0]) {
				fileDetails["originalFileName"] = uploader.files[0]["name"].replace(/\.[^/.]+$/, "");
				fileDetails["originalExtension"] = uploader.files[0]["type"].split("/")[1];

				$(test).attr('src',
					window.URL.createObjectURL(uploader.files[0]));
				$('#uploaded-profile-picture').attr('src', window.URL.createObjectURL(uploader.files[0]));
				cropperInputImage = document.getElementById('uploaded-profile-picture');
				$('#profile-picture-modal').modal('show');
			}
		}

		var data = {{ product.id }};

	$("#editForm").submit(function (e) {
		e.preventDefault();

		var temp1 = $.map($('.quantity'), function (el) {
			return el.value;
		});
		var quantArr = temp1.filter(function (v) { return v !== '' });

		var typeArr = $.map($('.discount_type:radio:checked'), function (el) {
			return el.value;
		});

		var temp2 = $.map($('.discount_amount'), function (el) {
			return el.value;
		});
		var amtArr = temp2.filter(function (v) { return v !== '' });

		var j = 0; discountArr = [];
		quantArr.forEach(function (element) {

			let discount = {};
			discount.product_id = data;
			discount.status = 1;
			discount.quantity = quantArr[j];
			if (typeArr[j] == 'percentage_discount') {
				discount.type = 1;
				discount.percent_discount = amtArr[j];
			}
			else {
				discount.type = 2;
				discount.value_discount = amtArr[j];
			}
			discountArr.push(discount);
			j++;
		})

		var dataFormate = {};
		dataFormate.data = JSON.stringify(discountArr);

		$.ajax({
			type: 'POST',
			url: '/api/product/discount',
			data: dataFormate,
			success: function (data, text) {
				console.log("discount updated");
			},
			error: function (request, status, error) {
				console.log('status', status);
				console.log('error', error);
			}
		});

		let input = $("#editForm :input").filter(function (index, element) {
			return $(element).val() != '';
		}).serialize();

		if ($('#editForm').valid()) {
			editProduct(data, input);
		}

	var productImage = {{{ DisplayJSON product.ProductMedia }}};
	var i = 0;
	var imageId = [];
	productImage.forEach(function (element) {
		imageId[i] = element.id;
		i++;
	});

	let obj = {};

	if ($("#imageEdit1")[0].files[0]) {
		var form = new FormData();
		form.append("file", $("#imageEdit1")[0].files[0]);
		uploads(form, function (location) {
			obj = {
				url: location.imageURL
			}
			uploadMedia(obj, imageId[0], function (data) {
				console.log("updated Successfully");
			})
		});
	}
	if ($("#imageEdit2")[0].files[0]) {
		var form = new FormData();
		form.append("file", $("#imageEdit2")[0].files[0]);
		uploads(form, function (location) {
			obj = {
				url: location.imageURL
			}
			uploadMedia(obj, imageId[1], function (data) {
				console.log("updated Successfully");
			})
		});
	}
	if ($("#imageEdit3")[0].files[0]) {
		var form = new FormData();
		form.append("file", $("#imageEdit3")[0].files[0]);
		uploads(form, function (location) {
			obj = {
				url: location.imageURL
			}
			uploadMedia(obj, imageId[2], function (data) {
				console.log("updated Successfully");
			})
		});
	}
	if ($("#imageEdit4")[0].files[0]) {
		var form = new FormData();
		form.append("file", $("#imageEdit4")[0].files[0]);
		uploads(form, function (location) {
			obj = {
				url: location.imageURL
			}
			uploadMedia(obj, imageId[3], function (data) {
				console.log("updated Successfully");
			})
		});
	} 
	})

	$("#editForm").validate({
		rules: {
			product_name: "required",
			sku: "required",
			quantity_available: "required",
			price: "required"
		},
		messages: {
			product_name: "Please enter product name",
			sku: "Please enter stock keeping unit",
			quantity_available: "Please enter available quantity",
			price: "Please enter product price"
		}
	});

	var count = 1;
	$("#editdiscount").click(function (e) {

		if (count < 3) {

			var domElements = '<div class="row"><div class="col-xs-3 col-sm-3 col-md-3"></div><div class="col-xs-9 col-sm-9 col-md-9">' +
				'<div class="row form-group"' + 'style="padding-left: 10px;"' + '><div class="col-md-1 edit-listing-discount"><p>For</p></div>' +
				'<div class="col-md-1 common_padding1" style="margin-right: 5px;">' +
				'<input class="list_place_1 quantity" type="text" name="discount_quantity' + count + '" id="discount_quantity' + count + '" placeholder="20"/></div>' +
				'<div class="col-md-2 common_padding1" style="margin-right:15px;"><p class="edit-listing-dis">user recieves</p></div>' +
				'<div class="col-md-7 common_padding1"><div class="row "><div class="col-md-6 common_padding1"><p class="edit-listing-dis">' +
				'<input type="radio" class="discount_type" name="discount_type' + count + '" id="percentage_discount' + count + '" value="percentage_discount" onclick=testPercent(' + count + '); checked /> Total Percent Discount</p></div>' +
				'<div class="col-md-3 common_padding1 percent_discount_amount' + count + '"><input class="list_place_2 discount_amount" type="text" id="percent_discount_amount' + count + '" name="percent_discount_amount' + count + '" placeholder="20%" />%</div>' +
				'<div class="col-md-1 common_padding1 percent_discount_amount' + count + '"><p class="list_edit"><i class="fas fa-pencil-alt"></i> Edit</p></div></div>' +
				'<div class="row "><div class="col-md-6 common_padding1"><p class="edit-listing-dis">' +
				'<input type="radio" class="discount_type" name="discount_type' + count + '" id="value_discount' + count + '" value="value_discount" onclick=testValue(' + count + '); /> Total Value Discount</p></div>' +
				'<div class="col-md-3 common_padding1 value_discount_amount' + count + '" style="display:none"><input class="list_place_2 discount_amount" type="text" name="value_discount_amount' + count + '" placeholder="20$"/>$</div>' +
				'<div class="col-md-1 common_padding1 value_discount_amount' + count + '" style="display:none"><p class="list_edit"><i class="fas fa-pencil-alt"></i> Edit</p></div></div></div></div></div></div>'

			$('#discountAppend').append(domElements)
			//	document.getElementById("discountAppend").innerHTML=document.getElementById("discountAppend").innerHTML+domElements;

			count = count + 1;
			if (count == 3) {
				$(".discount_tier").hide();
			}
		}
	})

	$('input:checkbox:not("#feature_indefinitely")').change(function () {
		recalculate();
	});
	function recalculate() {
		var sum = 0;
		$("input:checkbox:not('#feature_indefinitely'):checked").each(function () {
			sum += parseInt($(this).val());
		});
		$('#totalFees').html(sum);
	}
	});

	function testValue(count) {
		$(".value_discount_amount" + count).show();
		$(".percent_discount_amount" + count).hide();
	}

	function testPercent(count) {
		$(".value_discount_amount" + count).hide();
		$(".percent_discount_amount" + count).show();
	}

</script>

<div class="modal fade" id="profile-picture-modal" tabindex="-1" role="dialog" aria-labelledby="profile-picture-modalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profile-picture-modalLabel">Crop Profile Avatar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="margin-right:35px">
				<div class="container">
					<img src="" style="max-width: 100% !important;" id="uploaded-profile-picture" alt="Profile Picture">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="crop-profile-image">Crop Image</button>
			</div>
		</div>
	</div>
</div>

{{> header/defaultHeader LoggedInUser = LoggedInUser}} {{> vendor/header}}
<section class="showing_categ">
	<div class="">
		<div class="container-fluid">
			<div class="row">
				{{> vendor/navbar}}
				<div class="col-md-8" style="background-color: #fff;">
					<form role="form" id="editForm">
						<h5 class="list_manage">Manage Product - {{ product.product_name}}</h5>
						<div class="alert" id="gtc-cart-alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
							<span class="cart-message"></span>
						</div>
						{{#ifCond this.type '==' 'wholesale'}}
						<section class="box2 list_sec">
							{{else ifCond this.type '==' 'shop'}}
							<section class="public-market-bg list_sec">
								{{else ifCond this.type '==' 'services'}}
								<section class="service-market-bg list_sec">
									{{else ifCond this.type '==' 'lifestyle'}}
									<section class="lifestyle-market-bg list_sec">
										{{/ifCond}}
										<div class="container">
											<div class="row">
												<div class="col-md-12 box2_align">
													<h5>{{ convertUpperCase product.Marketplace.name}}</h5>
												</div>
											</div>
										</div>
									</section>
									<div class="row">
										<div class="col-md-4">
											{{#if product.ProductMedia.[0].url}}
											<img id="UploadedImage1" src="{{product.ProductMedia.[0].url}}" alt="logo" style="width: 240px; height:300px; margin-bottom: 10px;"
											/>
											<div class="editpic">
												<i class="far fa-edit edit-image" id="edit-image1" style="color:black"></i>
											</div>
											<input class="upload1" id="imageEdit1" type="file" name="file" onclick="this.value=null;" style="display:none"> {{/if}}
											<div class="row">
												{{#if product.ProductMedia.[1].url}}
												<div class="col-md-4">
													<img id="UploadedImage2" src="{{product.ProductMedia.[1].url}}" alt="logo" style="width:70px;height:100px;" />
													<div class="editpic">
														<i class="far fa-edit edit-image" id="edit-image2" style="color:black"></i>
													</div>
													<input class="upload2" id="imageEdit2" type="file" name="file" onclick="this.value=null;" style="display:none">
												</div>
												{{/if}} {{#if product.ProductMedia.[2].url}}
												<div class="col-md-4">
													<img id="UploadedImage3" src="{{product.ProductMedia.[2].url}}" alt="logo" style="width:70px;height:100px;" />
													<div class="editpic">
														<i class="far fa-edit edit-image" id="edit-image3" style="color:black"></i>
													</div>
													<input class="upload3" id="imageEdit3" type="file" name="file" onclick="this.value=null;" style="display:none">
												</div>
												{{/if}} {{#if product.ProductMedia.[3].url}}
												<div class="col-md-4">
													<img id="UploadedImage4" src="{{product.ProductMedia.[3].url}}" alt="logo" style="width:70px;height:100px;" />
													<div class="editpic">
														<i class="far fa-edit edit-image" id="edit-image4" style="color:black"></i>
													</div>
													<input class="upload4" id="imageEdit4" type="file" name="file" onclick="this.value=null;" style="display:none">
												</div>
												{{/if}}
											</div>
										</div>

										<div class="col-md-8">
											<div class="row" style="padding-top:20px">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Status
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<select class="edit-listing" name="status" id="status" value="${{product.status}}" style="background:white;">
															<option value="ACTIVE">Active</option>
															<option value="INACTIVE">InActive</option>
															<option value="SUSPENDED">Suspended</option>
															<option value="SOLDOUT">Sold Out</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Category
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<select class="edit-listing" name="product_category_id" id="category" style="background:white;" onchange="changeCategory(this)">
															<option value="{{product.product_category_id}}" disabled selected>{{ Titlecase product.Category.name}}</option>
															{{#each category}}
															<option value="{{this.id}}">{{Titlecase this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Sub Category
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<select class="edit-listing" name="sub_category_id" style="background:white;" id="sub_category" value="">
															<option value="{{product.sub_category_id}}" disabled selected>{{product.SubCategory.name}}</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														SKU
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<input type="text" name="sku" id="sku" placeholder="Enter Stock Keeping Unit" value="{{product.sku}}" class="edit-listing"
														 required/>
													</div>
												</div>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														MOQ
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<input type="text" name="moq" id="moq" placeholder="Enter Minimum Order Quantity" value="{{product.moq}}" class="edit-listing"
														/>
													</div>
												</div>
											</div>
											{{/ifCond}}
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Availablity
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<input type="text" name="quantity_available" placeholder="Enter Available Quantity" id="quantity_available" value="{{product.quantity_available}}"
														 class="edit-listing" required/>
													</div>
												</div>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Category
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<select class="edit-listing" name="marketplace_type_id" style="background:white;">
															<option value="{{product.marketplace_type_id}}" disabled selected>{{product.MarketplaceType.name}}</option>
															{{#each marketplaceType}}
															<option value="{{this.id}}">{{this.name}}</option>
															{{/each}}
														</select>
													</div>
												</div>
											</div>
											{{/ifCond}}
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Name
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<input type="text" name="product_name" id="product_name" value="{{product.product_name}}" class="edit-listing" placeholder="Enter Product Name"
														 required/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Price
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<input type="text" name="price" id="price" value="{{product.price}}" class="edit-listing" placeholder="Enter Price" required/>
													</div>
												</div>
											</div>
											{{#ifCond this.type '==' 'wholesale'}}
											<div class="row" id="discountAppend">
												<div class="col-xs-3 col-sm-3 col-md-3">
												</div>
												<div class="col-xs-9 col-sm-9 col-md-9">
													<div class="row form-group">
														<div class="col-md-1 edit-listing-discount">
															<p>For</p>
														</div>
														<div class="col-md-1 common_padding1" style="margin-right: 5px;">
															<input class="list_place_1 quantity" type="text" name="discount_quantity0" id="discount_quantity0" placeholder="20" />
														</div>
														<div class="col-md-2 common_padding1" style="margin-right:15px;">
															<p class="edit-listing-dis">user recieves</p>
														</div>
														<div class="col-md-7 common_padding1">
															<div class="row ">
																<div class="col-md-6 common_padding1">
																	<p class="edit-listing-dis">
																		<input type="radio" class="discount_type" id="percentage_discount0" name="discount_type0" value="percentage_discount" checked
																		 onclick=testPercent( '0'); /> Total Percent Discount</p>
																</div>
																<div class="col-md-3 common_padding1 percent_discount_amount0">
																	<input class="list_place_2 discount_amount" type="text" name="percent_discount_amount0" placeholder="20%" />%
																</div>
																<div class="col-md-1 common_padding1 percent_discount_amount0">
																	<p class="list_edit">
																		<i class="fas fa-pencil-alt"></i> Edit</p>
																</div>
															</div>
															<div class="row ">
																<div class="col-md-6 common_padding1">
																	<p class="edit-listing-dis">
																		<input type="radio" class="discount_type" id="value_discount0" name="discount_type0" value="value_discount" onclick=testValue(
																		 '0'); /> Total Value Discount</p>
																</div>
																<div class="col-md-3 common_padding1 value_discount_amount0" style="display:none">
																	<input class="list_place_2 discount_amount" type="text" name="value_discount_amount0" placeholder="20$" />$
																</div>
																<div class="col-md-1 common_padding1 value_discount_amount0" style="display:none">
																	<p class="list_edit">
																		<i class="fas fa-pencil-alt"></i> Edit</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row discount_tier">
												<div class="col-xs-3 col-sm-3 col-md-3">
												</div>
												<div class="col-xs-9 col-sm-9 col-md-9">
													<div class="row form-group">
														<p class="col-md-12 edit-listing-discount" id="editdiscount">
															<i class="fas fa-plus list_plus"></i> add bulk order discount tier.</p>
													</div>
												</div>
											</div>
											{{/ifCond}}
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													<label class="edit-listing">
														Description
													</label>
												</div>
												<div class="col-xs-5 col-sm-5 col-md-5">
													<div class="form-group">
														<textarea class="edit-listing" id="description" name="description" rows="7" cols="35" placeholder="Enter Product Description">{{product.description}}</textarea>
													</div>
												</div>
											</div>
											<hr/>
											<div class="row" style="margin-bottom: 20px;">
												<div class="col-md-2 col-5">
													<input class="list_butt_1" type="submit" id="update" value="UPDATE" />
												</div>
												<div class="col-md-10 col-6">
													<input class="list_butt_2" type="reset" id="reset" value="CANCEL" />
												</div>
											</div>
										</div>
									</div>
					</form>
				</div>
				<div class="col-md-2">
					<div class="list_bg">
						<p class="list_fe">FEATURE THIS PRODUCT!</p>
						<div class="list-padding">
							<div class="row ">
								<div class="col-md-6">
									<img src="{{feature.product_base_image}}" alt="logo" style="width: 100%" />
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<p class="list_ip">{{feature.product_name}}</p>
							<div class="row">
								<div class="col-md-6 list_rup">
									${{feature.product_price}}
								</div>
								{{!--
								<div class="col-md-6">
									<p class="list_save">SAVE $20 </p>
									<p class="list_left">12m left! </p>
								</div> --}}
							</div>
							<div class="row">
								<div class="col-md-5 edit-listing-feature">
									<p style="margin-left:10px;">Category:</p>
								</div>
								<div class="col-md-7 edit-listing-feature">
									<p style="margin-right:10px;">{{Titlecase feature.category_name}}> {{feature.sub_category_name}} </p>
								</div>
								<div class="col-md-5 edit-listing-feature">
									<p style="margin-left:10px;">Sellar Rating:</p>
								</div>
								<div class="col-md-7 edit-listing-feature">
									<p>{{ starCount feature.product_rating}}</p>
								</div>
							</div>
							<hr class="list-hr">
							<p class="edit-listing-feature"> Status:
								<span> Live </span>
							</p>
							<select class="edit_lists_feature_buttonstyle">
								<option disabled selected>Change</option>
								<option value="active">Live</option>
								<option value="inactive">InActive</option>
							</select>
							<p class="edit-listing-feature">Duration:</p>
							<div class="row" style="margin-bottom: 20px;">
								<div class="col-md-12 edit-listing-feature">
									<input style="width: 60px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px; margin-left:20px;"
									 type="text" id="from" placeholder="mm/dd/yyyy"> to
									<input style="width: 60px;border: 1px solid #eee;background-color: #eee;font-size: 10px;padding: 1px;" type="text" id="to"
									 placeholder="mm/dd/yyyy">
								</div>
							</div>
							<div class="row" style="margin-left: 5px; margin-bottom:10px;">
								<div class="col-md-12 edit-listing-feature">
									<input type="checkbox" id="feature_indefinitely" />Feature this product indefinitely.
								</div>
							</div>
							<p class="edit-listing-feature" style="margin-bottom:10px;">Feature this product:</p>
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="0" />My Profile Page Only (Free)
							</div>
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="50" />In Search Results(+$50/mo)
							</div>
							{{#ifCond this.type '==' 'wholesale'}}
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="150" />Wholesale Landing(+$150/mo)
							</div>
							{{else ifCond this.type '==' 'shop'}}
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="150" />Shop Landing(+$150/mo)
							</div>
							{{else ifCond this.type '==' 'services'}}
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="150" />Services Landing(+$150/mo)
							</div>
							{{else ifCond this.type '==' 'lifestyle'}}
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 3px;">
								<input type="checkbox" name="feature_position" value="150" />Subscription Landing(+$150/mo)
							</div>
							{{/ifCond}}
							<div class="row col-md-12 edit-listing-feature" style="margin-bottom: 10px;">
								<input type="checkbox" name="feature_position" value="250" />GTC Homepage(+$250/mo)
							</div>

							<p class="list_tot"> TOTAL:$
								<span class="list_tot" id="totalFees"></span>
							</p>
							<p class="list_bg_blue">
								<a href="/order-checkout/payment-method">YES,PROMOTE THIS!
									<i class="fas fa-caret-right"></i>
								</a>
							</p>
							{{!--
							<p class="list_butt_2">Performance</p>
							<div class="row col-md-12">
								<p>Ad has been running for: 123days </p>
							</div>
							<hr/>
							<p> Impressions Vs Clicks </p>
							<p>
								<img width="100%" src="../../img/verification-id.png" />
							</p>
							<p> Total Clicks:div>
								<b>233</b>
							</p>
							<p> Impressions:
								<b>33,0000</b>
							</p>
							<p>Click-Through rate (CTR):
								<b>12%</b>
							</p>
							<p> Total Purchases:
								<b>45</b>
							</p>
							<p> Total Revanus:
								<b>$4500</b>
							</p>
							<p class="list_bg_blue">
								<a href="#">EXPORT REPORT AS PDF
									<i class="fas fa-caret-right"></i>
								</a>
							</p> --}}



						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	{{> footer/footer}}