 <script>
	var params = {{{ DisplayJSON queryParamsString }}};
	function selectAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function limit(type,size) {
		params = replaceUrlParam(params, "limit", size);
		params = replaceUrlParam(params, "page", 1);
		params = replaceUrlParam(params, "offset", 0);
		location.href = "listings/"+type+'?'+ params;
	}

	function replaceUrlParam(existingQueryParams, paramsName, paramsValue) {
		var urlParams = new URLSearchParams(existingQueryParams);
		if (paramsValue) {
			urlParams.set(paramsName, paramsValue);
		} else {
			urlParams.delete(paramsName);
		}
		return urlParams;
	}
	$(document).ready(function() {
		$("#gtc-cart-alert").hide();
		$(".checkbox").change(function(e) {
   			$('#checkbox').prop('checked', false);
		});

	})
	function changeStatus(e) {
		window.location.href = '/listings/' + e.name + '?status=' + e.value;
	}
	function search(e) {
		window.location.href = '/listings/' + e.name + '?keyword=' + e.value;
	}
	function edit(e) {
		var chkArray = [];
		$(':checkbox:checked').each(function (i) {
			if ($(this).val() != 'on') {
				chkArray.push($(this).val());
			}			
		});
		
		var product_id = chkArray.join(',');

		if (chkArray.length == 1) {
			window.location.href = '/listings/' + e.name + '/edit-product/'+product_id;
		}
		else {
			$('#gtc-cart-alert').removeClass('alert-danger').addClass('alert-success');
			$('#gtc-cart-alert .cart-message').text('Select one product to edit')
			$("#gtc-cart-alert").fadeTo(1000, 500).slideUp(500, function () {
			$("#gtc-cart-alert").slideUp(200);
			});
		}
	}
	function add(e) {
		window.location.href = '/listings/' + e.name + '/add-product';
	}
	function importCSV()
	{
		var file = $("#csvfile")[0].files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
        var output = document.getElementById("csvfile");
        var texto = e.target.result;
        csvJSON(texto);
	};
    reader.readAsText(file);
	}
	function csvJSON(csv) {
	var lines = csv.split("\n");
    var result = [];
    var headers=lines[0].split(",");
    for(var i=1;i<lines.length;i++){
      var obj = {};
	  var currentline=lines[i].split(",");
	  for(var j=0;j<headers.length;j++)
	  {
		if(currentline[j]!='')
		{
		obj[headers[j]] = currentline[j];
		}
	  }
	    result.push(obj);
      }

	var data = JSON.stringify(result);
	$.ajax({
			url: '/api/product/import-product',
			type: 'POST',
			data: data,
			cache: false,
			dataType: 'json',
			contentType: 'application/json',
			success: function (data, text) {
				$('#exampleModal').modal('hide');
			},
			error: function (request, status, error) {
				console.log('status', status);
				console.log('error', error);
			}
		});	
}

</script>
{{> header/top-header LoggedInUser = LoggedInUser}}{{> vendor/vendor-menu}}

<div class="wrapper-content bg-gray">
	<div class="gtc-container">
		<div class="row">
			<div class="col-sm-2">
				{{> vendor/vendor-side-navbar}}
			</div>
            {{#if LoggedInUser.Vendor.VendorPlans}}
				<div class="col-sm-10">
					<div class="ibox">
						<div class="ibox-content">
							<div class="content-body">
								<div class="row">
									<div class="col-md-12">
										<p class="content-txt">This is where you manage all of your wholesale products on the Global Trade Connect. You can activate, suspend or feature products, or import and syncronize them with an outside source. To administer specific details of products, click on the product name or SKU to go to the full edit details page for that specific products.</p>
										<span class="pull-right" style="font-size:12px"><a href="listings/{{this.type}}">Clear All</a></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-inline pull-left m-t-md">
											<div class="form-group m-r">
												<button type="submit" class="btn btn-md btn-muted" name="{{this.type}}" onclick="add(this);">ADD PRODUCT</button>
											</div>
											<div class="form-group m-r">
												<div class="select-container">
													<select id="inputStatus" class="form-control-customized form-control-sm custom-dropdown" name="{{this.type}}" onChange="changeStatus(this);">
														{{#select queryURI.status}}
															<option disabled selected>CHANGE STATUS</option>
															<option value="ACTIVE">Active</option>
															<option value="INACTIVE">InActive</option>
															<option value="SUSPENDED">Suspended</option>
															<option value="SOLDOUT">Sold Out</option>
														{{/select}}
													</select>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-md btn-muted" name="{{this.type}}" onclick="edit(this);">EDIT/FEATURE</button>
											</div>
										</div>
										<div class="form-inline pull-right m-t-md">
											<div class="form-group m-r">
												<button type="button" class="btn btn-md btn-muted" onclick="location.href='/dashboard-vendor-connect'">IMPORT</button>
												{{!-- <button type="button" id="changePwd" class="btn btn-small btn-muted" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" novalidate="novalidate">IMPORT</button> --}}
											</div>
											<div class="form-group">
												<div class="input-group gtc-rounded">
													<input type="text" placeholder="Search products" class="form-control form-control-sm"  name="{{this.type}}" onChange="search(this);" {{#if queryURI.keyword}} value={{queryURI.keyword}}{{/if}}>
													<button type="submit" class="btn btn-sm btn-gtc">
														<i class="fa fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								{{#if products.count}}
									<div class="row py-2">
										<div class="col-md-12">
											<div class="alert" id="gtc-cart-alert">
												<button type="button" class="close" data-dismiss="alert">
													<span aria-hidden="true">&times;</span>
												</button>
												<span class="cart-message"></span>
											</div>
											<small class="font-weight-light">{{products.count}} items total</small>
											<div class="float-right">
												<small class="font-weight-light">Entries per page : </small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10}} class="active" {{/ifCond}} onclick="limit(`{{this.type}}`,10)" href="javascript:;">10</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 25}} class="active" {{/ifCond}} onclick="limit(`{{this.type}}`,25)" href="javascript:;">25</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 100}} class="active" {{/ifCond}} onclick="limit(`{{this.type}}`,100)" href="javascript:;">100</a>
												</small>
												<small class="font-weight-light">
													<a {{#ifCond queryParams.limit '==' 10000000000000}} class="active" {{/ifCond}} onclick="limit(`{{this.type}}`,10000000000000)" href="javascript:;">All</a>
												</small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table order-table">
												<thead>
													<tr>
														<th>
															<div class="customCheckbox">
																<input type="checkbox" onclick="selectAll(this);" id="inputCheckbox" class="customCheckboxInput">
																<label class="checkbox-b" for="inputCheckbox"></label>
															</div>
														</th>
														<th scope="col" style="width: 50%;">Product Name</th>
														<th scope="col">Publish Date</th>
														<th scope="col">Sales</th>
														<th scope="col">Price</th>
														<th scope="col">Status</th>
														<th scope="col">SKU</th>
													</tr>
												</thead>
												<tbody>
													{{#each products.rows}}
														<tr>
															<td>
																<div class="customCheckbox">
																	<input type="checkbox" id="inputTerms{{this.id}}" class="customCheckboxInput" name="selected" value={{this.id}}>
																	<label class="checkbox-b" for="inputTerms{{this.id}}"></label>
																</div>
															</td>
															<td>
																<a href="{{../this.type}}/{{this.product_slug}}/{{this.id}}">
																<img src="{{this.ProductMedia.[0].url}}" onError="imgError(this)" style="width: 30px;" />
																<span class="d-inline-block text-truncate" style="max-width: 330px;">
																	{{this.product_name}}
																</span>	
																</a>
															</td>
															<td>{{formatTime this.publish_date "MMM DD, YYYY"}}</td>
															<td>{{#if this.sales_count}}{{this.sales_count}}{{else}}0{{/if}}</td>
															<td>{{currency this.price '$'}} CAD</td>
															<td class={{#ifCond this.status '==' ../statusCode.ACTIVE}} "text_green_color"
																		{{else ifCond this.status '==' ../statusCode.INACTIVE}} "text_red_color"
																		{{else ifCond this.status '==' ../statusCode.SUSPENDED}} "text_orange_color"
																		{{else ifCond this.status '==' ../statusCode.SOLDOUT}} "text_red_color"
																		{{/ifCond}}>
																{{#ifCond this.status '==' ../statusCode.ACTIVE}}Active
																{{else ifCond this.status '==' ../statusCode.INACTIVE}}InActive
																{{else ifCond this.status '==' ../statusCode.SUSPENDED}}Suspended
																{{else ifCond this.status '==' ../statusCode.SOLDOUT}}Sold Out
																{{/ifCond}} 
															</td>
															<td class="text_blue_color">{{this.sku}}</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
									{{!-- Pagination starts --}}
									{{#ifCond products.count '>' queryURI.limit}}
										<div class="row">
											<div class="col-md-12 align-self-center">
												{{#pagination products.count queryURI.page queryURI.limit 2}}
													<nav aria-label="Page navigation example">
														<ul class="pagination justify-content-center">
															{{#unless startFromFirstPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../listings/{{../this.type}}?{{paginationParams @root.queryParamsString (FrameObject page=(DiffFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">
																		<i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
																</li>
															{{/unless}}
															{{#each pages}}
																<li class="page-item {{#if isCurrent}} active {{/if}}">
																	<a class="page-link" href="../listings/{{../../this.type}}?{{paginationParams @root.queryParamsString (FrameObject page=page limit=@root.queryURI.limit)}}">{{page}}</a>
																</li>
															{{/each}}
															{{#unless endAtLastPage}}
																<li class="justify-content-center align-self-center">
																	<a href="../listings/{{../this.type}}?{{paginationParams @root.queryParamsString (FrameObject page=(SUMFloat @root.queryURI.page 1) limit=@root.queryURI.limit)}}">Next&nbsp;
																		<i class="fa fa-angle-double-right"></i>
																	</a>
																</li>
															{{/unless}}
														</ul>
													</nav>
												{{/pagination}}
											</div>
										</div>
									{{/ifCond}}
								{{!-- Pagination Ends --}}
								{{else}}
									<h4 class="font-weight-light py-3 text-center">No Results!</h4>
								{{/if}}
							</div>
						</div>
					</div>
				</div> 
				{{else}}
					{{> plan-inactive}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{> footer/bottom-footer}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Import file</h5>
			</div>
			<form id="importFile" class="form">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="label-control d-block">Import files</label>
								<input type="file"  id="csvfile" accept=".csv" name="file"/>
							</div>
						</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-small btn-muted" data-dismiss="modal">
						<b>CLOSE</button>
					<button type="button" id="submitBtn" onclick="importCSV()" class="btn btn-small btn-primary">
						
						<b>SUBMIT</b>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>